[2017-09-04 10:41] #130 closed, assigned to xburda4

[2017-09-07 13:28] zabak opened #208 "Doplnit do sbírek reprezentativní obrázek a popis"

[2017-09-07 13:29] zabak opened #209 "Vyjádřit se k tomu, jaké údaje chybí v Digitální knihovně při zobrazení metadat"

[2017-09-08 11:18] kazooo commented on #201
Problem je vyřešen tím, že periodikum byl reimportovan.

[2017-09-08 11:18] #201 closed, assigned to MarosGrm, kazooo

[2017-09-08 12:19] kazooo commented on #194
Všechny volumy jsou opravené. Další problemy s vazbami se řeší v #199

[2017-09-08 12:19] #194 closed, assigned to kazooo

[2017-09-12 08:30] LenkaKravecova opened #210 "Replikace Volksfreund"

[2017-09-13 10:22] MarosGrm opened #211 "Chybné prihlásenie vyhadzuje stacktrace"
<pre>
kramerius_1  | 13-Sep-2017 12:14:20.523 WARNING [http-nio-8080-exec-2202] org.apache.catalina.realm.JAASRealm.authenticate Login exception authenticating username "user"
kramerius_1  |  javax.security.auth.login.LoginException: Login Failure: all modules ignored
kramerius_1  | 	at javax.security.auth.login.LoginContext.invoke(LoginContext.java:906)
kramerius_1  | 	at javax.security.auth.logi

[2017-09-13 13:25] MarosGrm commented on #202
Generovanie PDF už stacktrace nevyhadzuje.

[2017-09-13 13:25] #202 closed, assigned to MarosGrm

[2017-09-18 12:03] LenkaKravecova opened #212 "Oprava ID datastreamu alto na ALTO"
Zjistit, kolik objektů ve Fedoře je potřeba opravit a vytvořit seznam.
Napsat skript na opravu a spustit proces asi po částech.

[2017-09-25 09:13] LenkaKravecova commented on #211
Bude se kontrolovat průběžně.

[2017-09-25 09:13] LenkaKravecova commented on #212
Týká se cca 11 mil. objektů. Odhadovaná doba opravného procestu je 11 týdnů.

[2017-09-25 09:14] #209 closed, assigned to LenkaKravecova

[2017-09-29 10:02] kazooo commented on #212
11 mil. objektů jsou všechny stránky, které byly zaindexovany v době od roku 2016. Objektů, které reálně potřebují opravu v daný okamžik jsou 7.328.323, a rychlost zpracování cca 250.000 objektů/den, takže už můžeme říct, že oprava bude bežet kolem měsicu.

[2017-09-29 14:07] kazooo commented on #199
Ročníky, čísla a monografie jsou opravené.

[2017-10-09 12:08] leiblix commented on #207
Původní adresa: http://solr.dk-back.infra.mzk.cz/solr/kramerius/oai
Configy k pluginu: https://github.com/moravianlibrary/osdd-docker-images/tree/master/solr6/oai/oai

osobně bych opravil stránku http://kramerius.mzk.cz/search/oaiExport?pid=uuid:10cfb93a-4ee0-49da-9122-c549bd4f85ba , aby nevracela  500.

[2017-10-11 06:47] leiblix commented on #207
Při řešení tohoto issue by se teoreticky mohl vyřešit i požadavek z https://github.com/ceskaexpedice/kramerius/issues/562

Formát drkramerius4 se používá pro registr digitalizace. Zjistím jestli přidání hodnoty public/private nerozbije jeho funkcionalitu.

[2017-10-24 09:02] zdenekhruska opened #215 "Import PDF do Krameria"
Po domluvě s Martinem Rumánkem zakládám issue ohledně importu PDF do Krameria MZK. MEditor postupně přestává vyhovovat, objevují se chyby, které komplikují práci.
Aktuálně se nám stalo, že v MEditoru se zpracovávalo jedno PDF, ale nějak se do Krameria MZK dostala data i metadata jiného (předtím zpracovaného) PDF.  Naimportovalo se toto: http://kramerius.mzk.cz/search/handle/uuid:a7c76468-37ad-435b

[2017-10-24 09:31] kazooo commented on #207
Chyba vznikla kvuli monografii, ktera neni ve Fedore. OAI provider zadal o xml udajich monografie, ziskaval chybovou hlasku a nemohl ji zpracovat jako xml dokument, proto padal. Opraveno tim, ze chybova hlaska se odesila v tagach <error>.

[2017-10-24 10:21] jkremlacek commented on #215
Co se týče ProArc-u, tak ten umí s PDF pracovat v rámci eČlánku (model article). Pro ostatní modely je již založené issue https://github.com/proarc/proarc/issues/534, které nejdříve musí být schváleno k vývoji (řešeno v rámci rozvoje pro rok 2018).

[2017-10-25 08:03] LenkaKravecova commented on #212
hotovo

[2017-10-25 08:03] #212 closed, assigned to MarosGrm, kazooo

[2017-10-26 13:37] leiblix commented on #207
Změna je nasazená. @rzeh4n Je to pro tebe takto v pohodě?

To https://github.com/ceskaexpedice/kramerius/issues/562 ještě potřebuješ, nebo sis nakonec poradil nějak jinak?

[2017-10-26 14:29] rzeh4n commented on #207
@MartinRumanek Jo, můj prolbém se sklízením to řeší, díky.
Pokud jde o https://github.com/ceskaexpedice/kramerius/issues/562, tak to bysme pořád potřebovali kvůli Rezolveru. Protože tam se sklízí přes OAI vždy jeden záznam (tady drkramerius4), který by měl obsahovat všechny důležité informace. Změnit to tak, aby se sklízelo více záznamů, ty se pak nějak mergovaly je zbytečně zesložiťování, více pr

[2017-10-27 06:29] leiblix commented on #207
@xermak00 Dobrá práce :-)

[2017-10-27 06:29] #207 closed, assigned to leiblix, kazooo

[2017-10-27 06:36] leiblix opened #218 "Přidání informce policy do OAI záznamu"
Rozšíření formátu drkramerius4 o dostupnost
viz https://github.com/ceskaexpedice/kramerius/issues/562
a předposlední komentář zde https://github.com/moravianlibrary/kramerius/issues/207

Vyřešit pouze pro oai4solr, starý oaiprovider nemáme v MZK vůbec nasazený - navíc s Fedorou 4 se od něho upustí úplně.

[2017-11-02 12:50] leiblix commented on #211
Nejde ani o kontrolu, stacktrace obvykle létají při závažných chybách aplikace, mezi což bych chybné zalogování uživatele nepřidával.

Mělo by se to maximálně propsat do logu jako jednořádková informace o severitě INFO.

[2017-11-02 12:51] leiblix commented on #205
Pozor, to teď nejde nastavit. Pokud je o to zájem musí se rozšířit API Krameria (ale není to velká změna, už jsme podobné věci dělali).

[2017-11-06 18:31] leiblix commented on #218
@rzeh4n Vyhovuje ti to takhle?
http://kramerius.mzk.cz/oai/?verb=ListRecords&metadataPrefix=drkramerius4&set=monograph
[code]

[2017-11-06 21:29] leiblix commented on #211
Je to dost tricky :-D

Nenasel jsem k tomu nic v dokumentaci, tak jsem se podival do zdrojaku Tomcatu... (https://github.com/apache/tomcat/blob/trunk/java/org/apache/catalina/realm/JAASRealm.java#L431)

*Reseni*
1. Upravit metodu login ve tride K4LoginModule.java aby pri spatnem prihlaseni vyhazovala  vyjimku - FailedLoginException.
2. vypnout debug v JAASu https://github.com/moravianlibrary/s2i-k

[2017-11-07 09:17] rzeh4n commented on #218
@MartinRumanek Jasně, může být, díky!

[2017-11-07 11:32] #218 closed, assigned to kazooo

[2017-11-07 20:42] leiblix opened #223 "Dokument z vybranych chybi v SOLRu"
Aktualne endpoint http://localhost:8080/search/api/v5.0/feed/custom, vraci dokola tento stacktrace:

[code]

Deje se to protoze uuid:f1c7c08d-8f64-4b66-be28-5f209c2c7021 (Rovnost), ktere je vybrane mezi vybrane dokumenty zmizelo ze SOLRu. Pustil jsem novou reindexaci, takze na urovni dat se to opravi.
____

Krome toho by se mel upravit FeederSolrPolicyDecorate, aby to rozumneji logovalo chybu. Pro

[2017-11-07 21:01] leiblix commented on #151
Dalsi monografie bez obrazku s uuid:b6a0a4e1-fe8e-432e-b4e6-22442fe8bf15

[2017-11-07 21:25] leiblix opened #224 "Stacktrace - chybejici OCR"
URL http://kramerius.mzk.cz/search/img?uuid=uuid:12b42738-9844-4a77-895c-d77b2bc89a72&stream=TEXT_OCR&action=GETRAW
(dokument neobsahujici OCR), vraci tento osklivy stacktrace. Misto toho nahradit kratkou hlaskou, ze ten datastream chybi.
[code]

Podle Kibany to ma za minuly tyden 1865 hitu

[2017-11-08 10:44] kazooo commented on #224
Týká se to jenom OCR datastreamu? Na jakou úrovni je to třeba logovat?

[2017-11-08 11:43] leiblix commented on #224
Teoreticky se to může týkat jakéhokoliv datastreamu. Logoval bych to jako WARNING.

[2017-11-09 08:55] leiblix commented on #224
Diky za vyreseni, ale prosim nezavirej mi to :) Ja si to zavru sam, az to mergnu do hlavni vetve (na ceskaexpedice), jinak bych na to mohl zapomenout.

[2017-11-09 12:40] LenkaKravecova opened #227 "Články u Lidových novin - rozbité vazby"
Jsou rozbité vazby mezi stránkami a články u Lidových novin, např. http://krameriusadmin.mzk.cz/search/i.jsp?pid=uuid:ac2cdbe7-4c94-4761-bfbc-e2f9269bcd26&q=&fq=document_type:%22article%22#periodical-periodicalvolume-periodicalitem-article_uuid:ac2cdbe7-4c94-4761-bfbc-e2f9269bcd26

[2017-11-10 12:44] kazooo commented on #227
Stejný problem jako v #201, ale reimportovat celé noviny bylo by dost náročně. Zkusím zjistit PID všech članků a potom třeba reindexovat je.

[2017-11-10 13:12] kazooo opened #228 "Varování ve Fedoře"
Pro neexistující objekty ve Fedoře se objevují varování "no path in db registry for uuid" se zbytečně velkým stacktracem.
Také je třeba nejak řešit varování "Relationships API methods" - vzniká docela často.

[2017-11-10 13:15] kazooo commented on #228
Příklady:
[code]

[2017-11-10 15:35] leiblix commented on #228
Ty stacktrace jsou otravne (Kibana si s nema neporadi), tak je bude mozna lepsi vypnout - predpokladam, ze je nepotrebujeme.

Melo by stacit pridat tyto radky
[code]

do configu `objects-jaxrs.xml`. Muzes se inspirovat zde https://github.com/moravianlibrary/osdd-docker-images/tree/master/fcrepo/3.8.1-mulgara (to pouzivame na proarcu), je to velmi podobne, akorat asi nezapinej  `setAddMessageToResp

[2017-11-13 11:50] LenkaKravecova commented on #227
Díky.

[2017-11-13 12:00] LenkaKravecova commented on #187
Co s tím dál? :)

[2017-11-13 13:27] kazooo commented on #187
Vypadá jako bug Solru, potřebujeme ho aktualizovat.

[2017-11-15 12:42] kazooo commented on #227
Podařilo se mi zjistit přičinu kvůli čemu se nám nezobrazují stránky v článcích. Na úrovní dat ve Fedoře je všechno v pořádku, ale problem je v Solru: v metadatech stránek v poli pid_path a parent_pid chybí cesta k   článkům a PID článků.

normální stránka: [uuid:240d5e90-4ec6-11dd-9522-000d606f5dc6](http://solr.dk-back.infra.mzk.cz/solr/kramerius/select?fl=pid_path,%20parent_pid,%20model_path&ind

[2017-11-15 13:32] kazooo commented on #227
Ještě komplikuje situace to, že několik článků můžou odkazovat na jednu stránku, takže reimport nepomůže také.
Zkusím to řešit pomoci editace metadat Solru, přes Solr API.

[2017-11-15 14:15] leiblix commented on #227
Asi ta informace nějak zmizela při migraci SOLRu :-( Nejlepší by bylo samozřejmě upravit indexer, aby to uměl opravit.

[2017-11-20 11:47] LenkaKravecova commented on #227
Stejný problém je také u Revolver revue uuid:9d624502-f3f2-4daf-bf7f-010d860546b0, tam to snad reimport vyřeší, ale ty Lidovky, to je problém.

[2017-11-21 10:38] kazooo commented on #227
Zkusil jsem přidat potřebná data do Solru, po úprave se všechno normálně zobrazuje, ale když reindexuju stránku, tak všechny změny zmizeji a je to znovu rozbité.
Pokud to dává smysl, můžu zatim vytvořit skript, který nam dočasně (do první reindexace) opraví články, aspoň se budou zobrazovat.
Ale samozřejmě potřebujeme opravit indexer, jak už zmiňoval Martin. Podívám se na to a bylo by dobře kdyby

[2017-11-22 14:14] kazooo commented on #227
Nakonec jsem přišel na to. Indexer funguje správně, při reindexace dotazuje na triplety z Fedory, a je problem ten, že triplety isOnPage pro články Lidových novin zmizely z Fedory. Proto indexer nepřidával k metadatam stránek PID článků, a ty se nam nezobrazovaly.
Reimport pomáhal tím, ze vytvářel potřebné triplety.
Napíšu skript, který nam vloží triplety do databáze. Revolver revue jsem reimporto

[2017-11-25 17:39] leiblix opened #229 "Indexace geografických názvů"
Nápad od @honza-rychtar

V modsu MODS //subject/geographic indexovat podobným způsobem jako klíčová slova.

Bude to užitečné pro celou Mollovu sbírku (http://www.digitalniknihovna.cz/mzk/search/?sort=newest&accessibility=all&keywords=Mollova%20mapov%C3%A1%20sb%C3%ADrka)

[2017-11-27 09:10] zabak opened #230 "koncepčně vyřešit přenos aktualizovaných bibliografických záznamů z Alephu do Krameria"

[2017-11-28 23:18] rzeh4n opened #231 "rozbitý OAI Provider"
Momentálně OAI Provider pro GetRecord nevrací ani validní xml s elementem _error_, hlavně je ale problém ta samotná chyba, která způsobuje nefunkčnost všech záznamů. V těle odpovědi je pak něco takového:
[code]
Dělá to pro všechny formáty, viz:
https://kramerius.mzk.cz/oai/?verb=GetRecord&metadataPrefix=drkramerius4&identifier=uuid:9ebcb206-24b7-4dc7-b367-3d9ad7179c23
https://kramerius.mzk.cz/oai/

[2017-11-29 16:43] leiblix commented on #231
Je to kvůli redirectu Krameria z http na https - xslt parser ho nezvládne a místo toho načte redirect stránku, která obsahuje ten neukončený tag `hr`.

[2017-11-30 11:56] leiblix commented on #228
Vypadá to, že to nepomohlo :-( Testoval jsi to na lokále?

[2017-11-30 12:15] leiblix commented on #231
Opravené, ale pozor, trochu jsem to zrefaktoroval a opravil jsem OAI identifikátor. Samotné UUID bylo nevalidní!

Nyní OAI identifikátor vypadá takto: `oai:kramerius.mzk.cz:uuid:530719f5-ee95-4449-8ce7-12b0f4cadb22`

[2017-11-30 12:15] #231 closed, assigned to leiblix

[2017-11-30 12:36] leiblix commented on #168
Bylo vyřešeno.

[2017-11-30 12:37] #168 closed, assigned to leiblix

[2017-11-30 12:39] #166 closed, assigned to nobody

[2017-11-30 14:35] rzeh4n commented on #231
Super, díky.

[2017-11-30 17:59] kazooo commented on #228
Na lokále jsem to testoval, ale možno jsem dělal něco jíného, něž co se děje ve Fedoře a vyhazuje chyby. Zjistím kde se ta chyba volá a přepišu na krásnější logování, pokud nejde vypnout.

[2017-12-04 13:28] kazooo commented on #228
Zkusil jsem pohrat s parametrem printStackTrace pro WebApplicationExceptionMapper, ale taky to nepomohlo. @MartinRumanek je s tim mozne jeste neco udelat?

Pokud spravne tomu rozumim, chyba vznika, kdyz nekdo dotazuje pres API Krameria na neexistujici dokumenty a jejich datastreamy. Kramerius loguje chybu, ale zaroven vypisuje telo HTML odpovedi, nevim k cemu to je.
Treba
[code]

[2017-12-05 11:51] #210 closed, assigned to MarosGrm, kazooo

[2017-12-07 18:38] dsecik opened #232 "Pomale pridavanie do virtualnej zbierky"
Pridanie dokumentu do zbierky + reindexacia trva ~ 30 sekund aj ked ma len jednu stranu (napr. mapa) co je niekolkonasobne pomalsie ako napriklad import foxml.

[2017-12-08 12:52] rzeh4n opened #233 "OAI Provider - podoba identifikátoru"
Podle https://github.com/moravianlibrary/kramerius/issues/231#issuecomment-348171960 má identifikátor vypadat `oai:kramerius.mzk.cz:uuid:530719f5-ee95-4449-8ce7-12b0f4cadb22`, teď tam ale bývá buď `oai:localhost:uuid:530719f5-ee95-4449-8ce7-12b0f4cadb22`, nebo dokonce nevalidní `uuid:530719f5-ee95-4449-8ce7-12b0f4cadb22`.
Viz
http://kramerius.difmoe.eu/solr/oai?verb=Identify
http://kramerius.difmo

[2017-12-08 12:58] rzeh4n commented on #233
Aha, moje chyba, jiný Kramerius.

[2017-12-08 12:58] #233 closed, assigned to nobody

[2017-12-08 13:04] leiblix commented on #233
:-) Konfigurace OAI pro SOLR6 je popsaná zde https://github.com/ceskaexpedice/kramerius/tree/oai4solr6/installation/oai4solr6

Pro změnu prefixu stačí změnit konfigurační soubor https://github.com/ceskaexpedice/kramerius/blob/oai4solr6/installation/oai4solr6/conf/solrconfig.xml#L1463
a pak ještě XSLT šablony.

[2017-12-08 14:37] rzeh4n commented on #233
Díky, opravil jsem to pro http://difmoe.u. Mimochodem stejně jsou přijímány i některé neplatné identifikátory. Asi to není problém, ale je dobré o tom vědět.
Takhle je to správně:
https://kramerius.mzk.cz/oai/?verb=GetRecord&metadataPrefix=drkramerius4&identifier=oai:kramerius.mzk.cz:uuid:944d0d82-235e-45de-9433-3ea9bffea529

Navíc stejná odpověď je pro tyhle špatné identifikátory.
https://krameri

[2017-12-10 06:42] leiblix commented on #233
Zajímavé zjištění :-)

projde i toto:
https://kramerius.mzk.cz/oai/?verb=GetRecord&metadataPrefix=drkramerius4&identifier=oai:thepiratebay.org:uuid:944d0d82-235e-45de-9433-3ea9bffea529

Je to pravděpodobně bug v https://github.com/IISH/oai4solr, ten prefix interně odstraní, ale zřejmě se řídí jen délkou OAI identifieru...

[2017-12-12 10:56] kazooo commented on #227
Hotovo.

[2017-12-12 10:56] #227 closed, assigned to kazooo

[2017-12-13 12:47] LenkaKravecova opened #234 "Administrace virtuálních sbírek úplně nefunguje"
Lze založit novou sbírku, ale nelze upravit ty stávající. Při snaze o doplnění popisu ke sbírce se změna ukládá s hlášku "Vyčkejte prosím" a trvá to do nekonečna. Informace se pak neuloží.

[2017-12-14 12:29] LenkaKravecova opened #236 "Generované PDF - rozhozená textová vrstva"
U některých dokumentů je textová vrstva v PDF lehce posunutá mimo obrázek a nevypadá to dobře. Viz třeba uuid:26714400-55bb-11e4-8b11-005056827e51 nebo uuid:b8bf0f00-92e2-11e3-8e84-005056827e51. Ozkoušeno generování PDF jak v Krameriu, tak i v klientovi. Asi to souvisí s atypickými rozměry stran. Dřív jsem si takového problému nevšimla.

[2017-12-14 12:51] MarosGrm commented on #236
Mám taký pocit, že už od začiatku ako bolo povolené generovanie dvojvrstvových PDF bola textová vrstva pri niektorých dokumentoch posunutá. Vyššie spomínané dve monografie sú celkom extrémny prípad, kde to je naozaj dosť posunuté. Príklady diel kde nie je posunutie textovej vrstvy až tak výrazné: uuid:13fc6b2f-6447-11e0-8ad7-0050569d679d, uuid:702b06f0-07e6-11e7-9446-005056827e51.

Skúsim, či pri

[2017-12-18 12:23] kazooo commented on #234
Logy z Krameria:
[code]

[2017-12-18 13:16] kazooo commented on #234
[CollectionUtils.java](https://github.com/moravianlibrary/kramerius/blob/master/common/src/main/java/cz/incad/kramerius/virtualcollections/CollectionUtils.java#L187-L198)
[code]
První řádky funkce vytváří dočasný soubor v Krameriu, pak se s odkazem na tento soubor volá modifikace datastreamu ve Fedoře, Fedora hledá soubor ve svém file systemu, ale ho nemá, proto FileNotFoundException a nic se neuk

[2017-12-19 08:59] leiblix commented on #234
Toto je jedna z možností, jak importovat soubory do Fedory - v API se přenese pouze cesta k souboru. V tomto případě musí mít Fedora zpřístupněný FS Krameria (nebo naopak). Podobně je to konfigurované na krameriusndktest.mzk.cz @kenji1322 by o tom mohl vědět víc.

[2017-12-19 15:19] LenkaKravecova opened #237 "Editor částí - nespustí reindexaci"
Při snaze uložit upravený objekt v Editoru částí se objeví hláška, že objekt nelze uložit. Skutečnost je ale taková, že změna se uloží ve Fedoře, ale pak je potřeba to ručně reindexovat. A pak už je to ok.

Editor částí by měl automaticky spustit reindexaci dle https://github.com/ceskaexpedice/kramerius/wiki/MenuAdministrace#editor-po%C5%99ad%C3%AD-%C4%8D%C3%A1st%C3%AD-dokumentu.

Chybová hláška:

[2018-01-03 08:32] LenkaKravecova commented on #236
Díky. Můžeme pak vyzkoušet. Jinak už na to vzniklo issue i zde https://github.com/ceskaexpedice/kramerius/issues/568.

[2018-01-05 12:19] LenkaKravecova opened #238 "Problém se spouštěním procesů"
V poslední době se stává, že se přestanou spouštět procesy. Zůstanou ve stavu Planned a to se změní až po otočení kontejneru s Krameriem. Teď tam bylo pár procesů naplánovaných, všechny se po otočení spustily, ale následně spadly.

[2018-01-05 12:24] LenkaKravecova commented on #238
Už s tím problémy byly, viz https://github.com/moravianlibrary/kramerius/issues/135 a můj poslední koment. Nepodařilo se nám přijít na to, proč se procesy nespouštěly (stav Planned), ale pak to přestalo. Teď je to tu po roce zas, takže nějaké nápady?

[2018-01-05 12:33] leiblix commented on #238
Můj odhad je, že trvá moc dlouho dotaz do tabulky procesů (mělo by to být vidět v logách databáze, dlouhé dotazy se logují).

Mělo by stačit nad tou tabulkou pustit vaacum (Maroš s tím už má nějakou zkušenost).

[2018-01-05 12:34] LenkaKravecova commented on #238
@MartinRumanek Díky, vyzkoušíme.

[2018-01-09 09:00] LenkaKravecova commented on #238
Pročištěna databáze. Uvidíme, jestli pomohlo.

[2018-01-11 08:48] LenkaKravecova opened #239 "Statistiky Krameria - prázdný csv soubor"
Statistiky nevrací žádné výsledky, např. u monografií za období 1.1.-31.12.2017 se vygeneruje jen prázdný csv soubor. Myslím, že se jedná o drobné nastavení, které se musí někde upravit, ale dávám to sem pro informaci na příští rok. Teď prosím o zprovoznění. Díky.

[2018-01-11 09:00] LenkaKravecova opened #240 "Nasadit novou funkci statistik"
Do statistik bylo přidána funkce vygenerovat roční report dle https://github.com/ceskaexpedice/kramerius/issues/515. Prosím nasadit, potřebuju to zkoušet na ostrých datech..

[2018-01-17 09:45] LenkaKravecova commented on #238
Pomohlo.

[2018-01-17 09:52] kazooo commented on #234
Řešením je použit sdílený volume (nfs) pro dk-front a dk-back, který budou využívat konteinery Krameria a Fedory.

[2018-01-22 09:45] #234 closed, assigned to kazooo

[2018-01-23 08:16] #224 closed, assigned to leiblix

[2018-01-23 08:17] leiblix commented on #229
Merguji do distribuce.

[2018-01-23 08:21] leiblix commented on #229
Vlastně....nebudu ti to zavírat. Ještě si to budete muset předpokládám přeindexovat :-)

[2018-01-23 08:34] leiblix commented on #229
++ se ten merge nějak nepodařil. Soubor v distribuci se trochu změnil a je tam konflikt. Uděláš prosím nový commit do upstreamu (ceskaexpedice)?

[2018-01-23 10:52] kazooo commented on #237
Není možné také načtení dokumentů na lokálu,
stacktrace:
[code]

[2018-01-23 15:00] kazooo commented on #237
Logy z Krameria:
[code]
v [konfiguraci editora](https://github.com/ceskaexpedice/editor/blob/master/src/main/resources/res/configuration.properties) se pouzivaji prihlasovaci udaje uzivatele krameriusAdmin pro operace v Krameriu, napr. [reindexace](https://github.com/ceskaexpedice/editor/blob/master/src/main/java/cz/incad/kramerius/editor/server/RemoteServicesImpl.java#L78-86), ale tyto udaje nejs

[2018-01-24 13:25] MarosGrm commented on #239
Primárne problém s timeoutom. V budúcnosti, pri generovaní štatistík stačí v konfiguračnom súbore tomcatu  (search.xml) odmazať removeAbandonedTimeout a removeAbandoned. Po úspešnom vygenerovaní štatistík (môže trvať desiatky minút), je nutné to tam opäť pridať.

[2018-01-24 13:25] #239 closed, assigned to MarosGrm

[2018-01-24 13:30] LenkaKravecova opened #243 "Exporty polí mods:text a mods:note z Lidových novin"
Bude potřeba udělat 2 seznamy z obou Lidových novin uuid:bdc405b0-e5f9-11dc-bfb2-000d606f5dc6 a uuid:bdc06f50-6ec9-11dd-85fc-000d606f5dc6

1. pro ročníky 2 údaje - mods:date (číslo ročníku), mods:text (poznámka k ročníku)
2. pro výtisky 3 údaje - mods:date (číslo výtisku), mods:number (datum), mods:note (poznámka k výtisku)

[2018-01-25 13:08] LenkaKravecova opened #244 "Zveřejnit tato uuid"
[uuid_zverejnit.txt](https://github.com/moravianlibrary/kramerius/files/1664058/uuid_zverejnit.txt)

Díky.

[2018-01-25 14:05] kazooo commented on #243
[uuid:bdc06f50-6ec9-11dd-85fc-000d606f5dc6_items.txt](https://github.com/moravianlibrary/kramerius/files/1664235/uuid.bdc06f50-6ec9-11dd-85fc-000d606f5dc6_items.txt)
[uuid:bdc06f50-6ec9-11dd-85fc-000d606f5dc6_volumes.txt](https://github.com/moravianlibrary/kramerius/files/1664236/uuid.bdc06f50-6ec9-11dd-85fc-000d606f5dc6_volumes.txt)
[uuid:bdc405b0-e5f9-11dc-bfb2-000d606f5dc6_items.txt](https://gi

[2018-01-25 14:09] kazooo commented on #237
Opraveno, uz jde reindexace.

[2018-01-26 06:19] leiblix commented on #237
Jak? Přimountovali jste konfigurační soubor, co :-)? Nebylo by to lepší opravit přímo v image?

[2018-01-26 08:37] LenkaKravecova commented on #243
Díky, ale můžeš ty údaje dát do sloupců bez prázdných řádků? Zkrátka aby jedno číslo nebo ročník bylo na jednom řádku. A ještě dodatečně poprosím, aby v 1. sloupci byl celý odkaz na ročník/číslo (http://www.digitalniknihovna.cz/mzk/periodical/uuid:b231a40c-435d-11dd-b505-00145e5790ea).

[2018-01-26 08:44] zabak commented on #243
Stačí upravit vždy ten delší dokument kde jsou jednotlivá čísla. Ten dokument s ročníky je OK tak jak je

[2018-01-29 13:17] kazooo commented on #243
Omlouvam se za zpozdeni

[uuid.bdc06f50-6ec9-11dd-85fc-000d606f5dc6_items.txt](https://github.com/moravianlibrary/kramerius/files/1673648/uuid.bdc06f50-6ec9-11dd-85fc-000d606f5dc6_items.txt)
[uuid.bdc405b0-e5f9-11dc-bfb2-000d606f5dc6_items.txt](https://github.com/moravianlibrary/kramerius/files/1673649/uuid.bdc405b0-e5f9-11dc-bfb2-000d606f5dc6_items.txt)
 hodi to?

[2018-01-29 13:18] kazooo commented on #244
Zverejneno.

[2018-01-29 13:18] #244 closed, assigned to kazooo

[2018-01-29 13:22] kazooo commented on #237
Editor je samostatny war balicek uvnitr Krameria, nevidim moznosti jak by konfigurak bylo mozne primountovat tak, aby to fungovalo. Proto jsem opravil udaje v konfiguraku, vytvoril novy balik editoru a instaloval znovu na nas Kramerius.

[2018-01-31 12:41] LenkaKravecova commented on #243
Asi jsme se nepochopili. Jde o to, aby údaje k jednomu issue/číslu/výtisku byly na 1 řádku a byly oddělené třeba středníkem. V excelu si to pak necháme oddělit do sloupců, ale je potřeba, aby to bylo na jednom řádku.

[2018-01-31 12:53] leiblix commented on #237
War po deploy tomcatu automaticky rozbali. Muzes to primountovat rozbalene, ale to taky neni spravne reseni.

Davalo by smysl editro upravit tak, aby se ridl env promennyma a do nich nadefinovat uzivatele Krameria.

[2018-01-31 19:47] kazooo commented on #243
Takze takto ano?
[code]

[2018-01-31 23:19] zabak commented on #243
ano, dík

[2018-02-01 07:03] kazooo commented on #243
[uuid_bdc405b0-e5f9-11dc-bfb2-000d606f5dc6_items.txt](https://github.com/moravianlibrary/kramerius/files/1684500/uuid_bdc405b0-e5f9-11dc-bfb2-000d606f5dc6_items.txt)
[uuid_bdc06f50-6ec9-11dd-85fc-000d606f5dc6_items.txt](https://github.com/moravianlibrary/kramerius/files/1684501/uuid_bdc06f50-6ec9-11dd-85fc-000d606f5dc6_items.txt)

[2018-02-01 07:58] zabak commented on #243
OK, takhle to stačí. Kdyby se to dělalo příště pro jiné noviny, tak pro volumes by bylo lepší udělat to taky jeden ročník na jeden řádek, místo uuid dát link na digitální knihovnu a text samotný nezalamovat ale nechat ho jako jeden údaj v uvozovkách.
U items dávat text taky do uvozovek.

[2018-02-01 07:58] #243 closed, assigned to kazooo

[2018-02-01 12:47] #211 closed, assigned to kazooo

[2018-02-02 10:58] kazooo opened #245 "Editor částí - nejde otevřit na lokálu"
Logy:
[code]

[2018-02-05 08:24] MarosGrm commented on #240
Nasadené spolu s novou verziou Krameria.

[2018-02-05 11:45] LenkaKravecova commented on #240
Vrácena stará verze kvůli nefunkčnosti vyhledávání na digitalniknihovna.cz. Se statistikami asi nesouvisí, ale nová funkce tam tedy momentálně není. Pak bude potřeba znovu nasadit.

[2018-02-07 09:39] leiblix commented on #237
Heslo do docker image nepatří.

[2018-02-09 10:04] kazooo commented on #245
Editor načítá adresu Fedory jako http://localhost:8080 ale měla by to byt adresa docker kontejneru, (http://fcrepo:8080), proto editor nemůže načíst objekt z Fedory.

Kvůli tomu že editor požívá staré knihovny Krameria (*common*, *fedora-api*, *security-core*), chybí mu nekteré věci, jako např. načtení proměnnych prostředí do KConfiguration, který editor volá všude. Aktualizace knihoven editora ře

[2018-02-09 10:41] LenkaKravecova commented on #237
Tak teď nevím, v jakém je to stavu, ale zkoušela jsem seřadit ročníky u periodika uuid:7753c610-5b5a-11e3-8c6a-005056825209 a znovu vyběhla hláška Cannot save 1 object a reindexace se nespustila. Spustila jsem ji až ručně. Takže oprava se nezdá být úspěšná.

[2018-02-10 10:24] leiblix commented on #236
@kenji1322 Zkoušel jsi to nové OCR? Pomohlo to?

Prosím ověř jestli se to týká jen PDF nebo jestli se to projeví i jinde (v prohlížečce).

[2018-02-13 14:43] MarosGrm commented on #236
Vytvorenie nového OCR a ALTA nepomohlo, ale ta textová vrstva je rozhodená inak. Týka sa to iba PDF.

[2018-03-06 09:01] kazooo opened #246 "Migrace Solru"
V současné době řešíme migrace indexu Solru na nový s novém schématem. Nasadit přímo nové schéma se nepodařilo, vzníkají konflikty mezi schématem a zaindexovanými daty. V tomto připadě řešením mohla by byt optimalizace indexu, která by ty konflikty odstranila, ale bude trvat přiliš dlouho a během toho Solr bude pomalý, skoro nebude fungovat vůbec.
Proto bylo řešeno vytvořit nový index a všechny da

[2018-03-08 07:52] LenkaKravecova opened #247 "Přidání nového typu policy?"
Momentálně je možné nastavit u dokumentu jeden ze dvou stavů - public nebo private. Jak náročné by bylo přidat další stav, který bude mít trochu jiné vlastnosti/parametry než ty dva stávající? Kde se typ policy vůbec definuje?

[2018-03-09 08:57] #203 closed, assigned to nobody

[2018-03-09 09:05] LenkaKravecova commented on #200
A co s tím? :)

[2018-03-09 09:06] LenkaKravecova commented on #198
Jaký je aktuální stav, @kenji1322 ?

[2018-03-09 09:36] LenkaKravecova commented on #167
Moving wall proces byl upraven (na periodika) a byl aplikován. Vše je sepsáno na wiki. Zavírám.

[2018-03-09 09:36] #167 closed, assigned to dsecik

[2018-03-09 09:46] dsecik commented on #178
Vyriesene  v https://github.com/moravianlibrary/s2i-kramerius/commit/27697eba42cec28f61be24025d579b20b43bbdc1

[2018-03-09 09:46] #178 closed, assigned to nobody

[2018-03-09 10:34] fstepanovsky commented on #206
Kontrola provedena ve všech repozitářích za pomocí:
* [https://github.com/replicatedhq/dockerfilelint](url)
* [https://www.fromlatest.io](url)

Dockerfiles jsou v pořádku.

[2018-03-09 10:37] #206 closed, assigned to fstepanovsky

[2018-03-09 11:03] dsecik commented on #185
Firefox a IE na win bez problemov, v chrome sa popisovany problem prejavuje (niektore requesty na dlazdice su "canceled" ) po reloade stranky sa nacitaju z cache tie, co sa podarilo nacitat predtym + sa nacitaju tie co boli "canceled". Vzhladom na to, ze toto rozhranie nepouzivame to asi mozeme zavriet ze?

[2018-03-09 11:21] LenkaKravecova commented on #73
Opraveno. Zavírám.

[2018-03-09 11:21] #73 closed, assigned to nobody

[2018-03-09 11:23] LenkaKravecova commented on #55
@xermak00 Aleksei, můžeš, prosím, zkontrolovat, jestli jsi tato uuid opravil v rámci https://github.com/moravianlibrary/kramerius/issues/199? Předpokládám, že ano, ale radši se ptám, než to zavřu.

[2018-03-09 11:26] #46 closed, assigned to nobody

[2018-03-09 11:32] LenkaKravecova commented on #42
@xermak00 @kenji1322 @hlavacekrene, můžete se na to někdo podívat, jestli je to stále aktuální? Ten odkazovaný dokument se zdá být v pořádku. Díky.

[2018-03-09 11:32] LenkaKravecova commented on #41
Grafiky a mapy už jsou v Krameriu. Zavírám.

[2018-03-09 11:32] #41 closed, assigned to nobody

[2018-03-09 11:39] LenkaKravecova commented on #228
Co s tím dál?

[2018-03-09 11:41] LenkaKravecova commented on #246
S tímto nejspíš souvisí issues, kde je potřebná nějaká reindexace/aktualizace solru:
#229
#186
#190
#187
#83

@xermak00, můžeš prosím projít tato issues a pohlídat je v souvislosti s migrací solru? V případě potřeby komentuj zde nebo u jednotlivých issue. Díky.

[2018-03-09 11:48] LenkaKravecova commented on #149
Reimport z LTP proveden. Zavírám.

[2018-03-09 11:48] #149 closed, assigned to LenkaKravecova

[2018-03-09 15:06] jkremlacek commented on #200
Už si přesně nepamatuju, jaká byla domluva s Martinem, ale mám pocit, že myšlenka byla taková, že by export měl "vyplivnout" foxml tak jak je uložené ve Fedoře, aby byl export použitelný pro zpětný import do Krameria (v současném stavu by zpětný import uložil obrázky do Fedory).

Každopádně vzhledem k tomu, že už je Fedora 4 za dveřmi, tak by asi stálo za to počkat/zjistit jak se chová export tam

[2018-03-12 14:51] MarosGrm commented on #42
Obrázky sú v poriadku. Ich počet na IS sedí s počtom stránok. Celková kontrola Krameria by sa určite niekedy v budúcnosti mohla spraviť.

[2018-03-12 14:51] #42 closed, assigned to nobody

[2018-03-13 09:07] kazooo commented on #247
Policy se definuje ve FOXML dokumentů, přidaní dalšího stavu, podle mě, by nemělo byt náročné, ale je třeba upravit Kramerius tak, aby reagoval na ten nový stav jak checeme. А takový Kramerius by měl byt u všech knihoven, aby nevznikaly konflikty, např. OAI provider přeposíla policy a přijímající strana musí to vhodně zpracovat #218

[2018-03-13 09:10] honza-rychtar commented on #247
@LenkaDamborska jen dotaz, jaky treti stav chcete pridat? Co by vyjadroval?

[2018-03-13 09:23] zabak commented on #247
Autorsky chráněné, ale přístupné díky smlouvě s autorskými ochrannými svazy.

[2018-03-13 09:25] zabak commented on #247
tj. budou tam jiné podmínky zpřístupnění než u zcela volných dokumentů, ale jiné než u těch, na které se taková smlouva nebude vztahovat.

[2018-03-13 11:38] kazooo commented on #246
#186  reindexace do toho patří, ale nevidím že problem byl řešen, i v novém Solru je dost dokumentů, kde se tato chyba objevuje
[code]
#187 dokažu ověřit až Kramerius bude využívat nový Solr, zatím komunikuje se starým.
Ostatní issue potřebují reindexace, takže jsou v souvislosti s migrací.

[2018-03-13 17:54] dsecik commented on #200
Nebude to tym, ze v pripade mapy co uvadzas su tie datasreamy interne? V takom pripade to imho nie je chyba.
[code]
Skusal som to na "slunecku" ktore ma datastreamy externe a foxml sa vygenerovali normalne s odkazmi na imageserver.

[code]

[2018-03-14 07:38] MarosGrm commented on #198
Je to už mergnuté na českej expedici, bude to nasadené spolu s novou verziou Krameria.

[2018-03-14 09:35] kazooo commented on #55
Část volumů ze seznamů je opravená, druhá je smazaná jako duplicity. Odkaz na issue nefunguje, ale mají byt také opravené.

[2018-03-14 09:52] LenkaKravecova commented on #55
Díky, zavírám.

[2018-03-14 09:52] #55 closed, assigned to kazooo

[2018-03-14 12:21] kazooo commented on #228
Logování chyby v Krameriu bylo opraveno v https://github.com/ceskaexpedice/kramerius/commit/d7bd7056528af5ec807a6427e202157ba9f626a6
Co se tyká logů ve Fedoře, kdybychom to úplně  vypnuli tak se nám v budoucnu nebudou logovat další i jiné chyby, což není pro nás moc dobře, kdyby se něco stalo neuvidíme to ve Fedoře.
Opravím data podle tých logů, a myslím, že ty logý budou pro nás užitečné.

[2018-03-14 13:27] zabak commented on #185
Client nebudeme používat. Zavírám.

[2018-03-14 13:27] #185 closed, assigned to nobody

[2018-03-15 07:58] jkremlacek commented on #200
Toho interního id jsem si nevím proč nevšiml, nicméně ten DS by měl být bokem, protože generování binaryContent od určité velikosti obrázku zkolabuje.

[2018-03-15 08:13] zabak commented on #200
Jinými slovy, měli bychom zkontrolovat kolik máme interních DS, všechny extrahovat ven a zamezit tomu, aby interní DS vznikaly. Je to tak? Předpokládám, že před migrací do Fedory 4 to stejně bude muset proběhnout.

[2018-03-15 08:18] LenkaKravecova commented on #200
Jo, to by chtělo zkontrolovat, ale moc by tam toho být nemělo. Vše se dávalo do imageserveru.

[2018-03-15 09:06] jkremlacek commented on #200
Už existující záznamy s interními DS obrázků, které tam nemají být (tj interně by měl být pouze thumbnail), by se měly opravit - nicméně chtělo by zjistit, jak se zachová migrace Krameria z F3 do F4 nad interním/externím DS a podle toho se rozhodnout jestli tu opravu udělat před anebo po migraci.

Spolu s tím by asi stálo za to i zkontrolovat jestli externí DS skutečně odkazují do imageserveru a n

[2018-03-15 10:19] zabak commented on #200
Mimochodem, měl jsem za to, že thumbnaily generuje taky imageserver on the fly. Tj. potřebujeme mít ve fedoře thumbnaily? Nebude rychlejší konverze do F4, když tam nebudou?

[2018-03-15 11:29] dsecik commented on #200
Ano, myslim ze idealne by bolo vsetky interne DS nahradit odkazmi na imageserver (vratane thumbnail pokial nie je nejaky specialny dovod preco musi byt interne).

Tento konkretny pripad je zaujimavy v tom, ze obrazok je na imageserveri a v RELS-EXT sa nan odkazuje ale IMG_FULL, IMG_PREVIEW, IMG_THUMB su interne. My ked sme prevadzali interne djvu a jpg na jpeg2000 a nahravali ich na imageserver ta

[2018-03-16 16:45] kazooo opened #248 "Neexistující sbírka"
Ve Fedoře je hodně stacktraců:
[code]
[code]
Daná sbírka ve Fedoře není, ale v databazi jsem našel 1126 vázeb na ni, pravděpodobně kvůli ním nám letají ty stracktracy. Tato sbírka byla provazaná s objekty v seznamu níže, skoro všechny ty objekty byly smazané ze Solru (kromě jednoho), ale jsou ve Fedoře, a naposled byly modifikované 2018-02-27 kolem 15:33.

[relation_list.txt](https://github.com/mo

[2018-03-19 14:00] zabak opened #249 "Chyba v datech?"
Ahoj, viz. https://github.com/ceskaexpedice/kramerius-web-client/issues/61 - vzhledem k tomu, že jsem vyhledávaný termín bral z Lidovek, tak bych očekával, že ho v lidovkách i najdu. Můžete to prosím zkontrolovat?

[2018-03-20 11:58] MarosGrm commented on #249
OCR je správne zaindexované a je aj správne vo Fedore. Ide o nejakú náhodnú chybu pretože pri hľadaní "pořádný akademik" čo som tiež vybral z tej istej strany to našlo v poriadku a stranu šlo aj normálne otvoriť ale zase mi to nenašlo tú konkrétnu stranu v novom klientovy.

[2018-03-21 08:52] LenkaKravecova commented on #249
Je to tak. Když hledám "pořádný akademik" v roce 1896, na digitalniknihovna.cz se to najde, v novém klientovi se to nenajde. Co se týče "novézvolení poslanci", toto spojení opravdu nic nenajde (nový klient) nebo se nezobrazí stránka (digitalniknihovna.cz). Ale když dám jen "novézvolení", tak už je to v obou klientech ok. Přitom, jak píše Maroš, OCR je v pořádku. Hmm.. Nebude to kombinovaný problém

[2018-03-23 11:57] LenkaKravecova opened #250 "Monografie na kontrolu"
Potřebovala bych u těchto uuid zjistit, zda patří k úrovni monograph nebo page. Pokud tam budou nějaké page, najít a nahradit kořenem. Pak vše zveřejnit. Děkuji.
[monographs_setpublic.txt](https://github.com/moravianlibrary/kramerius/files/1841385/monographs_setpublic.txt)

[2018-03-23 13:57] LenkaKravecova commented on #250
Tady další stejný případ. Zkontrolovat, jaké úrovně uuid jsou, a pak zveřejnit na úrovni monografie. Díky.

[kontrola_monografie_setpublic.txt](https://github.com/moravianlibrary/kramerius/files/1841707/kontrola_monografie_setpublic.txt)

[2018-03-23 14:03] LenkaKravecova commented on #250
Jo a vždy potřebuju vrátit seznam, kde budou ta uuid pro page nahrazena uuid pro monograph. Prostě zkrátka potřebuju seznam uuid na úrovni titulu.

Ještě tu mám další monografie, které je potřeba zkontrolovat na úrovni page/titulu, vrátit mi seznam pouze uuid titulů, ale nezveřejňovat!!
[kontrola_monografie_nezverejnovat.txt](https://github.com/moravianlibrary/kramerius/files/1841742/kontrola_mono

[2018-03-23 14:19] LenkaKravecova commented on #250
Další :/
Tady už je vše zveřejněno, ale některá uuid patří ke stranám, takže byly zveřejněny jen strany. Najít uuid pro page, najít k tomu titul, vrátit mi opravený seznam a dané tituly zveřejnit:
[kontrola_monografie_setpublic2.txt](https://github.com/moravianlibrary/kramerius/files/1841790/kontrola_monografie_setpublic2.txt)

Tak a tady je další dlouhý seznam uuid, které taky zkontrolovat na úro

[2018-03-23 14:31] MarosGrm commented on #250
kontrola_monografie_setpublic.txt a kontrola_monografie_nezverejnovat.txt sú totožné.
objekt uuid:2df345f0-67bb-11e3-856005056827e521 neexistuje vo fedore.
zatiaľ som nič z toho nezverejňoval.
[blok1.txt](https://github.com/moravianlibrary/kramerius/files/1841869/blok1.txt)
[blok2-3.txt](https://github.com/moravianlibrary/kramerius/files/1841871/blok2-3.txt)
[blok4.txt](https://github.com/moravian

[2018-03-28 10:30] LenkaKravecova commented on #247
@hlavacekrene dej sem, prosím, co jsi zjistil, ať to nevyšumí

[2018-04-04 06:06] kazooo commented on #248
Nejaká informace o teto sbírce je zaindexována v Solru a při dotázu na sbírky ze strany Krameria
[http://solr.dk-back.infra.mzk.cz/solr/kramerius/select?facet.field=collection&facet=on&indent=on&q=*:*&rows=0&wt=json&&facet.mincount=1](http://solr.dk-back.infra.mzk.cz/solr/kramerius/select?facet.field=collection&facet=on&indent=on&q=*:*&rows=0&wt=json&&facet.mincount=1)
Solr vratí seznam sbírek a p

[2018-04-04 07:00] kazooo commented on #248
Nechám tady seznam objektů, které jsou připojené k neexistujícím sbírkam:

vc:756500c4-5f16-4b23-878f-2ce378a18b64
[uuid:05559566-d56b-11e1-a706-005056a60003](https://kramerius.mzk.cz/search/i.jsp?pid=uuid:05559566-d56b-11e1-a706-005056a60003) (Estetika)

vc:122ee9a6-161e-4fa5-9194-dae040ab50c7
vc:f2e2dd68-4b1b-46eb-a36b-6052fc965823
[uuid:64713626-aed5-11e1-8e79-005056a60003](https://kramerius.mz

[2018-04-04 09:07] LenkaKravecova commented on #248
Pokud jsou ta periodika v pořádku, tak je se sbírky normálně odpoj. Jen prosím o kontrolu periodik, jestli jsou v pořádku. Hlavně, ať už v solru nejsou nějaké vazby na neexistující sbírky.

Jinak ten Věstník ČSAV je trochu záhada. Podle registrdigitalizace.cz jsme ho ani nedigitalizovali. Dělala ho KNAV, od které ho máme zrovna v plánu replikovat k nám (máte ho v balíčcích na import). Takže torzo

[2018-04-04 09:38] LenkaKravecova commented on #248
Počkat, jedna podezřelá věc - ostatní zmiňovaná periodika taky patří k těm, která @hlavacekrene importoval do Krameria. Jde o ty replikace z KNAV. Nemohlo se stát, že s importem je zařadil do neexistující sbírky nebo že se sbírka nějak vytvořila nebo snad že to je sbírka KNAV, která u nás neexistuje??? Prosím, zkontrolujte, jestli v metadatech těch periodik na import není vazba na nějakou sbírku.

[2018-04-04 09:43] kazooo commented on #248
Jo, uz jsem si tomu vsiml. Podivam se do originalnich FOXML.

**EDIT**:
Ano, vazby jsou v metadatech na import. Takže ta chyba není u nás, uuid neexistujících sbírek jsou z KNAV. Ty vazby jsem častečne už smazal, postupně budu mazat i pro další periodika, které @hlavacekrene bude importovat.

[2018-04-10 07:32] hlavacekrene commented on #247
tady jsem se pokusil neco trochu rozrebrat.
https://docs.google.com/document/d/1caEIRYRN4mX1i7IJwmt09c0kbsYGaFOwgPHTNug6QzE/edit?usp=sharing

[2018-04-10 08:38] jkremlacek opened #251 "Chyba importu METS baliku"
Import vyletí na `java.lang.OutOfMemoryError: Java heap space` zkusil jsem zvednout tomcatu paměť na 10GB z defaultu a nepomohlo.

Kompletní log je zde: https://gist.github.com/jkremlacek/116b342c5a7b8ddd1094e967893a1399

Chybující soubor je na cestě `convert/ProArcPSP/mzk-0000yc`

[2018-04-11 07:43] jkremlacek commented on #251
Importní procesy nepřebírají nastavení rodičovského procesu, bude potřeba překompilovat kramerius.infra s upravenými hodnotami v https://github.com/ceskaexpedice/kramerius/blob/1ff2b58004c2c8381d072942a96922382c92d71c/common/src/main/java/cz/incad/kramerius/processes/res/lp.st#L295

[2018-04-11 20:56] jkremlacek commented on #251
6GB heap limit z původních 2GB nestačilo. Řešeno v rámci https://github.com/ceskaexpedice/kramerius/issues/596 . 16GB heap limit už stačí na JP2 o velikosti 467MB.

[2018-04-12 07:49] pavel-stastny commented on #251
Dobry den,

jenom par poznamek:

Vsechno, co je v krameriovi definovane jako proces (to co se objevi po spusteni ve sprave administratorskych procesu) je implementovano jako samostatny jvm proces.  Neni to tedy thread a   nastaveni tomcatu na to nema zadny vliv.

Neprebira, ani nevim, jak by to slo udelat.  (Maximalne ze bych si nechal vypsat spousteci parametry procesu a pak to znovu parsoval).

[2018-04-12 08:02] leiblix commented on #247
Co to přesně znamená? Projednával se konkrétní usecase na nějaké schůzce?

Patří to vůbec do policy, nejedná se o jen nějakou licenci (s nějakými atributy). Současné dva stavy jsou samopopisné, bude třetí taky takový? Kde bude definované jeho chování? Natvrdo v kódu?

[2018-04-12 08:15] jkremlacek commented on #251
@pavel-stastny Díky za poznámky.

Chyba byla původně detekována na K5 s IIP, kde padla na procesu mets import během načítání do paměti JVM.

Před ohlášením issue jsme balík raději testovali i na K6, kdyby náhodou šlo o chybu v K6 již opravenou (v rámci testování nemá IIP), proto následně došlo k ingestu JP2 do Fedory a ne k nahrání na IIP. V rámci produkce K6 bude mít IIP.

[2018-04-12 08:20] leiblix commented on #251
To nepomohlo, protože procesy se spouští ve vlastní JVM - mimo Tomcat.  (přes ProcessBuilder).Musíš to rekonfigurovat v lp.xml, jak už bylo zmíněno. Btw. do toho parametru se dá přidat i remotedebug  a zjistit co se děje.

[2018-04-12 08:23] MarosGrm commented on #251
V lp.xml sme pamäť navyšovali tiež a nepomohlo to.

[2018-04-12 08:27] pavel-stastny commented on #251
to je divny... Kdyz si vypisete vsechny procesy (klasicky pres `ps`), ten navyseny parametr pameti  tam vidite?

[2018-04-12 08:30] leiblix commented on #251
Neprojevilo se to? Nebo to nestačilo?

Běžně jsme v lp.xml měnili JAVA_OPTS a přidávali parametry na remote debug....

[2018-04-12 09:30] jkremlacek commented on #251
Vzniklo tu nedorozumění, takže uvádím vše na pravou míru:

už vyřešeno v rámci ceskaexpedice#596

myšleno na 6 a 8GB, dále už řešil @zafan, kde pomohlo 16GB

Běžně jsme v lp.xml měnili JAVA_OPTS a přidávali parametry na remote debug....

viz předchozí vysvětlení

[2018-04-12 11:38] zabak commented on #247
Cílem je zpřístupnit dokumenty splňující určité podmínky specifickým způsobem. Nejsou volné, ale nejsou ani omezené ani pouze na počítače v knihovně. Bude se to ale týkat poloviny až tří čtvrtin neveřejných dokumentů. Ty budou moci být zpřístupňovány za dodržení specifických podmínek  v knihovnách a registrovaní uživatelé knihoven budou mít přístup i z vlastních zařízení mimo knihovny. Jako problé

[2018-04-13 10:32] LenkaKravecova opened #252 "Generování PDF trvá dlouho"
Generování PDF trvá velmi dlouho. Souvisí se zátěží, kterou s největší pravděpodobností způsobuje migrace SOLRu. Je potřeba s tím něco udělat. Generování PDF je základní služba, která musí fungovat.
Nějaký nápad?

[2018-04-13 11:30] jkremlacek commented on #252
Asi by stálo za to zkusit vygenerovat PDF skrz kramerius.infra, abychom s jistotou mohli říct, že na nízkou rychlost nemá vliv ostrý kramerius. Je totiž klidně možné, že celková "pomalost" toho procesu je důsledek více chyb a ne pouze zátěž na dk-back.

Další varianta by byla pauznout migraci solru a ostrý solr otočit.

[2018-04-16 05:52] jkremlacek opened #253 "Pravidelné požadavky na neexistující virtuální sbírky"
V 5-ti minutových intervalech (vč. noci) chodí dotazy do fedory na virtuální sbírky:

vc:756500c4-5f16-4b23-878f-2ce378a18b64
vc:7252befa-0e8c-4875-af64-882b6ed328ef
vc:40995932-98ff-41ca-a74f-c0637fa99f2f
vc:17909b1e-5acf-47f1-bb4d-d5907ca71c44

Tři existují v KNAV-u:

http://www.digitalniknihovna.cz/knav/search/?collections=vc:756500c4-5f16-4b23-878f-2ce378a18b64
poslední publikace Estetika je i

[2018-04-16 07:59] LenkaKravecova commented on #252
Na kramerius.infra to jde bez problémů.

[2018-04-16 08:36] jkremlacek commented on #253
@honza-rychtar Dotaz, neběží v rámci digitální knihovny nějaký pravidelný proces, který pracuje s virtuálními sbírkami?

[2018-04-16 09:42] LenkaKravecova commented on #252
Už to jde i na "normálním" krameriovi. @jkremlacek, @kenji1322 vypnuli jste dočasně generování 2vrstvého PDF? Prosím o komentář, jak to vypadá.

[2018-04-16 09:47] MarosGrm commented on #252
Áno, dočasne je vypnuté generovanie dvojvsrtvového PDF, kým neprídeme na to, prečo to tak spomaľovalo.

[2018-04-16 10:07] honza-rychtar commented on #253
Ne. Pravidelne se ptam jen na /search/api/v5.0/info kvuli sledovani vypadku a pak jeste par dotazu pro Registr Krameriu - ale to se pousti jen dvakrat za den.

[2018-04-16 10:28] kazooo commented on #251
Velikost hromady na kramerius.infra je nastavena na 16GB pro procesy importu a reindexace.

[2018-04-16 10:28] #251 closed, assigned to fstepanovsky

[2018-04-16 13:05] zabak commented on #253
Dá se vysledovat z jaké IP adresy ty dotazy chodí?

[2018-04-16 15:02] jkremlacek commented on #253
Už je na cestě oprava, @xermak00 zapnul monitorování těch požadavků a zjistil, že jdou z krameriusndktest.mzk.cz .

Ten server má oddělenou databázi (ostatní krameriové používají dk-db), takže ze solru sice byly ty vazby na neexistující sbírky smazané už dřív, ale v té databázi zůstaly, takže @kenji1322 je musí odmazat, protože k tomu serveru má přístup jen on.

[2018-04-17 09:22] MarosGrm commented on #253
Čistý build Krameria (krameriusndktest) a odstránenie nepotrebných líšt pomohlo, takže v logoch sa už hláška s neexistujúcimi zbierkami neobjavuje.

[2018-04-17 09:22] #253 closed, assigned to nobody

[2018-04-18 10:45] LenkaKravecova commented on #248
Toto můžeme zavřít. Vazby mažeme ještě před importem. Neexistující sbírky odstraněny.

[2018-04-18 10:45] #248 closed, assigned to kazooo

[2018-04-18 10:46] LenkaKravecova commented on #246
Jaký je stav migrace? Prosím, napsat stručně sem. Díky.

[2018-04-18 10:48] LenkaKravecova commented on #253
:+1:

[2018-04-18 11:34] jkremlacek opened #254 "Chybné odkazy do imageserveru ve fedoře"
Stránky publikací:

uuid:c63594b0-4432-11e2-9b88-005056827e51
uuid:5c2c78b0-4435-11e2-b246-005056827e52
uuid:821a3fd0-4435-11e2-b246-005056827e52
uuid:4deb2df0-4435-11e2-b246-005056827e52
uuid:6db39fa0-4435-11e2-b246-005056827e52
uuid:91851670-4435-11e2-b246-005056827e52
uuid:3b1e1980-4435-11e2-9b88-005056827e51
uuid:3e5109f0-4435-11e2-9b88-005056827e51
uuid:cfc3f3d0-4434-11e2-9b88-005056827e51
uu

[2018-04-20 08:11] kazooo commented on #246
Migrace ještě stále běží, zbývá cca 4,5 milionů a bude hotovo.

[2018-04-25 10:34] LenkaKravecova commented on #252
Teď čekáme, až doběhne migrace solru. Pak by se na to mohl @kenji1322 podívat.

[2018-04-25 13:28] kazooo commented on #246
S časem Solr se zpomaluje, proto trvá už dost dlouho. Příčinou je Deep paging.
Dotaz na Solr požívá offset  **rows=x&start=y** aby načíst počet dokumentů **rows** od pozice **start**.
Když potřebuje načíst 500 dokumentů od např. 47.552.142 dokumentu v indexu, tak Solr akumuluje informace ne jen o tých 500 dokumentech, ale i o předchozích 47.552.142 dokumentech.
Pro budoucnost bude potřeba opravit

[2018-04-30 11:43] LenkaKravecova opened #255 "Čin - problém s reindexací"
Stránky v Činu uuid:c3318d70-6f69-11e2-b9fa-005056827e52 jsou náhodně veřejné a neveřejné a reindexace mi spadla. PID procesu 307. Nemůže být problém s vazbami na obrázky?

Plus může to mít nějakou souvislost s tímto zavřeným issue https://github.com/moravianlibrary/kramerius/issues/82 ?

[2018-04-30 11:56] LenkaKravecova opened #256 "Náš domov - rozbité obrázky"
U dokumentu Náš domov uuid:a398e0d8-5f29-478c-87a0-2369fb3e5649 se nezobrazuje asi polovina obrázků. Na imageserveru se taky nezobrazí. @zafan, podíváš se na to, prosím?

[2018-04-30 12:32] fstepanovsky commented on #256
@LenkaDamborska podívám se na to.

[2018-04-30 12:39] LenkaKravecova opened #257 "Mährisch-schlesischer Correspondent - ročník 1878"
Ročník 1878 uuid:7a18c630-fa27-11e4-8ded-5ef3fc9ae867 obsahuje čísla a přílohy z roku 1878 i 1886. Potřebovala bych seznam těch příloh a čísel z roku 1886. Stačí uuid a dateIssued. Pak to nahlásím do LTP.
Díky.

[2018-05-01 08:54] kazooo commented on #257
[1886.txt](https://github.com/moravianlibrary/kramerius/files/1963346/1886.txt)
Jde takto?

[2018-05-01 09:10] LenkaKravecova commented on #257
Stačí. Díky.

[2018-05-01 09:10] #257 closed, assigned to kazooo

[2018-05-01 09:10] kazooo commented on #255
Reindexace padá protože ze všech ročníků co má Čin v RELS-EXT,
[code]
existuje jen uuid:49f1ad70-8ae7-11e2-8593-005056827e52, ostatní nejsou ani v Solru ani ve Fedoře.
Poslední modifikace ročníku uuid:49f1ad70-8ae7-11e2-8593-005056827e52, podle Solru,
2017-02-10 (může to byt i nějaká reindexace)

[2018-05-01 09:51] kazooo commented on #246
Migrace nakonec doběhla, nový index zabírá kolem 960 Gb. Před tím než připojím Kramerius na nový index, počkám až David zapné snapshoty (abychom v případě problemů neztratili celý index) a zkusím otestovat komunikace s Krameriem u sebe. Ještě bude potřeba zmigrovat ty dokumenty, které přibyly do starého indexu v průběhu migraci a můžeme ten index pouzívat. Issue zatim nechám otevřené až udělám zbý

[2018-05-02 08:56] fstepanovsky commented on #256
@LenkaDamborska, soubory, které nelze zobrazit jsou nevalidní/porušené.

[2018-05-02 12:15] LenkaKravecova commented on #255
Aha.. tak to nezbývá nic jiného než reimport z LTP.. Díky. Otázka, jestli se to nesmazalo právě proto, že dělali nějakou opravu a reimport se nevydařil. Zjistím.

[2018-05-09 11:47] LenkaKravecova commented on #208
Hotovo.

[2018-05-09 11:47] #208 closed, assigned to LenkaKravecova, erikamirova

[2018-05-10 08:57] LenkaKravecova opened #258 "Pestrý týden - chybí ročníky"
V periodiku Pestrý týden uuid:ae722b4f-435d-11dd-b505-00145e5790ea chybí ročníky 1930-36. Určitě jsme je tam měli. Kam zmizeli a hlavně proč?
Prověřte taky, jestli jsou obrázky na imageserveru.

[2018-05-10 09:45] MarosGrm commented on #258
Podľa Fedory to vyzerá všetko v poriadku, posledný dátum úpravy je december 2014 a na imagesrvru tiež niesu. Je to divné, pretože aj keby sa to omylom zmazalo tak na by IS tie obrázky zostali.

[2018-05-10 09:50] LenkaKravecova commented on #258
Díky. Hmm, dívala jsem se do staršího seznamu replikací, podle kterého se měly k nám replikovat všechny ročníky, z čehož jsem usoudila, že jsme je v Krameriu měli... Takže dobrá zpráva, že nedošlo ke smazání. Tím pádem zavírám, nejde o chybu. Dodatečný import ostatních ročníků pak pořešíme samostatně.

[2018-05-10 09:50] #258 closed, assigned to MarosGrm

[2018-05-17 10:01] jkremlacek commented on #254
Kontrola byla dokončena. Přiložené soubory jsou ve formátu .csv, koncovku .txt mají jen kvůli omezením se strany githubu.

91499 stránek má alespoň jeden obrazový datastream interní namísto odkazu do imageserveru (součástí jsou i dokumenty, kterým chybí tiles-url)

~~[internal.txt](https://github.com/moravianlibrary/kramerius/files/2012682/internal.txt)~~ (podrobnější rozdělení souboru níže)
_form

[2018-05-17 13:12] jkremlacek commented on #254
Pro interní datastreamy nachystám skript, který zkontroluje zda mají data na imageserveru a následně upraví datastreamy na externí.

[2018-05-17 15:23] jkremlacek commented on #254
Interní datastreamy, které obsahovaly odkaz na jp2 do imageserveru (tiles-url v RELS-EXT), opraveny.

~~[internal_pre_filtered.txt](https://github.com/moravianlibrary/kramerius/files/2013777/missingTilesURL.txt)~~ (podrobnější rozdělení viz zafan)
_formát: lineNum, UUID strany_

Ostatní strany bude potřeba dohledat, zda mají jp2 na IS - pokud mají, tak bude potřeba jen opravit odkaz + doplnit tile

[2018-05-21 08:23] fstepanovsky commented on #254
Seznamy odkazů v datastreamech:

* klokan.mzk.cz: [klokan_link.log](https://github.com/moravianlibrary/kramerius/files/2021753/klokan_link.log)

* ostatní: [internal_filtered.log](https://github.com/moravianlibrary/kramerius/files/2021754/internal_filtered.log)

[2018-05-23 10:10] jkremlacek commented on #254
- [x] **Ke klokan.mzk.cz:**

 v cestě se odkazuje na čk:

2619320319
2619312827
2619312828

a dále na sysna:

001052304 - patří k 2619298360
001050316 - patří k 2619298390
001050655 - patří k 2619298371

Strany jsou nicméně sirotci (kontrolováno v risearchi, na strany nevede žádná vazba). Dané ČK odkazují na nadřazené objekty, které mají připojené jiné strany (jak nadřazené objekty, tak strany jso

[2018-05-28 08:11] kazooo commented on #246
Solr s novým indexem komunikuje s Krameriem velmi pomalu. Dotazy s použitím lematizovaných textu trvají strašně dlouho, a ve většině případů končí s timeoutem. Solr zpracuje dotaz ale při timeoutu už nepošle odpoved, uloží do cache a při opakovaném dotazu rychle vratí výsledek. Bylo zkoušeno přímé dotazování a dotazování přes Kramerius a to pomoci dotazů různé složitostí. Testy ukazaly, že problem

[2018-05-28 08:24] jkremlacek commented on #254
**K brokenuuids.txt:**
- mezi rozbitými obrázky jsou duplicity objektů, př:

  _uuid:8db93eb9-a379-459c-9c7d-f4fabfe29540_ (jeho stránky jsou v brokenuuids.txt) a
  _uuid:9ccb377d-af47-43c6-9da5-58ac7358cd04_

  - obsahují stejné sysno **001134919** a stejná metadata, s tím, že v 9ccb... obsahují více údajů (jsou novější o 5 měsíců) a připojené stránky mají funkční obrázky - chyba pravděpodobně vz

[2018-05-28 08:45] jkremlacek opened #260 "Chybějící obrázky ročníku 1912 - Wissenschaftliche Studien und Mittheilungen"
Stránky vydání **uuid:fe693aa0-49df-11e2-9c70-5ef3fc9bb22f** mají rozbité odkazy do imageserveru, s tím, že dokonce odkazují na chybného (neexistujícího) rodiče **uuid:c656c720-1db8-11e2-a61d-005056827e52**.

Podle risearch-e má ročník 1912 (**uuid:8dbdfa30-34bc-11e2-adb0-005056827e52**) pouze jedno vydání, proto je projistotu požadavek na celý ročník a ne pouze na dané číslo.

[2018-05-28 10:40] LenkaKravecova commented on #260
V LTP se archivuje po číslech, takže se obávám, že reimportují přímo to číslo. Některé ročníky mají taky jen jedno číslo, takže to snad není chyba. Tak já to nahlásím na reimport.

[2018-05-31 11:27] jkremlacek opened #261 "Kulturní zpravodaj, 1968 Volume 3,4 duplicity"
Některá čísla periodika mají ztrojené stránky, odkazují ale na stejný obrázek na imageserveru.

UUID periodika je: uuid:4bc04868-764c-4e4e-bdb7-7353b5b3a1f2

[2018-06-04 08:59] jkremlacek opened #262 "Reimport kvůli poškozeným obrázkům"
U každé publikace bylo několik rozbitých obrázků s velikostí 0. Rozbité obrázky byly smazány.

Seznam rodičů, které je potřeba zadat na reimport je zde:
https://github.com/moravianlibrary/kramerius/files/2047489/reimportParents.txt

[2018-06-04 11:01] jkremlacek commented on #254
Detailnější rozpis bu_ntj2b_wUC.txt (obsahuje jednotkové chyby) [zde](https://docs.google.com/spreadsheets/d/1jNf7rhqOrhfori4Im22o8E-SrWyXLTjhrcANofT5Iug/edit?usp=sharing).

Část je řešena v rámci https://github.com/moravianlibrary/kramerius/issues/273 a https://github.com/moravianlibrary/kramerius/issues/274.

[2018-06-07 12:07] MarosGrm commented on #252
Kramerius nedokázal prečítať konfiguračnú premennú z configuration.properties a natom sa to cyklilo, problém už je vyriešený a generovanie dvojvsrtvového PDF je opäť zapnuté.

[2018-06-07 12:07] #252 closed, assigned to MarosGrm

[2018-06-13 14:45] jkremlacek opened #263 "Volksfreund 30.12.1922 chybějící obrázky a zduplikované strany"
UUID čísla je: uuid:0eb90c23-04b6-4335-9323-52a74f5b9050
Balík čísla je: vkol-0023p0 (na IS chybí celý adresář)

[2018-06-13 14:52] jkremlacek opened #264 "Chybějící obrázky ke stranám"
UUID rodičů:

- **uuid:4b73d040-6707-11e3-8fee-005056827e51** od strany 197 dál
- **uuid:4dcd78d0-bfc9-11e3-aec3-005056827e52**
- **uuid:241c4190-cac0-11e3-b110-005056827e51**
- **uuid:8fac8830-dce4-11e3-b110-005056827e51**
- **uuid:45863370-e0a7-11e3-b110-005056827e51**
- **uuid:8eb101e0-3195-11e3-a5bb-005056827e52**
- **uuid:d0d137d0-7ea6-11e3-86b3-005056827e52**
- **uuid:942509f0-f6ac-11e3-812a

[2018-06-16 15:22] MarosGrm commented on #261
Opravené

[2018-06-16 15:22] #261 closed, assigned to MarosGrm

[2018-06-18 11:09] LenkaKravecova commented on #264
Díky, nahlásím na reimport.

[2018-06-18 11:19] LenkaKravecova commented on #262
Kubo, máš někde přehled, které obrázky byly smazány? Teď se dívám např. na uuid:59561d00-24c1-11e2-8579-005056827e52 a nevidím nějaké chybějící stránky, zdá se mi to kompletní.
Jinak dám vše na reimport.

[2018-06-19 07:46] jkremlacek commented on #262
V rámci zmíněného uuid je rozbitá strana s uuid:04648bbc757143d3ec0002cd0313e3b7.

Dobře je to vidět v [digitalni knihovne](http://www.digitalniknihovna.cz/mzk/view/uuid:59561d00-24c1-11e2-8579-005056827e52), strana 191

Veškerý postup je evidován v rámci https://github.com/moravianlibrary/kramerius/issues/254 - jen už je toho hodně, takže se v tom nedá dobře vyznat.

Konkrétně tenhle problém se ř

[2018-06-19 08:23] MarosGrm commented on #238
Chyba sa po dlhej dobe začala opäť vyskytovať.

[2018-06-20 11:52] jkremlacek opened #265 "Brünner Zeitung, 02.01.1874, 1, chybějící obrázky tří stran"
Ve Fedoře odkazují na krameriusndktest.mzk.cz namísto do imageserveru.

UUID rodiče: uuid:2b06cbf0-0e91-11e4-8e0d-005056827e51

[2018-06-20 12:29] leiblix commented on #265
Jo, dříve byl imageserver nainstalovaný vedle krameria na stejné URL (krameriusndktest.mzk.cz/imageserver).

Později jsem to s Danem spojoval a nahrazoval jsem to natvrdo v datech Fedory, ten skript vypadal nějak takto (dohledal jsem ho v mailu :D). Je možné že tomu něco uniklo.

Nebo byl prostě chvíli špatně nakonfigurovaný transformační modul.

[code]

[2018-06-21 09:38] jkremlacek commented on #264
Posílám druhou várku, ať nezakládám další issue:

- **uuid:43a07fa0-8dad-11e7-9950-005056827e52**
- **uuid:fb4c59e0-7048-11e6-a429-001018b5eb5c**
- **uuid:91a9dcb0-a4f5-11e6-840e-005056827e52**
- **uuid:bf4309f0-24d2-11e2-85be-005056827e51**
- **uuid:5c2c78b0-4435-11e2-b246-005056827e52**
- **uuid:4deb2df0-4435-11e2-b246-005056827e52**
- **uuid:821a3fd0-4435-11e2-b246-005056827e52**
- **uuid:3b1e1

[2018-06-21 09:46] jkremlacek opened #266 "Rozpadlé monografie"
Objekt monografie s uuid:c656c720-1db8-11e2-a61d-005056827e52 chybí ve fedoře.

Všechny stránky dané monografie jsou ve fedoře jako sirotci (852 stran), obrázky do IS nefungují, ale obsahují OCR.

[seznam sirotků](https://github.com/moravianlibrary/kramerius/files/2123015/orphanage852.txt)

Nejsem si jistý jestli reimport z LTP projde, možná bude potřeba nejdřív smazat sirotky z Fedory.

[2018-06-21 10:59] jkremlacek commented on #265
Chyba nezůstala u jedné publikace:

**uuid:4ba3a670-cc12-11e2-a712-005056827e51** odkazuje taky na krameriusndktest

[2018-06-21 11:29] jkremlacek commented on #266
Další stejně rozpadlá monografie je: uuid:fe7e3c10-609b-11e3-ac69-005056827e51

[2018-06-22 08:10] LenkaKravecova commented on #265
Blbý dotaz - takže to znamená, že ty obrázky teda nemáme? Tzn. bude potřeba reimport z LTP?

[2018-06-22 12:45] jkremlacek commented on #265
Podle mě by neměl být potřeba - jen bude potřeba zkontrolovat, že ty obrázky jsou na imageserveru a potom přepsat ty odkazy na něj.

Pokud by se ukázalo, že něco chybí, tak bude potřeba reimport z LTP - dal bych vědět + přidal label na reimport.

[2018-06-26 13:38] jkremlacek opened #267 "Chybějící obrázky původem z MZK"
Na imageserveru chybí skeny, které nejsou původem z NDK, nejspíš je bude potřeba znovu naskenovat.

Publikace, kterým chybí obrázky
(_cesta_na_imageserveru/sysno, uuid_rodiče, počet_stran_):
- mzk01/001/207/407, `uuid:26d5c4e7-406f-46b1-b1d3-8ef008cc76d2`, (všech 308 stran)
- mzk01/001/117/433, `uuid:6486fd8f-1d00-42ad-9ba1-1b88f4113fc3`, (všech 184 stran)
- mzk01/001/119/510, `uuid:13247578-f2e4-

[2018-06-27 07:54] jkremlacek commented on #265
uuid:2b06cbf0-0e91-11e4-8e0d-005056827e51 opraveno,

uuid:4ba3a670-cc12-11e2-a712-005056827e51 odkazy do IS taky, ale ukázalo se, že část stránek je šeredně poškozených ve fedoře (do takové míry, že fedora ani není schopná ohlásit chybu uživateli při pokusu o zobrazení)

Chyba v logu je `org.fcrepo.server.errors.ObjectIntegrityException`

Edit:

Nejspíš došlo k poškození vnitřních souborů fedory -

[2018-06-28 07:49] LenkaKravecova commented on #267
Nejdřív se musíme podívat do archivu, jestli tam obrázky nejsou. @zafan podíváš se na to? Díky.

[2018-06-28 08:37] fstepanovsky commented on #267
@LenkaKravecova V archivu bohužel tyto obrázky nemáme.

[2018-06-28 08:43] LenkaKravecova commented on #267
Aha :(

[2018-06-28 09:14] LenkaKravecova commented on #267
Ani to poslední (Rajhrad)? To by někde mělo být. Můžu to zjistit.

[2018-06-28 09:34] fstepanovsky commented on #267
Ani bohužel to poslední, ani u nás, ani digit, ani samotný rajhrad (má zcela jinou strukturu dat).

[2018-06-28 10:37] jkremlacek commented on #265
Ad uuid:4ba3a670-cc12-11e2-a712-005056827e51:
- interním souborům stránek (odkazovány v `objectStore` tabulce v db) opraveny odkazy
- stránkám doplněn tiles-url
- dokument jsem reindexoval (v krameriovi se zobrazoval jako jednostránkový dokument)

[2018-06-28 10:37] #265 closed, assigned to jkremlacek

[2018-07-02 09:26] jkremlacek commented on #267
Přidávám další záznamy s chybějícími skeny:
- mzk01/000/915/123, `uuid:411f114d-cffd-4e77-a42b-0ba2ac99d602`, strana 144 s `uuid:ac6141b9-53f0-4b90-9537-bac3db1e2d0e`
- mzk03/001/036/129, `uuid:d66b6f2c-846d-4857-bd10-5f29a862bd45`, strany 5, 49, 83, 192, 212, 280, XLVIII, LXXVII, CIV
- mzk03/001/183/466, `uuid:6be3d27e-f18d-4107-bd2e-a391a071e4c2`, strany 17-23, 44, 45
- mzk01/001/208/180, `uuid:

[2018-07-02 09:48] jkremlacek opened #268 "Svobodné slovo 15.09.1956"
4. strana s uuid: `uuid:8b9d3f3c-d5e4-4814-b802-adb951715cc5` má nefunkční odkaz na obrázek v fsv.cuni.cz

uuid čísla je: `uuid:245bb355-108a-413f-baf4-ee663ea851c5`

[2018-07-04 11:00] jkremlacek commented on #228
Vzhledem k tomu, že logstash už máme upravený tak, aby se stacktrace-y seskupovaly do jednoho záznamu, tak si myslím, že issue není potřeba dál řešit. @xermak00 souhlas?

Momentálně je v Kibaně těchto logů minimum (řádově jednotky za minutu, vznikají během importů z NDK - nejde o chybu), dají se snadno odfiltrovat, ale přitom už nás několikrát přivedly na stopu chybě, takže vypínání by bylo k niče

[2018-07-08 10:14] rzeh4n opened #269 "rozbitý OAI záznam periodika"
Tohle obsahuje v metadata error:
https://kramerius.mzk.cz/oai/?verb=GetRecord&metadataPrefix=drkramerius4&identifier=oai:kramerius.mzk.cz:uuid:ae7add91-435d-11dd-b505-00145e5790ea

http://www.digitalniknihovna.cz/mzk/uuid/uuid:ae7add91-435d-11dd-b505-00145e5790ea
Možná nějaký pozůstatek něčeho už neexistujícího, ale stále v solru?

[2018-07-08 23:56] rzeh4n commented on #269
Týká se i monografií:
https://kramerius.mzk.cz/oai/?verb=GetRecord&metadataPrefix=drkramerius4&identifier=oai:kramerius.mzk.cz:uuid:10cfb93a-4ee0-49da-9122-c549bd4f85ba

[2018-07-09 06:36] jkremlacek commented on #269
Ve fedoře **uuid:ae7add91-435d-11dd-b505-00145e5790ea** a **uuid:10cfb93a-4ee0-49da-9122-c549bd4f85ba** neexistuje.

Podle záznamu v SOLRu a Alephu jsem dohledal funkční uuid:

- uuid:10cfb93a-4ee0-49da-9122-c549bd4f85ba s ČK 2619320335:
**uuid:d0041c00-e17f-4d8a-9ee4-a8bee7a375c5**
- uuid:ae7add91-435d-11dd-b505-00145e5790ea s ISSN issn:0023-5849
**uuid:1c869c00-535b-11e3-9ea2-5ef3fc9ae867**

Doš

[2018-07-09 08:56] kazooo commented on #228
@jkremlacek souhlasim se

[2018-07-09 08:56] #228 closed, assigned to kazooo

[2018-07-09 09:06] kazooo commented on #269
Nevalidni zaznamy jsou odstraneny ze SOLRu.

[2018-07-09 09:06] #269 closed, assigned to kazooo

[2018-07-09 09:20] jkremlacek commented on #88
Na chybu jsem narazil v rámci https://github.com/moravianlibrary/kramerius/issues/265 (obsahuje i popis chyby a postup opravy). Strany jsem opravil.

[2018-07-09 09:20] #88 closed, assigned to hlavacekrene

[2018-07-09 09:27] jkremlacek commented on #151
Úplný seznam rozbitých stran (vč. těch zmíněných v tomto issue) je v https://github.com/moravianlibrary/kramerius/issues/254

[2018-07-09 10:50] jkremlacek opened #270 "Egypt mzk01/000/265/425 chybí data vč. odkazu v alephu"
uuid:d3025c34-d549-40e7-ac07-7fc6da8eede0 postrádá veškerá data (obrázky, zvuky) a záznam v alephu pod mzk01/000/265/425 postrádá informaci o tom, že byl zdigitalizován (odkaz do krameria/digitalni knihovna).

Jde o zrušený objekt, nebo o chybu v datech?

[2018-07-20 12:14] LenkaKravecova commented on #270
@indrakm, podařilo se ti, prosím, se na tento zvukáč podívat?

[2018-07-23 04:46] indrakm commented on #270
@LenkaKravecova ještě ne. Teď v týdnu to pohledám na lokále na 307 - snad ještě dneska.

[2018-07-24 12:12] indrakm commented on #270
nalezeno, předáno

[2018-07-30 07:54] jkremlacek commented on #270
Opraveno: www.digitalniknihovna.cz/mzk/view/uuid:d3025c34-d549-40e7-ac07-7fc6da8eede0

Zůstává problém s alephem, kde chybí url na digitální knihovnu, tam ale nemám právo na změny.

[2018-07-30 07:56] LenkaKravecova commented on #270
To není problém. Dám to tam ;)

[2018-07-30 11:01] #270 closed, assigned to nobody

[2018-07-31 13:54] LenkaKravecova commented on #267
Jen se zeptám k tomu poslednímu komentáři, nedívali jste se na ty chybějící strany, zda je máme v archivu, @zafan ? Zvlášť ty z mzk03. díky.

[2018-07-31 18:26] fstepanovsky commented on #267
@LenkaKravecova bohužel tam také nejsou. V archivu neexistuje nic z druhé a třetí části sysna, platí to pro všechny položky v tomto issue.

[2018-08-01 06:56] LenkaKravecova commented on #267
Ok, díky, zkusila jsem to :) Mzk01 nebude asi problém naskenovat, mzk03 ještě pohledají ve starých tiscích někde na svém disku..

[2018-08-01 12:06] LenkaKravecova commented on #250
Prosím, můžeš mi překontrolovat tato uuid zase na té úrovni page/monograph? Potřebuju uuid nejvyšší úrovně (tj. monografie), může se stát, že tu budou uuid stránky, což je špatně. Díky. Zatím nezveřejňovat.
[2_praxe_listopad2016-neverejne-kontrola_urovne.txt](https://github.com/moravianlibrary/kramerius/files/2249340/2_praxe_listopad2016-neverejne-kontrola_urovne.txt)

[2018-08-06 08:39] MarosGrm commented on #250
Zoznam s objektmi najvyššej úrovne:
[uuid.txt](https://github.com/moravianlibrary/kramerius/files/2261771/uuid.txt)

Objekt [uuid:34791800-8b4e-11e6-bf08-001018b5eb5] neexistuje

[2018-08-07 10:43] jkremlacek opened #271 "Národní listy - 1922 Volume 62 - Vzdělávací příloha Národních listů - rozbitý sken"
Jedna strana (uuid:3bc27839-435e-11dd-b505-00145e5790ea) má rozbitý obrázek (o velikosti 0) na imageserveru. Bude potřeba obrázek získat od zdroje (České Budějovice) a nahrát na imageserver.

[2018-08-07 11:46] LenkaKravecova opened #272 "Monografie na zveřejnění"
Prosím zveřejnit tyto monografie:
[1_cesti_spisovatele-zverejnit.txt](https://github.com/moravianlibrary/kramerius/files/2266238/1_cesti_spisovatele-zverejnit.txt)
[2_praxe_listopad2016-zverejnit.txt](https://github.com/moravianlibrary/kramerius/files/2266239/2_praxe_listopad2016-zverejnit.txt)
[3_praxe_rijen-prosinec2016-zverejnit.txt](https://github.com/moravianlibrary/kramerius/files/2266240/3_

[2018-08-07 11:57] jkremlacek opened #273 "[Statuta synodalia] chybí skeny"
strany:

- uuid:8a74ecbb-9cb1-41f4-ac22-694cf73a4f5b
- uuid:f7d9b52e-0eb4-4285-9ff9-2a65b15308aa

publikace uuid:733866f7-681e-43d9-a8a5-42e06cde9362 postrádají obrázky na imageserveru. Jde o STT a jména chybějících skenů jsou:

- MK086_00382.jp2
- MK086_00383.jp2

Sysno je mzk03/001/046/715

Bude potřeba se podívat do archivu, zda tam jsou uloženy.

[2018-08-07 12:03] fstepanovsky commented on #273
Tyto skeny bohužel v archivu nejsou:
* MK086_00382.jp2
* MK086_00383.jp2

[2018-08-07 12:07] jkremlacek commented on #273
Takže teď otázka jestli jsou ty skeny uložené ještě někde jinde, anebo bude potřeba ty 2 strany doskenovat.

[2018-08-07 13:43] jkremlacek opened #274 "Osiřelé objekty ve Fedoře bez obrázků"
V rámci řešení https://github.com/moravianlibrary/kramerius/issues/254 vypadlo 76 stran původem z MZK, které nemají rodiče ani obrazová data. K dispozici jsou pouze metadata, která ovšem obsahují v rámci strany pouze label s číslem strany.

Z odkazu na data v imageserveru se dá ve většině případů zjistit sysno bývalého rodiče - manuálně spolu s číslem strany by se teoreticky dalo alespoň u monogra

[2018-08-07 14:02] zabak commented on #274
Bylo by dobré zjistit odkud ta metadata pocházejí i u periodik. Ne že bychom dohledávali konkrétní stránku, ale abychom aspoň viděli, která periodika byla "zasažena". Na základě výsledků zkoumíní u monografií můžeme pak odhadnout, jestli je to problém nebo ne.

[2018-08-07 14:27] jkremlacek commented on #274
U periodik to je:
- mzk01
  - **Rovnost**
uuid:f1c7c08d-8f64-4b66-be28-5f209c2c7021
  - **Sdružení knihoven České republiky**
uuid:14e188f0-ef85-11e2-9923-005056827e52
  - **Moravský jih : týdeník měst a obcí jižní Moravy**
uuid:dca4a5f4-7516-4712-b5b0-7fd4f5683771
- mzk03
  - **Journal für Freymaurer**
uuid:5ac50e29-2790-4a62-90f9-dd7a33b0aad1
  - **Verzeichniss der Grossen Landes-Loge von Deutsc

[2018-08-07 14:45] zabak commented on #274
to boe801 je něco z Rajhradu, takže jestli bude někdo něco tušit tak Jindra.

[2018-08-08 04:50] indrakm commented on #273
Zkuste se zeptat Jirky Dufky, jestli se to nemůže válet u někoho na disku někde. Jinak budeme muset doskenovat.

[2018-08-08 04:55] indrakm commented on #274
Je docela možné, že Rajhrad bude mít Jindra nebo její holky někde na discích. Na mzk03 bych se poptal Jirky Dufky, jestli to někde nemají bokem. Mohl by případně i na potenciálního držitele externího disku nasměrovat :)

[2018-08-08 06:30] jkremlacek commented on #273
Napsal jsem mu, uvidíme jestli ta záloha existuje...

[2018-08-08 06:34] jkremlacek commented on #274
Každopádně nejdřív bude potřeba manuálně ověřit ty duplicity, abysme zbytečně nehledali něco co máme, jen s jiným UUID.

[2018-08-08 06:47] LenkaKravecova commented on #274
Už jsem domluvená s Luckou H., že se podívá po jiných chybějících dokumentech z Rajhradu, tak jí řeknu i toto. Jirka Dufka má prý jen mapy a grafiky.

[2018-08-08 08:16] LenkaKravecova commented on #272
A ještě prosím toto zveřejnit:
[4_praxe_kveten2018_zverejnit.txt](https://github.com/moravianlibrary/kramerius/files/2269471/4_praxe_kveten2018_zverejnit.txt)

[2018-08-08 08:35] LenkaKravecova opened #275 "Seznam volných dokumentů dle Alephu"
Mám tady seznam, který obsahuje údajně volné dokumenty dle Alephu. Je potřeba z toho seznamu odstranit položky s odkazem na kramerius.nkp.cz a položky, které už jsou v Krameriu jako veřejné (tedy prohnat nějakým kontrolním procesem). Zůstanou neveřejné dokumenty, které pak může někdo hlavoručně zkontrolovat a zveřejnit. Díky.

[dig-volne.txt](https://github.com/moravianlibrary/kramerius/files/2269

[2018-08-08 09:36] hlavacekrene commented on #272
podivam se na to.

[2018-08-08 09:37] hlavacekrene commented on #275
takze vyradit ze seznamu, co neni kramerius.mzk.cz
pak projit vsechna uuid, co bude private, tak zmenit na public.

[2018-08-08 09:51] LenkaKravecova commented on #275
Vyřadit ze seznamu, co není kramerius.mzk.cz (resp. digitalniknihovna.cz/mzk) - ANO
Projit vsechna uuid, co bude private, tak zmenit na public - NE !! Potřebuju jen zkontrolovat, co v tom seznamu už je public a to z toho seznamu dát pryč.

Změnu na public u private dokumentů musí udělat někdo po kontrole autorů. To bude dělat už někdo hlavoručně. Automaticky se to udělat nedá.

[2018-08-08 09:54] LenkaKravecova commented on #275
Takže to, co zůstane, bude seznam private dokumentů dle Krameria.

[2018-08-08 09:59] hlavacekrene commented on #275
dam Ti pak dva seznamy, jeden public.txt, druhy private.txt a menit nebudu nic.

[2018-08-08 10:01] LenkaKravecova commented on #275
jasně, může být.

[2018-08-08 10:46] LenkaKravecova opened #276 "Reindexace dokumentů, které jsou jazykové překlady"
V souvislosti s https://github.com/ceskaexpedice/kramerius/issues/436 bude potřeba dohledat všechny dokumenty, které mají v mods <mods:language objectPart="translation"> a reindexovat je. Cílem je, aby v případě překladů byl v solru pouze jeden jazyk.

[2018-08-08 14:57] jkremlacek opened #277 "Interní obrázky ve Fedoře"
V rámci https://github.com/moravianlibrary/kramerius/issues/254 bylo zjištěno 80408 stran s hlavními obrázky (IMG_FULL) uloženými ve Fedoře. Obrázky je třeba překonvertovat do jp2, uložit na Imageserver, datastreamy na něj přesměrovat a do RELS-EXT doplnit tiles-url.

Celkem zvláštní je, že se mezi obrázky nevyskytuje pouze formát jpg ale i djvu.

Edit: část obrázků je osiřelých, takže k nim nebud

[2018-08-09 09:13] kazooo commented on #276
Aktualne v Solru je 112 962 dokumentu, ktere maji zaindexovano vice nez jeden jazyk. Spustim reindexace na krameriusbatch.mzk.cz po castech.
[several_languages.txt](https://github.com/moravianlibrary/kramerius/files/2273469/several_languages.txt)

[2018-08-09 16:41] jkremlacek commented on #273
Jirka Dufka našel disky s touto dávkou - v pondělí obrázky doplním na imageserver.

[2018-08-10 06:21] indrakm commented on #273
well done :)

[2018-08-10 08:52] LenkaKravecova commented on #272
Zveřejněno. Díky.

[2018-08-10 08:52] #272 closed, assigned to hlavacekrene

[2018-08-13 10:40] jkremlacek commented on #273
Na discích jsou skeny do MK086_00381, takže to co na imageserveru je.

Tak mě napadá jestli je skutečně chyba s chybějícími skeny, nestalo se, že při zpracování metadat se tam vytvořily dvě stránky, které ve fyzické variantě neexistují?

[2018-08-13 14:03] hlavacekrene commented on #275
tak jsem to dal do tabulky sem.
https://docs.google.com/spreadsheets/d/14nrKSkhntc-X2ZY32_ba5TRNLqlCXjAAtlWLcPJ8AvQ/edit#gid=31265196
nejdriv je private, pak public a nakonec, co nejsou vubec - fedora  404 not found.
Ve vstupnim souboru txt to bylo tříděno podle sloupečku B. Sloupeček B je sysno?

[2018-08-14 09:20] LenkaKravecova commented on #275
Super, díky. Na ty 404 se podívám, moc jich není. Ano, sloupec B je sysno.

[2018-08-20 07:35] #277 closed, assigned to jkremlacek

[2018-08-20 07:41] jkremlacek commented on #277
Neosiřelé dokumenty jsou opravené. U osiřelých dokumentů:

https://gist.github.com/jkremlacek/1ee52022b054769025d7687d182e680e

bude potřeba udělat manuální kontrola.

[2018-08-20 07:44] jkremlacek commented on #274
Až bude probíhat kontrola sirotků, tak vznikl další seznam uuid (které mají k dispozici obrázky ve Fedoře, takže je půjde dohledat podle nich) viz https://github.com/moravianlibrary/kramerius/issues/277#issuecomment-414225754

[2018-08-21 10:44] jkremlacek opened #278 "Záznamy neexistujících dokumentů"
`uuid:98c686f0-09bb-11e5-b269-5ef3fc9bb22f` existuje v SOLR-u, ale ve Fedoře ne, po kontrole @kenji1322 zjistil, že jde o duplicitu

Taky by stálo za zvážení zkontrolovat SOLR na další takové záznamy.

Edit:
další takové záznamy, na které někdo pokoušel přistoupit:
`uuid:f33be040-5aee-11e2-bcaf-005056827e52`
`uuid:fdff74b0-1a06-11e3-b79f-5ef3fc9bb22f`
`uuid:91b49e81-19e7-11e3-b79f-5ef3fc9bb22f`

[2018-08-27 10:53] LenkaKravecova commented on #275
Tak ty 404 byly buď zastaralé odkazy v Alephu, které už neexistují, nebo porouchané dokumenty, které jsem nahlásila na reimport z LTP.

[2018-08-27 10:53] #275 closed, assigned to hlavacekrene

[2018-08-27 11:00] MarosGrm commented on #263
Opravené

[2018-08-27 11:00] #263 closed, assigned to MarosGrm

[2018-09-13 08:51] LenkaKravecova opened #279 "Replikace Svobodného slova z FSV UK"
Vyzkoušet novou replikaci i z imageserveru.

[2018-09-13 08:52] LenkaKravecova opened #280 "Export monografií pro VHÚ"
jp2 + foxml

[2018-09-26 10:04] #280 closed, assigned to hlavacekrene

[2018-10-01 09:37] LenkaKravecova opened #281 "Nelze spustit Administrace virt. sbírek"
Týká se to kramerius.mzk.cz.. Je tam "Prosím počkejte.." a po několika hodinách se nic nestane.

[2018-10-01 09:41] LenkaKravecova opened #282 "Obálky knih - u některých dokumentů se neuplatní filtr pro zveřejnění"
V Krameriu je nastavený filtr obálek a obsahů, který by měl umožnit prohlížení obálek a obsahů, i když jde o neveřejný dokument. Ale u těch, co jsme v poslední době zneveřejnili (ze set public nastavili na set private), to zveřejnění obálek nefunguje. V dokumentu jako takovém se viditelnost neupravuje, měl by to dělat ten filtr.. Co s tím může být?
Týká se to např. Dvanácti pohádek http://www.digi

[2018-10-01 09:45] LenkaKravecova commented on #276
@xermak00 napiš sem, prosím, aktuální stav, jak se to teď dělá, v jakém je to stavu atp. Díky.

[2018-10-01 10:23] jkremlacek commented on #281
Čekání na kramerius.mzk.cz nad 1 minutu je zbytečné, ty dotazy se automaticky ukončují, pokud se do jedné minuty nedokončí.

Žádné chyby na hlavním krameriovi nejsou, pouze je vysoká zátěž na databázi - musíme zjistit proč. (alternativou je, že něco někde zamrzlo a brzdí to provoz)

Prozatím je kdyžtak možné k administraci VS přistoupit skrze kramerius.infra.mzk.cz, tam se načte za (hrozných) 5,5

[2018-10-01 10:26] LenkaKravecova commented on #281
Já vím, že infra je "ok", ale ráda bych, aby to šlo i na "běžném" Krameriovi, protože do toho bude zasahovat víc lidí pod svými účty.. Probereme to na poradě, kdo se na to může podívat.

[2018-10-01 11:26] kazooo commented on #276
Všechny dokumenty jsou reindexované a to už na ostrém Solru. Ted' dokumenty ze seznamu nemají v Solru jazyky s atributem "translation" v MODSu.

[2018-10-01 11:26] #276 closed, assigned to kazooo

[2018-10-02 12:07] jkremlacek commented on #281
Po nočním updatu serverů trval dotaz (i opakovaně) do administrace VS podstatně rychleji (těžko říct proč):

Klient: 71s, 88s, 85s, 83s
API: 81s, 69s, 81s, 78s

[2018-10-09 10:23] LenkaKravecova commented on #282
Pro zajímavost, teď jsem zkušebně zrušila ten filtr obálek a obsahů a znovu ho nastavila a žádná změna nenastala. Data, která jsme změnili (třeba těch Dvanáct pohádek), na ten filtr pořád nereagují. Na ostatní data to funguje standardně..
Tak kdo se hlásí, že se na to podívá?

[2018-10-09 10:30] LenkaKravecova commented on #282
Jinak ani na infra to nefunguje, jak má :) Dvanáct pohádek odolává i tam..

[2018-10-09 10:40] LenkaKravecova commented on #281
A co když se zruší ten timeout?

[2018-10-09 10:46] LenkaKravecova opened #283 "Pohyblivá zeď do r. 1900 - zpřístupní i novější dokumenty"
Mám tu ještě jednu věc.. Někdo se musí podívat na funkci Pohyblivá zeď v nastavení Krameria. Jde o tu pohyblivou zeď, která zpřístupní i neveřejné dokumenty podle určitých kritérií (bez změny příznaku viditelnosti). V Krameriu by měla být nastavena na dokumenty, které mají rok vydání do 1900 včetně. Ale teď jsme si všimli, že zpřístupní i novější dokumenty, třeba uuid:695d35c0-9a10-11e7-920d-00505

[2018-10-12 12:37] LenkaKravecova opened #284 "Změna viditelnosti - u některých dokumentů neprojde"
Jde o občasný problém. U některých dokumentů skončí proces změny viditelnosti s chybou a to i při opětovném pokusu. Dělá to v instalacích kramerius nebo krameriusadmin. Na krameriu infra ten problém není.. Maroš už se na to dřív díval, tak to svěřím jemu. Díky..
Dnes se mi to stalo u uuid:9c27c230-22af-11e4-a8ab-001018b5eb5c, zveřejnila jsem to na infra.

[2018-10-15 11:21] kazooo commented on #278
Kontrola Solru doběhla, celkem je 449012 špatných záznamů. Dále spustím kontrolu duplicit, a všechny duplicity odmažu. Z toho co zůstane udělám seznam s id kořenů (pokud je) a všemi id špatných záznamu, které tem kořenům patří, aby všechno bylo dohromady.

[2018-10-15 12:35] jkremlacek commented on #281
Založeno issue na master-u https://github.com/ceskaexpedice/kramerius/issues/621

[2018-10-16 09:48] LenkaKravecova opened #285 "Import chybějících ročníků/čísel Volksfreund"
Jde o tato čísla/ročníky, data jsou u mě:
1921 - č. 98-296
1932 - č. 11-308, 5 příloh
1933 - celý ročník, čísla 1-305
1937 - č. 58-307

[2018-10-16 12:13] LenkaKravecova commented on #284
Další - uuid:1ad9c320-8be5-11e7-927c-001018b5eb5c, pro příklad nezveřejňuju na infra.

[2018-10-17 09:38] jkremlacek commented on #278
Neodmazaly se i záznamy, které měly protikus ve fedoře poškozený?

uuid:ba95c027-153e-4b98-9913-7725d04b2bdb ještě 26.června šlo v krameriu/digitalní knihovně načíst a teď ne...

Namátkově jsem zkusil další UUID z https://github.com/moravianlibrary/kramerius/issues/267 (první post) a taky nejdou už zobrazit.

[2018-10-17 09:45] jkremlacek opened #286 "Chybějící obrázky původem z NDK"
`uuid:05231380-834f-11e8-bb44-5ef3fc9ae867` nemá obrázky a potažmo celý nadřazený objekt `uuid:e2c27920-4866-11e8-afec-005056827e51`

na IS na cestě:  `/storage/ndk04/2018/07/e2c27920-4866-11e8-afec-005056827e51` nejsou žádné skeny

[2018-10-17 12:58] kazooo commented on #278
Když dokument má poškozené údaje ve Fedoře (které mají vliv na index) a někdo ho zreindexuje, tak zmizné z Krameria a Solru, do té doby ještě může byt v indexu a zobrazovat se.
Ale špatné cesty k obrázkam nemůžou to ovlivnit, index nedrží žadné info o tom (max. mime type imagu).

uuid:ba95c027-153e-4b98-9913-7725d04b2bdb opravdu nebyl v Solru, jen ve Fedoře, to jsem reindexoval, proběhlo to bez ch

[2018-10-22 10:14] hlavacekrene commented on #283
Vyreseno. Pohybliva zed nastavena do roku 1900.

[2018-10-22 11:15] LenkaKravecova commented on #283
Pohyblivá zeď měla nastavenou hodnotu 114 (let od vydání), teď to bylo upraveno na 118, takže je to vyřešeno.
Jinak dle @hlavacekrene:
databaze kramerius:
tabulka - criterium_param_entity - tady je ulozena hodnota, v nasem pripade ted cislo 118.
a s ni jsou svazane dalsi tabulky right_entity, rights_criterium_entity

[2018-10-23 08:01] #283 closed, assigned to hlavacekrene

[2018-10-25 08:12] kazooo commented on #282
Filtr umožňuje prohlížení obálek a obsahů pro ty stránky, které mají v MODSu element "mods:part" typu "FrontCover", "TableOfContents", "FrontJacket". Obálky z "Dvanáct pohádek" mají v MODSu typ "jacket", proto prohlížení nefunguje jak má. @LenkaKravecova máš nejaký seznam s uuid dokumetů, u kterých to nefunguje?

[2018-10-25 08:23] LenkaKravecova commented on #282
Jo, aha, tak to bude problém u starších dat. Nová data by měla mít v popisu "frontcover" a "frontjacket". Nedá se do toho filtru teda přidat i "jacket"? Seznam bohužel nemáme.

[2018-10-25 08:27] kazooo commented on #245
Opravený editor částí je v novém releasu [Krameria 5.4.2](https://github.com/ceskaexpedice/kramerius/releases/tag/5.4.2)

[2018-10-25 08:27] #245 closed, assigned to kazooo

[2018-10-25 08:27] kazooo commented on #237
Opravený editor částí je v novém releasu [Krameria 5.4.2](https://github.com/ceskaexpedice/kramerius/releases/tag/5.4.2)

[2018-10-25 08:27] #237 closed, assigned to kazooo

[2018-10-25 08:35] kazooo commented on #282
Dá se, ale je to oprava kódu a bude potřeba updatovat minimálně ty Krameria, ve kterých chceme takové obálky vidět.

[2018-10-25 08:37] LenkaKravecova commented on #282
To nevadí. Jde zejména o produkčního Krameria.

[2018-10-25 08:42] kazooo commented on #282
Dobře, opravím to, možna znáš jaké by mohly byt ještě typy, abych to dal pohromadě?

[2018-10-25 08:46] LenkaKravecova commented on #282
Obecně se dávalo "jacket", teď se dává "frontjacket" nebo to "frontcover". Myslím, že další typy pro označení začátku knihy už nejsou.

[2018-10-25 08:48] zabak commented on #282
Pak to prosím pošli i do upstreamu.

[2018-10-29 07:49] MarosGrm commented on #286
Pardon, ze sa k tomu vyjadrujem az teraz. Import prebehol v poriadku a v NK su obrazky vidiet, takze data by mali byt tiez ok. Bud sa nejako tie obrazky zmazali zo servra, alebo nastala chyba pri kopirovani dat z WF. V kazdom pripade bude treba reimport z LTP.

[2018-10-29 12:26] LenkaKravecova commented on #286
Nahlásím na reimport.

[2018-11-07 10:27] kazooo commented on #284
U uuid:9c27c230-22af-11e4-a8ab-001018b5eb5c předpokladám, že to bylo spojeno s indexací geo. názvu, která zasahla do prod. Krameria a bylo opraveno v 3231c90, jinak podle logů změna viditelnosti spadla na chybě SOLRu. Kramerius infra to neměl, proto šlo zveřejnit tam.

[2018-11-07 10:30] kazooo commented on #282
Změna je na produkci a upstreamu.

[2018-11-07 10:30] #282 closed, assigned to kazooo

[2018-11-08 09:22] annie-cz opened #287 "Nefunkční administrace popisů a obrázků ve virtuálních sbírkách"
Sbírku lze založit a vkládat do ní dokumenty, nelze ji ale dále editovat, co se týče popisů (změna se neuloží, pouze donekonečna běží "prosím vyčkejte") ani obrázků (nelze ani nahrát, nedojde to ani do fáze vyčkávání). Odpovídá pravděpodobně již uzavřenému issue #234

[2018-11-09 07:54] LenkaKravecova commented on #287
@xermak00 můžeš se na to podívat? Minule jsi to taky řešil ty. Díky moc!

[2018-11-09 08:12] annie-cz commented on #287
Nevím, jestli s tím někdo něco už dělal, ale teď se mi podařilo úspěšně nahrát jak popisy, tak obrázky. Nicméně je hodně zvláštní, že to dva dny nejde (nahrávala jsem např. obrázky pokusně přes noc a neprošlo to) a pak to zázračně najednou projde.

[2018-11-11 11:29] jkremlacek commented on #287
Ta chyba byla v seznamu virtuálních sbírek, kde se Kramerius pokoušel načítat neexistující sbírku `vc:7252befa-0e8c-4875-af64-882b6ed328ef` ve Fedoře (viz gitter), která se do našeho SOLRu zavlekla nejspíš s nějakým importem.

Řešil jsem to s Martinem a ten problém byl dříve i u replikací https://github.com/ceskaexpedice/kramerius/issues/495, kde se to opravilo, ale nejspíš se ta oprava nedotkla i

[2018-11-12 08:19] annie-cz commented on #287
Zajímavé. Každopádně update: do čtvrtka to nefungovalo, v pátek to zas jelo v pořádku, dneska to nejede znovu.

[2018-11-13 09:00] jkremlacek commented on #287
Při importu foxml, které obsahuje odkaz na neexistující virtuální sbírku, k zaindexování do solru nedojde vůbec, protože proces reindexu padne. Do fedory se dostane foxml včetně odkazu na neexistující virtuální sbírku. Pro tento problém jsem založil issue: https://github.com/ceskaexpedice/kramerius/issues/630

Náš problém na ostrém solru je ale jiného původu, protože ve fedoře odkaz není a v solru

[2018-11-13 11:53] LenkaKravecova commented on #284
@xermak00 Podíváš se, prosím tě, i na tohle uuid:1ad9c320-8be5-11e7-927c-001018b5eb5c? Tam je kořen zveřejněný, ale nechtějí se zveřejnit i ty svazky (monographunit).

[2018-11-14 08:28] kazooo commented on #284
Indexace geo. názvu byla opravena na začátku listopadu, do té doby změna viditelnosti nešla u některých dokumentu. U uuid:1ad9c320-8be5-11e7-927c-001018b5eb5c měnila se viditelnost 16/10/2018 a skončila s chybou v Solru. Dneska jsem znovu zveřejnil a všechno proběhlo bez chyb a v Solru je to ted' take public.

[2018-11-14 08:28] #284 closed, assigned to MarosGrm

[2018-11-15 08:12] jkremlacek commented on #287
Co se týče chyby editace, tak chyba nastane okamžitě, server vrací chybový kód 500 a chybovou hlášku:
https://gist.github.com/jkremlacek/c3e6a8d8c42f26917cf8ccf82ed9ab8b

Chyba je v tom, že není nalezen dočasný soubor virtuální sbírky, proč se to děje ale zatím nevím.

Edit:
- Na **kramerius.infra.mzk.cz** se to děje, protože server nemá sdílené úložiště se serverem fedory, takže si nejsou schopni

[2018-11-15 10:17] LenkaKravecova opened #288 "Export monografií pro SVKOS"
Prosím vyexportovat foxml a obrázky pro tato uuid:

uuid:96f32d60-5df8-11e5-b7d6-5ef3fc9bb22f
uuid:dce08210-5e12-11e3-bc9f-5ef3fc9bb22f
uuid:985eb7c0-088e-11e4-a61e-5ef3fc9bb22f
uuid:0531ca1c8ffb6e8bcec22c2c02e62efa
uuid:a2aa4030-f7d8-11e3-b4ad-005056827e51
uuid:966b3f20-5801-11e4-97e9-5ef3fc9bb22f
uuid:e863ca40-457d-11e4-a450-5ef3fc9bb22f
uuid:bdeb51f9051df1418ffd92c80f22077c
uuid:455877b0-751b-1

[2018-11-15 11:06] jkremlacek commented on #288
Jen se ujistím, záměrně jde jen o první strany a ne o celé publikace? (vyjma poslednich 3 uuid) Nebo se má exportovat nadřazený objekt stránky?

[2018-11-15 11:27] LenkaKravecova commented on #288
Achjo :( Jde o celé publikace. Ten seznam jsem nevytvářela já ;)

[2018-11-19 12:29] #288 closed, assigned to jkremlacek

[2018-11-20 11:40] LenkaKravecova opened #289 "Statistiky Krameria - nelze spustit"
Už jsem asi trapná, ale nejdou spustit Statistiky v Krameriu. Na infra to naštěstí jde, ale tam to končí na tom, že např. prohlížených monografií za uplynulých 9 měsíců je 223 položek. Což neodpovídá realitě..
Takže další lahůdka.

[2018-11-20 12:06] jkremlacek commented on #289
Ty statistiky by měly být pro daného klienta, takže čísla na kramerius.mzk.cz a kramerius.infra.mzk.cz budou rozdílné a 223 položek zobrazených na infra by sedět mohlo, protože na to chodíme jen občas my...

Proč to ale nejede kramerius.mzk.cz musím zjistit.

[2018-11-20 12:20] LenkaKravecova commented on #289
Ajo, to je vlastně fakt :( No, tak v tom případě je modul Statistiky v Krameriu nefunkční.. Je potřeba zjistit, proč se nespouští..

[2018-11-20 12:21] LenkaKravecova commented on #289
Vzpomínám si, že Statistiky blbly už dřív, ale myslím, že šly vždy spustit. Byl tam problém s timeoutem, že seznam dokumentů se nestihl vygenerovat. Víc by věděl @kenji1322

[2018-11-20 12:23] jkremlacek commented on #289
Zkusil jsem se na to podívat a chyba je ve spojení s DB, kdy se to spojení zavře než dokončí činnost, takže tam bude nějaký work-around.

Každopádně ta chyba by se uživateli měla zobrazit a ne vyhodit jen prázdný report, takže jsem založil issue https://github.com/ceskaexpedice/kramerius/issues/633

[2018-11-28 22:28] zabak opened #290 "Rašple - prázdný ročník 1917-1921"
V Rašpli je prázdný ročník 1917-1921 - to je nějaká chyba v datech?

[2018-11-28 23:12] jkremlacek commented on #290
Jde o chybu v datech, už se to řeší, generoval jsem @LenkaKravecova seznam uuid, které jsou tímto dotčené:

[out_clean.txt](https://github.com/moravianlibrary/kramerius/files/2626929/out_clean.txt)

Edit: Jen pro upřesnění: Chyba je v tom, že chybí data ve Fedoře.V Solr-u jsou pozůstatky, dají se podle uuid ze seznamu najít.

[2018-11-29 16:39] annie-cz commented on #290
Vím o tom a hlásila jsem to jako tiket LTP v Service Desku s žádostí o reimport (TI 7079, 13.10.). Pokud se to ale podaří vyřešit jinak, tiket stáhnu.

[2018-12-10 11:32] kazooo commented on #278
Příkladám seznamy neexistujících dokumentů:
 - [duplicity.txt](https://github.com/moravianlibrary/kramerius/files/2662828/duplicity.txt)
   Kopie dokumentů, struktura:
    - root_title kořene (uuid kořene)
           uuid kopie -> uuid originálu (model kopie, % shody podle parametrů, % shody textu)
 - [not_deleted_residue.txt](https://github.com/moravianlibrary/kramerius/files/2662864/not_deleted_

[2018-12-11 13:26] zabak opened #291 "krameriusndk.mzk.cz - přesměrování na dk"
NK má v Alephu ve svých záznamech odkazy typu http://krameriusndk.mzk.cz/search/handle/uuid:a4d30470-769a-11e2-abbe-005056827e51
mohli bychom zprovoznit přesměrování těchto záznamů na digitální knihovnu?

[2019-01-11 13:14] LenkaKravecova opened #292 "Na bojišti slavkovském - s. 10"
Tento dokument uuid:13095456-3492-4204-af96-8f1828c70ff4 má jako první stranu č. 10. Nejde to seřadit pomocí funkce Sort. @xermak00 můžeš se podívat, jestli je problém v solru nebo příp. i ve Fedoře, a opravit to? Díky.

[2019-01-14 08:52] LenkaKravecova commented on #292
Tak už je to seřazené. Dělal jsi s tím něco, @xermak00 ? :)

[2019-01-14 10:43] kazooo commented on #292
@LenkaKravecova ano, metadata ve Fedoře u té knižky jsou v pořádku, ale v Solru byly špatné hodnoty položky **rels_ext_index** (podle které jde řázení při zobrazení v Krameriu) pro všechny stránky kromě č. 10. Stránka č. 10 měla ten index **10** ale ostatní byly číslované od **208** a proto 10-tá stránka vždy byla první. Takže reindex celé knižky opravil hodnoty u stránek a je to už seřazené.

[2019-01-14 10:43] #292 closed, assigned to kazooo

[2019-01-15 10:08] annie-cz opened #293 "Hromadné zveřejnění/zneveřejnění UUID"
Prosím o hromadné zveřejnění/zneveřejnění UUID viz seznam zde: https://docs.google.com/spreadsheets/d/1h3xvlQSbrLXgb8xafu0DwgNtulnkLspmLRWqVkk76Yo/edit?usp=sharing. Díky :)

[2019-01-16 12:02] annie-cz commented on #291
Přesměrování funguje, neděje se tak pouze, když si to otevřeme my v MZK síti.

[2019-01-18 10:22] kazooo commented on #187
S novým Solrem 7.5.0 a lemmatizovanými textami funguje bez problemů.

[2019-01-18 10:22] #187 closed, assigned to kazooo

[2019-01-18 10:24] kazooo commented on #190
Během migraci na Solr 7.5.0 všechny texty byly zlemmatizované.

[2019-01-18 10:24] #190 closed, assigned to kazooo

[2019-01-18 16:43] jkremlacek commented on #291
@zabak : je to tak jak popisuje @annie-cz vpořádku, nebo má přesměrování proběhnout na MZK síti?

[2019-01-18 18:20] zabak commented on #291
Je ještě nějaký důvod to uvnitř MZK nepřesměrovávat? Na admin. rozhraní se dostaneme jinou cestou, API se to netýká, takže bychom to myslím přesměrovat mohli i uvnitř MZK - případně si to můžeme potvrdit na poradě.

[2019-01-18 19:23] jkremlacek commented on #291
Mě žádný důvod nenapadá, snad jen pokud by potřeboval přístup @kenji1322 třeba kvůli nějakým skriptům obsluhujícím krameria pro NDK importy - pokud ne, tak tomu asi nic nebrání.

[2019-01-19 15:53] kazooo commented on #293
Zveřejněno a zneveřejněno :)

[2019-01-19 15:53] #293 closed, assigned to kazooo

[2019-01-21 12:18] rzeh4n opened #294 "nedostupný OAI Provider"
OAI-PMH Provider byl na https://kramerius.mzk.cz/oai/, teď vrací https://kramerius.mzk.cz/oai/?verb=Identify chybu. Vypadá to, jako by se při přechodu na novější solr zapomnělo na oai4solr.

[2019-01-21 12:34] kazooo commented on #294
Podle autora OAI provideru, verze pro Solr 7.x se [neplanuje](https://github.com/IISH/oai4solr/issues/16), a bude potřeba vymyslet nějakou alternativu misto něj.

[2019-01-23 05:36] kazooo commented on #246
Nuní produkční Kramerius beží na Solru 7.5.0 s lemmatizovanými textami. V konečné verzi ze schematu byly odstraněny pole **text_lemmatized_nostopwords** a **text_ocr_lemmatized_nostopwords** (stop slova budou řešena na úrovni Krameria), uložení lemmatizovaných pole bylo vypnuto (Solr indexuje lemm. texty, ale nevrací je). Velikost výsledného indexu je ~420 GB, index byl zoptimalizován a sloučen do

[2019-01-23 05:36] #246 closed, assigned to kazooo

[2019-01-23 13:40] jkremlacek opened #295 "Chybějící obrázky na imageserveru"
Vše pochází z NDK, v Imageserveru jsou pouze prázdné adresáře (jde o nadřazené objekty, ne o strany).

[code]

vše k nám bylo importováno v červenci a srpnu 2018. Kontroloval jsem i adresáře pro červen a září, ale tam k této chybě nedošlo.

[2019-01-28 09:11] LenkaKravecova commented on #295
Ok, nahlásím vše na reimport z LTP.

[2019-01-28 09:15] LenkaKravecova opened #296 "Křesťanská revue - ročník 1982"
Jednotlivá čísla ročníku 1982 se chybně vřadily do ročníku 1929 uuid:5e14c500-b5be-11e3-b74a-5ef3fc9ae867. Obrázky tohoto ročníku nefungují a samotná úroveň ročníku se nevytvořila. Můžeme si to nějak opravit sami nebo je nutné to řešit přes LTP?

[2019-01-28 15:16] annie-cz opened #297 "Davidova houpačka - záměna čísel 1 a 9 v ročníku 1926"
V periodiku Davidova houpačka je č. 1 v ročníku 1926 ve skutečnosti č. 9 a naopak. Prosím tedy o prohození skenů z uuid:306e5010-490a-11de-a561-000d606f5dc6 s uuid:5beb3420-49db-11de-b268-000d606f5dc6 a naopak. Díky :)

[2019-01-28 15:38] jkremlacek commented on #297
Nevím jestli to chápu správně, ale mají se prohazovat veškeré stránky? Protože č.9 se zdá (minimálně titulní strana, kde je natištěné číslo - viz obrázek) vpořádku.

![screenshot from 2019-01-28 16-34-41](https://user-images.githubusercontent.com/9445927/51846818-a40dcb00-231a-11e9-8305-13318617923a.png)

A naopak u stránek čísla 9. jsou u ostatních stran v hlavičce označení číslo 10...

![screens

[2019-01-28 15:47] zabak commented on #297
Ano, musí se prohodit celá čísla (všechny stránky).

[2019-01-28 15:48] zabak commented on #297
Fakt. Co číslo jedna je plné tiskových chyb a zhruba i víme proč tam jsou.

[2019-01-28 15:59] kazooo commented on #297
RELS_EXT pro ***uuid:306e5010-490a-11de-a561-000d606f5dc6***
[code]
a pro ***uuid:5beb3420-49db-11de-b268-000d606f5dc6***
[code]

[2019-01-28 16:11] jkremlacek commented on #297
Rels-ext tu je v původní podobě pro případ, že by s tím bylo potřeba ještě něco dělat. Každopádně strany jsme s @xermak00 prohodili.

[2019-01-28 16:11] #297 closed, assigned to nobody

[2019-01-28 16:14] jkremlacek commented on #296
Chybějící objekt ročníku nemáme jak vytvořit, takže minimálně musí proběhnout import toho objektu a potom už jsme schopni připojit čísla kam patří.

[2019-01-28 16:16] LenkaKravecova commented on #296
Jeste otazka, co ty obrazky. Je problem pouze s odkazy nebo s obrazky jako takovymi?

[2019-01-28 16:25] jkremlacek commented on #296
Tak je to projistotu ještě víc zamotané:

Ta čísla ročníku 82 nejsou vůbec ve fedoře (tj. ne jen obrázky ale komplet i jejich metadata chybí) a je to pouze v Solr-u, takže to bude potřeba reimportovat.

[2019-01-28 16:29] kazooo commented on #296
Křesťanská revue je take v tom seznamu rozbitych casti, co jsem posilal pri reseni #278

[2019-01-28 19:14] LenkaKravecova commented on #296
Oki, necham to reimportovat.

[2019-01-29 10:11] annie-cz opened #298 "(Nejen) Davidova houpačka - chybné řazení čísel v ročnících - Digitální knihovna vs. Kramerius"
V (nejen) periodiku Davidova houpačka je problém s řazením čísel v Digitální knihovně a to nezávisle na stavu v Krameriovi. Tam je to seřazené správně, nicméně Digitální knihovna si s tím neumí poradit a ani nový klient. Navazuje to na Petrovu žádost, abychom se začali podobnými problémy více zabývat. Pro porovnání:

https://krameriusadmin.mzk.cz/search/handle/uuid:5a2dd690-54b9-11de-8bcd-000d606f

[2019-01-29 10:12] annie-cz commented on #298
#297

[2019-01-29 10:28] zabak commented on #298
Jako první krok bychom se měli naučit rozumět komunikaci mezi klientem a API, tj. vědět, na základě jakých údajů klient čísla řadí. Na základě toho se můžeme podívat co tam fakticky posíláme a to můžeme určitě ovlivnit. Kdo do toho pronikne?

[2019-01-29 14:10] annie-cz opened #299 "Chyby v názvech s citáty při vyhledávání v Digitální knihovně"
Kniha "Zrcadlo kořalečníků, čili, "Likér de bluj", Kořalka pfuj!" se zobrazuje ve výsledku vyhledávání v Digitální knihovně s chybou v názvu. Totéž se děje i v novém klientovi.

http://www.digitalniknihovna.cz/mzk/uuid/uuid:b02c6577-5fbe-11e1-ae74-0050569d679d

![image](https://user-images.githubusercontent.com/43028501/51913726-789ce600-23d7-11e9-9b15-8ed8036eea34.png)
![image](https://user-image

[2019-01-29 14:22] annie-cz commented on #299
Chyba se objevuje i u dalších dokumentů, které mají v názvu nějaký citát. Např.:

Městská hudební škola "Dvořák" ve Zlíně
http://www.digitalniknihovna.cz/mzk/uuid/uuid:ab9d8c50-bbd4-11e8-9480-5ef3fc9ae867
![image](https://user-images.githubusercontent.com/43028501/51914641-9ff4b280-23d9-11e9-85e4-2c7ab44c0f89.png)

[2019-01-29 19:00] LenkaKravecova commented on #278
Ten třetí seznam jsme řešili s Alexem přes mail. Co šlo, tak jsem nahlásila na reimport z LTP.

[2019-01-30 10:22] kazooo commented on #299
Jsou to špatné zaindexovaná data, zreindexoval jsem obě knižky а názvy jsou opravené. Vytvořím seznam podobných dokumentů, a postupně je zreindexuju.

**EDIT**:
tady jsou uuid knižek, které mají zaindexované &quote a &apos
[quotes&apos.txt](https://github.com/moravianlibrary/kramerius/files/2812352/quotes.apos.txt)

[2019-01-30 11:46] annie-cz opened #300 "Hromadné zveřejnění dokumentů vydaných do roku 1900"
Prosím o hromadné zveřejnění všech dokumentů, které byly vydány do roku 1900 (včetně). V Krameriovi je momentálně přes 600 takových dokumentů, ve většině případů se jedná o data z Národní knihovny a dokumenty s daty vydání v hranatých závorkách. Díky!

[2019-01-30 12:52] annie-cz commented on #299
Koukám, že se to týká i nejen dvojitých uvozovek ", ale i apostrovů ' ... viz: http://www.digitalniknihovna.cz/mzk/uuid/uuid:59e708b6-c462-4610-90c5-ac5ca030050a
![image](https://user-images.githubusercontent.com/43028501/51982434-4900e300-2496-11e9-87ac-18469465b0fc.png)

[2019-01-30 13:09] zabak commented on #299
Stálo by za to otestovat i další podobné podezřelé znaky - &,# apod.

[2019-01-30 14:35] kazooo commented on #229
Modely typů map a graphic byly zreindexovány na Krameriu 5.4.2, a nyní obsahují geo. názvy a souřadnice.

[2019-01-30 15:41] LenkaKravecova opened #301 "Import zbylých grafik do Krameria"
Na imageserveru se stále nachází grafiky, které nejsou v Krameriu, např. tyto https://vufind.mzk.cz/Search/Results?lookfor=richter%2C+franti%C5%A1ek&type=Author&filter%5B%5D=format%3A%22Photo%22&filter%5B%5D=statuses%3A%22available_online%22

Chceme je mít v Krameriu komplet. Postup bude následující:
1) Zjistit, co z Alephu stále odkazuje na imageserver.
2) Prověřit, zda to opravdu není v Krameriu

[2019-01-31 13:24] annie-cz commented on #299
Tak SOLR má bezpečně problém se speciálními znaky. Ve výsledcích vyhledávání se zobrazují špatně i další znaky, např. < a >, viz:
http://www.digitalniknihovna.cz/mzk/uuid/uuid:85f191d0-e3e4-11e8-9984-005056825209
![image](https://user-images.githubusercontent.com/43028501/52056889-ce9e9480-2563-11e9-9f15-43ab3824011f.png)

[2019-02-01 12:32] kazooo commented on #299
Příkladám seznam uuid kořenových dokumentů, kde se objevily takové chyby v názvech a jmenach autorů
[bad_chars.txt](https://github.com/moravianlibrary/kramerius/files/2821536/bad_chars.txt)

[2019-02-05 21:09] kazooo commented on #299
Záznamy s chybami v názvech a jmenach autorů jsou opraveny, ale ty chyby mají také full text pole a to u ~16 mil. záznamů. Napsal jsem skript na opravu těch záznamů, který za pomoci částečného updatu dokaže všechno opravit relativně rychle (~0.5-0.7 mil. denně). Problem je, že při částečném updatu Solr označuje staré záznamy jako odmazané (nehledá mezi nimi, ale jsou stále na disku) a nahrazuje je

[2019-02-05 21:53] zabak opened #302 "Chyby v názvu místa uložení"
http://kramerius.rychtar.cloud/mzk/browse?sort=alphabetical&category=locations
první dvě položky jsou sigly místo názvu knihovny, celkem 4 dokumenty - mají siglu místo místa, navíc ty se siglou ABD065 mají ve skutečnosti signaturu MZK, takže jde asi o nějakou chybu. Zároveň navrhuji opravit 19x Moravská zemská knihovna - Pedagogická knihovna na
Moravská zemská knihovna v Brně

[2019-02-05 22:31] zabak commented on #299
Ahoj, David říkal, že už by mělo být k dispozici SSD pole, takže doporučuju nejprve se s ním domluvit aby přidělil dostatek místa, přemístit index na ssd, pak spustit tento proces a pak optimalizaci indexu, vše už na SSD.

[2019-02-06 08:50] LenkaKravecova commented on #302
To vypadá na stará MZK data, co prošla Meditorem (dívala jsem se na pár), opraví se přímo ve Fedoře.

[2019-02-06 09:13] LenkaKravecova commented on #300
@xermak00 Už je to zveřejněno, že? Ještě tam byly ty chybky v datu vydání v solru, že některé dokumenty se zobrazovaly mezi starými, i když byly novější.

[2019-02-06 11:30] kazooo commented on #300
Ano, je to už zveřejněno, chyby byly opraveny, ale zobrazují se periodika u kterých rok vydání 18xx - 19xx, ale mají privatní ročníky z roků 1901 a novější.

[2019-02-08 08:36] kazooo commented on #300
Kromě novějších ročníků vše je zveřejněno.

[2019-02-08 08:36] #300 closed, assigned to kazooo

[2019-02-13 10:23] jkremlacek opened #303 "Viditelnost neveřejných PDF v klientech"
U jednoho PDF (uuid:7f0f5c57-2e62-4033-b439-76e47636a223) nastala nekonzistence viditelnosti.
Fedora, Solr a Kramerius dokument označovaly jako private. Zobrazení v digitální knihovně se chovalo jako u neveřejného dokumentu, nicméně v klientech krameria (novém i starém) se PDF zobrazilo.

Po spuštění procesu na nastavení private a reindexaci se už PDF nezobrazí na žádném z klientů, nicméně klient

[2019-02-14 10:13] LenkaKravecova opened #304 "Zobrazení ročníků a čísel v novém klientovi - mřížka nebo kalendář?"
V MZK teď probíhá diskuze nad tím, zda při zobrazení ročníků a čísel defaultně zobrazovat mřížku nebo kalendář. Momentálně se zobrazí kalendář a dá se to změnit na mřížku. S Martinou se přikláníme k tomu jako výchozí dát mřížku (zobrazí se hezky obálky s datem vydání a číslem ročníku/čísla) s tím, že do kalendáře si to může každý přepnout sám. Ten kalendář nebo výpis roků (v případě ročníku) více

[2019-02-14 10:28] annie-cz commented on #304
Z pohledu uživatelského mi ty obálky připadají i lepší z důvodu atraktivity. Uživatel si z principu raději otevře k přečtení nějakou zajímavou obálku, než aby klikal na náhodná čísla v kalendáři a pak byl příjemně překvapen, že to vypadá zajímavě.

[2019-02-14 11:38] erikamirova commented on #304
Já jsem taky pro mřížky. Vypadá to líp.

[2019-02-14 15:09] indrakm commented on #304
já jsem taky pro mřížku

[2019-02-15 08:46] kazooo commented on #304
Taky pro mřížku, je nej :+1:

[2019-02-18 08:46] LenkaKravecova commented on #304
Díky za reakce. Teď už jen to chce dobrovolníka, který to nastaví na mřížku :)

[2019-02-18 09:57] jkremlacek commented on #304
Přehodil jsem to (stránka si ale pamatuje poslední volbu, takže pokud to chcete vidět ve výchozí podobě, tak je potřeba použít anonymní režim internetového prohlížeče).

[2019-02-18 11:09] LenkaKravecova opened #305 "Časová osa v Krameriu - divné chování při zadávání roků"
Mám tu divné chování Krameria, nejspíš jde o bug. Když si např. vyhledám dokumenty podle autora a pak na časové ose zadám do kolonky "do" nějaký rok vydání a pak to chci upravit, tak tam zůstane určitý rok, který už pak nejde přenastavit, ani kalendář další roky nenabízí.

Např. https://krameriusadmin.mzk.cz/search/r.jsp?forProfile=dateaxis&forProfile_sorting_dir=&debug=&sort=&q=&issn=&title=&keyw

[2019-02-18 11:19] LenkaKravecova commented on #305
Jo a špatné je, že se kvůli tomu nepřenastavitelnému roku vyhledá méně dokumentů. Neinformovaný člověk to bude pokládat za kompletní výsledek, ale kompletní to opravdu není. V případě toho odkazu nahoře, když to změním v url na rok 1970, tak se mi vyhledá o 25 knížek víc.
Poprosila bych Alexe, aby na to mrkl.

[2019-02-18 11:31] LenkaKravecova commented on #304
No, já nevím. Mám tam stále výchozí kalendář i v anonymním režimu.

[2019-02-18 11:48] jkremlacek commented on #304
Otázka jestli se to nechová různě na rozdílných periodikách...

http://digitalniknihovnanew.mzk.cz/mzk/periodical/uuid:e55fb7c0-711a-11e2-b9fa-005056827e52 se načetlo mě i @zafan s mřížkou

[2019-02-18 11:54] LenkaKravecova commented on #304
To je právě možné, ale ta konfigurace by to měla přebít, ať už jde o jakákoliv data. Měla by se tam vždy zobrazit mřížka.

[2019-02-18 13:55] jkremlacek commented on #304
pak se to asi neděje a bude to potřeba řešit u čeho to nejde, protože to periodikum se už díky té konfiguraci zobrazuje s mřížkou, což předtím nedělalo.

[2019-02-19 09:37] LenkaKravecova commented on #304
Dobře, tak třeba Rovnost 1915 (a jiné ročníky) - http://www.digitalniknihovna.cz/mzk/periodical/uuid:92d81c71-69ab-4352-af05-57ecf2e1d288

[2019-02-19 10:11] jkremlacek commented on #304
Tak šlo o oddělenou konfiguraci pro čísla, nicméně jako vedlejší efekt je citelně pomalejší načítání, protože těch čísel je řádově víc než ročníků... chce to tedy ještě zvážit jestli hezká prezentace stojí za čekání.

Edit: Za mě je na úrovni seznamu ročníků mřížka smysluplná, na úrovni seznamu čísel už ne (kde je až nepříjemná - musím čekat a ke konkrétnímu číslu se musím prokousávat dlouhým sezn

[2019-02-19 11:01] LenkaKravecova commented on #304
Hm, nevím, co dělám špatně, ale já u některých ročníků furt vidím kalendář.

Jinak právě na úrovni čísel byla mřížka žádaná.. Zatím bych to nechala tak, že to za to čekání stojí. Uvidíme, jestli si někdo bude stěžovat. Ještě teda, aby se  ta mřížka opravdu zobrazovala jako první. Nevím, jak bych lidem vysvětlovala, že si to musí zapnout v anonymním režimu (mně to teda nejde ani v něm).

[2019-02-19 12:03] LenkaKravecova commented on #304
No, tak jsem si pohrála s prohlížečem a už to jde. Nevím, co to zas bylo :D Rychlost mi přijde v pohodě.. Takže to máme hotovo. Díky moc.

[2019-02-19 12:09] #304 closed, assigned to jkremlacek

[2019-02-19 14:32] LenkaKravecova commented on #279
V listopadu 2018 jsme se dohodli, že to uděláme postaru z několika důvodů (tj. foxml a obrázky jsme dostali externě a budeme si je dávat do Krameria mimo ten proces replikace).

[2019-02-19 14:34] LenkaKravecova commented on #285
Potřebuji někomu ta data předat, takže to dávám na @hlavacekrene a posílám mu skeny :) Kdo to pak udělá, je na dohodě. Díky.

[2019-02-19 14:48] LenkaKravecova commented on #268
Souvisí s https://github.com/moravianlibrary/kramerius/issues/279. Mělo by to vyřešit tento problém.

[2019-02-19 14:53] #250 closed, assigned to LenkaKravecova

[2019-02-19 14:56] LenkaKravecova commented on #205
Toto budeme řešit pro nové uživ. rozhraní v textu k tomu určenému. Zavírám.

[2019-02-19 14:56] #205 closed, assigned to LenkaKravecova

[2019-02-19 15:06] LenkaKravecova commented on #267
Ty mzk01 věci už se udělaly nově přes NDK, takže ty už jsou ok. Jsou ty chybné ještě ve Fedoře? Pokud ano, můžou se celé smazat.

Ty mzk03 věci jsou v řešení.

[2019-02-20 08:57] jkremlacek commented on #267
věci z mzk01 zůstaly v krameriovi a fedoře (v solru už nebyly), takže smazáno

[2019-02-21 13:07] jkremlacek commented on #305
Ta úprava filtru je spíš rozšíření funkcionality než bug.  Osa se přizpůsobuje výsledkům filtrů, a umožňuje dál omezovat ty výsledky.

Pokud by osa měla umožňovat úpravu filtru, tak by se rozhraní muselo přepracovat (klient totiž neví jaký je plný rozsah vyhovujících dat výsledku za předpokladu, že ignorujeme "datumový" filtr).

Je tu možnost odebrat to přepisování roku v případě, že ho uživatel "

[2019-02-25 06:48] kazooo commented on #299
Kopie produkčního indexu byla přenesena na SSD pole (volume 2 Tb), kde proběhla oprava dokumentů. Oprava běžela 3-4 dní, a konečně index наrůstl o ~180 Gb. Po optimalizaci (1 den) index zabira ~440 Gb. V prubehu optimalizaci Solr spotreboval ~74% volumu.

[2019-02-25 07:06] kazooo commented on #305
Kramerius funguje tak, že při vyhledávání načítá ze Solru facety s roky a kolik daným rokům patří požadovaných dokumentů, ve tvaru:
[code]

Při dotazu Kramerius nastavuje parametr facet.rok.mincount=0, který říká Solru, aby ten vracel i roky, které nemají žadný dokument, specifikovány dotazem. Například, když položím dotaz na dokumenty v intevalu od 1905 do 2000 roku, Kramerius nastaví facet.rok.m

[2019-02-26 07:51] zabak commented on #305
@xermak00 jestli to chápu dobře, tak to co popisuješ je ještě jiná chyba, než kterou popisuje @LenkaKravecova - ta původní chyba je chyba UI - protože pokud to opravíš v URL, tak to funguje správně. Problém je tedy v tom, že se nedá do formuláře časové osy vyplnit jiný rok, když už jsem tam před tím nějaký zadal. To je bug, který by se opravit měl. Pak je tam další problém, který popisuješ ty, ale

[2019-02-26 07:53] zabak commented on #204
@xermak00 Je už toto vyřešeno?

[2019-02-26 07:56] zabak commented on #186
@LenkaKravecova tohle předpokládám bude řešit @xermak00 ...?

[2019-02-26 09:07] kazooo commented on #305
@zabak ano, přesně tak, co popisuju ja nemá vliv na vysledky, ale na kalendař v UI, který nedovoluje nastavit libovolný rok pokud nemá plný rozsah roků.

[2019-02-26 23:50] zabak commented on #305
Aha. Dal by se udělat rychlý fix tak, že by se v tom formuláři úplně zrušila podmínka na kontrolu roků? Nebo by se tam dalo jen něco volného - např. minimum je větší než 1000 a maximum je menší než 2025?

Petr

[2019-02-28 13:01] LenkaKravecova commented on #240
Nevím, co s tímto. Asi tam teď tu novou funkci nenasadíme, když modul Statistiky víceméně nemůžeme používat, že? Resp. ta nová funkce v Krameriu momentálně už je, ale nedostaneme se k ní, co?

[2019-02-28 13:01] LenkaKravecova commented on #198
@kenji1322 jaký je teď stav, prosím tě?

[2019-02-28 13:11] LenkaKravecova commented on #229
Ještě něco zbývá nebo se to může zavřít?

[2019-02-28 13:49] zabak commented on #229
Může se zavřít.

[2019-02-28 13:49] #229 closed, assigned to kazooo

[2019-02-28 20:58] zabak commented on #249
Vyřešeno, zavírám

[2019-02-28 20:58] #249 closed, assigned to MarosGrm

[2019-03-01 13:22] jkremlacek commented on #273
Chtělo by to určit osobu, která by mohla v originále zkontrolovat, zda tam existují stránky 382 a 383, které by (v případě jejich existence) bylo potřeba doskenovat - v opačném případě bychom odmazali objekty zmíněných stran.

[2019-03-01 13:41] jkremlacek commented on #215
Update:

ProArc už umí zpracovat PDF, nicméně není podporován export přímo do Krameria - je k dispozici pouze export do PSP balíku. Bude třeba zvážit zda doimplementovat do ProArc-u export PDF do Krameria, anebo jít cestou PSP balíků (kde je ovšem problém, že část zpracovávaných dokumentů nejsou "eborn").

[2019-03-02 10:08] zabak commented on #273
Ahoj, tohle vypadá na chybu v metadatech, obrázky nechybí. Zařídím. Ale nestačí jen odmazat objekty, musí se v každém případě opravit názvy stran a typ strany: IIr - strana má být správně BS - zadní přídeští a IIv - strana má být správně BC - zadní desky.

[2019-03-02 10:21] zabak commented on #273
ještě upřesním - myslím si, že chyba je už na začátku svazku protože číslování stran v metadatech je o 1 větší než čísla listů napsaná tužkou přímo na nich.

[2019-03-04 07:43] annie-cz commented on #273
Chyba vznikla zřejmě úplně na začátku, kde je první dvojstrana popsaná tužkou jako 1 označená jako strana IIIr a IIIv. Pak je 2 a ta je označená jako Ir a Iv.

[2019-03-04 08:52] kazooo commented on #199
Zbývá kontrola a oprava stránek, nějaká půlka už je opravená.

[2019-03-04 09:57] jkremlacek commented on #247
Bude řešeno pomocí DNNT.

[2019-03-04 09:57] #247 closed, assigned to hlavacekrene

[2019-03-06 08:18] kazooo commented on #83
Všechny uuid z tabulky zreindexovany.

[2019-03-06 08:18] #83 closed, assigned to kazooo

[2019-03-07 09:16] MarosGrm commented on #195
Zatváram, podobné problémy budú v samostatných issues.

[2019-03-07 09:16] #195 closed, assigned to MarosGrm

[2019-03-07 10:30] MarosGrm commented on #271
Opravené

[2019-03-07 10:30] #271 closed, assigned to MarosGrm

[2019-03-07 10:41] MarosGrm commented on #291
Ja myslím, že sa to môže presmerovať aj v MZK sieti, neviem o ničom, kde by toto bolo potrebné pre importy z NDK.

[2019-03-08 09:37] zabak opened #307 "Chybějící typ stránky u rukopisů"
U některých rukopisů jsou všechny stránky jako NormalPage. Bylo by potřeba tyto rukopisy najít a opravit. Stránky jsou u nich číslované dle konvencí Manuscriptoria, takže se na základě "čísla" stránky dá doplnit i její typ - viz. - viz. https://github.com/ceskaexpedice/kramerius-web-client/issues/175
Poprosil jsem @pavluska aby se na to podívala, ale možná bude potřebovat, aby někdo pomohl ty prob

[2019-03-08 09:43] honza-rychtar commented on #307
26x FC + NormalPage - https://kramerius.mzk.cz/search/api/v5.0/search?q=details:FC*NormalPage&fl=root_title,details&rows=100
24x SP + NormalPage - https://kramerius.mzk.cz/search/api/v5.0/search?q=details:SP*NormalPage&fl=root_title,details&rows=100

[2019-03-11 12:34] MarosGrm commented on #198
Funkčné

[2019-03-11 12:34] #198 closed, assigned to MarosGrm

[2019-03-11 13:33] MarosGrm commented on #240
Nová funkcionalita funguje, pozostáva problém so spúštaním generovania: https://github.com/moravianlibrary/kramerius/issues/289
Toto issue sa môže zatvoriť.

[2019-03-12 08:53] MarosGrm commented on #240
Generovanie štatistík spôsobuje preťaženie databázy. Nepoužívať!

[2019-03-12 15:44] zabak commented on #240
Nebylo by teda lepší ty údaje potřebné pro statistiky ukládat třeba do elasticu?

[2019-03-13 09:17] jkremlacek commented on #240
Vzhledem k objemu dat za rok by tam podle mě nebyl ten rozdíl tak závratný. Co se týče přetížení databáze, tak tam mě napadají varianty (seřazeno podle náročnosti/praktičnosti):

- přidat dostupnou výpočetní sílu serveru `dk-db`, ten stroj má momentálně pouze 2 CPU jádra a 2 GB RAM, což na každodenní aktivitu stačí, ale na vyjímečné situace už ne
- mít separátně databázi pro statistiky, u které by

[2019-03-13 09:19] kazooo commented on #199
Příkladám seznam uuid stránek a jejich kořeny, ktere propojuji.
[page_links.txt](https://github.com/moravianlibrary/kramerius/files/2960646/page_links.txt)
**EDIT:**
Z tohoto seznamu část jsou sirotky a ještě část jsou neodmazané triplety
[stranky_sirotky.txt](https://github.com/moravianlibrary/kramerius/files/2961353/stranky_sirotky.txt)
[neodmazane_triplety.txt](https://github.com/moravianlibrar

[2019-03-13 09:59] zabak commented on #240
Mimochodem, nepomohlo by vytvořit v té databázi nějaké klíče, indexy? Nebo něco denormalizovat? Samostatná databáze pro statistiky by to řešila, ale jestli se nepletu, tak se kvůli dnnt stejně uvažovalo o elk stacku..?

Petr

[2019-03-13 10:07] fstepanovsky commented on #240
@zabak

Koukal jsem se do zápisu z 9.1.2019 a logování bude prováděno do souboru (dnnt) o Elasticu jsme uvažovali my, protože to jde jednoduše integrovat do naší infrastruktury.

[2019-03-13 10:39] jkremlacek commented on #240
@zabak co se týče uspořádání dat, tak klíče použité jsou - čímž pádem nad ním postgres i vytváří index.

Denormalizace provedená taky je (tabulky  `statistics_access_log` a `statistic_access_log_detail` `statistic_access_log_detail_authors`, ve kterých jsou záznamy identifikovány pomocí `record_ID`).

Další řídké indexy by zpomalily vkládání záznamů, což je z hlediska výkonu Krameria kritičtější n

[2019-03-13 13:01] zabak commented on #240
V tom případě natvrdo přejít na ukládání do souboru podobně jako dnnt? Pro to jedno roční využití by stačilo napsat krátký skript, který by ten soubor prošel a to jedno (nebo několik) čísel vypočítal.

Petr

[2019-03-13 14:59] jkremlacek opened #309 "Osiřelé články + nekonzistence jejich metadat"
Vyskytl se problém s osiřelými články v krameriovi. (např.: uuid:141abe7b-2d44-4a18-a2cf-bd8ad92dacc2) Chybí jim vazba `<http://www.nsdl.org/ontologies/relationships#hasIntCompPart>` v tripletech.

Vazba patří ke konkrétnímu vydání (periodicalissue). Problém je, že k danému vydání se bez vazby dá dostat dvěma způsoby prostřednictvím MODS-u:

ukázka MODS prvního zmíněného uuid:

[code]

- pročtení

[2019-03-13 15:09] jkremlacek commented on #240
Je to hodně drsný řešení, osobně bych byl radši pro druhou instanci databáze, která bude pouze pro statistiky, ale dá se to samozřejmě řešit i souborem.

Pokud by mělo jít o obecné řešení pro všechny uživatele, pak jsou samozřejmě ty priority jinde. Pro instituce, které nemají docker a spuštění další databáze pro ně není otázkou 2 minut, by už varianta se statistikami v souboru byla lepší.

[2019-03-14 09:02] jkremlacek commented on #309
Vytvořil jsem seznam článků, které postrádají vazbu k objektu ve kterém se mají vyskytovat.

[articlesOut.txt](https://github.com/moravianlibrary/kramerius/files/2965559/articlesOut.txt)

[2019-03-18 11:15] annie-cz commented on #303
Našla jsem podobnou nekonzistenci a to u monografie Amerika, kulturní obrázky z Ameriky severní, uuid:aef5bcc0-42de-11e3-ad8c-005056827e52.

https://krameriusadmin.mzk.cz/search/handle/uuid:aef5bcc0-42de-11e3-ad8c-005056827e52
http://www.digitalniknihovna.cz/mzk/uuid/uuid:a318feb0-88d6-11e3-bbb0-5ef3fc9bb22f
http://localhost:4200/mzk/uuid/uuid:a417aa00-88d6-11e3-bbb0-5ef3fc9bb22f

Kramerius to zob

[2019-03-18 11:40] jkremlacek commented on #268
Chyba se replikací nevyřešila. Odkaz nově ukazuje na [imageserver](http://imageserver.mzk.cz/mzk01/000/181/899/1956/224/8b9d3f3c-d5e4-4814-b802-adb951715cc5/big.jpg), kde ale obrázek chybí taky.

[2019-03-18 11:40] #279 closed, assigned to hlavacekrene

[2019-03-18 11:41] annie-cz commented on #268
@hlavacekrene René, podívej se na to prosím, kde se stala chyba.

[2019-03-18 11:49] annie-cz opened #310 "Chybné zobrazování některých znaků v admin. rozhraní"
Některá písmena a znaky, jako např. u slova "příloha" se zobrazuje v administrátorském rozhraní špatně, viz obrázek. Neděje se nějaká neplecha se solrem nebo něčím na pozadí? V adminovi s tímhle takový problém není, my jako správci víme, o co se jedná, ale aby nám to nerozhodilo ještě něco dalšího.

![image](https://user-images.githubusercontent.com/43028501/54528039-04fd6b00-497c-11e9-9406-5de533

[2019-03-18 11:58] jkremlacek commented on #310
Toto je problém se znakovou sadou, který se děje na cestě Kramerius <---> počítač uživatele, se Solrem to naštěstí souviset nebude. Je potřeba ale zjistit, proč se tyhle texty rozsypávají.

[2019-03-18 12:46] annie-cz commented on #309
@pavluska Nevybavuješ si prosím v souvislosti s tímto issue něco? Dle @zabak by mělo jít o nějaká přepsaná data od paní Jiránové z roku 2011. Mělo jít o nějaký projekt ohledně Lidových novin, kterých se toto issue týká především. Případně nevzpomněl by si @rzeh4n ?

Aktuálně jsme se domluvili, že zjistíme co nejvíce informací, vyfiltrují se duplicity a pak se uvidí, co uděláme se zbytkem. Nepotřeb

[2019-03-18 13:32] hlavacekrene commented on #268
O tomto obrazku vim, poznamenal jsem si ho, vubec jsem jej od nich nedostal a u nich chybi taky. Je to volume 1956 issue 224  čtvrtý obrazek. U nich to chybí taky. http://kramerius.fsv.cuni.cz/search/i.jsp?pid=uuid:8b9d3f3c-d5e4-4814-b802-adb951715cc5&q=#periodical-periodicalvolume-periodicalitem-page_uuid:8b9d3f3c-d5e4-4814-b802-adb951715cc5        Museji to doskenovat a pak poslat, ja to pak u n

[2019-03-18 13:45] annie-cz commented on #268
Super, díky za informace, budeme tedy čekat.

[2019-03-18 14:42] rzeh4n commented on #309
Jo, byly to hlavně Lidovky, možná ještě něco menšího k tomu.
Zpracovával jsem to v 2010/2011, původní data (xsl/csv) byla z roku 2008 a 2009, takže si ti pamatuju jen matně. Ten MODS záznam jsem vytvářel z csv a pak jsem pro každý objekt článku vytvářel foxml s rels-ext vazbami isOnPage na konkrétní stránky. Už si přesně nepamatuju, jak jsem získal mapování na issue,page -> uuid, asi jsem si to vy

[2019-03-19 12:09] annie-cz commented on #273
Vyřešeno s Erikou, opraveno a znovu nahráno do Krameria. Zde zavírám.

[2019-03-19 12:09] #273 closed, assigned to nobody

[2019-03-19 13:47] jkremlacek commented on #273
Ještě koukám, že se opravou změnilo uuid, takže pro úplnost: nové uuid je `uuid:6bb7a768-4afc-48bb-aa81-81abc2d69ce4`.

[2019-03-20 14:51] kazooo opened #311 "Chybející částí dokumentů"
Periodiku chybí ročník 1820, zbytky čísel tohoto ročníku visí ve Fedoře, příkladám jejich uuid aby se neztratily:
[code]
Asi tady jenom reimport...

[2019-03-20 15:01] kazooo commented on #311
Uuid ztraceného ročníku: uuid:4e4f4990-616f-11e3-8c6a-005056825209

[2019-03-21 09:50] annie-cz commented on #311
Díky, víme o tom, již je nahlášeno v LTP.

[2019-03-22 11:47] kazooo commented on #311
**Revolver revue**: periodiku chybí číslo 66 ročníku 2007, uuid:df17c160-e6a0-11e5-8d5f-005056827e51, seznam odpojených stránek: https://gist.github.com/xermak00/dc7c0c559cd3b1c27d1fc3f58159db13

[2019-03-22 13:06] kazooo commented on #199
Ta část stránek ze seznamu **page_links.txt**, které měly informace o rodičích, je opravena.
Stránky z **stranky_sirotky.txt** jsem shlukoval podle cesty do obrazků na imageserveru ve snaze nějak odhadnout rodiče. U části těchto stránek se timto způsobem podařilo najit nadřazené objekty a přípojit je zpět a také najit jejich připojené verze, takže se jedna o duplicity.
[duplicity.txt](https://gith

[2019-03-25 06:23] marketakrutska commented on #311
Děkujeme, nahlásila jsem to do LTP.

[2019-03-26 07:59] honza-rychtar commented on #303
Pro zobrazení zámečků a fitrování podle dostupnosti používá klient pole **dostupnost** ze _solru_.
Zobrazení varování o neveřejnosti dokumentu se dělá pak na základě status kódu, který vrátí Kramerius při requestu na určitou stránku - konkrétně u dlaždic při requestu na _ImageProperties.xml_. Pokud vrátí **403**, tak se zobrazí varování o neveřejnosti.

Nekonzistence můžou být buď v tom, že celý d

[2019-03-28 09:40] zabak opened #312 "Topičův almanach"
Náhodou jsem narazil na monografii zpracovanou z neznámého důvodu jako periodikum.
http://kramerius.rychtar.cloud/mzk/view/uuid:ab48a100-2f5b-11e3-a5bb-005056827e52?page=uuid:bc830360-81a0-11e3-a70e-005056822549
Je to z NK, ale není mi jasné, jak někdo přišel na to, že jde o periodikum, když je to jednorázově vydaná kniha. Navíc v metadatech ani není skutečný název ale jen v hranatých závorkách ně

[2019-03-28 10:23] marketakrutska commented on #312
Poslala jsem to jako tiket do LTP. Špatně je už záznam v katalogu NK, takže si to musí opravit. Požádala jsem o opravu v EM (aby z toho udělali monografii) a o aktualizaci metadat z Alephu.

[2019-04-03 15:55] annie-cz commented on #310
Horší se to :( Víceméně jdu jen u některých voleb jen po paměti. Před cca měsícem a kousek jsem zakládala poslední sbírku, tak tam toto nebylo.

![image](https://user-images.githubusercontent.com/43028501/55493590-84a45e80-5639-11e9-92ad-d7c0d5f5f96d.png)

[2019-04-04 08:52] jkremlacek commented on #310
To mohlo být zacachované bez té chyby a až teď se ti načetla aktuální verze.

Co jsem to procházel, tak chyba je ve všem, co je obsaženo v javascriptu, statické věci jsou vpořádku.

Kontroloval jsem stav v krameriích ostatních institucí a problém se děje jen u nás.

Zkusil jsem tedy testovat různé nastavení builder-u a vylezlo z toho:
[code]

[2019-04-04 12:54] annie-cz commented on #268
Vyřešeno, zavíráme.

[2019-04-04 12:54] #268 closed, assigned to hlavacekrene

[2019-04-04 15:50] hlavacekrene commented on #310
Mame properties soubor /usr/local/tomcat/webapps/search/WEB-INF/classes/labels_cs.properties
v nem se popisky s diakritikou zapisuji pomoci utf8 entit \u????
Kdyz je diakritické pismenko zapsane pomoci jedne entity, zobrazi se v poradku. Kdyz je zapsane pomoci dvou entit, zobrazi se spatne.
Pokusove jsem zkusil napsat Pohyblivá zeď, pismeno ď bez entity - proslo to take.
Diakriticke pismenko sloze

[2019-04-08 12:25] jkremlacek commented on #310
Chyba byla zavlečena úpravou, která ještě není součástí oficiální verze. Vytvořeno issue https://github.com/ceskaexpedice/kramerius/issues/672

Edit: Pro potřeby MZK dočasně záplatováno commitem https://github.com/moravianlibrary/kramerius/commit/156bdf1f4eb117db922c0c45abbfa5db147a53bb, aby bylo admin. rozhraní použitelné. Po opravě výše zmíněného issue bude zapotřebí záplatu odebrat a použít řád

[2019-04-08 13:48] #310 closed, assigned to jkremlacek

[2019-04-10 07:18] jkremlacek opened #314 "Chybějící skeny z NDK"
seznam objektů nadřazených stranám:
[code]

chybí skeny všech stran, importováno v rámci NDK

Edit:

další UUID:

[code]

dokumentů bude zjevně víc a bude zcela zapotřebí zkontrolovat vše co bylo importováno v dubnu 2019

[2019-04-10 07:37] jkremlacek commented on #314
Chybné dokumenty byly nalezeny prostřednictvím Kibany (tím, že se je pokusil zobrazit uživatel). Soudě podle datumu ale půjde o systémovou chybu v konkrétních dnech, bude proto potřeba udělat kontrolu všeho co bylo v té době importováno z NDK.

[2019-04-10 12:49] kazooo commented on #299
Produkční index nyni běží na SSD pole s opravenými znaky.

[2019-04-10 12:49] #299 closed, assigned to kazooo

[2019-04-21 17:10] #223 closed, assigned to jkremlacek, kazooo

[2019-04-30 10:46] marketakrutska commented on #295
Reimport už proběhl. Vše je v pořádku.

[2019-04-30 10:48] jkremlacek commented on #295
http://www.digitalniknihovna.cz/mzk/view/uuid:7e026e40-6a95-11e8-828b-005056825209?page=uuid:92b567d0-834e-11e8-be68-5ef3fc9bb22f stále odmítá zobrazit obrázky.

Edit: Je toho víc, co stále nejde:

uuid:ebf74df0-6a93-11e8-828b-005056825209
uuid:ad33a5a0-6a93-11e8-828b-005056825209
uuid:ba9189b0-6a9d-11e8-943b-5ef3fc9ae867
uuid:84efa3a0-73c1-11e8-9588-5ef3fc9bb22f
uuid:0c470c80-6a9e-11e8-943b-5ef3f

[2019-04-30 10:54] jkremlacek commented on #295
Zdá se, že reimport neproběhl podle očekávání u chyb v periodikách, monografie se opravily správně.

[2019-04-30 10:57] marketakrutska commented on #295
Moc se omlouvám za zmatky. Všechny ty uuid, co jsi Kubo uvedl, ještě LTP nevyřídilo. Jak píšeš, jsou to všechno periodika.

[2019-04-30 11:06] marketakrutska commented on #286
V LTP už reimportovali.

[2019-04-30 12:31] #286 closed, assigned to LenkaKravecova

[2019-05-03 07:48] annie-cz opened #315 "Národní obroda"
V periodiku Národní obroda je u všech čísel v MODS otočené datum vydání, viz:

<dateIssued>06.01.1945</dateIssued>
<title>01.06.1945</title>

V Krameriovi se zobrazuje na první pohled korektně, klient si s tím ale poradit neumí (červnové číslo tak ukazuje v lednu apod.) a bude to třeba opravit.

Viz:
http://www.digitalniknihovna.cz/mzk/uuid/uuid:250daeea-a0ab-483a-b8de-aa284176a466
https://krameri

[2019-05-03 07:50] annie-cz commented on #315
@xermak00 Podívej se na to prosím a pokud by to šlo, tak spíše dříve. Chtěla jsem to použít na propagaci k výročí konce druhé světové války, ale v tomhle stavu se to moc nedá :(

[2019-05-03 13:10] annie-cz commented on #315
@xermak00 Po dohodě s paní Chlupovo prosím i o sloučení čísel 11, 16 a 22. Není to duplicita, ale při digitalizaci se to z neznámého důvodu rozdělilo a mělo by to být společně. Díky :)

[2019-05-07 11:14] annie-cz opened #316 "Rovnost - 1928, chyby v datech"
V Rovnosti v ročníku 1928 jsou dvě chyby - tváří se jako duplicita, je ale pouze chyba v čísle ročníku v metadatech.

č. 57/1928 = č. 239 z 29.8. 1928 - viz https://krameriusadmin.mzk.cz/search/handle/uuid:58b6200b-6b97-467d-913d-cc948db976eb
č. 130/1928 = č. 230 z 20.8. 1928 - viz https://krameriusadmin.mzk.cz/search/handle/uuid:3486de1d-808b-48c8-bf5b-0dc4c6d49073

@xermak00 , mrkni na to prosím

[2019-05-07 11:15] #315 closed, assigned to kazooo

[2019-05-09 08:35] jkremlacek opened #317 "Chybějící uuid periodika Hlídka"
Při přístupu na http://www.digitalniknihovna.cz/mzk/search?accessibility=public&q=hl%C3%ADdka&sort=relevance&doctypes=periodical

vyletí v logu chyba:
[code]

Tedy, že chybí `uuid:524c41d3-a842-4d94-a557-f8a2e7d751fb`.

Hledáním uuid mám podezření jestli se nezměnilo uuid periodika, protože na stránce Krameria České Třebové:

https://k5.digiknihovna.cz/search/i.jsp?pid=uuid:ad1a05d2-feb4-47f0-b090

[2019-05-09 08:40] MarosGrm commented on #317
Periodikum sa nachádza v indexe. Vyzerá to ako keby sa mazalo a pri procese sa úspešne vymazalo z Fedory no zlyhalo mazanie z indexu. Bude to potrebné ručne vymazať z indexu.

[2019-05-09 08:51] jkremlacek opened #318 "Ročník 1905 periodika Hlídka"
Periodikum Hlídka

http://www.digitalniknihovna.cz/mzk/periodical/uuid:c56dce20-1cf1-11e2-bec6-005056827e51

bylo zpracováváno NDK linkou, nicméně chybí ročník 1905.

Při pohledu do České Třebové je ale ročník 1905 digitalizovaný a soudě podle razítek na stránkách (v obrázcích)

http://www.digitalniknihovna.cz/mkct/view/uuid:a5ec2b42-d698-4e46-90aa-42d86c50f7fa?page=uuid:1eaa0fec-e3df-46be-9798-25

[2019-05-09 10:34] marketakrutska commented on #318
Tak jsem se dívala, že dokument uuid:524c41d3-a842-4d94-a557-f8a2e7d751fb jsem smazala z Fedory já (20. 3. 2019). Je to vlastní digitalizace MZK a bylo to duplicitní vůči té NDK digitalizaci uuid:c56dce20-1cf1-11e2-bec6-005056827e51.
Bohužel, asi jsem přehlédla, že v NDK není ročník 1905 :( Moje chyba, omlouvám se. Myslíš @jkremlacek , že by bylo ještě možné získat skeny ročníku 1905? Pak by se to

[2019-05-09 10:48] jkremlacek commented on #318
To mazání asi v nějaké fázi padlo, takže to po sobě nechalo nepořádek v Solr-u, ale to se v rámci https://github.com/moravianlibrary/kramerius/issues/317 uklidí.

Ten ročník 1905 má ještě Česká Třebová, takže bude potřeba je požádat o Foxml export z Krameria od nich a pak už to k nám dostaneme - případně z toho foxml exportu vylámeme skeny a prožene se to ndk linkou.

[2019-05-09 15:18] zabak commented on #318
No jo, ale z ČT nedostaneme archivní kopii. Ta by teoreticky měla být někde uložená.

[2019-05-10 07:02] indrakm commented on #318
no, jestli obrázky nejsou, tak jedině poprosit Věru, ať to donese znovu. Btw ČT něco digitalizuje i sama nebo tam mají jenom replikace.

[2019-05-10 07:29] jkremlacek commented on #318
Zkusil jsem namátkově najít jednu ze stránek ročníku 1905 podle uuid, které má ČT.

Konkrétně: http://www.digitalniknihovna.cz/mkct/view/uuid:a5ec2b42-d698-4e46-90aa-42d86c50f7fa?page=uuid:c263c943-2902-4db0-b995-d3dbf5fa3963

což odpovídá cestě na imageserver:

http://imageserver.mzk.cz/mzk01/000/220/951/c263c943-2902-4db0-b995-d3dbf5fa3963

což funguje, takže to u nás v nějaký moment bylo. V naš

[2019-05-10 07:31] kazooo commented on #317
Všechny zaznamy s kořenem ```uuid:524c41d3-a842-4d94-a557-f8a2e7d751fb``` jsou vymazany z indexu. Celkem těch bylo 1810, kdyby něco příkladám soubor všech vymazaných uuid. Periodikum už se ve vyhledevání nezobrazuje.
[hlidka.txt](https://github.com/moravianlibrary/kramerius/files/3165345/hlidka.txt)

[2019-05-10 07:39] kazooo commented on #316
Čísla a pořadí čísel jsou opraveny.

[2019-05-10 07:39] #316 closed, assigned to kazooo

[2019-05-10 08:52] #317 closed, assigned to kazooo

[2019-05-10 10:46] jkremlacek opened #319 "Deadwood rozbité skeny 2 stran"
publikaci původem z ndk:

http://www.digitalniknihovna.cz/mzk/view/uuid:2e0eb820-2190-11e2-9e88-005056827e51?page=uuid:06d9b0d0-900b-11e8-86d2-005056822549

nefungují obrázky stránek 281 a 291, na imageserveru jejich soubory jsou ale mají velikost 1 - nejspíš došlo k chybě během kopírování na imageserver

import proběhl 25.7.2018

bude potřeba obrázky zmíněných stran smazat a nahradit funkčními ko

[2019-05-10 11:05] zabak commented on #318
@black23 mohl bys nám prosím dát metadata k časopisu Hlídka?

[2019-05-10 11:18] zabak commented on #319
Mimochodem, hledali jsme už obrázky velikosti od 0 do 1 bytu, případně do nějaké malé velikosti, kdy ještě nejde o obrázek ale o chybu? Jinými slovy najít nejmenší soubor který je doopravdy obrázek a vše menší opravit?

[2019-05-10 11:20] jkremlacek commented on #319
V minulosti mám pocit, že takové hledání už proběhlo a nálezy se opravily. Možná bude potřeba tyhle kontroly dělat na pravidelné bázi (např. jednou za půl až rok).

[2019-05-13 06:24] marketakrutska opened #320 "Nezvýraznění výsledků při fulltextovém vyhledávání v DK"
Při fulltextovém vyhledávání v DK není u některých dokumentů vyhledané slovo barevně zvýrazněné. Zobrazí se stránka, kde se slovo nachází, ale slovo není barevně zvýrazněné. Viz následující příklad:
http://www.digitalniknihovna.cz/mzk/view/uuid:f17292ab-435d-11dd-b505-00145e5790ea?page=uuid:637a3485-435f-11dd-b505-00145e5790ea&fulltext=telegramy

U některých dokumentů to funguje, takže klient to u

[2019-05-13 06:28] zabak commented on #320
Národní listy jsou replikované z NK a nemají ALTO. Proto tam nefunguje zvýrazňování. Museli bychom udělat ALTO i pro replikované tituly, což můžeme, ale bez koordinace s NK to budeme v nějaké fázi dělat my i oni. Počkal bych na OCR z projektu PERO.

[2019-05-13 06:28] #320 closed, assigned to nobody

[2019-05-13 06:31] marketakrutska commented on #320
Dobře, moc děkuju za info. Ptal se na to jeden uživatel, tak teď aspoň vím, co odepisovat.

[2019-05-13 11:07] annie-cz commented on #319
Odeslán tiket do LTP.

[2019-05-14 10:40] MarosGrm commented on #319
Reimport prebehol v poriadku, no problém pretrváva.
Na prvý pohľad to vyzerá, že chybné skeny sú aj v LTP, ale v NK je to v poriadku podľa náhľadov z ich Krameria.
http://kramerius4.nkp.cz/search/handle/uuid:529a6707d33a1f3e03a68a59e42e90e7

[2019-05-14 10:42] jkremlacek commented on #319
Je možné, že náhledy mají interně ve fedoře, takže full obrázek chybí i tam - @annie-cz jsme schopní někoho v NK sehnat, kdo by se podíval, jestli tam mají ty obrázky v plné kvalitě, nebo jestli to chybí i tam?

[2019-05-14 11:31] annie-cz commented on #319
Zrovna to řeší Václav Jiroušek, chyba je prý v user copy v archivním balíčku. Master copy je ale v pořádku, tj. se bude generovat jiná a pak by ten reimport měl snad v pohodě proběhnout.

[2019-05-14 12:59] jkremlacek opened #321 "Opravit objekty s nevalidním uuid"
V systému se nachází nemalé množství nevalidních uuid (nesplňující formát 8-4-4-4-12 a další pravidla - viz https://en.wikipedia.org/wiki/Universally_unique_identifier).

Např:
`uuid:4615d905bf09a8603ea0e2d54615c972`

Nevalidní uuid ztěžují práci svojí nekonzistencí při parsování, stejně tak znemožňují použití některých funkcí Krameria, např:

https://github.com/ceskaexpedice/kramerius/blob/285b21

[2019-05-14 13:52] jkremlacek commented on #318
Ročník 1905 jsem doplnil a periodikum zreindexoval. Opraveno.

[2019-05-14 13:52] #318 closed, assigned to jkremlacek

[2019-05-17 10:10] hlavacekrene commented on #285
Vyřešeno - 2019-05-17

[2019-05-24 08:26] MarosGrm commented on #285
Pri týchto ročníkoch bude ešte treba zmeniť Datastream MIME type z image/jp2 na image/jpeg aby to bolo konzistetné s ostatnými stránkami, síce sa obrázky zobrazujú v poriadku, ale v budúcnosti by to mohlo spôsobiť problémy (napr. pri migrácii). V Krameriovy to spôsobuje, že týmto stranám chyba ikonka obrázku.
![Výběr_022](https://user-images.githubusercontent.com/16135340/58313599-3e37d880-7e0e-11

[2019-05-24 08:29] jkremlacek commented on #40
V ceske expedici bylo na toto téma otevřeno issue na rozšíření funkcionality:

https://github.com/ceskaexpedice/kramerius/issues/679

[2019-05-24 11:05] annie-cz commented on #285
@hlavacekrene Ahoj, dořeš to ještě prosím.

[2019-05-24 14:55] hlavacekrene commented on #285
prepsano z image/jp2 na image/jpeg  -  vyreseno.

[2019-05-29 07:37] jkremlacek opened #322 "Výpadky spojení mezi krameriem a databází"
V posledních dnech často nastává rozpadení spojení mezi hlavním krameriem a jeho databází.

V logu se chyba projevuje (řádově stovky za minutu) jako:
https://gist.github.com/jkremlacek/6c2114ea49f22e28035589565b24e536

Chyba se zatím z neznámých důvodů občas opraví sama (může jít o časově nedefinované operace, např. GC), nicméně nejde na to spoléhat, protože k tomu může dojít i po dlouhé době - řá

[2019-05-29 10:19] MarosGrm commented on #319
Opravene

[2019-05-29 10:19] #319 closed, assigned to nobody

[2019-05-29 10:27] #285 closed, assigned to hlavacekrene

[2019-05-29 10:56] annie-cz commented on #298
@hlavacekrene podívej se na to prosím

[2019-05-29 10:57] annie-cz commented on #301
@hlavacekrene mrkni na to prosím :)

[2019-05-29 11:13] kazooo opened #323 "Osiřelé obrázky periodika Rovnost"
Složka /mnt/imageserver/meditor/rovnost obsahující obrázky periodika [Rovnost](http://www.digitalniknihovna.cz/mzk/periodical/uuid:f1c7c08d-8f64-4b66-be28-5f209c2c7021) obsahuje také obrázky, na které neodkazuje žadný FOXML periodika. Zkusil jsem vyhledat stejné obrázky stránek v periodiku, ale na obrázcích obyčejných stránek je vidět jen číslo, takže je těžkě říct jakým ročníkům patří. Podařilo s

[2019-05-29 11:16] zabak commented on #323
Zkus u těch dvou stejných obrázků spočítat kontrolní součet (md5). Pokud jsou identické, mohl bys tímto způsobem najít všechny duplicitní obrázky.

[2019-05-29 11:17] annie-cz commented on #323
Může souviset s #309. Pokud se jedná o duplicity, určitě smazat.

[2019-05-29 11:21] zabak commented on #301
Ty grafiky byly v minulosti zpřístupněné z https://mapy.mzk.cz/ostatni-sbirky-v-mzk/
Na serveru jsou pořád html stránky s odkazy na jednotlivé mapy. Ale proto, že došlo k nějakým změnám linků, tak nejsou viditelné, @zafan ti ale může ukázat kde je najdeš.

[2019-05-30 11:28] annie-cz opened #324 "Kramerius nevidí na PDF server"
Kramerius.mzk.cz nevidí na pdfserver.mzk.cz, díky tomu nelze načítat PDFka ve studovnách (zde to nejvíc hoří). Prosím v první linii @xermak00  a @hlavacekrene aby se na to podívali, ve druhé pak případně @kenji1322 .

[2019-05-31 07:57] hlavacekrene commented on #324
/docker-compose/kramerius.mzk.cz/docker-compose.yml

    networks:
     default:
       aliases:
         - imageserver.mzk.cz
         - kramerius.mzk.cz
         - audioserver.mzk.cz
         - pdfserver.mzk.cz
#### do aliasu se musi pdfserver.mzk.cz pridat

    extra_hosts:
     - "fedora.dk-back.infra.mzk.cz:10.19.9.11"
     - "solr.dk-back.infra.mzk.cz:10.19.9.12"
     - "kramerius.infra.mzk.

[2019-05-31 07:58] hlavacekrene commented on #324
a proto kramerius pdfserver nevidel.

[2019-05-31 08:01] annie-cz commented on #324
Díky moc, zavírám tedy :)

[2019-05-31 08:01] #324 closed, assigned to kazooo, hlavacekrene

[2019-06-02 18:15] fstepanovsky commented on #322
Cron skript byl vytvořen, v případě rozpadu spojení zasáhne.

Z pohledu metrik:

- ping OK
- navázání spojení a komunikace s DB bez problému

[2019-06-05 11:49] jahhoo commented on #322
@zafan Zdravím, bylo by možné od vás script získat pro účely NK?

[2019-06-06 11:05] fstepanovsky commented on #322
Dobrý den @jahhoo,
skript pracuje s Dockerem, je šitý na míru naší infrastruktury a počítá s jejím rozvržením a vlastnostmi, které z toho plynou.
Pokud máte přesto zájem, skript vám poskytneme.

[2019-06-07 08:13] vjirousek commented on #264
Z LTP bylo vše aktualizováno, prosím nicméně o důkladnou kontrolu, zda došlo k nápravě - část chyb může být podobného charakteru jako v https://github.com/moravianlibrary/kramerius/issues/319 a samotná aktualizace tedy problém nevyřeší. Kde chyba přetrvá, nechám znovu vytvořit chybné UC a pošleme další aktualizaci. Díky.

[2019-06-07 12:44] vjirousek commented on #266
Psal jsem již v prosinci k ticketu u nás v servicedesku - ta dvě UUID neexistují v rámci LTP/WF NDK, zkuste tedy ověřit co je to za data. O NDK data se podle všeho nejedná, z LTP tedy neumíme pomoci.

[2019-06-07 13:26] marketakrutska commented on #266
Dívám se do ServiceDesku a koukám, že tam jsou tři stejné tikety ohledně této opravy. Lenka poslala dva tikety (6790 a 7551) a pak došlo k nedorozumění a já to poslala potřetí (7946). Za tohle se vám všem @vjirousek  do LTP moc omlouvám, to by se opravdu stávat nemělo.

Prosíme o reimport čísla 1 ročníku 1912 (ročník 33) periodika Wissenschaftliche Studien und Mittheilungen aus dem Benedictiner...

[2019-06-10 07:54] marketakrutska commented on #264
Tak jsem to zkontrolovala. Všechno je v pořádku, jen:
uuid:4dcd78d0-bfc9-11e3-aec3-005056827e52 - chybí v našem Krameriu, v NK to je. Prosím tedy @vjirousek ještě o reimport.
uuid:27a0a040-d69b-11e3-b110-005056827e51 - chybí v našem i v NK Krameriu, možná se to deaktivovalo (?)

[2019-06-10 10:00] JanMeritus commented on #322
@zafan Dobry den, bolo by to super. My si to uz pripadne kustomizujeme. Zdravim, Z.

[2019-06-10 10:08] annie-cz commented on #322
@JanMeritus Zdenko, vám se podobná chyba děje také?

[2019-06-10 10:18] fstepanovsky commented on #322
Skriptík odeslán emailem.

[2019-06-10 16:18] JanMeritus commented on #322
V poslednom case nam nejak blbne spojenie medzi Kram bazou a klientom. Ale vzhladom k odlisnosti infra a implementacie si netrufam povedat ze ide o rovnaku vec

Diki moc!

[2019-06-11 06:06] annie-cz commented on #322
@JanMeritus I tak by možná stálo za to o tom někdy hodit řeč. Není zač.

[2019-06-11 09:59] MarosGrm commented on #151
Zatváram, chyby sa riešia v samostaných issues.

[2019-06-11 09:59] #151 closed, assigned to MarosGrm

[2019-06-12 13:12] zabak opened #325 "přidat DiFMOE"
Domluvili jsme se s pány z DiFMOE, že přidáme jejich Krameria do DK, tak ho tam prosím někdo přidejte (na konec seznamu). Konfigurace viz. registr Krameriů.

[2019-06-13 11:24] MarosGrm commented on #256
Jedná sa o MZK produkciu, takže reimport z LTP nepôjde. Bude nutný rescan.

[2019-06-13 11:25] annie-cz commented on #256
Zařídím to.

[2019-06-14 11:22] annie-cz commented on #287
Sbírky se nyní již editovat dají, je potřeba tu něco ještě dodělat nebo to můžeme zavřít?

[2019-06-14 11:30] annie-cz commented on #325
Tohle můžeme udělat sami? Když se takto hlásila paní za Krameria UMPRUM, tak to tam musel přidávat Honza.

[2019-06-14 11:49] zabak commented on #325
@honza-rychtar Honzo, přidáš je tam?

[2019-06-16 08:29] jkremlacek commented on #287
Na **kramerius.mzk.cz** / **krameriusadmin** se problém bude vracet v případě velké zátěže na Fedoře (a/nebo Solr-u), pokud se neupraví kód krameria, aby uměl pracovat s timeout-em (nebo se nenasadí K6/7).

Na **kramerius.infra** by se problém dít už neměl (na 90% nikdy), protože:
- bylo zařízené sdílené úložiště (share adresář) mezi Fedorou a Krameriem
- timeout na kramerius.infra je dostatečně v

[2019-06-17 08:22] annie-cz commented on #287
Díky moc Kubo, necháme tedy zatím otevřené.

[2019-06-17 09:32] kazooo commented on #323
Zkontroloval jsem všechny stránky periodika aby měly obrázky a odhalil několik čísel, které ty obrázky nemají (chybí obrázky pro ~23 stránky). Seznam čísel dám do jiného issue.

Podle kontrolního součtu se podařilo najit originální obrázky k 12357 duplictam ze seznamu výše. Zbývající (1773) mají unikatní md5, nenapadá mě jakým způsobem by je ještě šlo zkontrolovat. Nemate-li k tomu další poznamky

[2019-06-17 10:10] kazooo commented on #295
**Rovnost**: číslům ročníku 1957 také chybí obrázky
číslo 248: https://kramerius.mzk.cz/search/handle/uuid:ebf74df0-6a93-11e8-828b-005056825209
číslo 298: https://kramerius.mzk.cz/search/handle/uuid:ad33a5a0-6a93-11e8-828b-005056825209
číslo 269: https://kramerius.mzk.cz/search/handle/uuid:7e026e40-6a95-11e8-828b-005056825209
číslo 265: https://kramerius.mzk.cz/search/handle/uuid:1d6af3e0-6a95-11e

[2019-06-17 10:15] marketakrutska commented on #295
Díky za info, tahle 4 čísla ročníku 1957 do LTP na reimport poslala Lenka v lednu.

[2019-06-28 07:27] kazooo opened #326 "Mazání v Krameriu - nefunguje, jak má"
Při mazání dokumentů (nebo také jejich částí), Kramerius maže zaznamy z Fedory, ale v Solru ty zůstávájí. Na lokálu veškeré mazání probíhá bez problémů, takže pravděpodobně je to problém konkrétně našého Krameria.

[2019-07-01 14:03] fstepanovsky commented on #322
Problém byl opravdu způsobován firewallem, kde bylo potřeba přidat pravidlo, které zajistí, aby db sessions vydržely minimálně 24 hodin.

Uzavírám...

[2019-07-01 14:03] #322 closed, assigned to fstepanovsky, MarosGrm, kazooo, hlavacekrene

[2019-07-02 04:55] indrakm commented on #322
díky!

[2019-07-10 11:21] annie-cz opened #327 "100+1 - chybně seřazené ročníky"
V časopisu 100+1 je několik chybně seřazených ročníků. V Krameriovi je to v pořádku, v Digitální knihovně ne. Problém je v chybějících metadatech, dle kterých DK srovnává dokumenty. Podobně jako je to #298

1972 je číslo 22 hned na druhé pozici
1973 číslo 12 na první pozici
1979 tam je toho více
1993 – 22, obsah, 26, 25, 23, 24 atd

https://krameriusadmin.mzk.cz/search/handle/uuid:83ecf6c0-bb9e-11

[2019-07-10 12:25] hlavacekrene commented on #327
Vsimnete si, ze se mne podarilo u Davidovy houpacky v rocniku 1926 (druhé) cislo 1 priradit na zacatek.
Dopsal jsem do něho vymyšlené fiktivní datum 01.02.1926.
Dopsal jsem ho do modsu
<mods:part type="PeriodicalIssue">
...
<mods:date>01.02.1926</mods:date>
</mods:part>

Solr si to ulozi do "details": "datum_str": a "datum":  odtud to novy klient setriduje.
Takže je otázka, nemají se míchat issue

[2019-07-10 12:49] hlavacekrene commented on #327
... ty datumy jsem musel kvuli ctenarum zase vymazat (takze uz zmeny nejsou videt), nelze si datumy nejak jako vymýšlet. A když se cele datum odmaže, tak se cislo presune vždy nakonec na posledni pozici. Tzn, ze kdyz klient nenajde cele datum, tak to seradi podle PID procesu.

[2019-07-10 13:00] zabak commented on #327
Nebylo by tedy koncepčně lepší přiřazovat místo čísla pořadí něco jako čas pořadí, tj. že by se převzala reálná data kde existují a pak by se doplnily fiktivní data nebo časy? Resp. že by "rels_ext_index":[cislo_poradi] nebylo číslo ale časový údaj. Tím by odpadl problém přečíslovávání všeho když potřebuju přesunout jednu věc a byla by snadnější kontrola správného řazení. Dalo by se tak uhlídat i

[2019-07-10 13:13] hlavacekrene commented on #327
a co kdyz dve veci budou  mit stejny casovy udaj a Ty je budes chtit prohodit?

[2019-07-10 13:25] zabak commented on #327
změníš u jedné z nich hodinu vydání na dřívější.

[2019-07-21 09:51] annie-cz commented on #327
Že by?

https://github.com/ceskaexpedice/kramerius-web-client/issues/250#issuecomment-513311178

[2019-07-23 09:56] kazooo commented on #326
Část dokumentů, jejichž zaznamy zůstaly v indexu, se mazaly ze starého indexu během přechodu na SSD pole, a stihly přejit do nového. Další část, jako třeba ročníky Židovských novin, po mazání z Krameria přibyly zpět z linky ale mazání vypadalo jako nefunkční.

Takže ted' je to OK)

[2019-07-23 09:56] #326 closed, assigned to kazooo

[2019-07-23 12:14] annie-cz commented on #290
Problém stále trvá, otevírám, aby to sem někdo omylem nezadal znovu. Čeká se na LTP.

[2019-07-31 08:42] hlavacekrene commented on #309
Seznam přiřazených článků:
[Issue-309-osirele-clanky-Lidove-noviny.xlsx](https://github.com/moravianlibrary/kramerius/files/3450635/Issue-309-osirele-clanky-Lidove-noviny.xlsx)

[2019-08-01 07:25] annie-cz commented on #309
Super, díky, zavíráme :)

[2019-08-01 07:25] #309 closed, assigned to hlavacekrene

[2019-08-05 08:48] annie-cz commented on #325
Difmoe je v seznamu. Zavírám.

[2019-08-05 08:48] #325 closed, assigned to nobody

[2019-08-05 09:00] annie-cz commented on #307
Ahoj Petře, jak to prosím vypadá? Řeší toto Pavla, nebo máme do toho zapojit ještě někoho dalšího?

[2019-08-05 12:43] annie-cz commented on #294
Již není aktuální, zavíráme.

[2019-08-05 12:43] #294 closed, assigned to nobody

[2019-08-05 12:46] #238 closed, assigned to MarosGrm

[2019-08-05 12:51] annie-cz commented on #305
Nerelevantní problém, v DK se problém již neprojevuje.

[2019-08-05 12:51] #305 closed, assigned to kazooo

[2019-08-05 13:13] annie-cz commented on #230
https://github.com/ceskaexpedice/kramerius/issues/676
https://github.com/ceskaexpedice/kramerius-web-client/issues/217

[2019-08-05 15:56] zabak commented on #307
@pavluska Jak to vypadá? Co je potřeba udělat, aby se to pohnulo?

[2019-08-06 07:31] honza-rychtar commented on #307
Rukopisů, jejichž první strana má název FC a typ strany NormalPage, je těchto 23
https://kramerius.mzk.cz/search/api/v5.0/search?q=model_path:manuscript/page%20AND%20rels_ext_index:0%20AND%20details:*NormalPage*%20AND%20dc.title:FC&fl=PID,root_title,root_pid&rows=100
Když vynecháme podmíniku, že je to první strana, pak jich je 25
https://kramerius.mzk.cz/search/api/v5.0/search?q=model_path:manuscr

[2019-08-13 10:29] MarosGrm opened #328 "chybný typ stran u mnografie"
https://kramerius.mzk.cz/search/handle/uuid:ab810b10-a839-11e3-b833-005056827e52

http://www.digitalniknihovna.cz/mzk/view/uuid:ab810b10-a839-11e3-b833-005056827e52?page=uuid:e472d3e0-bc6b-11e3-b74a-5ef3fc9ae867

Monografia má každu stranu označenú typom desky (<mods:part type="Cover">).
Rovnaká chyba je aj v Krameriovy NK.
Bude treba typ strán opraviť v LTP a následne monografiu reimportovať.

[2019-08-13 10:36] marketakrutska commented on #328
Ahoj, moc díky za upozornění. Poslala jsem to do LTP na opravu.

[2019-08-26 11:33] MarosGrm opened #329 "Duplicita posledného 12-číslia v uuid"
Periodikum s uuid: uuid:ed1809a0-1e62-11e2-bec6-005056827e51-005056827e51
má zduplikované posledné 12-číslie, tj. formát uuid je chybový. Zlé uuid je aj v Krameriovy NK, bude treba chybu opraviť aj v LTP a reimport.

[2019-08-26 13:30] MarosGrm commented on #329
Problém sa hromadne rieši v https://github.com/moravianlibrary/kramerius/issues/321
Issue zatváram

[2019-08-26 13:30] #329 closed, assigned to nobody

[2019-08-26 14:49] vjirousek commented on #329
V LTP máme opraveno. Jakmile smažete, můžeme zkusit opravené balíčky doplnit.

[2019-08-26 14:52] annie-cz commented on #329
@vjirousek Díky za info. Generujeme seznam nevalidních uuid z issue #321 a #39 , pak se ozveme.

[2019-09-04 09:54] annie-cz opened #330 "Kramerius odmítá některým dříve funkčním účtům přístup"
Kramerius odmítá přístup k některým dříve funkčním účtům. Jedna externistka si v pondělí (2.9.) založila účet v Krameriovi (účet Shanna) a normálně v něm byla schopná pracovat. Dostala z počátku oprávnění "can read all", aby se naučila s Krameriem pracovat. Další den jsem jí chtěla dát "change visibility", až ji Markét zaškolí. Druhý den pak ale hlásila, že jí Kramerius neumožňuje se přihlásit (ch

[2019-09-06 11:31] drobkova commented on #291
Přesměrování na digitální knihovnu už funguje i uvnitř MZK sítě (rekonfigurace v reverzní proxy).

[2019-09-06 11:31] #291 closed, assigned to drobkova, MarosGrm

[2019-09-10 08:54] drobkova commented on #307
Opraveno přizpůsobením [skriptu ZmenaMetadat z K4-tools](https://github.com/moravianlibrary/K4-tools/blob/ecb389b9a0c87599a42612d16af4e3a64d9e3532/src/main/java/cz/mzk/k4/tools/scripts/ZmenaMetadat.java), všechny strany rukopisů, které měly název FC, FS, SP, BS nebo BC a typ strany NormalPage, by měly mít nyní příslušný typ ([https://kramerius.mzk.cz/search/api/v5.0/search?q=model_path:manuscript/

[2019-09-10 08:54] #307 closed, assigned to nobody

[2019-09-11 11:32] annie-cz commented on #321
Jelikož se jedná pouze o data NDK, informovala jsem o tomhle problému LTP. Čekáme, až se seznámí s problematikou a něco přímo v LTP otestují. Pak se domluvíme na společném postupu.

[2019-09-19 11:19] MarosGrm commented on #330
S najvecsou pravdepodobnosťou sa jednalo o dočasnú stratu spojenie Krameria s DB, čo by vysvetlovalo nemožnosť prihlásiť sa.
Problém je už neaktuálny, ak sa bude opakovať issue sa znova otvorí.

[2019-09-19 11:19] #330 closed, assigned to MarosGrm

[2019-09-19 13:07] JanMeritus commented on #330
@kenji1322 nam sa to stava tiez, zda sa ze je to DB connection poolom ktory byva obcas vyrezervovany. Ak by sa to i u vas stavalo castejsie, malo by sa to riesit obecne

[2019-09-23 08:55] MarosGrm commented on #330
@JanMeritus U nás bolo toto prvý krát a odvtedy sa to na štastie nezopakovalo, ale podobný problém som zaznamel na inej inštancii Krameria a vtedy pomáha iba otočenie kontajnera. Ako to riešite vy a ako často sa to stáva?

[2019-10-11 07:49] kazooo commented on #323
@natal1H posbírala obrázky a předala je na reimport

[2019-10-22 08:43] natal1H commented on #303
Bola vykonaná kontrola všetkých dokumentov, pri ktorej sa kontrolovali nezhody v poliach dostupnost zo solr a policy v rels-ext. Dokumenty, ktoré obsahovali takéto nekonzistentnosti boli zreindexované, čim sa do poľa dostupnost priradila hodnota z poľa policy a dokumenty sa už zobrazujú rovnako v Krameriovi aj v digitální knihovně.

[2019-10-22 08:43] #303 closed, assigned to natal1H

[2019-10-24 11:33] kazooo commented on #232
Při plánování procesů každý proces se nejdřív zařazuje do fronty a čeká tam až ho zpracuje a spustí interní plánovač procesů. Tento plánovač prochází všemi naplánovanými procesy v určitém intervalu a spouští je. Interval pro plánovač je konfigurovatelný, defaultně je nastaven na 10 sek. Tento interval je možné změnit zadáním hodnoty **processQueue.checkInterval** v souboru **configuration.properti

[2019-10-25 07:44] #232 closed, assigned to kazooo

[2019-10-30 12:12] indrakm commented on #290
jak to s tím vypadá

[2019-10-30 12:19] MarosGrm commented on #290
Reimport periodík z LTP ešte stále nie je povolený. Reimportuje sa to po nasadení nového Krameria na importy z NDK, momentálne dokončujem posledné testy a bude sa to môcť nasadiť.

[2019-11-25 10:40] natal1H commented on #200
Bola vykonaná kontrola všetkých dokumentov, pri ktorej sa kontrolovalo, či nemá nejaká stránka interné IMG_FULL, IMG_PREVIEW alebo IMG_THUMB, ale nebol nájdený žiadny takýto prípad. Počas kontroly avšak boli nájdené ďalšie stránky a pár koreňových dokumentov s nevalidnými uuid a boli zaznačené do samostatného dokumentu. Našli sa aj stránky z NDK digitalizácie, u ktorých chýbal záznam vo fedore a s

[2019-11-25 10:40] #200 closed, assigned to natal1H

[2020-02-24 10:05] kazooo commented on #186
Opraveno v K7

[2020-02-24 10:05] #186 closed, assigned to kazooo

[2020-04-23 07:20] marketakrutska commented on #296
Reimport z LTP proběhl v pořádku, Křesťanská revue je opravená.

[2020-04-23 07:28] #296 closed, assigned to LenkaKravecova

[2020-04-23 07:49] marketakrutska commented on #260
Reimport z LTP proběhl v pořádku, ročník 1912 je již v pořádku.

[2020-04-23 07:50] #260 closed, assigned to LenkaKravecova

[2020-04-24 08:19] marketakrutska commented on #266
Jak jsem psala dříve, uuid:c656c720-1db8-11e2-a61d-005056827e52 bylo změněno na uuid:fe693aa0-49df-11e2-9c70-5ef3fc9bb22f. V LTP to již opravili, řešilo se to i v issue 260 (již je zavřené).

Dokument uuid:fe7e3c10-609b-11e3-ac69-005056827e51 jsem nakonec dohledala ve workflow. Jedná se o knihu "Angličtina pro jazykové školy : nové upravené vydání s klíčem" - 3. díl, ČK: 2610460134
Tento dokument

[2020-04-24 08:20] #266 closed, assigned to LenkaKravecova, MarosGrm

[2021-07-27 13:31] annie-cz commented on #328
Přesunuto na interní gitlab.

[2021-07-27 13:31] #328 closed, assigned to marketakrutska

[2021-07-27 13:32] annie-cz commented on #327
Přesunuto na interní Gitlab MZK.

[2021-07-27 13:32] #327 closed, assigned to MarosGrm

[2021-07-27 13:32] annie-cz commented on #323
Přesunuto na interní Gitlab MZK.

[2021-07-27 13:32] #323 closed, assigned to kazooo

[2021-07-27 13:32] annie-cz commented on #321
Přesunuto na interní Gitlab MZK.

[2021-07-27 13:32] #321 closed, assigned to hlavacekrene

[2021-07-27 13:32] annie-cz commented on #314
Přesunuto na interní Gitlab MZK.

[2021-07-27 13:32] #314 closed, assigned to MarosGrm

[2021-07-27 13:32] annie-cz commented on #312
Přesunuto na interní Gitlab MZK.

[2021-07-27 13:32] #312 closed, assigned to marketakrutska

[2021-07-27 13:32] annie-cz commented on #311
Přesunuto na interní Gitlab MZK.

[2021-07-27 13:32] #311 closed, assigned to marketakrutska

[2021-07-27 13:33] annie-cz commented on #302
Přesunuto na interní Gitlab MZK.

[2021-07-27 13:33] #302 closed, assigned to natal1H

[2021-07-27 13:33] annie-cz commented on #301
Přesunuto na interní Gitlab MZK.

[2021-07-27 13:33] #301 closed, assigned to hlavacekrene

[2021-07-27 13:33] annie-cz commented on #298
Přesunuto na interní Gitlab MZK.

[2021-07-27 13:33] #298 closed, assigned to hlavacekrene

[2021-07-27 13:33] annie-cz commented on #295
Přesunuto na interní Gitlab MZK.

[2021-07-27 13:33] annie-cz commented on #295
Přesunuto na interní Gitlab MZK.

[2021-07-27 13:33] #295 closed, assigned to LenkaKravecova

[2021-07-27 13:33] annie-cz commented on #290
Přesunuto na interní Gitlab MZK.

[2021-07-27 13:33] #290 closed, assigned to annie-cz

[2021-07-27 13:33] annie-cz commented on #289
Přesunuto na interní Gitlab MZK.

[2021-07-27 13:33] #289 closed, assigned to MarosGrm

[2021-07-27 13:34] annie-cz commented on #287
Přesunuto na interní Gitlab MZK.

[2021-07-27 13:34] #287 closed, assigned to natal1H

[2021-07-27 13:34] annie-cz commented on #281
Přesunuto na interní Gitlab MZK.

[2021-07-27 13:34] #281 closed, assigned to MarosGrm

[2021-07-27 13:34] annie-cz commented on #278
Přesunuto na interní Gitlab MZK.

[2021-07-27 13:34] #278 closed, assigned to kazooo

[2021-07-27 13:34] annie-cz commented on #274
Přesunuto na interní Gitlab MZK.

[2021-07-27 13:34] #274 closed, assigned to drobkova, annie-cz

[2021-07-27 13:34] annie-cz commented on #267
Přesunuto na interní Gitlab MZK.

[2021-07-27 13:34] #267 closed, assigned to LenkaKravecova

[2021-07-27 13:34] annie-cz commented on #264
Přesunuto na interní Gitlab MZK.

[2021-07-27 13:34] #264 closed, assigned to LenkaKravecova

[2021-07-27 13:34] annie-cz commented on #262
Přesunuto na interní Gitlab MZK.

[2021-07-27 13:34] #262 closed, assigned to LenkaKravecova

[2021-07-27 13:34] annie-cz commented on #256
Přesunuto na interní Gitlab MZK.

[2021-07-27 13:34] #256 closed, assigned to MarosGrm, annie-cz

[2021-07-27 13:34] annie-cz commented on #255
Přesunuto na interní Gitlab MZK.

[2021-07-27 13:34] #255 closed, assigned to LenkaKravecova

[2021-07-27 13:34] annie-cz commented on #254
Přesunuto na interní Gitlab MZK.

[2021-07-27 13:34] #254 closed, assigned to fstepanovsky, MarosGrm, kazooo

[2021-07-27 13:35] annie-cz commented on #240
Přesunuto na interní Gitlab MZK.

[2021-07-27 13:35] #240 closed, assigned to MarosGrm

[2021-07-27 13:35] annie-cz commented on #236
Přesunuto na interní Gitlab MZK.

[2021-07-27 13:35] #236 closed, assigned to MarosGrm

[2021-07-27 13:36] annie-cz commented on #39
Přesunuto na interní Gitlab MZK.

[2021-07-27 13:36] #39 closed, assigned to hlavacekrene

[2021-07-27 13:36] annie-cz commented on #230
Přesunuto na interní Gitlab MZK.

[2021-07-27 13:36] #230 closed, assigned to nobody

[2021-07-27 13:36] annie-cz commented on #215
Přesunuto na interní Gitlab MZK.

[2021-07-27 13:36] #215 closed, assigned to nobody

[2021-07-27 13:36] annie-cz commented on #204
Přesunuto na interní Gitlab MZK.

[2021-07-27 13:36] #204 closed, assigned to kazooo

[2021-07-27 13:36] annie-cz commented on #199
Přesunuto na interní Gitlab MZK.

[2021-07-27 13:36] #199 closed, assigned to kazooo

[2021-07-27 13:37] annie-cz commented on #193
Přesunuto na interní Gitlab MZK.

[2021-07-27 13:37] #193 closed, assigned to MarosGrm, kazooo, natal1H

[2021-07-27 13:37] annie-cz commented on #160
Přesunuto na interní Gitlab MZK.

[2021-07-27 13:37] #160 closed, assigned to MarosGrm

[2021-07-27 13:37] annie-cz commented on #62
Přesunuto na interní Gitlab MZK.

[2021-07-27 13:37] #62 closed, assigned to natal1H

[2021-07-27 13:37] annie-cz commented on #40
Přesunuto na interní Gitlab MZK.

[2021-07-27 13:37] #40 closed, assigned to fstepanovsky