[2014-11-09 07:58] leiblix opened #1 "OAI - virtuální sbírky"
Oaiprovider by měl vracet v setech virtuální sbírky. Nyní vrací sety pouze podle modelů.

[2014-11-12 13:31] leiblix commented on #1
S pomocí Jakuba Říháka z Národní technicke knihovny jsem se dobral řešení, do RELS-EXT sbírky je potřeba přidat specifikace OAI, viz následující příklad:

[code]

Tento konetjner https://registry.hub.docker.com/u/moravianlibrary/oaiprovider-dev/ to potom umí posbírat. ALE nejsou zachovány staré sety jako monograph, periodical, atd. A taky jsou v tom setu pomíchané všechny modely.

[2015-05-02 15:20] #1 closed, assigned to leiblix

[2015-05-05 14:45] LenkaKravecova opened #3 "Chybná hodnota atributu "type" v placeTerm v MODS"
Některé dokumenty v NDK Krameriovi mají chybně nastavenou hodnotu atributu "type" v subelementu placeTerm (originInfo) v MODS. Místo "code" je tam hodnota "text". Kramerius pak zobrazuje v místu vydání "xr" (kód země) a ne konkrétní místo. Potřeba opravit v MZK Krameriovi, když replikujeme něco z Krameria NDK. Oprava v NDK Krameriovi bude muset jít přes LTP v Praze?

[2015-05-05 16:37] zabak commented on #3
Jo, ale hlavně prosím zjisti proč to vzniká, bude potřeba odstranit chybu už ve workflow - pokud teda už odstraněna nebyla a tohle nejsou jen pozůstatky.

P.

[2015-05-07 15:18] Jenyk opened #4 "U dokumentu uuid:760607f4-5a62-4015-9d49-7afc17042e65 se nezobrazují obrázky"
Odkazy do imageserveru jsou ve tvaru http://imageserver.mzk.cz/2619298376/001/050/692/2619298376/1050692_00001/big.jpg
ale místo prvního 2619298376 by mělo být mzk03

[2015-05-07 15:24] Jenyk opened #5 "Neúplný dokument"
uuid:4a477cf8-31f3-4a42-9e81-3a43e77fcc32

Ve fedoře jsou odkazy na stránky, ale foxml chybí (jsou jen foxml příloh)

[2015-05-07 17:43] #4 closed, assigned to Jenyk

[2015-05-11 19:03] LenkaKravecova opened #6 "Dětský čin - opravit název v záložce prohlížeče"
Čin: uuid:c3318d70-6f69-11e2-b9fa-005056827e52 - v záložce v prohlížeči se objevuje název Dětský čin, což je alternativní název těchto periodik. Je to matoucí, musí tam být Čin. MODS se zdá být v pořádku, záleží, odkud to bere prohlížeč.

[2015-05-11 19:07] Jenyk commented on #6
Tohle bude pravděpodobně bug Krameria

[2015-05-15 14:46] Jenyk commented on #3
Zobrazování opraveno v xsl šabloně (po vzoru NK), ale pořád je potřeba odstanit chybu v TM a v datech.

[2015-05-15 15:26] leiblix opened #7 "Zelené čtverečky u monografie, která je private"
http://krameriusndktest.mzk.cz/search/i.jsp?pid=uuid:ed1a5170-e8e4-11e4-b834-005056827e51

zámečky to asi vyřeší

[2015-05-15 15:32] leiblix opened #8 "API generování PDF"
Endpoint v API, přes které půjde vygenerovat PDF.

Parametrem je seznam uuid, v případě jiného modelu než page, se přihodí i potomci

[2015-05-15 15:33] leiblix opened #9 "API hlášení chyb"
Endpoint v API

parametry: uuid, mail, popis chyby

po nahlášení je zasláno na mail admina

[2015-05-15 15:35] Jenyk commented on #6
Založeno issue https://github.com/ceskaexpedice/kramerius/issues/242

[2015-05-15 15:43] Jenyk commented on #6
No tak na ten problém už existuje issue https://github.com/ceskaexpedice/kramerius/issues/122 ze září 2014..

[2015-05-17 15:15] honza-rychtar commented on #9
Pokud by se neposilalo cele url ale jen uuid, tak bude potreba identifikovat i domenu a kod krameria.

Bud musi kramerius znat mapovani domeny na kod pouzivany klientem, tj.
krameriu.mzk.cz -> mzk
krameriusndktest.mzk.cz -> ndk
kramerius.kr-olomoucky.cz -> vkol
atd..
Nebo bude kod jako dalsi parametr requestu pro nahlaseni chyby.

Dalsi vec je domena klienta. Ne nutme to bude digitalniknihovna.mzk

[2015-05-17 16:11] honza-rychtar commented on #7
Problem neni to problem v datech - prvni stranka DC: http://krameriusndktest.mzk.cz/search/api/v5.0/item/uuid:ed1a5170-e8e4-11e4-b834-005056827e51/streams/DC
Ani problem v API - vcechny stranky:  http://krameriusndktest.mzk.cz/search/api/v5.0/item/uuid:ed1a5170-e8e4-11e4-b834-005056827e51/children

Je to chyba klienta. Dival jsem se na zdrojaky a staci opravit jeden radek.
Kdyz si zobrazite zdroja

[2015-05-17 16:42] honza-rychtar opened #10 "API: Autori ve feedech custom a newest"
Takto vypada dotaz na novinky - http://kramerius.mzk.cz/search/api/v5.0/feed/newest/
"author":["Smoljak, LadislavCimrman, Jára daSvěrák, ZdeněkDivadlo Járy Cimrmana"]
V poli author jsou vsichni autori zretezeni do jednoho retezce bez mezer.
Spravne to ma byt:
"author":["Smoljak, Ladislav", "Cimrman, Jára da", "Svěrák, Zdeněk", "Divadlo Járy Cimrmana"]

Ostatni knihovny (napr. KNAV a Olomouc) maji

[2015-05-17 17:02] honza-rychtar opened #11 "API: pridat dotaz na verzi API a dalsi informace"
Data: nazev knihovny, gps souradnice knihovny, nejaky popis co digitalni knihovna obsahuje. email spravce, verzi API, .....
Tohle info by pak vyplnil admin konkretniho Krameria.
A dalo se na ty informace zeptat napr. pres kramerius.mzk.cz/search/api/v5.0/info

Ted knihovny pisou nejake dodatecne texty, ktere jsou ve starem klientovi pod zalozkou "informace".
Pokud by to bylo pristupne pres API, pa

[2015-05-17 19:23] honza-rychtar opened #12 "API: prazdny root_title"
Narazil jsem na prazdny root_title u newest feedu - konkretne u Krameria z Ceskych Budejovic - http://kramerius.cbvk.cz/search/api/v5.0/feed/newest/
V SOLR taky chybi - http://kramerius.cbvk.cz/search/api/v5.0/search?q=PID:%22uuid:16b224a0-c66b-11e4-8731-1681e6b88ec1%22

Pokud je to nejaky zmatek v jejich datech, tak to neresme. Ale stavat by se to nemelo. Pokud je znamy nazev monografie/mapy/...

[2015-05-18 08:15] leiblix commented on #12
Bere se to z DC objektu, který je v root_pid. V DC ten title je, ale jednou prázdný, to nejspíš způsobuje ten problém.

http://kramerius.cbvk.cz/search/api/v5.0/item/uuid:16b1f37c-c66b-11e4-8731-1681e6b88ec1/streams/DC

Že se to bude vyskytovat dál je možné, Kramerius při importu DublinCore nijak nevaliduje.

[2015-05-18 08:46] leiblix commented on #9
Měl jsem za to, že  ty bys měl posílat posílat to hlášení na konkrétní API Krameria, které obsahuje špatný dokument. V tom případě nepotřebuji žádný kód Krameria.

Takže se ptám jak to vlastně chceme

**A. Za chyby zodpovídá prozovatel API**
V tomto případě nepotřebuji kód, Kramerius API řeší pouze vlastní chyby.

**B. Za chyby zodpovídá provozovatel klienta**
Čili API Krameria je schopné zpracova

[2015-05-18 09:29] black23 opened #13 "Jak hromadně opravit něco v metadatech?"
Potřebovali bychom opravit siglu v metadatech, protože pochází ze staženéhých záznamů přes Z39.50 a není správně.
Díky

[2015-05-18 09:43] leiblix commented on #7
Díky, po té opravě to funguje :+1:, ty studuješ kód Incadu?. Pošlu jim to ještě dnes jako pull-request. Díky.

Ale stejně jsem krameriusndktest.mzk.cz přepl na :lock:, jsou lepší a hlavně ať je to u nás konzistentní. (přepíná se to direktivou `search.policy.public=false`)

[2015-05-18 09:43] #7 closed, assigned to nobody

[2015-05-18 10:41] leiblix commented on #7
Zatím jsem vrátil zelené čtverečky, aby byla vidět chyba, než bude schválen ten pull-request....

[2015-05-18 11:22] honza-rychtar commented on #9
Mela by to byt moznost **A.** urcite.
Slo mi o to, ze API s nahlasenym jen uuid dokumentu si dokaze vytvorit url do editoru. Ale pokud to bude chtit clovek zodpovedny za opravu nejdriv videt v klientovi, tak to uz API za stavajici situace znat nebude.
Zejmena pokud se potom dodela ta samostatna sluzba, ktera vylistuje seznam nahlasenych a jeste nevyresenych problemu - tak si je budu chtit projit v

[2015-05-18 16:27] leiblix commented on #13
Co z tohoto je ta sigla?

https://gist.github.com/MartinRumanek/fe0516461a658ad7f1b1

Je to <ns2:physicalLocation>UOG505</ns2:physicalLocation>?

[2015-05-18 18:38] black23 commented on #13
Spravne by tam opravdu melo byt UOG505, ale v K5 je uvedeno umisteni
 <ns2:recordContentSource authority="marcorg">HKA001/ns2:recordContentSource
Takze bud je tam spatne nejake mapovani nebo nevim :-) z HKA001 je stazeny puvodni biblio zaznam, ale v detailu objektu v Krameriovy to ukazuje take jako umisteni. Divne.

[2015-05-19 06:50] leiblix commented on #13
Aha, tak jsem zrovna trefil dokument, kde je to dobře :horse:

Pokud Fedora používá Legacy FS tak se s tím dá dělat celkem jednoduše (s úložištěm Akubra to asi nepůjde, tak je struktura dat jiná).

Fedora má FOXML uložené přímo na filesystému, v tvém případě jsou ty objekty na lokaci /data/fcrepo/objects. Jsou to normální texťáky, které můžeš jakkoliv upravovat.

Je to svým způsobem nečisté řešení

[2015-05-19 09:10] black23 commented on #13
Slo by vsude to te fyzicko lokace dat UOG505 i na urovni stranek? A aby se to nadale zapisovalo spravne je nutne neco udelat s tou sbalonou?

[2015-05-19 13:24] leiblix commented on #13
Aby se to zapisovalo správně se dá vyřešit tou šablonou.

Na model:page ta fyzická lokace nepatří, Kramerius to tam ale zobrazí tak či tak - on to zobrazuje vždy rekurzivně nahoru. A asi není fyzicky možné, aby z jednoho čísla byly stránky na různých lokacích :-)

[2015-05-19 14:13] honza-rychtar opened #14 "CORS na docker.mzk.cz"
Zkusit pridat do Response Headers toto:
Access-Control-Allow-Origin: *
Access-Control-Allow-Headers: Authorization

[2015-05-19 15:52] leiblix commented on #14
Je to.

[2015-05-19 15:58] honza-rychtar commented on #14
Authorization mi to v hlavicce nevraci, jen:
access-control-allow-headers:x-requested-with

[2015-05-19 16:40] leiblix commented on #14
Myslel jsem, že tak jednoduchou nepodělám a nemusím to testovat. Ale nepřečetl jsem si dokumentaci a udělal jsem to blbě. Když se hlavička opakuje, tak se musí použít addHeader místo setHeader.

Nyní je to už ok.

[2015-05-19 21:33] honza-rychtar commented on #14
Diky.

[2015-05-19 21:33] #14 closed, assigned to nobody

[2015-05-22 23:56] honza-rychtar opened #15 "Chybi MP3 streamy."
V seznamu streamu pro zvukove dokumenty, napr:
http://kramerius.mzk.cz/search/api/v5.0/item/uuid:9ee4dc24-fcbb-45fd-ae52-e9f4eced0d0e/streams/
je OGG, WAV i MP3.
Dostupne jsou vsak jen OGG a WAV.
MP3 stream:
http://kramerius.mzk.cz/search/api/v5.0/item/uuid:9ee4dc24-fcbb-45fd-ae52-e9f4eced0d0e/streams/MP3
vraci jen {"status":404}

[2015-05-25 06:10] leiblix opened #16 "IIIF presentation API"
Kramerius by mohl poskytovat manifest.json pro danou věc, odkazující se na imageserver na IIIF verzi dlaždic místo na zoomify.

http://dms-data.stanford.edu/data/reader/m2/

příklad manifestu který bude v Miradoru fungovat (URL manifestu se vloží kliknutím na jedno z těch prázdných oken Miradoru):

z teto knizky: http://www.e-codices.unifr.ch/en/searchresult/list/one/saa/4530 manifest na:
http://w

[2015-05-25 15:14] Jenyk commented on #9
API je hotové, můžeš ho vyzkoušet na http://krameriustest.mzk.cz/search/api/v5.0/feedback
Nastavil jsem email administrátora na tvůj (@honza-rychtar), takže testovací maily budou chodit tobě.
Commit https://github.com/moravianlibrary/kramerius/commit/5a319361dc279f36f028a386679926a99f3c8393

Je-li to ok, tak pošlu pull request Incadu.

[2015-05-25 16:58] #15 closed, assigned to leiblix

[2015-05-26 18:31] honza-rychtar commented on #15
Tohle teda nebyla chyba API, ale jen chybejici data v Krameriovi MZK?
Muzu teda pocitat s tim, ze MP3 streamy jsou ve vsech Krameriich dostupne? I kdyz fallback na ogg/wav tam dam, ale jako prvni bych zkousel MP3.

[2015-05-26 18:48] honza-rychtar commented on #9
Diky.

vsechny 4 parametry jsou povinne.
Uzivatel mail vyplnovat nebude (i kdyz dobrovolne muze). Zatim tam budu davat neco jako noreply@mzk.cz, ale pak by bylo dobre udelat tento parametr nepovinny.
A podle (ne)pritomnosti pak naformatovat telo zpravy.
Stejne tak parametr text by nemusel byt vyzadovany.

Feedback by pak mohl slouzit i jako klasicky feedback, ne jen na nahlasovani chyb v otevrenem

[2015-05-26 19:02] honza-rychtar commented on #11
Zkuste protlacit do dalsi verze krameria ten dotaz na verzi API
Rostouci funkcionalita uz bude zavisla na verzi - v tuhle chvili je bud verze < 5.1.1, pak to cele nefunguje nebo verze 5.1.1, pak to cele funguje.

Treba nahlasovani chyb v datech se bude delat pres nejake tlacitko na vetsine obrazovkach - tak at tam nevisi i pokud nema prohlizeny Kramerius dostatecnou verzi.
Pokud bych se hned pri s

[2015-05-26 22:15] honza-rychtar commented on #9
Funguje to. Muzes poslat pull request.

Pridal jsem do aplikace formular pro nahlasovani chyb:

![snimek obrazovky porizeny 2015-05-27 00 04 27](https://cloud.githubusercontent.com/assets/1178142/7824676/331aabc6-0405-11e5-9b3b-9daf5470854e.png)

Po odeslani mi na mail prislo:

from: noreply@janrychtar.cz
 pid: uuid:c6d8fc1a-8fed-4ea4-b8b8-26207a1650b9
 content:
Test zpětné vazby.
Našel jsem chybu

[2015-05-27 06:05] leiblix commented on #15
Ano, chyba byla (a jeste je, dokud ji neopravim, po oprave ta data jeste jednou dogeneruju) v MEditoru. V MLP se tato chyba nevyskytuje maji trochu jine worfklow....

[2015-05-27 06:08] leiblix commented on #14
Sice jsme to zavřeli, ale ještě jsem to neposílal jako pull-request do Incadu. Má to pro tebe nějaký smysl, než se vyřeší https://github.com/ceskaexpedice/kramerius/issues/246 ?

[2015-05-27 06:16] leiblix commented on #8
Toto už v Krameriu je, jenom se to zřejmě zapomnělo zdokumentovat.

https://github.com/ceskaexpedice/kramerius/blob/master/rest/src/main/java/cz/incad/kramerius/rest/api/k5/client/pdf/PDFResource.java

[2015-05-27 11:30] leiblix commented on #11
GPS souřadnice tam chceš jedny, nebo umožníme správci jich nastavit více? Např. předpokládám, že Praha má Krameria přístupného z více budov, které jsou roztroušené....

[2015-05-27 11:49] leiblix commented on #11
Dále má administrátor Krameria možnost upravovat "security" text, který se zobrazí u nepřístupného dokumentu (k vidění například zde http://kramerius.mzk.cz/search/i.jsp?pid=uuid:8537a8c6-ad67-480e-b83c-af9fc97358db). Myslím, že to má taky smysl, aby to měl každý jinak - například naše Kramerius počítače jsou polepené speciální nálepkou.

Z toho vyplývá další otázka, co s obrázky a formátováním...

[2015-05-27 11:49] Jenyk commented on #9
Tak jsem změnil všechny 4 parametry na nepovinné a poslal pull request (https://github.com/ceskaexpedice/kramerius/pull/248).

Metoda, která posílá mail (včetně formátování těla zprávy) je převzatá z Krameria a nechtěl jsem ji měnit. Formátovací string na tělo zprávy se bere z nastavení (feedback.mail.message=from: {0} pid: {1} content:{2}). Mělo by to být lokalizovatelné.
Teď se teda bude v přípa

[2015-05-27 11:50] #9 closed, assigned to Jenyk

[2015-05-27 12:24] honza-rychtar commented on #11
GPS jedny, tohle bych bral spis jako umisteni provozovatele Krameria.
Pokud jde o lokaci, kde se nachazi konkretni dokument, tak to udelam pres sgilu.
Ted mam mapovani SIGLA -> nazev instituce. Pokud pridam i GPS a adresu, tak muzu odkazat uzivatele do konretni budovy pro kazdy dokument zvlast.
Mohla by existovat sluzba, ktera pres siglu vrati info o instituci (jeji casti). Ale teoreticky si to mu

[2015-05-27 12:31] honza-rychtar commented on #14
Dokud se nevyresi session id, tak to nema smysl.
Access-Control-Allow-Headers: Authorization bez session id nefunguje.
Jen at se pridaji obe zmeny spolecne - Authorization hlavicka i odstraneni session id, resp. autorizace pres base auth.

Aby nevysla verze, kde funguje jen jedno.

To session id ted funguje az moc pekne :)
Kdyz mam zapnute --disable-web-security, tak mi prihlasovani funguje, prihl

[2015-05-27 12:49] honza-rychtar commented on #8
Muzes to prosim trochu popsat.
Koukal jsem na to nepodarilo se mi stahnout pdf pres napr.
http://kramerius.mzk.cz/search/api/v5.0/pdf/parent?pid=uuid:530719f5-ee95-4449-8ce7-12b0f4cadb22&numer=2

[2015-05-27 12:54] zabak commented on #11
Existuje autoritativní databáze knihoven  http://aleph.nkp.cz/F/?func=direct&doc_number=000000732&local_base=ADR
tam je spousta těchto informací v Alephu, i ty souřadnice, byť jen jedny.

[2015-05-27 12:57] leiblix commented on #8
Promiň, myslel jsem, že to bude fungovat o něco líp, já to neimplementoval. Dokumentace k tomu není, vidím taky jenom tento kód. Popíš ti to později, dnes už stíhám akorát přiložit stacktrace

[code]

[2015-05-27 13:36] honza-rychtar commented on #8
Ok,

chyba v tom stacktracu by mela nastat jen pokud nevyplnim parametr number. Pokud ho vyplnim, tak bude chyba jinde.

Kazdopadne takto to spadlo na pekne veci:
if (number == null || number.trim().equals(""))
            number  = "" + (Integer.parseInt(number) - 1);

Kdyz je number null, tak ho pojdme parsovat jako integer :)
Hold Java neni Javascript :)

[2015-05-27 18:20] leiblix commented on #8
Heh :)

Jinak už vidím proč ten tvůj odkaz nefunguje, máš tam překlep `/s/numer/number/`

http://kramerius.mzk.cz/search/api/v5.0/pdf/parent?pid=uuid:530719f5-ee95-4449-8ce7-12b0f4cadb22&number=2
funguje :-)

[2015-05-27 20:16] leiblix commented on #11
To co píše @zabak je zajímavé, ten dotaz se dá položit i přes x-services http://aleph.nkp.cz/X?op=find-doc&doc_num=000000732&base=ADR

Možná se dá ten dotaz poskládat tak, aby se dotaz položil přímo přes siglu, protože minimálně v GUI to jde (http://aleph.nkp.cz/F/?func=direct&doc_number=&local_base=ADR)

@jirislav nevíš, jak takovýto dotaz položit přes x-services? http://aleph.nkp.cz/F/JQK23DS7MN

[2015-05-27 21:37] jirislav commented on #11
@MartinRumanek podívám se na to v pátek večer nebo v sobotu ráno, snad to počká ;-)

[2015-05-28 11:59] honza-rychtar commented on #8
Jej :)
Super, diky.

Vola se tam checkNumber(String number) z
https://github.com/ceskaexpedice/kramerius/blob/master/rest/src/main/java/cz/incad/kramerius/rest/api/k5/client/pdf/AbstractPDFResource.java

Kontroluje se, ze number nepresahlo limit, ktery si predpokladam nastavuje admin kazdeho Krameria sam.
Zjistim nejak tento limit? Pokud jeden Kramerius ma limt 100 a jiny Kramerius limit 200. Tak

[2015-05-30 09:39] leiblix commented on #8
V Incad klientovi obchází API a naplní si patřičný skript v šabloně zde https://github.com/moravianlibrary/kramerius/blob/master/client/src/main/webapp/WEB-INF/html_header.vm

Samozřejmě to má být v API....takto toho klienta nejde plně implementovat

v 90 % to citlivé hodnoty jsou, buď to jsou hesla, nebo různé cesty a jiná interní nastavení. Myslím, že nebude vadit, že těch pár zajímavých konfigu

[2015-05-30 09:43] leiblix commented on #16
Link od Petra:

https://github.com/hashimmm/iiifoo

[2015-05-30 09:47] leiblix opened #17 "Nejde vygenerovat private PDF dokument"
Tento konkrétní dokument nelze vygenerovat, přihlášení na to nemá vliv

http://krameriusndktest.mzk.cz/search/api/v5.0/pdf/selection?pids=uuid:4b61c7a0-048c-11e5-91f2-005056825209,uuid:4b729080-048c-11e5-91f2-005056825209,uuid:4b80c150-048c-11e5-91f2-005056825209,uuid:4b916320-048c-11e5-91f2-005056825209,uuid:4ba475f0-048c-11e5-91f2-005056825209

[2015-05-30 11:35] honza-rychtar commented on #8
Nakonec pouzivam tu druhou metodu pro generovani PDF
ii) api/v5.0/pdf/selection?pids=PID_ARRAY
protoze potrebuju mit moznost vybrat stranky OD - DO nebo vygenerovat PDF pro jednu konkretni stranku.
Nevyhoda je, ze musim explicitne vyjmenovat vsechny stranky v pids parametru a url tak muze byt moc dlouhe, u 150 stranek (pids parametr v url ma delku 150*48-1=7199) uz to haze:
413 (Request Entity Too

[2015-05-30 12:06] leiblix opened #18 "Nagios API"
Sepsat veškeré požadavky, které budeme testovat nagiosem (a závislosti mezi němi).

[2015-05-30 12:10] leiblix commented on #11
Maličko jsem s tím pohnul, je tam i ten intro text (další věci přidám později). Je lokalizovaný podle hlavičky prohlížeče. Pokud je to tak v souladu s rest principy, tak bych to tak už nechal.

https://docker.mzk.cz/search/api/v5.0/info

[2015-05-30 12:54] jirislav commented on #11
Ok takže jsem na to přišel - zadáš http://aleph.nkp.cz/X?op=find&find_code=wrd&base=ADR&request=sig=boa001
a pak zadáš
http://aleph.nkp.cz/X?op=present&set_entry=000000001&format=marc&set_no=013401 podle set_number které ti vyhodí první request

[2015-05-30 12:59] honza-rychtar commented on #11
V souladu s REST principy to je - vraci se stejny zdroj a ruzna reprezentace, takze lokalizace pres Accept-Language je ok.

Melo by to fungovat stejne napric API.
Lokalizace virtualnich sbirek http://kramerius.mzk.cz/search/api/v5.0/vc/ se resi primo v odpovedi:
"descs":{"en":"Brno Regional Museum","cs":"Muzeum Brněnska"}
Vyhoda tohoto pristupu je, ze pri zmene jazyka se nemusim znova ptat serveru

[2015-05-30 13:08] leiblix commented on #11
@honza-rychtar Je to defaultní instalace Krameria, myslím, že nějaký anglický text to default vrací, tak je chyba asi v něčem jiném. Dořeším to s dalšími věcmi nejspíš v úterý.

@jirislav Díky!

[2015-05-30 13:11] honza-rychtar commented on #11
@jirislav super!

Tohle muzem pouzit pri verejne nepristupnem dokumentu. Vypise se Nazev instituce, adresa, kontakt, pripadne zobrazeni na mape. To se pak doplni o text, ktery bude specificky pro vybrany Kramerius, ktery se ziska pres to /info

Mohli bychom to pouzit i pro popis instituce u vybraneho Krameria. I kdyz muze mit Kramerius dokumenty z vice fondu, tak se pro kazdeho Krameria vybere pri

[2015-05-30 13:29] jirislav commented on #11
Rádo se stalo ;)

[2015-05-30 13:55] leiblix commented on #11
@honza-rychtar Pokud by tam nebyl CORS, nebo se ti nelíbilo, že se to vrací v XML, tak to můžeme zapracovat do API (kdybys to chtěl, založ mi k tomu issue prosím)

[2015-05-30 14:14] honza-rychtar commented on #11
@MartinRumanek uz jsem to mel skoro hotove, ale zapomnel jsem na CORS (testuju v Chrome s --disable-web-security). CORS tam povoleny neni.

Nevim jestli toto patri do API Krameria. Ale byla by fajn nejaka sluzba, ktera by tyhle informace nabizela - aby mela povoleny CORS a vracela vysledky v nejakem lepsim formatu - ne XML a ne MARC. Nejaky lip strukturovany JSON.

Zalozim k tomu issue.

[2015-05-30 14:34] honza-rychtar opened #19 "Informace i instituci pres siglu"
Informace o instituci (nazev, kontakt, adresa, souradnice, web, ...) lze ziskat z NKP katalogu pres siglu v XML formatu nasledovne:
Priklad pro MZK (sigla boa001)
http://aleph.nkp.cz/X?op=find&find_code=wrd&base=ADR&request=sig=boa001
Z odpovedi se veme set_number a zavola se:
http://aleph.nkp.cz/X?op=present&set_entry=000000001&format=marc&set_no=SET_NUMBER
Napr. http://aleph.nkp.cz/X?op=present&

[2015-06-02 08:23] dsecik opened #20 "Rozbite dlazdice"
Odkaz na dokument: http://krameriusndktest.mzk.cz/search/i.jsp?pid=uuid:fde4bf10-1648-11e3-84ec-5ef3fc9bb22f

HTTP Status 500 - Server returned HTTP response code: 400 for URL: http://krameriusndktest.mzk.cz/imageserver/NDK/2013/9af9b660-fd9f-11e2-9923-005056827e52/UC_9af9b660-fd9f-11e2-9923-005056827e52_0001/TileGroup0/1-1-2.jpg

type Exception report

message Server returned HTTP response code:

[2015-06-02 09:21] dsecik commented on #20
V Honzovom krameriu sa zobrazuje korektne http://janrychtar.cz/kramerius/#/ndk/view/uuid:9af9b660-fd9f-11e2-9923-005056827e52?page=uuid:fde4bf10-1648-11e3-84ec-5ef3fc9bb22f
@honza-rychtar aku prohlizecku pouzivas?

[2015-06-02 11:25] leiblix commented on #5
U tohoto čekáme na obnovu dat?

[2015-06-02 11:25] leiblix commented on #3
Budeme to teda nějak předávat dál? Kdy to budeme moci zavřít?

[2015-06-02 11:34] leiblix commented on #11
https://docker.mzk.cz/search/api/v5.0/info

Jsou tam patřičné texty a i ten limit na PDF. V případě, že je limit vyplý, vrátí se místo čísla "unlimited".

Může to tak být?

Btw. rightMsg přeložené je, info ne. To je bug krameria, který se projevuje i jinde. Nebudu to řešit jako součást tohoto issue.

[2015-06-02 11:42] #13 closed, assigned to leiblix

[2015-06-02 11:48] leiblix opened #21 "Chybějící dokument v krameriusndktest.mzk.cz"
V Pražském NDK Krameriu je dokument
http://kramerius4.nkp.cz/search/i.jsp?pid=uuid:a1bc5830-0648-11dd-8541-000d606f5dc6

který v našem Krameriu vidět není. Jak se to stalo?

Tento dokument je specifický tím, že má donátora. Potřebuju ho pro otestování API.

[2015-06-02 12:12] popelkatomas commented on #21
Dokument byl zpracován jako tzv. importní dávka, což je jeden ze dvou možných způsobů zpracování dat z externího zdroje. Systém NDK v tomto případě odeslání do krameriusndktestu zcela ignoroval. Zjišťuju podrobnosti, zejména jestli jde o izolovaný jev, nebo systémový problém.

[2015-06-02 13:49] popelkatomas commented on #17
Nejsou ošetřeny speciální znaky. Titul obsahuje v názvu "&", za kterým parser očekává validní escape sekvenci a ve výsledku způsobí SAXParseException.
Dokument, který způsobuje chybu: http://pastebin.com/dY0mqArB
Stacktrace: http://pastebin.com/zSeSN5yA

[2015-06-03 10:26] #10 closed, assigned to leiblix

[2015-06-03 11:02] #21 closed, assigned to popelkatomas

[2015-06-03 16:55] leiblix opened #22 "SOLR dotaz bez hlaviček"
curl -v -H "" "http://kramerius.mzk.cz/search/api/v5.0/search?q=fedora.model%3Amonograph+AND+modified_date%3A%5B2015-01-01T00%3A00%3A00Z+TO+2015-01-16T00%3A00%3A00Z%5D&fl=PID&wt=xml"

nefunguje.

V aktuálním snapshotu je to už asi vyřešeno.

[2015-06-04 18:54] LenkaKravecova commented on #3
Info z NK: metadata se v LTP opravovat nebudou, protože jde o velké množství dat, v kterých se ta chyba vyskytuje (prý to několikrát reklamovali Incadu, ti to opravili, ale pak s další aktualizací konverzní šablony se to tam zase vyskytlo). Bude se to řešit jen správným zobrazením v Krameriu. Tak je na nás, jestli si to v našem Krameriu budeme chtít opravit. V NDK to můžeme nechat, ale stejně vzni

[2015-06-07 11:48] Jenyk commented on #5
Těžko říct. Netuším, kdy a jak k tomu došlo. Podívám se potom, jak to v té záloze vypadá, ale nejspíš to budeme muset prostě smazat.

[2015-06-07 13:49] honza-rychtar commented on #20
@dsecik Pouzivam prohlizecku na OpenLayers 3.x, stejne jako novy klient od INCADu, kde to taky nedela problemy.
K4 klient pouziva prohlizecku nad Openlayers 2.x

[2015-06-07 15:12] honza-rychtar commented on #11
Jo, super.
A je to teda tak, ze v "intro" bude toto:
http://kramerius.mzk.cz/search/#intro7
a v rightMsg bude zprava v html, ktere se zobrazi pri neverejnem dokumentu?
Administrator kazdeho Krameria si tyhle dve zpravy nastavuje sam a bude si vedom, kde se v klientovi (klientech) budou vyskytovat - administrator si spravne zobrazeni otestuje sam!

A jeste s tou verzi - "5.1.1-SNAPSHOT" - bude i ve

[2015-06-07 15:21] leiblix commented on #11
jo, je to tak

To presne nevim, ted se to ma tak, ze oficialne 5.1.1 jeste nevysla, tak ocekavam, ze oficailni 5.1.1 teprve bude (zatim to tak driv vzdy bylo, ale snapshoty si nikdo krome nas nenasazoval]. To snapshot tam je, kdyz se to buildi ze zdrojaku a nic jineho by tam byt nemelo.

[2015-06-07 15:42] honza-rychtar commented on #11
Ok, ale tim padem nemusi byt SNAPSHOT jako SNAPSHOT :) - Vybuildim si verzi 5.1.1-SNAPSHOT, pak se prida nova ficura a nekdo jiny si vybuildi 5.1.1-SNAPSHOT, nazev verze mame stejny, ale u me tam chybi vlastnost, kterou ten druhy uz ma ...

5.1.1-SNAPSHOT ma ted KNAV, Usti nad Labem, Hradec Kralove a Olomouc (MZK a NDK nepocitam), takze vlastni buildy uz jsou nejspis bezne.
Tyhle knihovny uz maji

[2015-06-10 17:29] leiblix commented on #19
Vyřešeno projektem https://github.com/moravianlibrary/adresar-knihoven-api

[2015-06-10 17:29] #19 closed, assigned to nobody

[2015-06-11 16:09] leiblix commented on #11
mergnuto v distribuci (https://github.com/ceskaexpedice/kramerius/pull/252)

[2015-06-11 16:09] #11 closed, assigned to leiblix

[2015-06-19 15:43] Jenyk commented on #20
už je na to issue: https://github.com/ceskaexpedice/kramerius/issues/237

[2015-06-21 12:00] leiblix commented on #22
vyřešeno aktualizací kramerius.mzk.cz

[2015-06-21 12:00] #22 closed, assigned to nobody

[2015-06-21 12:03] leiblix commented on #12
Můj předpoklad byl správný. CBVK si dokumtny opravili nástrojem xmlstarlet (podobně jako jsem popisoval na https://github.com/moravianlibrary/kramerius/issues/13) a následnou reindexací.

[2015-06-21 12:03] #12 closed, assigned to popelkatomas

[2015-06-30 12:39] leiblix opened #23 "Registrace se stejným uživatelským jménem"
Mám hlášení, že když se registruje nový uživatel a použije existující login, Kramerius nevyhodí chybu (ale ani nepošle potvrzující mail).

[2015-07-03 15:58] honza-rychtar opened #24 "Zvukove streamy nefunguji."
Napr. http://kramerius.mzk.cz/search/api/v5.0/item/uuid:03c9b89b-868b-4b71-b76e-11098965a732/streams/
Ma mit MP3, WAV a OGG, ale vsechny streamy vraci internal error, napr.
http://kramerius.mzk.cz/search/api/v5.0/item/uuid:03c9b89b-868b-4b71-b76e-11098965a732/streams/MP3

Je to lokalni chyba v MZK jeko minule s MP3 nebo se neco zaneslo do Krameria a je to vsude?

[2015-07-03 16:01] honza-rychtar opened #25 "CORS - hlavicky"
Mohli byste jeste rozsirit CORS na serveru, tak aby povoloval hlavicky:
Origin, X-Requested-With, Content-Type, Accept, Authorization, Accept-Language?

Potreba pro POST requesty (napr. feedback), lokalizaci a autentizaci.

[2015-07-09 06:18] leiblix commented on #25
Nasazeno na krameriustest.mzk.cz. Je to ok?

[code]

[2015-07-20 12:49] leiblix commented on #22
Znovu se projevuje, i na krameriustest.mzk.cz

curl -v -H "" "http://krameriustest.mzk.cz/search/api/v5.0/search?q=fedora.model%3Amonograph+AND+modified_date%3A%5B2015-01-01T00%3A00%3A00Z+TO+2015-01-16T00%3A00%3A00Z%5D&fl=PID&wt="

[2015-07-23 11:05] leiblix commented on #23
v nové verzi opraveno

[2015-07-23 11:05] #23 closed, assigned to nobody

[2015-07-23 11:14] leiblix commented on #24
Zaslal jsem do upstreamu opravu https://github.com/ceskaexpedice/kramerius/pull/258

Večer Krameria s touto opravou nasadíme na kramerius.mzk.cz

[2015-08-05 10:03] leiblix opened #26 "IIIF image API"
Servlet pro poskytování dlaždic přes IIIF protokol.

[2015-08-06 11:20] leiblix commented on #26
Tak jsem udělal základní implementaci. Je to nasazené na docker.mzk.cz.

API dotaz na page:
https://docker.mzk.cz/search/api/v5.0/item/uuid:c99bb091-fa22-4399-96cd-739a9e66bbc6

obsahuje

[code]

na této adrese sedí servlet, který se chová jako proxy server pro imageserver (akorát si hlídá autorizaci k datům).

Ukázka IIIF dotazu:
https://docker.mzk.cz/search/iiif/uuid:c99bb091-fa22-4399-96cd-739a

[2015-08-13 11:21] leiblix commented on #16
Prvotní implementace http://krameriustest.mzk.cz/search/api/v5.0/item/uuid:530719f5-ee95-4449-8ce7-12b0f4cadb22/manifest

Zatím funguje pouze tato jedna monografie. Částečně protože je to jediná monografie v testovacím imageserveru (upgrade produkčního je už v plánu). A ostatní typy dokumentů jsem zatím neimplementoval.

[2015-08-13 11:24] leiblix commented on #16
A taky jsem zatím neimplementoval metadata - ale to těžké asi nebude.

[2015-08-28 08:14] leiblix opened #27 "Změnit hudebniny na model sheetmusic"
Mezi sheetmusic jsou i monografie, změnit jim model na sheetmusic.

http://kramerius.mzk.cz/search/r.jsp?offset=0&forProfile=facet&fq=document_type:%22sheetmusic%22

[2015-08-28 10:27] leiblix commented on #26
Implemtováno a zařazeno do upstramu. Nasazeno na krameriustest.mzk.cz.

V endpointu item je odkaz na IIIF:
http://krameriustest.mzk.cz/search/api/v5.0/item/uuid:891ee7f6-42dc-42ae-8b97-475e30dca18d/

Ukázka IIIF dotazu:
http://krameriustest.mzk.cz/search/iiif/uuid:891ee7f6-42dc-42ae-8b97-475e30dca18d/info.json

[2015-08-28 10:27] #26 closed, assigned to leiblix

[2015-08-28 10:36] leiblix opened #28 "Testování virtuální sbírky"
Zařadit test endpointu http://kramerius.mzk.cz/search/api/v5.0/vc/ do zátěžových testů v repozitáři https://github.com/moravianlibrary/kramerius-performance-test

[2015-08-28 15:40] LenkaKravecova opened #29 "Oprava data vydání čísla (Právo lidu)"
U čísla periodika uuid:f9aa748e-435d-11dd-b505-00145e5790ea (Právo lidu) nebyla provedena změna data vydání. Je tam 04.02.1898, ale správně je to 02.04.1898. Opravovala jsem to několikrát přes editor (přímo v MODS Origin, Part i v DC), ale zůstává tam stále to špatné datum.

[2015-09-01 14:42] honza-rychtar commented on #24
Jak to teda vypada s timto? Zvukove streamy porad nefunguji.

[2015-09-01 14:54] honza-rychtar opened #30 ""null" v root_title"
Spousta dokumentu (resp. jejich stranek) ma v SOLR root_title=null
root_title je potreba pri fulltextovem vyhledavani.
Napr. http://localhost/kramerius/#/mzk/search/?q=slun%C3%A9%C4%8Dko
Prvni vysledek je cela monografie, kde se retezec "slunéčko" nasel v nazvu.
Dal nasleduji vysledky ve fulltextu, hned prvni je znova ta sama monografie, ale nazev je "null", protoze se prebira ze stranky z root_ti

[2015-09-04 10:49] LenkaKravecova commented on #30
Opravili to: ceskaexpedice#298 Budem muset aktualizovat našeho Krameria a reindexovat vše, čeho se to týká. Týká se to bohužel i Lidovek (u těch se teď vytváří ALTO soubory a během dvou týdnů se udělala tak pětina, takže to bude ještě na dlouho..).

[2015-09-09 07:22] leiblix commented on #29
V DC je to dobře, ale v MODsu se to asi neuložilo. To bude chyba editoru, kouknu na to.

[2015-09-09 08:44] LenkaKravecova commented on #24
Tak už by měly fungovat.

[2015-09-10 11:37] #24 closed, assigned to leiblix

[2015-09-10 11:38] leiblix commented on #30
seznam se špatnými dokumenty je zde (od Honzy) https://www.dropbox.com/s/5102iqtcb4thfm4/root_title_null.txt

a něco je špatně, i s novou verzí po reindexaci tam asi null zůstává
zkoušel jsem http://kramerius.mzk.cz/search/api/v5.0/item/uuid:15e77643-02e7-4a43-9e7e-d04b8a30c246

[2015-09-10 12:12] leiblix commented on #29
Chyba editoru, bug https://github.com/moravianlibrary/MEditor/issues/14

[2015-09-10 12:12] #29 closed, assigned to nobody

[2015-09-11 11:31] Jenyk commented on #30
Ten link vypadá ok

[2015-09-14 14:37] leiblix commented on #28
na krameriustest.mzk.cz nejde vůbec virtuální sbírka přidat

14-Sep-2015 14:36:09.438 SEVERE [http-nio-8080-exec-138] null.null  Caused by: [DefaultExternalContentManager] returned an error.  The underlying error was a org.fcrepo.server.errors.GeneralException  The message was  "Error getting http://krameriustest.mzk.cz/search/vc?action=TEXT&content=test"  .
 javax.xml.ws.soap.SOAPFaultException:

[2015-09-16 09:07] ovyhlidal opened #31 "Prazdny JSON jako response"
Po requestu
http://kramerius.mzk.cz/search/api/v5.0/item/vc:6c323045-d869-4d65-928d-3d52f34440a0/children
dostanu prazdne pole - resp json s praznym obsahem

[2015-09-16 11:55] honza-rychtar commented on #31
Obsah sbirky se pres API takto dostat neda.
Musi se pouzit SOLR.

Pro sbirku to udelas takto:
http://kramerius.mzk.cz/search/api/v5.0/search?q=collection:"vc:6c323045-d869-4d65-928d-3d52f34440a0"
Tohle je zakladni dotaz, ktery vraci vsechny plne zaznamy ze sbirky (i stranky), celkem 14672. Vrati to prvnich 10 zaznamu, strankuje se pak pres parametry start a rows

Tobe se bude hodit tento dotaz:
ht

[2015-09-16 12:29] ovyhlidal commented on #31
Super, diky moc. Mrknu na to a dam vedet.

[2015-09-16 12:54] leiblix commented on #30
@Jenyk Už vím proč se to neprojevilo hned, v API používají třídu SolrMemoization, která funguje jako cache pro dotazy do SOLRu.

[2015-09-18 08:51] leiblix opened #32 "IIIPimage s použitím čtečky Seadragon"
Při použití čtečky Seadragon se na pravé straně u některých obrázků objevují artefakty. Dlaždice putují přes IIIF Image API 2.0.

Přikládám jednotlivé ukázky:

**Čtečka napojená přímo na náš imageserver:**
_protože imageserver neposílá cors hlavičky je nutné zkoušet v chromu, který je zaplý s volbou --disable-web-security_
http://jsfiddle.net/02gqmagy/3/embedded/result/

**Prohlížečka napojená na

[2015-09-18 11:36] dsecik commented on #32
Problem nastava pri zmene velkosti pozadovaneho vyseku obrazku na strane imageservru.
Ide o parameter size. "The size parameter determines the dimensions to which the extracted region is to be scaled." viac na: http://iiif.io/api/image/2.0/#size

**Vysek v originalnej velkosti:**
ma rozmery 31x766
2048,2048,**31,766**/ **full**/0/default.jpg
http://imageserver.mzk.cz/mzk01/000/329/646/5b93cdc8-6f6

[2015-09-18 15:18] leiblix commented on #6
Bylo opraveno. Už je to ok http://kramerius.mzk.cz/search/i.jsp?pid=uuid:c3318d70-6f69-11e2-b9fa-005056827e52

[2015-09-18 15:31] leiblix commented on #28
zařazeno do zátěžových testů

[2015-09-18 15:31] #28 closed, assigned to nobody

[2015-09-18 16:21] honza-rychtar commented on #6
Nebylo opraveno.
Porad je v root_title Dětský čin.
Takze ve vsech klientech se to bude nekde zobrazovat. Napr. v K5 INCAD klientovi se root_title pouziva vsude. Zkuste tam vyhledat čin, ve vysledcich hledani je hned Dětský čin.
Problem je v tom jak se do root_title alternativni nazev dostal.

[2015-09-18 16:22] honza-rychtar commented on #6
http://kramerius.mzk.cz/search/api/v5.0/item/uuid:c3318d70-6f69-11e2-b9fa-005056827e52

[2015-09-19 14:08] leiblix commented on #6
Máš pravdu, opravili pouze mírným "hackem" staré rozhraní, API jsem zapomněl zkontrolovat. Otevřu jim na to nové issue.

[2015-09-21 11:38] leiblix opened #33 "Generování deepzoomcache"
Přijde mi matoucí tlačítko na generování DeepZoom cache, rozhodně by mělo jít tuto volbu přes konfigurační soubor vypnout - v případě externího imageserveru je tato volba zbytečná, či dokonce kontraproduktivní (je možné, že se smaže odkaz na tiles).

[2015-09-21 13:26] leiblix commented on #27
uuid:5d462155-7e3c-11e1-a68c-0050569d679d
uuid:632edaed-9852-11e0-bd44-0050569d679d
uuid:7dff6f13-9dad-11e0-8578-0050569d679d
uuid:fbc60c92-5fc2-11e1-ae74-0050569d679d
uuid:44d12952-0492-11e1-8cf2-0050569d679d
uuid:f4f9cf08-26e0-4bfe-bf64-89e2d8e58845
uuid:98f82e26-7e3a-11e1-a68c-0050569d679d
uuid:17fe155d-a975-11e0-a5e1-0050569d679d
uuid:4fddfb52-9e68-11e0-b8ae-0050569d679d
uuid:45596a69-9e68-11e

[2015-09-21 14:40] leiblix commented on #6
Ve "starém" UI Krameria byla chyba vyřešena tím, že se místo root_title nyní používá vždy title.

Od dubna roku 2014 proběhla změna v indexeru, který chybný root_title minimálně u tohoto dokumentu vyřeší.

Nicméně nebere se to vůbec z MODS, ale vezme se vždy první DC.title. Teoreticky může nastat situace, že v DC.title bude jako první uveden alternativní název a pak by se to zase zreindexovalo špa

[2015-09-21 14:47] leiblix commented on #33
@Jenyk Nepodařilo se mi zreplikovat to mazání tiles, nevíš čím to měli na FSV speciální? Mi ten proces generování dlaždic vždy hodí chybu...

[2015-09-21 16:38] honza-rychtar commented on #6
To ze se to bere z DC, kde by teoreticky mohl byt alternativni nazev na prvnim miste je jedna vec - v tom pripade chyba, otazka je jestli zmenit plneni DC nebo ziskavani title/root_title

Druha vec je, ze pres API nebo SOLR dostanu zaznam na nejvyssi urovni, u ktereho se lisi title a root_title - tohle by melo byt VZDY stejne.
Taky me zajimalo jak moc se to lisi a moc toho neni.
Tady https://docs.

[2015-09-21 17:13] honza-rychtar commented on #6
btw. v NDK Krameriovi je tech dokumentu 19 tisic. Z toho 7338 typu 3

[2015-09-21 20:08] Jenyk commented on #33
Jakou? Jde tu cache smazat? Dělá to buď generování a nebo (spíš) mazání

[2015-09-22 06:15] leiblix commented on #33
Můžeš se na to podívat na krameriustest.mzk.cz, případně si to na libovolném dokumentu zkusit. Zkoušel jsem to nad sluníčkem a generování cache spadlo.
![vytvareni_deepzoom](http://i.imgur.com/vVoeUvY.png)
A naopak to mazání cache projde - ale pokud jsem se podíval dobře,tak to dokument nijak nepoškodilo.

[2015-09-22 09:22] leiblix commented on #6
Toto je teda detektivní práce :-(

Nareplikoval jsem si pro testy dokument http://krameriustest.mzk.cz/search/i.jsp?pid=uuid:0e66f0f3-08c8-42e2-8d9a-b19e33ade62e

a po reindexaci se title a root_title rozjel:
- atribut title se do indexu dostává přes indexační šablonu K4.xslt, která bere vždy první DC.title v poslední verzi
- v aktuální verzi indexeru (https://github.com/ceskaexpedice/kramerius/bl

[2015-09-22 16:29] honza-rychtar commented on #6
Stejna tabulka pro NDK: https://docs.google.com/spreadsheets/d/1E9K6LE8vQvGIUHD87fSfr9DBjoJmv9IVJXgSKeNKLcM/edit?usp=sharing

Ruby skript generujici tu tabulku:
https://gist.github.com/honza-rychtar/d9ffda3ee5bfe7b3fac4
Nahore pres `host` mozne zmenit Krameria.

Je toho fakt hodne, podivejte se na ty dole (typ 3). Vypada to na alternativni nazvy, casto je to v jednom anglicky a v druhem cesky. Tak

[2015-09-23 13:21] leiblix opened #34 "Odpojování periodik"
Mám podezření, že nastává situace:
Jeden ročník připojený ke dvoum periodikům. Z jednoho ho odpojím a pustím na něm reindexaci - ročník zmizí v celém Krameriu.

[2015-09-24 08:23] leiblix commented on #6
Nevím, proč se to stalo a po pravdě se mi moc nechce vrtat ve starých zdrojácích a zjišťovat jak to kdy bylo a proč chyba vznikla. Postarám se akorát o to, aby se to opravilo v aktuální verzi a všechno to reindexujem (je toho moc, ale nějak si s tím poradíme).

Btw. teď mi došlo, že vlastně tou reindexací přesouváme dokumenty typu 0 do těch dalších skuptin, protože ta implementace reindexace do  r

[2015-09-25 14:11] leiblix commented on #33
@Jenyk Pokud by sis někdy všiml, že to ten odkaz na tiles fakt smaže, tak toto issue prosím otevři.

[2015-09-25 14:11] #33 closed, assigned to nobody

[2015-09-25 15:59] leiblix commented on #34
Podezření se potvrdilo, předal jsem Incadu.

[2015-09-25 15:59] #34 closed, assigned to nobody

[2015-09-29 07:25] leiblix commented on #31
Pokud by byl ten SOLR dotaz nevyhovující, tak to issue znovu otevři prosím :)

[2015-09-29 07:25] #31 closed, assigned to nobody

[2015-09-29 07:48] leiblix opened #36 "Spojení imageserverů"
Hromadně změnit linky na krameriusndktest.mzk.cz, tak, aby odkazoval do jednotného MZK imageserveru, který už podporuje IIIF.

[2015-09-29 14:51] leiblix commented on #3
Vyřešeno pomocí upravené XSL šablony.

[2015-09-29 14:51] #3 closed, assigned to nobody

[2015-09-29 20:13] leiblix commented on #36
Spojování zatím proběhli na roce 2012 a částečně na roce 2013. Ale IIIF tak úplně nefunguje http://krameriusndktest.mzk.cz/search/iiif/uuid:69877462322d770dea054f5b5850f5c2/info.json. Musíme zjistit proč.

[2015-09-30 08:44] zabak opened #37 "při zobrazení chráněného dokumentu chybí obrázek v červeném textu upozornění že nemám právo to vidět"
např. http://krameriusndktest.mzk.cz/search/i.jsp?pid=uuid:e2be9f30-de79-11e4-8565-005056827e52

[2015-09-30 09:09] leiblix commented on #37
Opravil jsem.

[2015-09-30 09:09] #37 closed, assigned to nobody

[2015-10-02 06:45] Drahotussky opened #38 "Import balicku podle starých standardů do K5"
Dobry den,
chci se zeptat, zda lze bez problemu importovat do K 5 balicky vytvorene dle standardu verze 1.0 (mono) a 1.4 (perio) z roku 2012?

Dekuji

A. Drahotussky, MSVK Ostrava

[2015-10-02 07:51] leiblix commented on #38
Issue tracker v tomto repozitáři slouží pouze pro interní potřeby MZK. Nedokážu vám odpovědět lépe než vám odpověděl pan Lahoda z Incadu. Není důvod aby to nešlo, ale zkušenosti s tím v MZK nemáme.

Můžete zkusit ještě už zmiňovanou neoficiální diskusi na https://gitter.im/moravianlibrary/kramerius, diskuse tam se účastní více správců a je možné, že někdo NDK balíčky řešil.

[2015-10-05 06:27] leiblix commented on #33
Na FSV se to fakt smazalo, ale není tam aktuální verze K5.

[2015-10-05 11:40] #38 closed, assigned to nobody

[2015-10-05 12:00] jirkadev commented on #36
V balíčku search v souboru [IiifServlet.java](https://github.com/moravianlibrary/kramerius/blob/master/search/src/java/cz/incad/Kramerius/imaging/IiifServlet.java) je na řádku 66 kontrola správnosti uuid pomocí regulárního výrazu.

při zakomentování ifu, [odkaz na krameriusTest](http://krameriustest.mzk.cz/search/iiif/uuid:69877462322d770dea054f5b5850f5c2/info.json) funguje a stáhne se info.json

[2015-10-05 12:28] leiblix commented on #36
Aha, takže v Krameriu NDK máme i nevalidní UUID :-( Upravím kód tak, aby to nevalidoval.

[2015-10-06 07:20] leiblix commented on #19
Poznámka pro další generace, pro hledání BOA lze využít aplikaci http://czech-libraries.herokuapp.com/ kterou naprogramoval @honza-rychtar

[2015-10-06 08:49] leiblix opened #39 "Nevalidní UUID"
Během řešení https://github.com/moravianlibrary/kramerius/issues/36 jsme přišli na to, že (minimálně) zezačátku do NDK Krameria protekly nevalidní uuid.

Tyto špatné uuid se týkají asi pouze stran, které se pravděpodobně generují až v  transformačním modulu. Do LTP se asi cpou METS balíčky a ty neobsahují UUID stran. @popelkatomas Uměl bys to prosím ověřit?

_Ukázka špatného UUID_
 MZK: http://kra

[2015-10-06 08:50] leiblix commented on #39
A samozřejmě by bylo vhodné, aby Kramerius tyto identifikátory při importu do Fedory validoval.

[2015-10-06 19:39] zabak commented on #19
která se ale přestěhuje na knihovny.cz, až bude hotová

[2015-10-09 08:39] leiblix commented on #36
Po rok 2014 je spojeno, nyní počkáme na změnu konfigurace TM modulu.

[2015-10-11 13:21] Jenyk opened #40 "Mazání z imageserveru"
Proces mazání v K5 maže data z fedory a solr, ale nechává obrázky na imageserveru.
Chtělo by to projít imageserver a zjistit, co je tam navíc, případně upravit proces mazání v K5.
Potenciální problém: v imageserveru nejsou jen obrázky pro Krameria.

[2015-10-11 13:26] zabak commented on #40
Nicméně cílem je, aby všechny obrázky v imageserveru byly v Krameriu, takže minimálně bychom našli všechny kandidáty (a ano, bude tam spousta map a grafik)

[2015-10-11 13:28] Jenyk commented on #40
Najdeme, co se liší, a potom to bude potřeba protřídit - určitě jsou tam i pohrobky ze smazaných dokumentů

[2015-10-11 14:53] honza-rychtar commented on #40
Nez zacnete cpat vsechny mapy a grafiky do Krameria, tak se zamyslete nad struktorou trochu. Uz ted mapy v Krameriovi MZK, Olomouce nebo Budejovic jsou naprosto neprehledne. Stovky jednostrankovych dokumentu - nema to strukturu a v kazdem klientovi je prochazeni map nepohodlne - nesouvisle dokumenty na nejvyssi urovni chovajici se jako jednostrankove monografie, byt s modelem map.
Prochazeni je pa

[2015-10-11 15:23] Jenyk commented on #30
Opraveno až na Lidové noviny (ty se budou indexovat až časem, indexace trvá moc dlouho)

Kontrola: http://kramerius.mzk.cz/search/api/v5.0/search?fl=root_pid&q=root_title:%22null%22&group=true&group.field=root_pid&group.ngroups=true

[2015-10-11 15:23] #30 closed, assigned to Jenyk

[2015-10-11 15:37] leiblix opened #41 "Import grafik a map do Krameria"
Spousta dokumentů je pouze v imageserveru (a přímo do něj je linkováno z Alephu), ale už nejsou v Krameriu, což @pavluska chtěla vyřešit, přikládám popis úkolu:

Jde mi o grafiky (a možná i mapy), tedy obvykle jednoobrázkové maximálně dvojobrázkové veci. V imageserveru uz jsou. Takže potřebuju: 1. Stáhnout záznam z Alephu a zkonvertovat do MODS a DC (nebo to brát z OAI, kde by už měl být zkonverto

[2015-10-11 15:40] leiblix commented on #40
@honza-rychtar @zabak Dovolil jsem si k importu map a grafik napsat nové issue https://github.com/moravianlibrary/kramerius/issues/41, ať se to tady moc nezaplevelí.

[2015-10-11 15:47] leiblix commented on #40
Kromě smazání současných pohrobků se musíme domluvit (které nebudeme provádět před vyřešením issue https://github.com/moravianlibrary/kramerius/issues/41) jak zamezit vznikání dalších.

Momentálně má Kramerius do stromu imageserveru právo pouze pro čtení (kromě jedné malé teď nepodstatné výjimky) a myslím, že to není vhodné z bezpečnostních důvodů měnit.

Jediný server, kdo může v imageserveru obj

[2015-10-11 21:42] zabak commented on #41
Je tam minimálně ještě jedna úroveň a to úroveň mapy na více listech, resp. občas i knihy/atlasu, který byl rozebrán na jednotlivé listy, které jsou nesvázané součástí sbírky ale mělo by se s nimi pracovat jako s jednou entitou. No a v případě map na více listech by vůbec nebylo od věci moct zoomovat nad všemi listy, seskládanými správně dle kladu listů najednou.

Co se týče struktury mapové sbírk

[2015-10-12 06:34] LenkaKravecova commented on #41
Ten seznam je neaktuální. Seznam grafik, které jsme dohledali (tzn. víme, kde je máme), je tady: https://docs.google.com/spreadsheets/d/12n-ag5ZwQMZj0aDsditSNingHNuzMcK95DW5vjZK2wc/edit#gid=416480557 (Skř.1, Skř.2, BKB). Je jich kolem 3200. V tabulce by měl být celkový přehled o digitalizovaných hist. fondech.

[2015-10-12 07:02] FoxKyong commented on #40
Stejný problém je, když, kvůli jakýmkoli problémům v balíků pro import, ten import spadne. Ani v tomto případě si to Kramerius po sobě "neuklidí" a nechá vše, jak v podstatě nechal.

[2015-10-12 07:25] leiblix commented on #40
@FoxKyong Ano, na to je potřeba si dávat pozor. Proto v MZK vždy
1. provedeme prvně konverzi bez importu (dá se to odkškrtnout v GUI) - během toho se nakopírují obrazová data do imageserveru a vytvoří FOXML - během tohoto procesu se obvykle chyby nevytvoří
2. následně už jenom importujeme FOXML, přes klasický foxml-import. Tady to je pravděpodobnost pádu častější, tak je vhodné, že se to dá pouště

[2015-10-12 07:58] jirduf commented on #41
Ahoj všem,

další skupinou budou jistě série map - jde o soubory řádově o velikosti stovek (vojenská mapování, turistické mapy apod.), kde by bylo dobré, aby byly dané k sobě podle pole 490 (830), což je název edice. Ten by tvořil první úroveň a pod ní by se to členilo dál. Co se grafik týče, mám v plánu je v druhé půlce příštího roku nechat doskenovat a následně začít staré i nové vytvořené skeny

[2015-10-12 09:04] LenkaKravecova commented on #41
@honza-rychtar :
"Neberu ale argument o přidání 300 map přes které se neproklikám ke knížkám (předpokládám že se jedná o "nejnovější", protože to je holt život. Jindy se tam zase přidá 200 gramodesek..." ( @zabak )
300 byl jen priklad (to uz je bezne ted), slo mi spis o 18 tisic - pokud by se to nestrukturovalo, tak by to v klientech mohl byt problem - nejde jen o nejnovejsi, ale i prazdne hledani

[2015-10-12 09:11] LenkaKravecova commented on #41
@zabak :
U nejnovějších si vždycky můžeme dát tu práci a přihodit po importu map pár knih (to stejně zajistí NDK, jakmile Kramerie sloucime). Co se týče faset, tak Mollova sbírka ovlivňuje jejich podobu i ve VuFindu. V Krameriu při vyhledávání by se dalo zapracovat na relevanci (třeba o fous snížit relevanci u map a grafik, aby se před ně dostaly knížky, jsou-li). Navíc k odfiltrování grafik a map

[2015-10-12 09:13] LenkaKravecova commented on #41
@jirduf :
Ještě k Mollovi - je tam nekorektní věcné třídění napříč celou sbírkou, kdy je všude nasekané  historické knihovní fondy" a "mapové sbírky". Nejde samozřejmě o popis obsahu těch map (= věcný popis, pole 650), spíš by to patřilo mezi formální deskriptory (pole 655, které bohužel vufind ve fasetách nemá). Nejčistější cestou by tedy bylo záznamy upravit. Automatický převod by byl jednoduchý

[2015-10-12 09:31] LenkaKravecova commented on #41
Členit mapy dle edice mi přijde jako dobrý nápad. @jirduf budeme rádi za různé tipy, jaké celky u map vytvořit, pokud se teda dohodneme na tom, že by mapy nešly do Krameria po jednom obrázku. Ty vícestránkové mapy se můžou členit samostatně, ale nevím. Dohromady v jednom stromě s ostatními si to taky dokážu představit.

Co se týče grafik, těžko říct, to by stálo za to pak zkonzultovat např. s Jitk

[2015-10-12 11:11] jirduf commented on #41
ty mapy by bylo třeba dělat ručně, až to bude aktuální, tak připravím návrh. Grafiky budu mít na starosti příští rok asi taky já, zatím ale pořádně nevím, co v tom souboru vlastně všechno je a jak je rostlý. Navíc Jitka M. říká, že jich bude třeba něco přes 1000 ještě naskenovat - teprve potom uvidíme, co bude patřit k sobě a můžeme se pohnout dál.

Je ale vytváření takových vrstev, které byly pův

[2015-10-12 21:44] leiblix opened #42 "Špatné obrazové datastreamy"
Náhodou jsem při procházení Tomcat logu našel chybu

[code]

jedná se o dokument http://krameriusndktest.mzk.cz/search/i.jsp?pid=uuid:be2b2490-24c2-11e2-8579-005056827e52

Jak se to dostalo do ostrého Krameria a kolik tam takových zmetků je?

[2015-10-12 22:04] zabak commented on #42
V NK stejná věc obrázky má. Určitě to není výjimka, tj. měla by se udělat celková kontrola našeho Krameria :-(

[2015-10-16 14:02] leiblix opened #43 "TLS (https://) certifikáty"
Vygenerovat a nastavit TLS certifikáty pro všechny "vnější" služby.

Tzn:
- kramerius.mzk.cz
- editor.staff.mzk.cz
- medit.mzk.cz

Pro kramerius.mzk.cz potřebuji mít jistotu, že nerozbiji žádného klienta (@honza-rychtar @ovyhlidal)
 . Je možno testovat oproti https://docker.mzk.cz

Nareplikoval jsem pár veřejných dokumentů.

periodikum:
https://docker.mzk.cz/search/handle/uuid:5a2dd690-54b9-11de-8

[2015-10-19 07:00] leiblix opened #44 "SEVERE chyby v logu s moving wall"
V logu se teď poměrně často vyskytuje chyba

[code]

[2015-10-19 07:09] leiblix opened #45 "Mikulov import FOXML, špatné cesty"
Při importu Mikulova se do Krameria dostaly špatné FOXML

odkazy na thumbnaily jsou se suffixem jpg
https://gist.github.com/MartinRumanek/9dafebfdf0ff4e38829d

a tiles je tam dvakrát.

problem se bude týkat podmnožiny dokumentů z procesu http://kramerius.mzk.cz/search/inc/admin/_processes_outputs.jsp?uuid=2835829c-1f68-4402-a3ae-f0fb616d0ae7 (nutná autentizace)

[2015-10-19 11:00] Jenyk commented on #44
V MODS je tag: `<dateIssued>mezi 1829 a 1833]</dateIssued>`

[2015-10-19 11:35] leiblix opened #46 "Hromadné opravy v Krameriu"
Opravy dle dokumentu od Pavly

https://docs.google.com/spreadsheets/d/1wyslvJa1vOLUwOSQ7s3kRnKB82A08mq1ITK5lXII_9Y/edit#gid=850398819

[2015-10-19 12:00] Jenyk commented on #45
Proces Import FOXML je od verze K5.0.0 doplněn o booleovský parametr updateExisting. Při hodnotě false se importní proces chová dosavadním způsobem (existující soubory jsou zachovány a pouze doplněny RDF vazbami z nově imporotvaných objektů) , při hodnotě true budou FOXML objekty se stejným PID, které již existují v úložišti Fedora, smazány a nahrazeny nově importovanými, včetně všech RDF vazeb.
v

[2015-10-19 13:04] leiblix commented on #43
iOS je dle @ovyhlidal v pohodě (Connecting to a URL via TLS is trivial. When you create an NSURLRequest object to provide to the initWithRequest:delegate: method, specify https as the scheme of the URL instead of http. The connection uses TLS automatically with no additional configuration.)

[2015-10-19 15:56] dsecik commented on #32
Vyriesene v novsej verzii iipimage vid: https://github.com/ruven/iipsrv/issues/21

[2015-10-21 07:26] jirkadev commented on #45
Mělo by to být OK.

S parametrem ingest.updateExisting=true je záznamy ve fedoře přepsaly, proces importu foxml "Mikulova" proběhl bez chyb.

http://fedora.mzk.cz/fedora/objects/uuid:f2a604e0-f16d-11df-9ba0-000d606f5dc6/objectXML

http://kramerius.mzk.cz/search/inc/admin/_processes_outputs.jsp?uuid=6ab99eb4-a8a6-44d8-9dcc-10d2a79c5f12

[2015-10-22 09:01] leiblix opened #47 "Začlenit drobné změny do MZK forku na grafiku"
cs.jsp a nálepku přidat do našeho repozitáře

[2015-10-23 08:46] #47 closed, assigned to leiblix

[2015-10-23 09:57] #32 closed, assigned to dsecik

[2015-10-26 09:16] leiblix opened #48 "Oaiprovider"
Zprovoznit oaiprovider pro oba Kramerie (na zvláštním stroji).

[2015-10-26 21:07] leiblix opened #49 "Nefunkční dotaz na API při neuvedení hlaviček"
curl -v -H "" -g "http://kramerius.mzk.cz/search/api/v5.0/search?q=fedora.model%3Amonograph+AND+modified_date%3A[20115-01-16T00%3A00%3A00Z]&fl=PID&wt=xml"

Vrátí stacktrace

[code]

Stejný požadavek přes prohlížeč prochází
http://kramerius.mzk.cz/search/api/v5.0/search?q=fedora.model%3Amonograph+AND+modified_date%3A[2015-01-01T00%3A00%3A00Z+TO+2015-01-16T00%3A00%3A00Z]&fl=PID&wt=xml

Nahlásil @mjt

[2015-10-30 12:07] Jenyk commented on #49
Založeno issue https://github.com/ceskaexpedice/kramerius/issues/322

[2015-11-03 07:32] leiblix opened #50 "Zaseklé importy na Krameriu"
Je to kvůli nefunkčnímu risearch na Fedoře:

org.trippi.TrippiException: Maximum triplestore connections exceeded

Kromě opravy je potřeba zavést tento dotaz mezi ostatní do Nagiosu.

[2015-11-06 12:04] leiblix opened #51 "Rebuild Fedory MZK"
Rebuild  fedora.mzk.cz padne na následující hlášce (nutné dořešit před spojením Fedor):

[code]

[2015-11-06 12:45] leiblix opened #52 "Testovací rebuild velké instance Fedory"
Po spojení imageserveru, budeme spojovat Fedory. U obou Fedor máme v pozadí Legacy FS, korektní cesta by byla toto úložiště spojit a následně provést rebuild tabulek fedora3 a tritriples.

Bohužel tento rebuild nejsme schopni provést "za živa", musely by se na čas stopnout importy do Krameria. Je nutné zjistit, jak dlouho tento proces trvá a případně vymyslet, jak to zrychlit (optimalizace postgre

[2015-11-06 15:23] Jenyk commented on #48
OAI už sbírá (v docker-compose.yml byla databáze fedora3 místo ritriples)

[2015-11-09 08:15] leiblix commented on #44
Seznam http://kramerius.mzk.cz/search/api/v5.0/search?q=datum_str:mezi*

[2015-11-09 08:55] Jenyk commented on #44
Povel: změnit data na rok-rok

[2015-11-09 09:35] #45 closed, assigned to jirkadev

[2015-11-09 10:29] jirkadev opened #53 "Chybné URL obrázků (Jan Amon: Janua lingurum..), nestandardní cesty v imageserveru?"
Nefunkční odkaz:
http://imageserver.mzk.cz/2619298350/001/050/681/2619298350/1050681_00008/big.jpg

Takto by měl vypadat:
http://imageserver.mzk.cz/mzk03/001/050/681/2619298350/1050681_00008/big.jpg

[2015-11-09 11:25] leiblix commented on #53
Obrazové datastreamy by měly být ve struktuře
http://imageserver.mzk.cz/báze/XX/XX/XXX/jménoobrázku/*

kde XXX/XXX/XXX je nasekané SYSNO

takže by se to mělo přesunout na adresu http://imageserver.mzk.cz/mzk03/001/050/681/1050681_00008/*

a z ní se to linkovat.

Stačí měnit datastream rels-ext, není nutno reindexovat.

[2015-11-09 14:32] leiblix commented on #51
Postup puštění rebuildu Fedory

[code]

To vypíše:

[code]

Chceš jít do Fedory, takže si dej exec na ni

[code]

Uvnitř Fedory spusť skript rebuild.sh, vyber druhou možnost 2) Rebuild SQL database.

[code]

Ten proces trvá hodně dlouho, tak je možné si od něj udělat disown (výsledek bude podobný nohup)

[code]

Nyní rebuild běží a můžeš se od kontejneru odpojit.

Sledovat postup lze tak, že se př

[2015-11-09 14:35] leiblix commented on #18
Přidat dotaz na riseach, když se přetíží, přestává fungovat reindexace (ale kramerius jako takový funguje).

[2015-11-09 14:35] #50 closed, assigned to leiblix

[2015-11-10 12:10] ovyhlidal opened #54 "Title v response /children ma jiny typ"
Pokud poslu request na /children pro monograph dostanu v response title jako array. Pokud ovsem poslu stejny request pro soundrecording, tak je v response title jako string. Z logickeho uhlu pohledu by tento typ mel byt u obou requestu stejny.

Request pro monograph:
http://kramerius.mzk.cz/search/api/v5.0/item/uuid:530719f5-ee95-4449-8ce7-12b0f4cadb22/children

Request pro soundrecording:
http://

[2015-11-10 13:04] Jenyk commented on #54
To není otázka modelu dokumentu, ale bug krameria při vracení odpovědi v json.
Viz https://github.com/ceskaexpedice/kramerius/issues/211

[2015-11-12 12:02] leiblix opened #55 "Některé ročníky jsou připojeny do více periodik, případně nejsou připojeny nikam"
Kazdy volume by mel byt ve Fedore pripojeny prave k jednomu periodiku.

Vypis ze skriptu https://gist.github.com/MartinRumanek/3fd15c7e0d2ccb9f9e45:

volume uuid:894b6c30-70c3-11e0-9c4e-000bdb925259 je pripojeno do vice objektu
volume uuid:eec0bb10-7177-11e0-869f-000bdb925259 je pripojeno do vice objektu
volume uuid:d39c0910-7191-11e0-af80-000bdb925259 je pripojeno do vice objektu
volume uuid:10b6

[2015-11-12 12:11] leiblix commented on #55
Chyby v NDK:

[code]

[2015-11-12 14:14] leiblix commented on #54
Už je to opravené. Nasadil jsem aktuální verzi na test http://krameriustest.mzk.cz/search/api/v5.0/item/uuid:530719f5-ee95-4449-8ce7-12b0f4cadb22/children

Zítra to dáme na produkci.

[2015-11-13 08:54] leiblix commented on #54
Domluvil jsem se s @ovyhlidal, že zatím to nasazení odložíme, rozbili bysme mu tím jeho testovací release (počkáme na další).

[2015-11-13 09:03] jirkadev commented on #53
Napsán groovy skript. Obrázky přesunuty na imageserveru, foxml opraveno. Odkaz na knihu v krameriu http://kramerius.mzk.cz/search/i.jsp?pid=uuid:16dbc04a-3884-4385-9820-8ab4d2cca497

[2015-11-13 09:03] #53 closed, assigned to nobody

[2015-11-13 09:34] Jenyk commented on #5
Tak v záloze je to to samý. Budeme to muset smazat.

[2015-11-13 10:13] leiblix commented on #55
Seznam špatných issues v kramerius.mzk.cz

https://gist.github.com/MartinRumanek/9e7945f17d2c1e599cb2/edit

[2015-11-13 13:11] LenkaKravecova commented on #5
Pokud s tím nejde nic dělat, můžeme obrázky naimportovat do Krameria znovu (jinak v imageserveru už jsou u tohoto sysna 001046768 obrázky dvakrát, tak by se to mělo smáznout).

[2015-11-14 23:29] zabak commented on #54
Nerozbije to náhodou i klienta pro Android?

[2015-11-16 07:46] leiblix commented on #54
@zabak V pátek jsme to s @honza-rychtar zkoušeli a bylo to v pohodě.

[2015-11-16 08:28] ovyhlidal commented on #54
Tak pokud to nerozbije klienta pro Android, tak bych osobne navrhnul to nasadit co nejdriv a ja hned vydam novou testovaci verzi iOS klienta, kde tohle bude upravene, at na to nemusime porad myslet.
Co na to @zabak @MartinRumanek ?

[2015-11-18 08:38] leiblix commented on #52
Pro buildění ritriples je nutno zvednout hodnoty operační pamětu v JAVA_OPT ve skriptu env-server.sh, který je vedle skriptu fedora-rebuild.

[2015-11-18 14:53] Jenyk opened #56 "Špatné obrázky"
Nahrávky
http://kramerius.mzk.cz/search/i.jsp?pid=uuid:07db6391-3adc-4d88-a1b1-35e8bc656ba9
a
http://kramerius.mzk.cz/search/i.jsp?pid=uuid:0750ed1c-e36d-46d3-baea-5668e591e677
mají na imageserveru obrázky s nulovou velikostí.
Víz http://imageserver.mzk.cz/mzk01/000/298/032/

[2015-11-18 15:20] Jenyk commented on #5
Tak to bude potřeba vytvořit celé znova.
Foxml kořene (rukopis): https://gist.github.com/Jenyk/c048b7829e1326c310dc
Obrázky jsou tu:  http://imageserver.mzk.cz/mzk03/001/046/768/
A o adresář níž znova dokonce ve správném pořadí: http://imageserver.mzk.cz/mzk03/001/046/768/2610397694/

[2015-11-18 17:46] leiblix commented on #27
Kromě DC se ještě bude muset měnit RELS-EXT

`<fedora-model:hasModel rdf:resource="info:fedora/model:monograph"></fedora-model:hasModel>`

na

`<fedora-model:hasModel rdf:resource="info:fedora/model:monograph"></fedora-model:sheetmusic>`

[2015-11-19 06:00] leiblix commented on #54
Honza zjistil, že v upstreamu nefunguje korektně volání reindexací přes remote api (starší verze je ok), bude vhodné to před nasazením vyřešit.

@Jenyk dopíšeš prosím stručně podrobnosti?

[2015-11-19 07:51] leiblix commented on #52
**_Report z rebuildu databáze fedora3 na instanci NDK**_

Puštěno v pátek 13.11., doběhlo to někdy dnes. Naplnily se pouze tabulky objectpaths a datastreampaths, ostatní jsou  netknuté.

Ale mělo by to být v pořádku (dle tabulky fcreporebuildstatus)
  rebuilddate  | complete
---------------+----------
 1447422353632 | t

Takže rebuild databáze fedora3 trvá cca týden. Teď ještě otestujeme rebuild r

[2015-11-19 08:12] leiblix commented on #52
Přejmenoval jsem toto issue, protože to byl moc velký úkol - místo toho jsem to zařadil do milestone (do kterého zařadím více úkolů).

Spustil jsem rebuild risearche, vzhledem k nepřehlednému pojmenování tabulek  nevím jak měřit průběh a rychlost. Nepřesnou metrikou může být nárust datového adresáře postgresu. Cca za minutu se vytvoří 40 MB dat. Na NDK instalaci zabírá ritriples asi 800 GB. Mohlo

[2015-11-19 08:28] leiblix opened #57 "Travis build pro Kramerius a pro K5-api knihovnu"
Po úspěšném buildu Krameria se nahrají binárky (které jsou nutné pro build docker obrazu) na ftp-devel.mzk.cz

Pustí se následně rebuild docker-obrazu. Když to postupně celé projde, tak bude pod tagem devel aktuální build z master větve našeho kramerius repozitáře.

Něco podobného udělat pro K4-tools, při jeho buildu se vygeneruje jar, které je nutné nahrát sem http://ftp-devel.mzk.cz/mvnrepo/cz/m

[2015-11-19 08:40] leiblix opened #58 "Optimalizace Postgres pro rychlý zápis"
"spin-off" z issue #52 . Je nutné zrychlit rebuild Fedory, čili optimalizovat Postgres pro co nejrychlejší zápis.

Pro začátek bude vhodné se odlepit z toho co sám postgres radí, to je:

[code]
- věřím, že na internatu budou nějaká howto, co se dá dělat. Má smysl hledat optimalizace, které mají smysl pro SSD disk - ten nám bude někdy začátku pro účel spojení Fedor zapůjčen.

[2015-11-19 09:24] jirkadev commented on #57
nastaveno nové heslo

[2015-11-19 10:00] Jenyk opened #59 "Migrace fedory MZK"
Kvůli uvolnění místa pro NDK

[2015-11-20 09:10] leiblix opened #60 "Vyhledání duplicit mezi Fedorami NDK a MZK"
Před spojením Fedor bude nutné detekovat a odstranit všechny duplicity.

Duplicity jsou dvojího druhu:
1. stejné uuid - vzniklo pravděpodobně replikací některých dokumentů mezi Kramerií
2. stejné dokumenty s různým uuid (vzniklo na začátku NDK linky - kdy se část dokumentů zpracovala editorem a následně potom prošla i přes workflow).

Kritické jsou teď pro nás především duplicty 1. typu, 2. se daj

[2015-11-20 09:39] leiblix commented on #54
Blokováno https://github.com/ceskaexpedice/kramerius/issues/324

[2015-11-20 11:24] jirkadev commented on #27
Vyřešeno commitem https://github.com/moravianlibrary/K4-tools/commit/e4d25d219acd5c6a5ef9389ed4ca45ed1494f4ac spuštěno. Model se změnil

[2015-11-20 11:24] #27 closed, assigned to jirkadev

[2015-11-20 12:25] jirkadev commented on #57
Vyřešeno https://github.com/moravianlibrary/K4-tools/commit/f812bc40320fa05994341dbb543b5c12d8502de0 a https://travis-ci.org/moravianlibrary/K4-tools/builds/92244301

[2015-11-20 12:25] #57 closed, assigned to jirkadev

[2015-11-23 09:03] leiblix commented on #52
V ritriples se za 3 dny zpracovalo 2.5 milionu objektů (z > 30 000 000)

[2015-11-23 09:51] leiblix opened #61 "Instalace ostrého krameria na produkční docker"
Adresa produkčního dockeru 195.113.155.76 (stejná jako imageserver.mzk.cz)

Napojit na současný solr, fedoru....moźno se inspirovat z docker.mzk.cz:/docker-compose/krameriustest2.mzk.cz.

Prozatím použít hostname: kramerius-new.mzk.cz, které si dáš do /etc/hosts

Zbavíme se tím konečně apache a bude se nám to logovat do Kibany.

[2015-11-23 14:25] leiblix commented on #43
Pro:
    editor.staff.mzk.cz
    medit.mzk.cz
je potřeba nastavit certifikát přímo v tomcatu (nejsou za reverzní proxy) - je potřeba nastavit keystore.

[2015-11-23 16:44] Jenyk commented on #51
Pravděpodobně tomu vadí soubory objects/object.size a/nebo datastreams/md5_2010 a datastreams/md5_2011

Zkusím je smazat s rebuild znova spustit

[2015-11-24 10:10] leiblix opened #62 "Špatný formát u zvukového dokumentu"
Špatný mimetype u zvukového dokumentu http://kramerius.mzk.cz/search/api/v5.0/item/uuid:acde6bf0-c53b-43ac-8323-a6df6f589c34/streams/WAV

Protekl nám do Krameria nějaký AIFF/Amiga/Mac audio

[code]

[2015-11-25 11:22] leiblix commented on #62
Seznam nalezených chyb v mimetypech nahrávek:

https://gist.github.com/MartinRumanek/016fb961263ec9b25728

[2015-11-26 07:02] leiblix commented on #61
-  použij obraz s tagem MZK (vzhled)
- přemigruj konfigurační soubory z kramerius.mzk.cz, ale budeš možná muset poupravit spojení do databáze (porovnej si to se současným mini konfiguračním souborem). Jediná významná změna bude, že nastavíš v configuration.properties activeProcesses=0 (to aby tento "veřejný" kramerius do budoucna nepouštěl procesy).

[2015-11-26 07:06] leiblix commented on #52
Zpomalilo se to, zpracováno 4.2 milionu objektů

[2015-11-27 08:34] jirikrepl commented on #43
Vaše žádost o vydání certifikátu s předmětem ... byla schválena.
Žádost nyní čeká na zpracování certifikační autoritou.

[2015-11-27 13:16] leiblix opened #63 "Travis build pro abbyyrest a MEdit"
Travis + push na ftp + webhook na docker (tak jak je to na kramerius.mzk.cz)

pro projekty:
https://github.com/moravianlibrary/AbbyyRest
https://github.com/moravianlibrary/MEditor

[2015-11-27 13:32] jirkadev commented on #61
Pro oba kontejnery jak na docker.mzk.cz tak na imageserveru jsou téměř shodné dokcer-compose.yml

Na serveru imageserver.mzk.cz pro kontejener kramerius-new.mzk.cz
- funguje tag devel
- nefunguje mzkgrafika

Na serveru docker.mzk.cz pro kontejner kramerius-new.mzk.cz
- funguje tag mzkgrafika
- nefunguje tag devel
- funguje tag latest

docker-compose logs nic moc neřekne. WTF?

[2015-12-02 11:14] jirkadev commented on #43
Vygeneroval jsem žádost znovu, správně pro všechny 3 servery. V potvrzovacím mailu je odkaz na stažení certifikátu (jakmile bude vygenerován) Nevšiml jsem si ho a čekal jsem na další mail.

takže certifikát by měl být vygenerován rychle

[2015-12-07 09:12] leiblix commented on #61
Na imageserver.mzk.cz jsem udělal `docker-compose pull`, natáhl se nový obraz...v logách se mi objevilo, že se nemůže připojit do databáze - tak jsem opravil firewall na fedora.mzk.cz. No a už to jede :-)

[2015-12-07 09:29] #63 closed, assigned to leiblix

[2015-12-07 10:51] leiblix opened #64 "Spojení SOLRu"
Spojení SOLru se dá provést příkazem

`java -cp lucene-core-3.4.0.jar:lucene-misc-3.4.0.jar org.apache.lucene.misc.IndexMergeTool ./newindex ./app1/solr/data/index ./app2/solr/data/index`

Otestovat spojení SOLRu NDK a MZK.

[2015-12-08 07:39] leiblix commented on #36
TM modul byl pravdebodobne nakonfigurovan s chybou, do fedory se cpou odkazy na obrazky s "protokolem", http://// (tri lomitka). Je potreba ASAP prekonfigurovat TM modul.

Zpetne se to da oparvit skriptem, ktery jsem ted napsal
`find /data/fedora-data/objects/2015/1208/ -type f -exec /data/vyreseno/spojovaniimageserver/imageserverrepairhttp.sh {} \;`

[2015-12-10 17:16] leiblix commented on #64
Otestovano, funguje. Spojeni trva cca 3 hodiny (wow).

[2015-12-11 08:30] LenkaKravecova opened #65 "Smazaná mapa v nejnovějších"
V nejnovějších Krameria MZK je mapa Austrálie, která nemá náhled a při prokliku to háže chybu HTTP status 500. Ve vyhledaných výsledcích není a ve Fedoře taky ne. Jak ji odstranit ze SOLRu?

[2015-12-11 10:14] Jenyk commented on #65
Přes navigaci se dá vyfiltrovat daný model, v seznamu ho zaškrtnout a potom reindexovat nebo odstranit z indexu.

[2015-12-11 10:14] #65 closed, assigned to nobody

[2015-12-11 17:06] MartinRumanek commented on #58
Prebal jsem si to, protoze Tomas na tom neudelal nic.

[2015-12-15 12:54] jirkadev commented on #43
Certifikát byl nasazen na medit.mzk.cz a editor.staff.cz, ještě chybí kramerius (zatím jen testovací). Budu to dál řešit zde https://github.com/moravianlibrary/MEditor/issues/44

[2015-12-15 12:54] #43 closed, assigned to jirkadev

[2015-12-16 12:51] Jenyk commented on #56
Monografie http://kramerius.mzk.cz/search/i.jsp?pid=uuid:29c1bbf0-8b72-4aac-94fd-dc6338248360 vůbec nemá obrázky (na imageserveru chybí adresář s obrázky na cestě, kam se odkazuje z foxml: http://imageserver.mzk.cz/mzk01/001/207/119/)

[2015-12-21 10:30] leiblix commented on #59
Fedora MZK spojením zanikne.

[2015-12-21 10:30] #59 closed, assigned to leiblix

[2016-01-04 10:57] jirkadev commented on #61
Ok tak to bylo způsobeno nastavením firewallu.

[2016-01-04 11:03] jirkadev commented on #61
Ještě je potřeba doplnit konfigurační soubory do kramerius-new.mzk.cz tak aby odpovídaly kramerius.mzk.cz

[2016-01-07 09:14] #64 closed, assigned to leiblix

[2016-01-07 09:14] #58 closed, assigned to leiblix

[2016-01-07 09:14] #51 closed, assigned to Jenyk

[2016-01-07 09:15] #52 closed, assigned to leiblix

[2016-01-07 09:29] leiblix opened #66 "Spojeni ritriples"
Je potreba nakopirovat ritriples tabulky z MZK instalace (na fedora.mzk.cz) do nove databaze (ktera je v podstate replikou z NDK).

Struktura techto tabulek je jednoducha, jedna se o tabulky t1 az txx, jejich struktura vypada takto:

[code]

Jmeno vazby je potom v tabulce tmap:

[code]

Bohuzel tmap se mezi instalacemi lisi, takze je potreba je prejmenovat. Takze nejlepsi bude asi udelat dump tabu

[2016-01-07 09:46] #60 closed, assigned to Jenyk

[2016-01-13 08:22] leiblix opened #67 "krameriusndktest.mzk.cz redirect"
Napsat do apache pravidla 301 Moved Permanently redirect, tak aby se vsechny odkazy presmerovaly na kramerius.mzk.cz.

S vyjimkou:
- TM modulu
- s vyjimkou staff vlan (nebo vycet adres naseho SDK kanclu)

Kazdy provedeny redirect se zaloguje s hodnotou REFERER (abysme vedeli odkud navstevnik prisel a mohli provest nejake kroky k zmene puvodniho linku).

[2016-01-14 10:50] Jenyk opened #68 "Dokumentace serverů"

[2016-01-14 10:52] Jenyk commented on #68
Přidat ke všem (produkčním) serverům lodní deník s popisem účelu, rozložení adresářů / disků / služeb + dát výraznou informaci do MOTD

[2016-01-14 11:07] Jenyk commented on #46
A seznam haluzí (postupně doplňovat): https://docs.google.com/spreadsheets/d/1Ol-vLStaHDhjeznJAtQ8-7aV0ISw2DzvyPU5Lq9QqTY/edit#gid=0

[2016-01-14 13:44] Jenyk commented on #67
Trochu problém s tím refererem =/
Server to nemůže prohlížeči nařídit - jen pošle nové URL a prohlížeč vyrobí nový request.
Našel jsem nějaký průzkum, podle kterého v případě přesměrování 301 všechny 4 nejčastější prohlížeče zachovají původního referera. Ale je to z roku 2011, takže to samozřejmě dávno nemusí platit. Navíc se to může v čase měnit.
Jako jediný jistý způsob vypadá možnost přidání pů

[2016-01-14 15:18] Jenyk commented on #67
Přesměrovává se všechno kromě 195.113.155.102 (brána zaměstnanecné sítě), 195.113.134.9 (TM) a loopback rozsahu
Hlavičku REFERER většinou prohlížeče zachovávají, případně je ta informace s spolu s návratovým status kódem v logu access.log -> stačí grepovat kód 301. Referer je předposlední hodnota, poslední je User-Agent. Prázdný referer se loguje jako "-".

[2016-01-14 15:18] #67 closed, assigned to Jenyk

[2016-01-14 16:20] leiblix opened #69 "Lišící se počet dokumentů na webu a v Android aplikaci"
Ve webové aplikaci se zobrazuje větší počet dokumentů než v mobilním klientovi (123715 monografií vs 123666). Každý pokládá trochu jiný dotaz do SOLR.

Android aplikace se ptá na fedora modely:
http://kramerius.mzk.cz/search/api/v5.0/search?q=fedora.model:monograph&start=0&rows=30

Webová aplikace na typ dokumentu:
http://kramerius.mzk.cz/search/api/v5.0/search?q=document_type:monograph&start=0&ro

[2016-01-14 16:22] leiblix opened #70 "Spojení uživatelských účtů"
Přemigrování uživatelských účtů z instalace krameriusndktest.mzk.cz. Při této příležitosti promazat staré administrátorské účty (pokud existují, editor uživatelů sám o sobě neumožňuje takové uživatele vypisovat).

[2016-01-14 17:26] leiblix commented on #70
Tento dotaz vygeneruje csv soubor s uživateli, kteří mají větší než běžné oprávnění:

[code]

V následujícím dokumentu je seznam uživatelů, kteří mají větší oprávnění https://docs.google.com/a/mzk.cz/spreadsheets/d/1wVg7UPwZTWDg5cpwWsCWxZNki95cuJjP46jy_wjqfYk/edit?usp=sharing

Jsou tam dva taby jeden pro původní MZK kramerius, druhý pro NDK. Zazeleňme prosím políčka lidí, u kterých si myslíme, že

[2016-01-15 00:03] LenkaKravecova commented on #70
Pooznačovala jsem na obou záložkách. Když má ale někdo účet v kramerius.mzk.cz, přenášet se to nemusí, ne?

[2016-01-20 13:43] leiblix opened #71 "Neškálující indexace"
Při větším počtu souběžných požadavků na Fedoru dojde k "deadlocku" a zastaví se indexace.

Snížil jsem abnormálně velkou hodnotu HTTP timeoutu u Krameria (protože jeden spadlý proces lepší proces považuji za lepší, než zaseklé všechny - brzdí to potom NDK linku).

V logu se to zasekne na následující hlášce:
`Jan 20, 2016 11:39:26 AM cz.incad.kramerius.indexer.SolrOperations indexByPid
INFO: index

[2016-01-22 12:19] LenkaKravecova opened #72 "Dělnická rovnost 1930 - nelze změnit policy"
Dělnická rovnost, ročník 1930 - uuid:68a2fb70-4a57-11e5-a525-5ef3fc9ae867 - neprovedla se změna viditelnosti u většiny čísel. Hlásí to toto:

WARNING: Cannot set policy for object uuid:5a2bb270-4e0e-11e5-a525-5ef3fc9ae867, skipping: java.lang.RuntimeException: javax.xml.ws.soap.SOAPFaultException:  Caused by: failed to rename with .bak extension /mnt/fedora-merged/objects/2015/0831/14/16/uuid_5a2b

[2016-01-26 10:12] LenkaKravecova opened #73 "Archa - rozbité obrázky"
Periodikum Archa má rozbité obrázky u ročníku 1912-1913 (č. 1 - uuid:c1c139f1-3ea8-11e2-acfc-5ef3fc9ae867) a 1913 (č. 1 - uuid:687a9cb1-3ea8-11e2-893a-001018b5eb5c). Každý má jedno číslo.
Např.:
http://imageserver.mzk.cz/NDK/2012/09d1cbd0-2331-11e2-8579-005056827e52/1_00072.tif/big.jpg

Obrázky u ostatních ročníků se zdají být ok.

[2016-02-03 22:05] Jenyk opened #74 "uuid s bílým znakem ve fedoře"
Ve fedoře je objekt s identifikátorem "uuid:  738a6390-b936-11e5-b5dc-005056827e51" (tab, ne mezera)

[2016-02-05 00:27] LenkaKravecova opened #75 "Zveřejnit tato uuid"
Prosím dávkově zveřejnit těchto 89 uuid. Jde o monografie a mělo by to být vždy kořenové uuid.
[uuid na zpristupneni.txt](https://github.com/moravianlibrary/kramerius/files/118469/uuid.na.zpristupneni.txt)

[2016-02-05 00:34] LenkaKravecova commented on #75
A tady dalších 331 na zveřejnění.
[K4_zverejnit.xlsx](https://github.com/moravianlibrary/kramerius/files/118471/K4_zverejnit.xlsx)

[2016-02-08 11:43] LenkaKravecova commented on #72
U těchto čtyř ročníků (Český svět) stejný problém:
uuid:8f3dccd0-73be-11e4-b2f6-005056827e51
uuid:3682ce70-79f8-11e4-8ce5-005056827e52
uuid:d3a0c940-7972-11e4-ad1c-005056827e51
uuid:d4339ac0-796f-11e4-964c-5ef3fc9bb22f

[2016-02-09 22:24] Jenyk commented on #75
Některé procesy skončily warningem kvůli https://github.com/moravianlibrary/kramerius/issues/72

[2016-02-10 17:00] LenkaKravecova commented on #75
:-(

[2016-02-12 16:10] #66 closed, assigned to jirkadev

[2016-02-15 06:26] leiblix commented on #74
issue zavírám, nevalidní uuid jsou nahlášené v https://github.com/moravianlibrary/kramerius/issues/39

[2016-02-15 06:26] #74 closed, assigned to nobody

[2016-02-15 06:27] leiblix commented on #39
Hlášení od @Jenyk: Ve fedoře je objekt s identifikátorem "uuid: 738a6390-b936-11e5-b5dc-005056827e51" (tab, ne mezera)

[2016-02-15 06:53] leiblix commented on #73
Obrázky tam nejsou, nevím proč...
- narazil jsem teď na další nesrovnalost v roce 2015, budou rozbité obrázky v polovině roku 2015.

lrwxrwxrwx     1 1016 1016      30 Aug 19 15:58 01 -> /data3/imageserver/NDK/2015/01
drwxr-xr-x  3373 1011 1011  348160 Feb 28  2015 02
drwxr-xr-x  9187 1011 1011  942080 Mar 31  2015 03
drwxr-xr-x 12140 1011 1011 1245184 Apr 30  2015 04
drwxr-xr-x  9820 1011 1011 10

[2016-02-15 10:57] leiblix opened #76 "Nově zaregistrovaní uživatelé nejsou vidět"
Užival po aktivaci mailem normálně funguje, ale v editoru uživatelů není vůbec vidět.

Projevuje se to asi jen na našem produkčním Krameriu, na testu se tak neděje.

[2016-02-15 11:15] leiblix opened #77 "Docker kontejner s verzí 5.3.1"
Potřeboval jsem vyzkoušet novou verzi Krameria a v tagu 5.3.1_mzkgrafika je obsažena verze 5.2.0.

Prosím tedy o opravu tohoto tagu + vytvoření tagu 5.3.1 bez grafiky.

Není potřeba to dělat na hub.docker, ale asi na našem openshiftu (ale bylo by vhodné nastavit propagaci až do hubu)

[2016-02-15 11:31] #76 closed, assigned to nobody

[2016-02-15 11:38] LenkaKravecova opened #78 "Stavy rachotí - uuid:858d2b50-c486-11e3-b110-005056827e51"
UUID této monografie je ve Fedoře, ale nic pod ním není. Dala jsem ji reindexovat z Krameria, ale pak jsem zjistila, že se tam ani nemá co indexovat. V minulosti proběhla aktualizace z LTP. Takže asi neúspěšně a je třeba to poslat z LTP znovu? Je třeba ještě něco prověřit na naší straně?

[2016-02-17 12:47] leiblix commented on #78
Taky je divné, že přes REStový požadavek http://*****:8080/fedora/get/uuid:858d2b50-c486-11e3-b110-005056827e51 se vrátí 403? @Jenyk Viděl si už někdy něco takového?

[2016-02-17 13:23] #36 closed, assigned to popelkatomas

[2016-02-17 19:25] Jenyk commented on #73
Obrázky z roku 2015 jsou v pořádku, viz například http://imageserver.mzk.cz/NDK/2015/02/153e31d0-aea2-11e4-a7a2-005056827e51/UC_153e31d0-aea2-11e4-a7a2-005056827e51_0001/big.jpg

Obrázky z Archy tam fakt nejsou. Ale v NK je to v pořádku a ve WF nevidím žádnou podezřelost. Zkouším je ještě najít mezi všema, ale asi bude potřeba to smazat a znova naimportovat z LTP.

[2016-02-18 07:13] leiblix commented on #73
Ok, copypaste nepřenáší barvy :-D

![rozbitelinky](http://i.imgur.com/oKMdBro.png)

...únor je zrovna v pohodě

[2016-02-18 08:03] leiblix commented on #72
Hlášení od Zdeňka
Při zpřístupnění periodika Český svět: illustrovaný čtrnáctidenník (uuid:9ee4d9f0-6a7a-11e4-9d98-005056825209) mi opakovaně nejdou zveřejnit roky 1913-1914, 1918-1919, 1919-1920, 1920-1921.

[2016-02-18 12:47] #70 closed, assigned to leiblix

[2016-02-18 20:58] Jenyk commented on #73
No podle mě to funguje všechno:
http://imageserver.mzk.cz/NDK/2015/01/2c83d670-6d01-11e4-8c6e-001018b5eb5c/UC_2c83d670-6d01-11e4-8c6e-001018b5eb5c_0001/big.jpg

Ty symlinky jsou v pořádku při pohledu z krameriusndktest.mzk.cz.

Jinak find doběhl bez výsledku, takže fakt bude potřeba to smazat a znova importovat z LTP. A potom při hledání haluzí se určitě musí kontrolovat i existence obrázků.

[2016-02-18 23:09] LenkaKravecova commented on #72
To jsou ty ctyri, o kterych jsem tu psala pred 10 dny :) Takze tento problem uz fakt hori.

[2016-02-19 03:18] leiblix commented on #72
Už na tom děláme. Možná problém způsobuje unionfs, který jsem použil po spojení Fedor. Migruji importní rok 2015, dnes by to mohlo doběhnout - budeme vědět jestli je to tím.

[2016-02-19 03:26] leiblix commented on #73
Aha! Ono to funguje, protože v docker-compose.yml máme tento hack:
 `/mnt/ndk03:/data3`

zevnitř kontejneru to pak funguje, na tento hack jsem úplně zapomněl :horse:, sorry.

[2016-02-20 18:23] leiblix opened #79 "Padá replikace dokumentů"
Padá replikace dokumentů... po čase při získávání FOXML to spadne na chybě 500.

Feb 20, 2016 12:04:47 PM org.kramerius.replications.K4ReplicationProcess phaseFailed
INFO: PHASE &#039;org.kramerius.replications.SecondPhase&#039; completed
Feb 20, 2016 12:04:47 PM cz.incad.kramerius.processes.impl.ProcessStarter main
SEVERE: null
java.lang.reflect.InvocationTargetException
    at sun.reflect.Native

[2016-02-20 18:29] LenkaKravecova opened #80 "Nefungující hesla"
Dva uživatelé mi hlásili, že jim nefunguje heslo do Krameria. Obávám se, že to souvisí se spojením účtů? Zkusila jsem to vyřešit vygenerováním nových hesel. Možná bude případů víc. V pondělí se na to mrknem.

[2016-02-22 12:32] LenkaKravecova commented on #78
@Jenyk Podíváš se na to, prosím?

[2016-02-22 12:35] LenkaKravecova commented on #73
Takže je potřeba to nechat z LTP importovat znovu? @Jenyk zadával jsi ticket nebo to mám udělat?

[2016-02-22 12:35] LenkaKravecova commented on #73
sorry nechtěla jsem to zavřít

[2016-02-22 12:49] LenkaKravecova opened #81 "Import 4 titulů do Krameria (Masarykovo muzeum)"
Jsou to zbytky do sbírky Masarykovo muzeum, které přivezl pán z Veselí. Mám je u sebe, 8,52 GB. Bude potřeba je naimportovat, přidat do sbírky a pak u všeho ve sbírce přidat dvě IP adresy pro pobočky v Kyjově a Veselí.
@jirikrepl Uděláš to, prosím? Je to v K4 formátu. Obrázky předám, IP adresy dávám sem.
[IP - adresy.txt](https://github.com/moravianlibrary/kramerius/files/140586/IP.-.adresy.txt)

[2016-02-22 13:55] LenkaKravecova opened #82 "Čin - nejdou vidět obrázky"
Nechápu, kramerius.mzk.cz neukazuje obrázky:
http://kramerius.mzk.cz/search/handle/uuid:c3318d70-6f69-11e2-b9fa-005056827e52
http://krameriusndktest.mzk.cz/search/handle/uuid:c3318d70-6f69-11e2-b9fa-005056827e52

Čin se hodně používá. Prosím o prioritní opravu.

[2016-02-22 14:15] Jenyk commented on #82
Problém je v tom, že odkazy na obrázky jsou ve starém tvaru: http://krameriusndktest.mzk.cz/imageserver/NDK/2013/46af4780-4261-11e3-ac54-005056825209/UC_46af4780-4261-11e3-ac54-005056825209_0001/big.jpg

místo http://imageserver.mzk.cz/NDK/2013/46af4780-4261-11e3-ac54-005056825209/UC_46af4780-4261-11e3-ac54-005056825209_0001/big.jpg

Běží skript na opravu.

[2016-02-22 14:38] honza-rychtar opened #83 "Chybejici 'datum vydani' v cisle periodika"
Jsou dve moznosti, jak mit tento udaj v MODSu ulozeny:
1) http://kramerius.mzk.cz/search/api/v5.0/item/uuid:b82784d7-435d-11dd-b505-00145e5790ea/streams/BIBLIO_MODS
part -> detail -> date
Tohle se propaguje do API:
http://kramerius.mzk.cz/search/api/v5.0/item/uuid:b82784d7-435d-11dd-b505-00145e5790ea

2) http://kramerius.mzk.cz/search/api/v5.0/item/uuid:3d459a90-a40d-11e5-b404-005056825209/streams

[2016-02-22 15:34] Jenyk opened #84 "ČDK timeout"
Dotaz http://kramerius.mzk.cz/search/api/v4.6/cdk/prepare?rows=500&date=2015-06-10T10:55:02.777Z vrací 500 Read timed out.
(pod uživatelem s právem na replikaci)

[2016-02-23 08:41] LenkaKravecova commented on #83
Podle možnosti 2) jede celé NDK a všechny další současné digitalizace, je to ve standardu.
Podle možnosti 1) se zpracovávala starší digitalizace.
To by se do API mělo propagovat, když je to od začátku ve standardech...

[2016-02-23 16:46] Jenyk commented on #73
Zadal jsem ticket (id 3943)

[2016-02-25 09:21] leiblix commented on #81
Naimportovalo se to bez obrázků, protože /data/imageserver_other není napojené na datový odíl imageserveru. @dsecik Mohl by si potom prosím vymyslet, jak to propojit?

[2016-02-25 10:51] honza-rychtar commented on #83
@MartinRumanek podivas se na to?

[2016-02-26 07:42] leiblix commented on #84
Spraveno konfigurační volbou v souboru `configuration.properties` http.timeout=15000 (=15 s). Dotaz obvykle trvá něco přes 4 s.

[2016-02-26 07:42] #84 closed, assigned to nobody

[2016-02-26 13:33] dsecik commented on #81
Kramerius uz vidi na netapp2, pokusne pripojeny netapp2/is do /mnt/imageserver. @MartinRumanek  nemam tam sudo tak to pls unmountni a pripoj si len  netapp2/is/other kam budes potrebovat.

[2016-02-26 14:35] LenkaKravecova opened #85 "Další várka na zveřejnění"
[zverejnit_uuid_z_NK.txt](https://github.com/moravianlibrary/kramerius/files/148327/zverejnit_uuid_z_NK.txt)

[2016-02-27 18:12] honza-rychtar opened #86 "API: Datum ve vybranych"
Dotaz na nejnovejsi http://kramerius.mzk.cz/search/api/v5.0/feed/newest
obsahuje navic datum_str a issn oproti vybranym http://kramerius.mzk.cz/search/api/v5.0/feed/custom

Je mozne pridat datum_str i do vybranych?

[2016-02-29 10:31] LenkaKravecova commented on #72
Prosím, jak to vypadá? Už jsou ročníky zmigrované? Mám to zkusit přeindexovat?

[2016-02-29 15:25] LenkaKravecova commented on #72
To samé uuid:abe060c0-aab8-11e3-a597-5ef3fc9bb22f (Křesťanská revue, ročník 3)

[2016-02-29 15:27] leiblix commented on #72
Dělnická rovnost, ročník 1930 - uuid:68a2fb70-4a57-11e5-a525-5ef3fc9ae867 je spraveno. Migrace roku 2015 pomohla, tak ještě ty další importní roky...

[2016-03-01 14:45] LenkaKravecova commented on #82
@Jenyk je nějaký pokrok?

[2016-03-01 17:13] leiblix commented on #82
Ten skript na opravu, asi selhal, že? Budeme ho muset pustit znovu, ale prosím až zítra - tuto noc běží migrace roku 2013 na nové úložiště.

[2016-03-01 18:43] Jenyk commented on #82
Neselhal, doběhlo to dneska v noci. Jenže je to v roce 2015, takže už přemigrované.

[2016-03-02 04:51] leiblix commented on #82
Aha! Takže to musíš pustit znova přímo na nové Fedoře v adresáři  /mnt/fedora-rsync/fedora/objects/2015 (a stejně tak pro 2014).

[2016-03-02 15:38] LenkaKravecova opened #87 "Album representantů - nové obrázky"
Máme nové obrázky k uuid:6d962368-9ce3-11e0-9ad4-0050569d679d, sysno 000936117 (mzk01). Jsou v tif a mají 31,8 GB. Je potřeba je zkonvertovat a nahrát na imageserver (@dsecik) a pak je spárovat se stávajícími uuid stran, vyměnit linky ve foxml a smazat staré obrázky z Fedory (@Jenyk). Strany by měly sedět.

[2016-03-02 17:04] Jenyk commented on #82
Tak už to běží nad 2015

[2016-03-02 17:42] Jenyk commented on #75
[zverejnit_uuid_z_NK.txt](https://github.com/moravianlibrary/kramerius/files/155293/zverejnit_uuid_z_NK.txt)
Přidávám ten nový seznam sem, ať je to pohromadě. Zveřejním to všechno včetně těch neúspěšných až @MartinRumanek dokončí migraci fedor. To by mělo být začátkem příštího týdne, vyřeší se tím issue 72

[2016-03-02 17:43] Jenyk commented on #85
Seznam jsem přesunul do https://github.com/moravianlibrary/kramerius/issues/75, tohle zavírám

[2016-03-02 17:43] #85 closed, assigned to Jenyk

[2016-03-02 18:47] Jenyk commented on #78
http://fedora-spojena.mzk.cz:8080/fedora/objects/uuid:858d2b50-c486-11e3-b110-005056827e51
vrací 401 Unauthorized ale neptá se na jméno/heslo.
Ale s basic auth hlavičkou to jde.

[2016-03-02 19:24] Jenyk commented on #78
FOXML toho objektu: https://gist.github.com/Jenyk/3dc107ad04ea1592878d

[2016-03-03 08:04] LenkaKravecova commented on #78
Takže opět LTP nebo si s tím ještě chceš pohrát?

[2016-03-03 08:17] Jenyk commented on #78
No podle mě to z LTP nepůjde, protože to ve fedoře je

[2016-03-03 08:19] leiblix commented on #78
@Jenyk Tak bychom to mohli smáznout, ale zatím to nech. Ten objekt se mi vůbec nelíbí a musíme zjistit, jestli je to ojedinělý případ.

[2016-03-03 10:43] Jenyk commented on #78
V tomhle stavu by se to právě mazalo celkem těžko

[2016-03-04 19:24] Jenyk commented on #82
Před chvílí to doběhlo nad 2015 a Čin je spravený, takže zavírám. Ještě to radši spustím nad 2014.
@MartinRumanek chceš z toho nechat logy? Jsou řádově v GB

[2016-03-04 19:24] #82 closed, assigned to Jenyk

[2016-03-04 21:19] LenkaKravecova commented on #82
Bezva!

[2016-03-04 22:08] leiblix commented on #78
Ono to jakože smazané je: "audit:justificationMarked as deleted/audit:justification".

Každopádně zajímavé, že podstránky ve Fedoře (i v indexu jsou). Jak se to do tohoto stavu mohlo dostat? Co to "mazalo"? TM?

[2016-03-05 10:05] leiblix commented on #72
Celá Fedora je odmigrovaná z unionfs. Je to tedy vyřešené, změna viditelnosti nebude dále zlobit.

[2016-03-05 10:05] #72 closed, assigned to leiblix

[2016-03-05 21:38] leiblix opened #88 "Dějiny národu českého v Čechách a v Moravy - rozbité obrázky"
http://kramerius.mzk.cz/search/i.jsp?pid=uuid:4ba3a670-cc12-11e2-a712-005056827e51

[code]

[2016-03-06 22:47] #75 closed, assigned to Jenyk

[2016-03-07 07:46] leiblix commented on #75
Co tady je tady ten proces?

http://kramerius.mzk.cz/search/inc/admin/_processes_outputs.jsp?uuid=517ef9b7-3064-4ef7-b6d1-c9d8426032d9

[2016-03-07 08:34] Jenyk commented on #75
Takových případů bylo celkem 15, včera jsem je prošel a zveřejnění spustil znova ručně. Proběhlo to bez problému.
Způsobily to duplicity v těch seznamech - proces běžel zároveň nad svazkem i kořenem vícesvazkového díla.

[2016-03-07 17:06] dsecik commented on #87
Obrazky su skonvertovane a nahrane na [imageserver ](http://imageserver.mzk.cz/mzk01/000/936/117/)

[2016-03-08 13:53] LenkaKravecova commented on #81
@jirikrepl Pls, s tímto je třeba pohnout. Díky.

[2016-03-08 17:49] leiblix commented on #81
Známe BOA této "knihovny"?

[2016-03-08 18:52] Jenyk commented on #83
Na (mj.) tohle existuje issue už skoro 2 roky: https://github.com/ceskaexpedice/kramerius/issues/92

[2016-03-08 22:06] LenkaKravecova commented on #81
Nasel jsi to? Sigla bude v tech dokumentech ve sbirce

[2016-03-09 09:27] LenkaKravecova commented on #78
Takže co navrhujete?

[2016-03-10 11:38] leiblix commented on #81
Naimportovano:

http://kramerius.mzk.cz/search/i.jsp?pid=uuid:50953a8a-e62a-11e5-9d8e-0050569d679d
http://kramerius.mzk.cz/search/i.jsp?pid=uuid:4b74833a-e62a-11e5-9d8e-0050569d679d
http://kramerius.mzk.cz/search/i.jsp?pid=uuid:3bfbf0d3-e62a-11e5-9d8e-0050569d679d
http://kramerius.mzk.cz/search/i.jsp?pid=uuid:3bfbf0d3-e62a-11e5-9d8e-0050569d679d

[2016-03-11 10:44] LenkaKravecova opened #89 "Předělat nápovědu"
Předělat http://kramerius.mzk.cz/search/help/cs.jsp

[2016-03-11 11:24] LenkaKravecova opened #90 "Nefunkční uuid"
52 nefunkčních uuid, na které odkazuje Aleph. Třeba ověřit, jestli chybí v indexu nebo jsou úplně smazaná z Fedory.
Seznam od Petry:
[errorId.txt](https://github.com/moravianlibrary/kramerius/files/168954/errorId.txt)

[2016-03-11 12:15] LenkaKravecova commented on #90
To poslední uuid bylo akorát chybně v Alephu, chyběl tam poslední znak. Funkční je, takže 51 nefunkčních uuid :)

[2016-03-16 08:58] LenkaKravecova opened #91 "Sigla v shelfLocator v MODS"
Šablona v editoru vyřešena a teď ještě opravit ty chybné hodnoty v shelflocator, které se do Krameria dostaly. Je potřeba najít, v kterých dokumentech se to objevuje a pak to smáznout. Díky.
Příklad: http://kramerius.mzk.cz/search/handle/uuid:64ac0900-a601-4899-860a-9f043f980042

[2016-03-16 16:53] leiblix commented on #90
stavy:
404 - úplně chybí
403 - označená jako deleted
200 - možné reindexovat

Takjže 404 a 403 jsou prostě smazané, měly by se smazat z alephu - nebo se můžeme snažit o nějaký reimport z NDK.

uuid:00c23000-f5dd-11e2-9923-005056827e52:404
uuid:01f4e350-a1cd-11e2-9a9f-005056827e51:403
uuid:084e9c10-a5e9-11e4-a808-005056827e52:404
uuid:08bb9f50-75cf-11e2-abbe-005056827e51:404
uuid:0ab8cd20-a8e4-11e3

[2016-03-16 16:59] leiblix commented on #88
@Jenyk Co s tím, dá se to odněkud obnovit?

[2016-03-16 17:43] leiblix commented on #81
IP adresy přidané (kromě ipv6, tu ani Kramerius nepodporuje) - stačilo je přidat už do hotového seznamu ![img](http://i.imgur.com/s5heb8I.png)

Ty nové 4 dokumenty jsem udělal ručně. Ale v případě potřeby se to dá dělat i skriptem, stačí chytit požadavek, který posílá k "backendu" prohlížeč.

[2016-03-16 17:43] #81 closed, assigned to Jenyk

[2016-03-16 22:43] LenkaKravecova commented on #81
:smile: Tak to jo. Díky! Už jsem se těšila, jak to budu dělat o víkendu. Tu jednu starou IP adresu jsem smázla, ať to nemate.

[2016-03-21 07:15] leiblix commented on #83
@Jenyk  Je to něco podobného, ale myslím, že se zobrazovací šablonou to nesouvisí.

Spíš je to podobné issue https://github.com/ceskaexpedice/kramerius/issues/217, kterým se opravilo číslo ročníku, ale nedořešila se úroveň čísla.

Podívám se na to.

[2016-03-21 07:29] leiblix commented on #18
Toto padá, v případě, že budeme mít Krameria v openshiftu, tak je potřeba správně napsat health checky.

Nagios nemůže  zkontrolovat, že běží všechny pody správně (protože ho haproxy přilepí na jeden konkrétní).

[2016-03-21 07:29] #18 closed, assigned to nobody

[2016-03-21 19:19] zabak opened #92 "přeložit intro7 do angličtiny"
http://kramerius.mzk.cz/search/?language=en&#intro7

[2016-03-22 09:03] jirkadev commented on #77
zatím mám image 5.3.1 na hubu https://hub.docker.com/r/moravianlibrary/kramerius/builds/bguagoz6nucdtqnn9gxqfth/

[2016-03-22 20:43] LenkaKravecova commented on #90
Co bylo potřeba reindexovat, jsem udělala. Zbytek jsem dala na odstranění z Alephu.

[2016-03-22 20:43] #90 closed, assigned to Jenyk

[2016-03-22 20:44] LenkaKravecova commented on #78
@MartinRumanek @Jenyk Jestli k tomu máte něco nového nebo už víte jak to řešit, můžete to dát sem? Díky.

[2016-03-26 18:19] Jenyk commented on #88
Zase stejný problém - obrázky jsou odkazované přes http://kramerius.mzk.cz/imageserver/ :-/
Nechal jsem znova projet 2013

[2016-03-27 00:48] #87 closed, assigned to Jenyk

[2016-03-30 14:42] LenkaKravecova opened #93 "Rozbitý obrázek uuid:f6c15dc7-b09e-4985-8905-f08abeee5b28"
Rozbitý obrázek - http://kramerius.mzk.cz/search/handle/uuid:f6c15dc7-b09e-4985-8905-f08abeee5b28

http://imageserver.mzk.cz/mzk01/000/332/179/f6c15dc7-b09e-4985-8905-f08abeee5b28/big.jpg
http://imageserver.mzk.cz/mzk01/000/332/179/f6c15dc7-b09e-4985-8905-f08abeee5b28/thumb.jpg

[2016-03-31 06:40] #61 closed, assigned to jirkadev

[2016-04-01 05:50] leiblix commented on #61
Issue zrušeno. Místo produkčního Dockeru se použije Openshift.

[2016-04-01 08:40] LenkaKravecova opened #94 "Periodika - řazení příloh"
Je nutné vymyslet nějaký proces, který seřadí přílohy v Brněnských novinách a příp. i jinde. Čísla jsou seřazená v pořádku, ale přílohy seřadit nejdou (funkcí Třídit).
Teď to vypadá takto divoce, přílohy se řadí asi podle přírustku: http://kramerius.mzk.cz/search/handle/uuid:a101de00-2119-11e3-a5bb-005056827e52
Půjde to? Nedělali jsme už něco takového, @Jenyk ?

[2016-04-01 09:15] LenkaKravecova commented on #94
A ještě Brünner Zeitung.... http://kramerius.mzk.cz/search/handle/uuid:eb3adc60-dd58-11e2-9923-005056827e52 Tam je to vůbec divočina, protože těch druhů příloh je víc a bude potřeba je poskládat za sebe podle názvu a pak podle čísel.

[2016-04-07 14:24] jirduf opened #95 "Nezobrazuje se celá signatura"
V Krameriovi se zobrazuje jen začátek signatury ve tvaru LOKACE-XXXX.XXX a chybí vše, co následuje. Např. zde je signatura Skř.1T-1251.865,53 zkrácená: http://kramerius.mzk.cz/search/handle/uuid:ed01f8a5-57f0-4e8a-ba6b-c0b060c52490 (záložka popis) - úplný tvar je např. zde https://vufind.mzk.cz/Record/MZK03-001084045.

[2016-04-07 14:57] leiblix commented on #95
V DublinCore je to dobře
dc:identifiersignature:Skř.1T-1251.865,53/dc:identifier

Ale v MODsu se to rozdělilo do dvou polí a proto to blbne.

[code]

Asi chyba šablony v editoru, prověříme.

[2016-04-09 17:24] honza-rychtar opened #96 "Davidova houpacka - chybna struktura"
http://www.digitalniknihovna.cz/mzk/periodical/uuid:5a2dd690-54b9-11de-8bcd-000d606f5dc6
Prvni tri rocniky maji spatnou strukturu (jsou mimo strukturu), kdyz si je rozkliknu, tak nemaji metadata - nemaji spravne prirazeny root dokument. Nasledujici/predchozi rocnik listuje jen mezi temato trema.

Problem je tady - http://kramerius.mzk.cz/search/api/v5.0/item/uuid:5a2dd690-54b9-11de-8bcd-000d606f5d

[2016-04-11 17:13] leiblix opened #97 "Prozkoumání aktualizace SOLR"
Prozkoumat co by obnášelo nasazení novější verze SOLR.

Minulý týden vyšel SOLR 6 a my jsme v Krameriu zaseklí na verzi 3.

Hodila by se nám deep pagination (zmiňoval @Jenyk ), plus by bylo fajn mít možnost využít OpenShift imagestreamů od CPK a běžet SOLR ve více instancích.

[2016-04-13 07:28] LenkaKravecova opened #98 "Přidání kolekce nahrávek do VS vyhodí nahrávky z Krameria"
Do sbírky Zvukové nahrávky jsme s Filipem přidali 5 kolekcí a u všech zmizely zvukové stopy, zůstaly jen strany. Co s tím?

[2016-04-13 14:03] LenkaKravecova opened #99 "Další divný/chybějící objekt ve Fedoře"
Ke knížce 14-24: veselé čtení z desíti let (uuid:70680130-01ff-11e4-9789-005056827e52) jsem nenašla ve Fedoře streamy. V Krameriu nejde zaindexovat. Vypadá to na podobný problém jako #78, akorát nevím o tom, že by se s touto knihou nějak manipulovalo. Byla ve vybraných a asi před týdnem jsem si všimla, že tam chybí.

[2016-04-13 15:00] LenkaKravecova opened #100 "Periodikum Železničář"
U tohoto periodika Kramerius nezobrazuje obrázky: http://kramerius.mzk.cz/search/handle/uuid:c0a5a900-f25d-11e4-8936-005056827e51
Imageserver je ale v pohodě.

[2016-04-13 15:09] LenkaKravecova commented on #100
Jde jen o ročník 1955.

[2016-04-15 11:37] leiblix commented on #98
Je pouze špatná reindexace, takže data se neztratila. A v nové verzi Krameria se to asi neprojevuje (z OpenShiftu to půjde spravit).

[2016-04-15 11:38] honza-rychtar opened #101 "Opravit Right Message text"
http://kramerius.mzk.cz/search/api/v5.0/info
Odkaz na obrazek je uveden relativne:
`<img src="samolepka.jpg">`
Tohle bude fungovat jen v K4 klientovi.
Zmenit na
`<img src=http://kramerius.mzk.cz/search/samolepka.jpg">`

Mozna bude lepsi obrazek presunout na www.mzk.cz a linkovat tam.

[2016-04-15 11:41] honza-rychtar commented on #98
A kdy teda pojede Kramerius ostre v OpenShiftu? :)

[2016-04-15 11:46] leiblix commented on #101
Hotovo. Nechal jsem to na kramerius.mzk.cz, ale nevidím v tom problém.

[2016-04-15 11:46] #101 closed, assigned to nobody

[2016-04-15 11:49] leiblix commented on #98
Obrazy máme nachystané, ještě to teď s @dsecik testujeme.

[2016-04-15 15:14] honza-rychtar opened #102 "Neverejny rocnik"
www.digitalniknihovna.cz/mzk/periodical/uuid:259f2cc0-973f-11e4-b7ae-001018b5eb5c
Proc je rocnik 1916 neverejny, kdyz vsechny mladsi (i starsi) rocniky jsou verejne?

[2016-04-15 16:57] rzeh4n opened #103 "veřejná monografie s neveřejnými stránkami"
http://www.digitalniknihovna.cz/mzk/view/uuid:6ee6c380-4dc5-11e3-9c86-005056827e51?page=uuid:8a333be0-8cf0-11e3-bbb0-5ef3fc9bb22f
Při hledaní a filtrování "jen veřejné" se titul zobrazí, ale stránky veřejné nejsou.

[2016-04-15 18:14] Jenyk commented on #103
Dostupnost ve fedoře a v solr neseděla, po reindexaci je to ok (neveřejné).
Ale možná by to mělo být veřejné, @LenkaDamborska ?

[2016-04-15 18:33] Jenyk commented on #102
Zveřejněno

[2016-04-15 18:33] #102 closed, assigned to nobody

[2016-04-15 20:15] LenkaKravecova commented on #102
Odpoved je jednoducha. Prisel do Krameria jako neverejny a neprisla jsem na to.

[2016-04-15 21:06] #100 closed, assigned to nobody

[2016-04-15 22:18] Jenyk commented on #93
Ten obrázek v imageserveru chybí. Monografie má 174 stran, ale jen 173 obrázků.

[2016-04-17 22:15] LenkaKravecova commented on #96
Ahoj, čtu to až teď. Tohle periodikum jsem spojovala ručně přes editor. Bylo na dvou místech. Přesunula jsem ročníky pod jedno uuid a to druhé jsem smazala. To bude předpokládám to neexistující.

[2016-04-18 20:21] honza-rychtar commented on #96
A co ted? Staci to preindexovat?

[2016-04-18 21:38] Jenyk commented on #96
Omlouvám se za zpoždění. Ano, stačí reindexace. Už je to v pořádku.

[2016-04-18 21:38] #96 closed, assigned to Jenyk

[2016-04-19 10:00] #103 closed, assigned to nobody

[2016-04-30 19:40] #44 closed, assigned to Jenyk

[2016-05-11 21:41] zabak opened #104 "RSS a digitalniknihovna.cz"
Upravit RSS dle konfigurace Krameria tak aby neukazovalo na /search ale na nového klienta, ať je to kterýkoli.

[2016-05-12 08:20] zabak opened #105 "sklízení obálek a obsahů pro obálky knih"
Budeme k tomu muset udělat schůzku s programátory obálek knih.
Cílem je předat bibliografický záznam (resp. identifikátory) a stránky obálky a obsahu (případně titulní list - resp. reprezentativní stránku) a pokud jsou označené tak i stránky s rejstříkem. Včetně OCR. U časopisů i obálky jednotlivých čísel a případně obsahy, pokud existují. Měli bychom ale rozlišit noviny a časopisy (podle počtu čí

[2016-05-12 08:40] leiblix commented on #105
Přes API Krameria

IIIF API image, jednoduchým dotazem je možné získat jpeg v plném rozlišení, stačí to?

Je nějaký způsob jak poznám, že se jedná o obálku nebo o obsah?

[2016-05-12 08:55] zabak commented on #105
Je to uvedeno v typu stránky. Zatím není označovaná reprezentativní stránka dokumentu, takže bude těžké poznat, kdy je vhodné použít místo obálky titulní list.

[2016-05-12 09:23] LenkaKravecova opened #106 "Google Tag Manager"
Upravit zdrojáky v Krameriu a přidat měřící kód.

[2016-05-12 09:27] LenkaKravecova commented on #105
Jak moc do budoucna to má být řešeno? Budeme to muset zařadit do fronty. Odhad, kdy se k tomu dostaneme, dodám později.

[2016-05-12 09:35] LenkaKravecova commented on #98
Jak to vypadá s těmi rozbitými zvukovými nahrávkami??

[2016-05-12 09:38] leiblix commented on #98
V Openshiftu se to neprojevuje, ale ten má teď jiné problémy, že .....

Takže to bude nutné opravit v současné instalaci, ale já na to čas asi nemám, vezme si to někdo jiný?

[2016-05-12 09:42] LenkaKravecova commented on #99
Tak už je to zpět v K5 s příznakem private (změnila jsem na public, jak to bylo před tím). Vypadá to na aktualizaci z LTP nebo nevím, co Kramerius dělá.

[2016-05-12 09:43] honza-rychtar commented on #105
U toho odemknuti obalek a obsahu. Tohle je potreba promyslet! Koliduje to se soucasnym postupem, kdy by se mel dokument (nebo jeho cast) oznacit jako verejny, pokud obsahuje alespon jednoho verejneho potomka.
Jakmile zverejnite obalky, tak budou vsechny dokumenty oznacene jako verejne.
To by se dalo vyresit tim, ze "alespon jeden verejnym potomek" by se nevztahoval na stranky.

Druha vec je urcita

[2016-05-12 11:22] zabak commented on #105
Autorský zákon říká že mohou být zpřístupněny a u obsahu má zpřístupnění i smysl. Ale není to priorita. Důležité je domluvit vhodný postup jak Kramerius sklízet.

[2016-05-12 21:27] honza-rychtar commented on #105
Ano, autorsky zakon to rika. Ano, ma to smysl. Jen je potreba si promyslet co se stane, kdyz se obalky zpristupni.
Honza spousti skripty, ktere meni priznak verejnosti z neverejneho na verejny takovym dokumentum, ktere maji alespon jednoho verejneho potomka
Pokud by se bez dalsiho premysleni zpritupnily obalky a obsahy, tak to sice bode cool, ze jsou viditelne pro uzivatele, ale kompletne se rozbi

[2016-05-13 03:29] leiblix commented on #105
Řekl bych, že @Jenyk to stejně nejspíš neprochází dolu až na úroveň stránek, nemělo by to smysl a bylo by to pomalé. @Jenyk Je to tak?

Souhlasím

Ale proti schůzce s programátory obálek nic nemám, víme vlastně co po nás chtějí a jestli to potřebují? Vím, že mi od nich dříve občas přistál mail a řešili jsme API, ale jestli z toho něco použili, to už nevím.

[2016-05-13 06:46] zabak commented on #105
Víme co potřebují - obsahy a obálky včetně OCR. Loni se začalo analýzou, letos se (snad) bude programovat.

[2016-05-13 08:38] LenkaKravecova commented on #80
Zatím se to už nestalo.

[2016-05-13 08:38] #80 closed, assigned to leiblix

[2016-05-13 08:42] leiblix commented on #104
A fakt RSS ještě dnes používá :-)?

Jinak je pravda, že na ta RSS je je odkaz i v API a můžou to používat ostatní klienti. Těžké by to být nemělo.

[2016-05-13 08:44] #99 closed, assigned to nobody

[2016-05-13 08:52] leiblix commented on #95
Chyba nahlášená v editoru https://github.com/moravianlibrary/MEditor/issues/74

Ale bude nutné opravit i data zpětně.

[2016-05-13 09:00] leiblix commented on #79
Chyba reverzní proxy (malý timeout). Timeout jsme myslím zvedali a stejně se kramerius-new.mzk.cz teď nepoužívá.

[2016-05-13 09:00] #79 closed, assigned to nobody

[2016-05-13 09:03] leiblix commented on #78
Buď se to smaže nějakým skriptem, který by napsal @Jenyk, nebo se upraví Editor, aby si s tímto poradil (což stejně budeme muset možná řešit, viz referenced issue).

@Jenyk Máš k tomu nějaký další poznatek? Teď NDK z Krameria maže nebo označuje jako deleted?

[2016-05-13 09:04] leiblix commented on #77
do budoucna řeší openshift a s2i

[2016-05-13 09:04] #77 closed, assigned to nobody

[2016-05-13 09:05] leiblix commented on #71
Snížení pomohlo, chyba se neprojevuje.

[2016-05-13 09:05] #71 closed, assigned to nobody

[2016-05-13 09:07] leiblix commented on #56
Podobné jako issue https://github.com/moravianlibrary/kramerius/issues/93, chybějící obrazová data

[2016-05-13 09:12] leiblix commented on #54
Vyřešeno aktualizací.

[2016-05-13 09:12] #54 closed, assigned to nobody

[2016-05-13 09:16] leiblix commented on #25
@honza-rychtar Potřebuješ s tím ještě něco?

[2016-05-13 09:38] LenkaKravecova commented on #98
Reindexace v 5.3.3 nepomohla. @jirikrepl, zkus to, prosím, prozkoumat.

[2016-05-13 11:44] LenkaKravecova opened #107 "Chybí Editor uživatelů"
Při pokusu otevřít Editor uživatelů K5 hlásí 404.

[2016-05-13 16:18] Jenyk commented on #78
Tohle už vypadá v pořádku, pravděpodobně to mělo prostě příznak DELETED a teď je to po hromadném mazání deleted dokumentů opravdu smazané. Zřejmě jsme zbytečně panikařili.
Může se to reimportovat z LTP. Dokonce je možné, že už to v LTP mají ve frontě a že jsem to mazal na jejich žádost (proto stav deleted) :)

@MartinRumanek Teď se v krameriu maže natvrdo.

[2016-05-13 20:14] Jenyk commented on #105
Náš skript na zpřístupňování rodičů kontroluje jen první stránku a hlavně jsem ho spouštěl jen nad periodiky.
Není problém stránky ignorovat úplně, případně bych se mohl dívat na jednu stránku někde uprostřed.
Ale Honza má pravdu že by se v tomhle dala lehce udělat chyba a zpřístupnit něco, co má být neveřejné.

[2016-05-16 18:38] LenkaKravecova opened #108 "Problémy Krameria (nejspíš nové verze)"
Nevím, jestli vše souvisí s přechodem na Kramerius 5.3.3, ale děje se následující:
- nefunguje generování PDF  !! Už se ozvalo několik lidí.
- nefunguje editor uživatelů
- často procesy se stavem NOT RUNNING
- něco dalšího?

@MartinRumanek, @jirikrepl, @Jenyk - vyhlašuju stav nouze. Je to potřeba co nejdřív opravit. Dejte, prosím vás, hlavy dohromady. S těmi procesy nemůžeme prakticky nic dělat, v

[2016-05-17 13:26] LenkaKravecova commented on #108
@Jenyk Pamatuješ si, co to bylo za problém s tím stavem Not running tehdy na FSV? Dnes už je to tam zas.

[2016-05-18 11:29] LenkaKravecova opened #109 "Zprávy z gmail účtu chodí bez diakritiky"
Při změně hesla, registraci atp.
Např.:
Pro aktivaci u?ivatele (....) je nutn? kliknout na n?sleduj?c? link

[2016-05-18 11:29] LenkaKravecova commented on #107
Opraveno

[2016-05-18 11:29] #107 closed, assigned to leiblix

[2016-05-18 11:32] LenkaKravecova commented on #108
Generování PDF zprovozněno použitím čisté instalace bez úprav pro MZK. Editor uživatelů zprovozněn (včetně problému s postgresem, kvůli kterému nefungovala registrace uživatelů).
Zbývají procesy se stavem Not running.

[2016-05-18 13:43] LenkaKravecova commented on #109
A teď zas přišel s diakritikou :/ takže jak kdy

[2016-05-20 15:44] LenkaKravecova commented on #92
Nepřišla jsem na to, jestli je na tohle napojený nějaký jiný textový soubor. Zdá se, že ne.

[2016-05-25 11:49] jirkadev commented on #98
Problém je v riSearch naší fedory. U některých audio nahrávek chybí vazby (triplety) hasSoundUnit a containsTrack.

Jakmile se spustí indexace, indexační proces nanajde vazby sound_unit a containsTrack a do SOLR vloží  audio nahrávku bez vazby na sound_units a tracks

Dobře je toto vidět při [srovnání xml](https://www.diffchecker.com/hmazpjen), která se vkládají do SOLR. (elementy `<field name="pa

[2016-05-25 19:15] Jenyk commented on #98
Tohle se nestává jen u nahrávek, už jsem na stejný problém narazil u periodik.
Lepší by bylo napsat skript, který pro kořenové uuid rekurzivně najde potomky z RELS-EXT ve fedoře a ověří, že jsou dané vazby i v ritriples.
Tohle by se potom dalo využít při plánovaném "hledání haluzí" v datech.

Pro rychlou opravu by mělo stačit přepsat RELS-EXT novou verzí, např. v admin. menu fedory smazat obsah a

[2016-05-26 08:14] Jenyk commented on #108
Not running: už se to děje delší dobu (už před upgradem na 5.3.3)
V jednu chvíli začnou všechny nově spuštěné procesy přecházet do stavu not running a na čas pomůže jen restart tomcatu. Kramerius dává stav not running procesům, které mají být spuštěné, ale nemají v DB PID.
Spouštění procesů: kramerius periodicky kontroluje stavy procesů - doběhlo něco? je potřeba něco spustit? atd. Při plánování s

[2016-06-01 12:46] jirkadev commented on #98
OK, to by bylo fajn to napsat dost obecně rekurzivně. Zatím jsem napsal skript co znovu vytvoří vazby k sound_unit (buildRiTriples.grooovy) https://github.com/moravianlibrary/K4-tools/commit/953f9e2e66185f1f24374ba8c18791df469b7add

Fedora potom přidá vazbu do riTriples?

[2016-06-01 14:17] LenkaKravecova opened #110 "Stav not_running"
Problém s nastavením debuggeru je vyřešený, ale stav not_running se stále vyskytuje. Při snaze indexovat některé kolekce nahrávek (u kterých byly opraveny vazby a je potřeba je reindexovat), se objevuje stav not_running.
Třeba Oh, Kay: http://kramerius.mzk.cz/search/handle/uuid:59e708b6-c462-4610-90c5-ac5ca030050a nebo Pohřeb presidenta osvoboditele: http://kramerius.mzk.cz/search/handle/uuid:206a

[2016-06-01 14:18] LenkaDamborska commented on #110
#108

[2016-06-01 14:21] LenkaKravecova commented on #110
Řešilo se v #108, zakládám nové issue.
@Jenyk psal:
Not running: už se to děje delší dobu (už před upgradem na 5.3.3)
V jednu chvíli začnou všechny nově spuštěné procesy přecházet do stavu not running a na čas pomůže jen restart tomcatu. Kramerius dává stav not running procesům, které mají být spuštěné, ale nemají v DB PID.
Spouštění procesů: kramerius periodicky kontroluje stavy procesů - doběhlo

[2016-06-01 14:21] #108 closed, assigned to nobody

[2016-06-01 14:27] LenkaKravecova commented on #98
Jinak vazby k sound_unit jsou opravené, nahrávky by už z Krameria indexací mizet neměly.

[2016-06-01 14:42] LenkaKravecova opened #111 "Rovnost - prázdný ročník 1945"
Prázdný ročník 1945 http://kramerius.mzk.cz/search/handle/uuid:2f3eafe4-cc29-490d-9d54-e12223a27cd2 asi stále obsahuje vazby na čísla, které jsou v tom "správném" ročníku 1945. Nemůžu tento ročník smazat.
@Jenyk, asi není jiná možnost, než ty vazby ručně smazat ve Fedoře, co? Už jsem to reindexovala, obávám se ale, že ty vazby tam furt jsou. Díky.

[2016-06-01 16:14] Jenyk commented on #111
Ročník byl v pořádku bezdětný, smazal jsem ho z krameria a všechno je ok.

[2016-06-01 16:14] #111 closed, assigned to nobody

[2016-06-02 07:27] #98 closed, assigned to jirkadev

[2016-06-03 19:07] LenkaKravecova commented on #94
V podstatě to vyřešil @honza-rychtar v klientovi, takže zavírám. Jinak na řazení příloh jsem založila issue #426 v hlavní větvi.

[2016-06-05 18:04] LenkaKravecova opened #112 "Český svět - problém se 3 čísly"
U těchto 3 čísel [Českého světa](http://kramerius.mzk.cz/search/handle/uuid:9ee4d9f0-6a7a-11e4-9d98-005056825209) selhává proces pro změnu viditelnosti/reindexace:

ročník 1906-1907, číslo 25:
uuid:234699c0-727f-11e4-85f4-5ef3fc9ae867

ročník 1926-1927, číslo: 23
uuid:92a00610-9a8b-11e4-a2db-005056825209

ročník 1926-1927, číslo: 23
uuid:95b0e1d0-9a86-11e4-a2db-005056825209

Jun 05, 2016 7:22:38 P

[2016-06-07 08:02] LenkaKravecova commented on #97
Nechat na Incad.

[2016-06-07 08:02] #97 closed, assigned to leiblix

[2016-06-07 08:10] LenkaKravecova commented on #83
Je to opraveno, ale dokumenty se musí reindexovat. Máme v plánu do budoucna (až opraví datum vydání u příloh).

[2016-06-07 08:12] LenkaKravecova commented on #69
Nebudeme řešit. Možná v budoucnu otevřeme.

[2016-06-07 08:12] #69 closed, assigned to leiblix

[2016-06-07 08:21] #25 closed, assigned to leiblix

[2016-06-07 08:23] LenkaKravecova commented on #17
Opraveno

[2016-06-07 08:23] #17 closed, assigned to leiblix

[2016-06-07 08:26] LenkaKravecova commented on #16
@zabak co s tím budeme dělat dál?

[2016-06-07 08:33] rzeh4n commented on #69
Ty situace, že se document_type liší od modelu, obecně nastávat asi budou. Nevím, jak v MZK, ale třeba pro DiFMOE se uvažuje o rozlišení model:periodical na noviny a časopisy právě podle document_type.
@honza-rychtar

[2016-06-07 08:38] #8 closed, assigned to leiblix

[2016-06-07 08:41] #6 closed, assigned to leiblix

[2016-06-07 11:01] zabak commented on #16
Měsíc počkáme a uvidíme.

[2016-06-07 11:47] LenkaKravecova opened #113 "Změna modelu monograph na sheetmusic"
uuid:c15a0494-7fb7-41a9-9c10-982d55f6085f
uuid:f00ec974-6d84-4b27-a3eb-125acb1cb8f7
uuid:4f4f7c98-2911-4714-81da-149fa0ba477d
uuid:516c4395-25e6-4b86-87f9-5674dd1bc7ff
uuid:e9fc5f25-dddf-4032-9e0e-db23daab8f9e
uuid:e9625946-c3e9-4eec-8196-4bee5e47ae88
uuid:07f6c2a9-5457-4a50-9b99-f430bffcba12
uuid:a248b325-df59-445c-8124-94ecba5308e0
uuid:775d275b-73a7-44fb-ae1a-d5abd48d6129
uuid:b3247340-2555-423

[2016-06-07 11:48] LenkaKravecova opened #114 "Změna modelu manuscript na sheetmusic"
uuid:0241eeec-a6ca-448f-adf6-98909cd7162d
uuid:739aab28-9bd7-4948-b943-acc2433a54e1
uuid:b9cc6753-c4f1-4b59-94bb-9362480f99c6
uuid:57eda3a5-c4cc-4505-83b5-ee244628ee7b
uuid:62b6806c-b7bb-4f8c-8dd1-b92526857f8c
uuid:101971ec-ebc4-42fc-b7ad-fc2faf46d03a
uuid:05399847-dd7d-4162-8706-92bd36bf347c
uuid:7a0e2910-0dde-4abf-a452-6264e30e886c
uuid:87aea16e-b81c-41eb-890f-1756110e822e
uuid:7c1500fb-ab51-47f

[2016-06-07 16:13] LenkaKravecova opened #115 "UUID ke zveřejnění"
Další pěkný seznam z NK ke zveřejnění - jsou to novinky i starší věci.
[uuid_NK_zverejnit.txt](https://github.com/moravianlibrary/kramerius/files/303046/uuid_NK_zverejnit.txt)

[2016-06-07 16:31] LenkaKravecova opened #116 "První strana v generovaném PDF"
Odkud se bere první informační strana v generovaném pdfku? Upravila jsem všechny tyto soubory: first_page, first_page_CZ_cs, first_page_html, first_page_html_CZ_cs, first_page_xml, first_page_xml_CZ_cs, ale ani u jednoho se změna neprojevila. Odněkud se to brát musí, potřebuji zjistit odkud :)

[2016-06-09 10:34] #114 closed, assigned to jirkadev

[2016-06-09 10:34] #113 closed, assigned to jirkadev

[2016-06-09 12:38] LenkaKravecova opened #117 "Chybí kolekce nahrávek Zločin a trest [1]"
Kolekce s tímhle uuid:86943124-5a4a-4679-a887-787ae0006b26 by měla být v Krameriu, ale není. Dokonce jsem ji nenašla ani ve Fedoře. V Krameriu jsem našla nejspíš její prázdné potomky - 2x soundunit a 2x track, které ve Fedoře taky nejsou:
http://kramerius.mzk.cz/search/i.jsp?pid=uuid:df6c2a49-d9f6-40fe-9533-8c96f67fa229&q=
http://kramerius.mzk.cz/search/i.jsp?pid=uuid:e3628025-ed1d-42ef-8d48-ceb6e

[2016-06-14 08:23] LenkaKravecova opened #118 "Proklik do našeho Alephu"
Změnit proklik přes čČNB do našeho Alephu. Teď odkaz vede do NK Alephu.
![proklik_do_katalogu](https://cloud.githubusercontent.com/assets/11834597/16035870/a356ec4a-3219-11e6-925f-e8a6680865a5.jpg)

[2016-06-14 08:27] Jenyk commented on #117
Ve fedoře to fakt není. Smažu to z indexu?

[2016-06-14 09:12] LenkaKravecova commented on #117
Udělala jsem to..

[2016-06-15 07:53] LenkaKravecova commented on #91
Opraveno. Sigla by se už v shelfLocator objevovat neměla.

[2016-06-15 07:53] #91 closed, assigned to jirkadev

[2016-06-15 07:59] LenkaKravecova commented on #95
Dokumenty z editoru jsou opraveny. Jirka se ještě podívá na NDK produkci.

[2016-06-17 11:11] leiblix commented on #116
Tento text se mění v souborech

[code]

Soubory jsem v naší instalaci založil.

[2016-06-17 11:36] #106 closed, assigned to jirkadev

[2016-06-17 12:52] LenkaKravecova commented on #116
Super, upravila jsem to a funguje to. Díky.

[2016-06-17 12:52] #116 closed, assigned to leiblix

[2016-06-20 11:12] jirkadev commented on #109
V listopadu mi diakritika nefungovala. Teď 'Aktivační email' i 'email při vygenerování nového hesla' má diakritiku v pořádku. Funguje v pořádku na seznam.cz gmail.com i webmail.mzk.cz

Zatím zavírám

[2016-06-20 14:21] LenkaKravecova commented on #112
Celá čísla nejsou ve Fedoře. Požadavek na LTP.

[2016-06-21 11:36] LenkaKravecova opened #119 "Doba odhlášení při nečinnosti"
Teď je to nastaveno na 30 minut od poslední činnosti, prodloužit na 3 h.

[2016-06-22 07:27] jirkadev commented on #95
Opravil jsem i NDK tímto [skriptem](https://github.com/moravianlibrary/K4-tools/blob/master/Groovy/src/modsShelfLocator/modsFixDuplicatedShelfLocator.groovy). Většina monografií je současným skriptem opravena. Další typy dokumentů jsou OK.

Skript funguje takto: pokud má MODS více než jeden element shelfLocator. Pak se dívá jestli element druhý až n-tý element obsahuje pouze čísla (s max čtyřmi řá

[2016-06-22 08:46] #95 closed, assigned to jirkadev

[2016-06-22 08:47] LenkaKravecova commented on #118
V konfiguráku to máme nastaveno dobře. Napíšu issue na Krameria.

[2016-06-24 07:11] jirkadev commented on #115
Musíme počkat na stabilní verzi Krameria.

[2016-06-24 07:39] #109 closed, assigned to jirkadev

[2016-06-28 06:46] LenkaKravecova opened #120 "Znemožnění tisku hudebnin na studovnách"
Viz https://github.com/ceskaexpedice/kramerius/issues/406
Nám jde jen o chráněné hudebniny (sheetmusic)... Jak by to šlo udělat?

[2016-06-28 07:02] LenkaKravecova commented on #92
Možná @zabak myslel intro8 (Informace)?
@jirikrepl, potřebuju zjistit, v jakém souboru to je.. Mělo by to být pak i v novém klientovi.

[2016-06-28 07:20] LenkaKravecova commented on #92
Jo, tak intro8 jsou Informace po přihlášení :) :)

[2016-06-28 10:29] jirkadev commented on #92
Anglický text se nastavuje v souboru `intro` a český v souboru `intro_CZ_cs`

Nyní je potřeba to jen přeložit

[2016-06-30 08:26] jirkadev commented on #119
OK nastaveno na 3 hodiny. https://github.com/ceskaexpedice/kramerius/issues/430 Pak to možná budeme muset nastavit na nové instalaci znovu.

[2016-06-30 08:26] #119 closed, assigned to jirkadev

[2016-07-01 10:14] jirduf opened #121 "Zobrazování OCR"
V kramerius.mzk.cz (http://kramerius.mzk.cz/search/handle/uuid:1fedb880-4b1b-11e3-ae53-5ef3fc9ae867) Chrome Verze 51.0.2704.103 m, Windows 7 se OCR zobrazuje pouze v malém rámečku (viz příloha)
![ocr](https://cloud.githubusercontent.com/assets/3939406/16518765/e6ba1c78-3f84-11e6-9577-b334c1a394fe.jpg)

[2016-07-01 10:24] LenkaKravecova commented on #121
Ahoj Jirko, víme o tom. Dohodli jsme se, že už to řešit nebudeme vzhledem k novému klientovi. Dá se to roztáhnout ručně - to pro administraci bude stačit. Díky za pochopení.

[2016-07-03 17:16] LenkaKravecova commented on #118
@Jenyk, cože jsi s tím udělal? Zdá se, že už je to ok. Vše, na co jsem teď klikla, mě odkázalo do MZK alephu :) Před těmi 11 dny to ještě odkazovalo do NK.

[2016-07-04 07:38] jirkadev commented on #120
Díky https://github.com/ceskaexpedice/kramerius/issues/406 máme tři nové akce: `PDF_RESOURCE`, `SHOW_CLIENT_PRINT_MENU` a `SHOW_CLIENT_PDF_MENU`.

Tyto akce chceme zakázat pouze u podmnožiny dokumentů, které jsou `private` a mají model `sheetmusic`.

U podmnožiny dokumentů `private sheetmusic` není možné tyto akce zakázat globálně (v _Nastavení práv globáních akcí_). Práva by se musely nastavit je

[2016-07-07 08:50] #121 closed, assigned to nobody

[2016-07-07 11:22] LenkaKravecova commented on #94
@jenyk postupoval podle instrukcí zde https://github.com/ceskaexpedice/kramerius/issues/426, ale pořád se to neřadí správně. Např. se neřadí správně přílohy ani čísla v tomto ročníku: http://kramerius.mzk.cz/search/handle/uuid:7a18c630-fa27-11e4-8ded-5ef3fc9ae867 (jak v Krameriu, tak i v klientovi, proto by byla potřeba to řešit už na úrovni Krameria).

[2016-07-07 15:41] LenkaKravecova commented on #118
Teď mě vše zas odkazuje do alephu NK.

[2016-07-20 11:00] leiblix opened #122 "Porovnat změny z grafiky a upstreamem Krameria"
V naších změnách je např.

`<script src="js/mods.js" type="text/javascript" ></script>`

ale soubor je už smazaný a vrací 404. V nových verzích Krameria se tento soubor už nepoužívá.

[2016-07-20 16:48] LenkaKravecova commented on #112
Reimport z LTP i změna viditelnosti provedena úspěšně,

[2016-07-20 16:48] #112 closed, assigned to jirkadev

[2016-07-21 10:12] jirkadev commented on #94
[Brněnské noviny](http://kramerius.mzk.cz/search/handle/uuid:a101de00-2119-11e3-a5bb-005056827e52) mají špatně seřazené přílohy.

Udělal jsem replikaci [ročníku 1898](http://kramerius.mzk.cz/search/handle/uuid:4a10b180-640c-11e3-8c6a-005056825209) na [krameriusTest](http://krameriustest.mzk.cz/search/handle/uuid:4a10b180-640c-11e3-8c6a-005056825209). Na krameriuTest se přílohy seřadily správně.

U

[2016-07-22 09:20] LenkaKravecova commented on #117
Zpracováno znovu, obnovení ze zálohy by bylo na dlouho: http://kramerius.mzk.cz/search/handle/uuid:2eb02ddc-335d-40c7-baab-035bdb8b2e0c

[2016-07-22 09:26] #117 closed, assigned to LenkaKravecova

[2016-08-04 12:13] LenkaKravecova opened #123 "Mitglieder-Verzeichniss des Freimaurerbundes der Grossloge zur Sonne in Bayreuth 1910"
Ročník 1910 uuid:32c0baf5-f7ad-4e69-80c5-c5e306b2e3a3 je napojený na dva kořeny - uuid:bd865f96-3cbb-439a-b824-82e9b0b1d6e9
uuid:e43fe4c9-a8f0-48d0-a069-ec9c4c7ade1a

Nechat pouze uuid:e43fe4c9-a8f0-48d0-a069-ec9c4c7ade1a. Díky :)

[2016-08-09 14:09] #123 closed, assigned to Jenyk

[2016-08-31 11:27] jirkadev commented on #122
Nebudeme to řešit, tak jak jsme se dohodli. Bude se upouštět od větve _mzkgrafika_

[2016-08-31 11:27] #122 closed, assigned to jirkadev

[2016-08-31 11:31] jirkadev commented on #120
Knihovna _modelfilter.jar_ byla přidána do nové verze Krameria https://github.com/moravianlibrary/s2i-kramerius/commit/aa0f1d07f0fb39801044c8f28bba029fedb8cde2 (kterou nasadíme místo staré verze)

Na svém PC jsem spustil novou verzi Krameria s knihovnou _modelfilter.jar_ a nastavil pravidla. Vše funguje.

[2016-08-31 11:32] #92 closed, assigned to jirkadev, LenkaKravecova

[2016-09-05 07:26] LenkaKravecova commented on #104
Po dohodě s @zabak to nebudeme dělat.

[2016-09-05 07:26] #104 closed, assigned to leiblix, jirkadev

[2016-09-05 15:03] LenkaKravecova opened #124 "Otestovat skript na zpřístupnění dokumentů"
Skript od P. Šilhavého (KNAV). Má ho @Jenyk.

[2016-09-05 15:06] LenkaKravecova opened #125 "Seznam dokumentů v djvu a jpg"
Zjistit, co ještě zbývá ve Fedoře - seznam kořenových uuid. Priorita č. 1.

[2016-09-05 15:20] LenkaKravecova commented on #118
@Jenyk tak bude to chtít opět opravit, aby to odkazovalo k nám :)

[2016-09-07 10:04] jirkadev commented on #125
# Periodika s obrázky ve Fedoře

uuid:249df07d-f383-11df-8d57-0050569e4b0b
uuid:13f650ad-6447-11e0-8ad7-0050569d679d
uuid:ae876087-435d-11dd-b505-00145e5790ea
uuid:73f3e41a-65c9-11e0-b4ae-0050569d679d
uuid:ae81bb20-435d-11dd-b505-00145e5790ea
uuid:ae74c374-435d-11dd-b505-00145e5790ea
uuid:ae79f31b-435d-11dd-b505-00145e5790ea
uuid:ca016b4e-911b-11e0-9943-0050569d679d
uuid:40e2f4dd-91ad-11e0-bf0c-00

[2016-09-07 10:07] jirkadev commented on #46
# Periodika, která nemají přiřazený ročník

http://kramerius.mzk.cz/search/handle/uuid:3abab84f-aa4b-11e1-8a52-0050569d679d
http://fedora.dk-back.infra.mzk.cz/fedora/get/uuid:3abab84f-aa4b-11e1-8a52-0050569d679d

http://kramerius.mzk.cz/search/handle/uuid:8435e20b-b789-41eb-b35c-192255a15590
http://fedora.dk-back.infra.mzk.cz/fedora/get/uuid:8435e20b-b789-41eb-b35c-192255a15590

[2016-09-08 11:01] leiblix opened #126 "Ve Fedoře častý error message"
Na dk-back.infra.mzk.cz:
docker logs --tail=30 -f 381_fcrepo_1

častá chybová hláška

[code]

[2016-09-08 13:15] Jenyk opened #127 "Počet spojení do RiTriples"
Zvýšit maximální počet spojení do fedory, jde-li to

[2016-09-13 15:23] LenkaKravecova opened #128 "Časopis České památky 2001"
Ročník 2001 uuid:02f3cff0-5e25-11e2-9ead-001018b5eb5c je napojený na dva kořeny. Zrušit vazbu i celé periodikum u uuid:206318f0-5bc0-11e2-8f49-005056827e51. Nechat pouze na uuid:870d7230-5bc0-11e2-8f49-005056827e51.

[2016-09-14 07:17] jirkadev commented on #124
Zde je repozitář se skriptem https://github.com/ceskaexpedice/authority

Bude potřeba vytvořit instalaci Krameria, kam se nahraje tento skript

[2016-09-27 09:16] LenkaKravecova commented on #128
Musí to opravit v LTP. Zavírám to tu.

[2016-09-27 09:16] #128 closed, assigned to MarosGrm

[2016-10-03 10:00] #125 closed, assigned to dsecik, MarosGrm

[2016-10-04 12:00] LenkaKravecova commented on #89
nápověda bude v novém klientovi

[2016-10-04 12:00] #89 closed, assigned to LenkaKravecova

[2016-10-05 12:05] LenkaKravecova opened #129 "Najít dokumenty bez OCR"

[2016-10-05 13:00] LenkaKravecova opened #130 "Otestovat shibboleth autentizaci"
https://github.com/ceskaexpedice/kramerius/issues/405

[2016-10-05 13:02] LenkaKravecova commented on #120
Toto musíme nastavit v nové instalaci.

[2016-10-05 13:15] LenkaKravecova opened #131 "Zjistit velikost dat těchto titulů"
Lidové noviny: uuid:bdc405b0-e5f9-11dc-bfb2-000d606f5dc6 (2,3 TB)
Lidové noviny: uuid:bdc06f50-6ec9-11dd-85fc-000d606f5dc6 000244261
Mladá fronta: uuid:0a0bd530-c20b-11de-a374-000d606f5dc6 000589316
Pestrý týden: uuid:ae722b4f-435d-11dd-b505-00145e5790ea 000225768 (zatím není v jp2, takže až bude)
Hlas lidu: uuid:4b71d2a0-aec3-11de-86df-000d606f5dc6 000397427 (zatím není v jp2, takže až bude)
Květ

[2016-10-05 13:26] LenkaKravecova commented on #131
Myslím, kolik místa zabírají na disku :)

[2016-10-05 13:46] LenkaKravecova opened #132 "Nové funkce statistik"
Nasadit a otestovat https://github.com/ceskaexpedice/kramerius/issues/394

[2016-10-06 08:00] LenkaKravecova opened #133 "Prázdná hodnota dc:rights u některých dokumentů"
Některé dokumenty nemají v dc:rights vyplněno policy, což je problém např. pro CPK a sběr dat. Jsou dvě možné hodnoty - policy:private nebo policy:public. Bude potřeba najít dokumenty, které v dc:rights policy nemají a následně ji tam přidat. Policy by měla být ve FOXML. Co jsem se dívala, tak dokument, který policy neměl v DC, tak ve FOXML to bylo.
Jinak půjde nejspíš pouze o dokumenty z Meditoru

[2016-10-06 08:38] LenkaKravecova opened #134 "Konverze obrázků a umístění na imageserver"
Asi to sem nepatří, ale není kam jinam to dát: dostali jsme 25 samostatných obrázků v pdf (neptejte se proč pdf), je potřeba je převést do jp2 a umístit na imageserver dle sysna. Pak budu potřebovat vědět umístění.

[2016-10-06 10:19] LenkaKravecova opened #135 "Admin. procesy v Krameriu"
Admin. procesy mají stav failed nebo batch_failed (místo running), i když teprve probíhají a není u nich žádný chybový výstup. Po dokončení procesu se stav změní na finished. Dřív to tak nebylo a je to divné.

[2016-10-06 15:31] LenkaKravecova opened #136 "Zvukový přehrávač v nové instalaci"
Zprovoznit ho. Ukázat někomu, jak se to dělá.

[2016-10-06 15:32] LenkaKravecova opened #137 "Editor částí v nové instalaci"
Zprovoznit, ukázat někomu, jak se to dělá.

[2016-10-06 15:36] LenkaKravecova commented on #118
https://github.com/ceskaexpedice/kramerius/issues/433
Zatím si to musíme upravovat pokaždé sami v defaultním konfiguračním souboru v rozbaleném warku.

[2016-10-06 15:38] LenkaKravecova opened #138 "Proklik do našeho Alephu v nové instalaci"
Cílem je, aby identifikátory v Popisu dokumentu odkazovaly do našeho Alephu. Více info zde https://github.com/moravianlibrary/kramerius/issues/118 a zde https://github.com/ceskaexpedice/kramerius/issues/433. @Jenyk, ukaž to někomu ;)

[2016-10-06 16:49] LenkaKravecova commented on #136
Tak šlo o nastavení práv na audioserveru. @dsecik zdokumentuje. Zavírám.

[2016-10-06 16:49] #136 closed, assigned to leiblix

[2016-10-07 14:24] LenkaKravecova opened #139 "Metadata v Popisu dokumentu"
Do Popisu u dokumentu v Krameriu je potřeba dát autorské, nakladatelské údaje, nějaké identifikátory a další údaje. Klidně tam může být skoro všechno z MODS, pro knihovníky a v rámci administrace se to bude hodit. Předpokládám, že půjde o úpravu zobrazovací xslt šablony.

[2016-10-10 11:24] LenkaKravecova opened #140 "Zrušit limit stran pro generování PDF"
Limit je teď 20 stran podle defaultního nastavení.
Podobných věcí bude víc. Některá nastavení, která jsme měli, chceme pořád. Postupně zjišťuju, čeho všeho se to týká.. @Jenyk a @MartinRumanek, pořešte spolu konfiguraci Kramerius vs. docker.

[2016-10-10 13:09] LenkaKravecova commented on #135
A ještě je problém diakritika a špatný čas.

[2016-10-11 11:53] leiblix commented on #137
Přidá se do https://github.com/moravianlibrary/s2i-kramerius.git aplikace editor.war, podopným způsobem jako rightseditor https://github.com/moravianlibrary/s2i-kramerius/blob/master/Dockerfile#L58

[2016-10-11 11:55] leiblix commented on #139
Ve staré instalaci to bylo v pořádku?

Projevuje se tato změna i v klientu?

[2016-10-11 11:57] Jenyk commented on #139
Ve staré instalaci byly změněné xsl soubory, v klientu se to neprojeví. Jestli to bylo 100% jak Lenka chce nevím..

[2016-10-11 11:58] leiblix commented on #140
Vypnuto v konfiguračním souboru configuration.properties.

Jsme schopni zjistit co ostatní potřebujeme překonfigurovat, nebo vezmeme slepě konfigurák ze staré instalace? (to bych nerad)?

[2016-10-11 12:06] #140 closed, assigned to nobody

[2016-10-11 12:10] leiblix commented on #118
To už není tak úplně možné, ale postačí upravit kód v branchi https://github.com/moravianlibrary/kramerius/tree/hotfixapi, součástí této větve bude zmíněný konfigurační soubor. Z této větve nyní buildíme Krameria na naši produkci.

[2016-10-11 12:25] leiblix commented on #139
Nahrál jsem šablonu ze staré instalace, která  tam tyto údaje vrací (/docker-compose/kramerius.mzk.cz/.kramerius4/xsl/mods.xsl).

@LenkaDamborska Pokud by tam ještě něco chybělo, tak issue prosím znovu otevři. Doplnilo by se to do zmiňované šablony.

[2016-10-11 12:25] #139 closed, assigned to nobody

[2016-10-11 12:27] leiblix commented on #135
1. Špatný čas bude pravděpodobně způsobený špatnou TIMEZONE, dá se nahlédnout do jiných docker-compose.
2. Špatná diakritika - bude se muset někde v tomcatu nastavit UTF-8 (a upravit s2i-kramerius).

[2016-10-11 12:35] leiblix commented on #127
Mělo by to jít (pravděpodobně konfigurace Tomcatu). Při jakých příležitostech současný počet spojení nedostačuje?

[2016-10-11 12:36] LenkaKravecova commented on #139
Díky. Zatím to můžeme nechat podle té staré šablony.

[2016-10-11 12:37] leiblix commented on #126
Pravděpodobně to bud taky důvod proč je v Krameriu často zalogováno toto:

[code]

[2016-10-11 12:39] Jenyk commented on #127
Už vůbec nevím :( Zavírám, budeme řešit, kdyby se to znova vyskytlo.

[2016-10-11 12:39] #127 closed, assigned to nobody

[2016-10-11 12:51] leiblix commented on #120
Mergnul jsem změnu do s2i-kramerius, mohl by to prosím někdo otestovat a nasadit? :-)

Tzn.
1) vybuildit znovu s2i-kramerius (z naší branch hotfixapi)
2) otestovat, že je to ok
3) pushnout to na hub.docker.com
4) udělat pull na server a otočit to

[2016-10-11 13:35] leiblix commented on #86
@honza-rychtar Je to dost staré issue :-(, chceš to ještě vůbec?

[2016-10-11 13:37] leiblix commented on #68
Toto je už zastaralé, dokumentace je na naší interní wiki - včetně nakreslené infrastruktury s diskovými úložišti ;)

[2016-10-11 13:37] #68 closed, assigned to Jenyk

[2016-10-11 13:41] leiblix commented on #48
Starý OAI-PMH provider už používat nebudeme, nahrazuje ho https://github.com/ceskaexpedice/kramerius/tree/master/installation/oai

[2016-10-11 13:41] #48 closed, assigned to leiblix

[2016-10-11 15:07] leiblix opened #141 "SOLR dlouhé dotazy"
SOLR pořád dělá problémy, navíc se v logu objevuje chyba:

vypadá to, že něco položilo dlouhý dotaz do SOLRu, ale k odpovědi už nedošlo (connection timeout kvůli reverzní proxy)

[code]

[2016-10-11 15:33] honza-rychtar commented on #86
No jako to datum se hodi. V novinkach (beru pres solr, ne pres feed/newes) a ve vysledcich hledani zobrazuju autora a pokud neni autor vyplneny, tak zobrazim datum. Az pokud neni ani jedno, tak vypisu autor neuveden.
Ve vybranych (ktere nedostanu jinak nez pres feed/custom) nemam informaci o datu, takze "autor neuveden" pisu kdykoli, kdy neni autor.
Hodi se to hlavne u periodik, kde nebyva autor,

[2016-10-12 07:48] xburda4 commented on #141
to bolo moje hladanie dokumentov bez OCR, ospravedlňujem sa

[2016-10-12 08:26] Jenyk commented on #135
Čas je opravený v docker-compose.yml:

[code]

[2016-10-12 10:04] Jenyk opened #142 "Neexistující VC"
Řada dokumentů je podle fedory a solru členem virtuálních kolekcí, které ale neexistují.
Je potřeba fedoru projít, odstranit vazby na neexistující kolekce a dokumenty reindexovat. Vazby jsou zřejmě na všech úrovních.

Dají se najít přes risearch dotazem
`* <http://www.w3.org/1999/02/22-rdf-syntax-ns#isMemberOfCollection> <info:fedora/vc:d3f011e3-f1fd-4025-a907-68a860460841>`

Podle logu jde o kole

[2016-10-12 10:27] Jenyk commented on #142
Duplicita https://github.com/moravianlibrary/kramerius/issues/126, zavírám a řeším tam :)

[2016-10-12 10:27] #142 closed, assigned to Jenyk

[2016-10-12 12:47] LenkaKravecova commented on #131
Lidové noviny 2,3 TB + 77,9 GB
Mladá fronta 40 GB
Rudé právo 994 GB
Květy 538,4 GB
Týdeník Květy 279,4 GB
Pestrý týden 138 GB
Hlas lidu 94 GB

[2016-10-12 12:47] #131 closed, assigned to MarosGrm

[2016-10-12 22:23] honza-rychtar commented on #141
SOLR nesmi spadnout, ani kdybych se ho snazil shodit.

[2016-10-13 13:29] leiblix commented on #141
@xburda4 To nevadí, i takové dotazy by SOLR měl zvládat :-)

@honza-rychtar Souhlas

[2016-10-20 10:27] xburda4 commented on #133
Hodnoty boli pridané do 110 dokumentov, mali by to byť všetky, ktorým dc:rights chýbalo.

[2016-10-20 10:54] #133 closed, assigned to xburda4

[2016-10-20 13:41] LenkaKravecova commented on #129
Vše je v google dokumentu OCR.

[2016-10-20 13:41] #129 closed, assigned to xburda4

[2016-10-20 14:13] LenkaKravecova commented on #141
Padání SOLRu řešíme. Toto byl konrkétní příklad, takže zavírám.

[2016-10-20 14:13] #141 closed, assigned to nobody

[2016-10-20 16:23] LenkaKravecova opened #143 "Reindexace Národních listů"
uuid:ae876087-435d-11dd-b505-00145e5790ea

[2016-10-20 17:37] dsecik commented on #134
done

[2016-10-20 17:37] #134 closed, assigned to dsecik

[2016-10-25 10:35] leiblix opened #144 "Chyba cz.incad.Kramerius.imaging.ImageStreamsServlet.doGet"
Chyba má 1,084 hitů za posledních 24 hodin

Požadavek na:

http://kramerius.mzk.cz/search/img?uuid=uuid:76d89cb0-877c-11e5-ac67-005056827e51&stream=IMG_THUMB&action=SCALE&scaledHeight=96

vyvolá vždy stacktrace:

[code]

[2016-10-25 11:03] leiblix opened #145 "Chyba cz.incad.kramerius.security.impl.criteria.BenevolentMovingWall.evaluateDoc unexpected char: '['"
Chyba má 5,919 hitů za posledních 24 hodin

Požadavek např. na:

http://kramerius.mzk.cz/search/i.jsp?pid=uuid:6cb65cd0-8a56-11e6-8aeb-5ef3fc9ae867

vyvolá vždy stacktrace:

[code]

[2016-10-25 13:36] xburda4 commented on #118
V hotfixapi aj v master branchi som to prepísal, v ďalšom builde by sa to malo prejaviť.

[2016-10-25 13:37] xburda4 commented on #138
V hotfixapi aj v master branchi kramerius repozitára som to prepísal, tak ako to písal @MartinRumanek, v ďalšom builde by sa to malo prejaviť.

[2016-10-26 10:27] jkremlacek commented on #145
Chybuje to asi na více věcech.

Příklad v tomto issue kolabuje např. na elementu s rokem vydání který obsahuje "c2001", viz elementy mods:dateIssued, <dateIssued>.

Pokud metoda DateLexer:nextToken() dostane na vstupu bufferu jiný symbol než '-', '0' ... '9', '.', '\X' (X = {t, n, r}), ' ' automaticky vyhodí vyjímku. --- c2001 tedy taky vyhodí kvůli 'c'.

Proč je v stacktrace-u '[' nemám ponětí, n

[2016-10-26 10:37] Jenyk commented on #145
To je v pořádku, prostě jsou tam formáty roku vydání, které pohyblivá zeď nebere.
Problém je (byl, viz https://github.com/ceskaexpedice/kramerius/issues/461) ve způsobu logování, ne v konkrétním formátu roku.
Data už podle logů poopravujeme.

[2016-10-26 10:38] Jenyk commented on #145
Druhá možnost je upravit pohyblivou zeď a nebo (lepší) používat skript od p. Šilhavého.

[2016-10-31 08:47] #110 closed, assigned to Jenyk

[2016-11-01 09:24] MartinRumanek commented on #137
Nasazené a funkční.

[2016-11-01 09:26] leiblix commented on #132
Verze s novýma statistikama je už nasazená i na kramerius.mzk.cz

[2016-11-01 11:24] leiblix commented on #137
Nasazeno, je to funkční. @xburda4 Dík

[2016-11-01 11:24] #137 closed, assigned to xburda4

[2016-11-01 11:32] leiblix commented on #120
Verze s touto změnou je nasazená, zbývá to nastavit.

[2016-11-01 11:33] Jenyk commented on #126
Odkazy na neexistující VC jsou odstraněny z objektů ve fedoře, objekty reindexovány, solr optimalizován (to bylo potřeba k odstranění starých VC z http://solr.dk-back.infra.mzk.cz/solr/terms?terms=true&terms.fl=collection&terms.limit=1000)

[2016-11-01 11:33] #126 closed, assigned to Jenyk, MarosGrm

[2016-11-01 14:46] Jenyk commented on #118
Je nasazený hotfix + máme přesměrování na klienta, takže zavírám.

[2016-11-01 14:46] #118 closed, assigned to Jenyk

[2016-11-04 16:44] LenkaKravecova opened #146 "Kramerius pády - problém se spojením do databáze"
Už se to vyskytlo 3x za poslední dny (časy, kdy byl restartovaný Kramerius):
10-28-2016_12:05:11
11-03-2016_09:10:11
11-04-2016_02:15:11

@Jenyk, jaké navrhuješ kroky? Případně ostatní, taky se vyjádřete.

[2016-11-04 16:46] Jenyk commented on #146
Sleduju počty spojení do databáze, ještě vydrž

Dne pá 4. 11. 2016 17:44 uživatel LenkaDamborska notifications@github.com
napsal:

[2016-11-04 16:49] LenkaKravecova commented on #146
Vydržím ;) Já jen, abychom to někde měli.

[2016-11-07 09:44] #143 closed, assigned to Jenyk

[2016-11-07 09:58] LenkaKravecova commented on #135
Ještě je potřeba dořešit, proč se občas procesy nespouští a musí se restartovat Kramerius (restart 7. 11. 10:50).

[2016-11-07 10:05] LenkaKravecova commented on #132
Otestovala jsem to, funguje to. Ale asi bude potřeba, aby tam Incad ještě něco doladil. Zatím zavírám.

[2016-11-07 10:05] #132 closed, assigned to leiblix, LenkaKravecova

[2016-11-09 15:13] MarosGrm commented on #120
Nové nastavenie je viac-menej funkčné, pri hudobninách typu private sa stále zobrazuje možnosť tisku, ale samotný tisk už nie je možný pretože po odkliknutí stránka vracia chybu: Access to the specified resource has been forbidden.
Bude ešte treba spraviť aby sa možnosť tisku ani nezobrazovala.

[2016-11-21 09:33] leiblix opened #147 "Nejdou upravovat globální akce"
Momentálně v upstream verzi Krameria nejdou měnit globální akce:

protože požadavek:
`http://localhost/search/inc/admin/_display_rights_for_global_actions.jsp?pids={uuid\:1}&securedaction=read`

Vrací kód 400, měli bychom zjistit, kterým commitem se to rozbilo, jinak budeme mít po dalším updatu problém.

[2016-11-21 09:46] MartinRumanek commented on #147
Na produkci se mi ta tabulka nyní ani neotevře

[2016-11-21 14:14] MarosGrm opened #148 "Nefunguje registrácia"
Nefunguje registrácia na kramerius, registračný mail sa neodošle a pri vygenerovaní hesla z user's editoru to zlyhá s hláškou: Function result:Chyba při odesílání hesla Could not connect to SMTP host: localhost, port: 25

[2016-11-21 19:44] leiblix commented on #148
Nebyl definovaný konfigurační soubor `/data/kramerius.mzk.cz/mail.properties`. Doplnil jsem a funguje to.

[2016-11-21 19:44] #148 closed, assigned to nobody

[2016-11-23 11:50] xburda4 commented on #147
Podobne sa u mňa správa aj zapnutie K4 replikácie. Požiadavka hlási v logu Error parsing HTTP request header - "java.lang.IllegalArgumentException: Invalid character found in the request target."

[2016-11-23 13:20] xburda4 commented on #147
Takže problém je s Tomcatom novšie verzie majú striktnejšiu kontrolu URI požiadavkov, odkazy s {} teda hádžu exception. Tu to riešia http://tomcat.10.x6.nabble.com/Tomcat-8-0-39-and-tomcat-8-5-8-fails-handling-requsest-td5057320.html .

[2016-11-30 12:39] LenkaKravecova opened #149 "Kontrola ročníků periodik"
Bude potřeba zkontrolovat periodika, jestli jsou u nich zaindexované všechny ročníky. Bylo pár titulů, kde chyběly v indexu ročníky (Vlasta, Květy...). Bude toho možná víc. Kdo si to vezme?

[2016-11-30 12:41] LenkaKravecova commented on #146
Podařilo se prověřit ty poslední pády?

[2016-11-30 12:49] Jenyk commented on #146
Ano, je to pořád to samé.

[2016-12-01 14:36] MarosGrm commented on #94
Radenie príloh už funguje ako má. Po zoradení a reindexácii sú prílohy v správnom poradí.

[2016-12-02 08:48] xburda4 commented on #115
Ďaľší pekný zoznam z NK je zverejnený.

[2016-12-03 22:59] zabak opened #150 "Malované mládež - nezobrazují se obrázky"
jiné knihy fungují. Ale je to takové divné - někdy to hodí že se nepodařilo načíst a někdy se stránky natáhnou.

[2016-12-05 11:23] LenkaKravecova commented on #150
Nám to šlo dnes ráno bez problémů, tak nevím. Asi půl hodiny před tímto tvým issue, Kramerius spadl, tak možná to s tím souviselo.

[2016-12-05 11:46] #115 closed, assigned to xburda4

[2016-12-05 12:00] leiblix commented on #120
V originálním issue se píše:

@kenji1322 Nevíš jestli tu funcionalitu skutečně zařadili do distribuce? Pokud ano, je na místě odstranit tento `hack` - jinak v tom bude zmatek.

[2016-12-05 14:40] MarosGrm opened #151 "Chybné monografie"
[error.txt](https://github.com/moravianlibrary/kramerius/files/631333/error.txt)
Zoznam poškodených monografií.
Prvých 7 nezobrazuje obrázky.
Ostatné nezobrazuju ani stránky.
Záznamy začínajúce * sú už vymazané z fedory.

[2016-12-05 16:34] leiblix commented on #147
Je to způsobené https://github.com/ceskaexpedice/kramerius/issues/470. Downgrade Tomcatu to dočasně řeší https://github.com/moravianlibrary/s2i-kramerius/commit/2cf249d200d23dfb4ef0821456e1e66fb517b585

[2016-12-05 16:34] #147 closed, assigned to xburda4

[2016-12-06 09:37] MarosGrm commented on #120
Neviem. A ono to vlastne nieje hack, práva sú nastavené tak ako sa spomína v originálnom issue pomocou pridanej funckionality. Na kramerius.mzk.cz to funguje správne, tak že pri private hudobninách sa možnosť tisku ani nezobrazuje. Problém je v tom, že na digitalniknihovna.cz sa táto možnosť zobrazí, ale po odkliknutí vracia vyššie spomínanú chybu.

[2016-12-06 13:42] xburda4 commented on #149
[thoseAreErrored.txt](https://github.com/moravianlibrary/kramerius/files/633972/thoseAreErrored.txt)
Toto boli uuid ročníkov, ktoré boli vo fedore ale neboli v solru, spustil som hromadnú reindexáciu.

[2016-12-06 16:04] leiblix commented on #120
Omylem jsem nenalinkoval v předchozím postu tento řádek
https://github.com/moravianlibrary/s2i-kramerius/blob/master/Dockerfile#L55

Nelíbí se mi, že tam máme tu jar binárku, ke které jsou zdrojáky kdovíkde - může se to takto rozbít a možná by se to pak blbě opravovalo. Ideální by bylo, aby to začlenili do distribuce, jak bylo po otestování slíbeno.

[2016-12-06 16:46] leiblix commented on #146
*removeAbandoned* (https://tomcat.apache.org/tomcat-8.0-doc/jdbc-pool.html)

Není to ideální, ale mohlo by nám to pomoct. Co myslíš @Jenyk , kolik dáme ms?

[2016-12-06 16:53] leiblix commented on #144
U některých obrázků u NDK bylo http se 3 lomítky (chvíli byl špatně nakonfigurován TM modul). Data jsou už opravená a tato chyba se už v Kibaně nevyskytuje

[2016-12-06 16:53] #144 closed, assigned to nobody

[2016-12-07 05:53] xburda4 commented on #149
Reindexácia vačšiny je spravená, niektoré ale hlásia stav failed, všetky takéto teda prekontrolujem.

[2016-12-07 15:56] xburda4 commented on #149
Mimo iné treba tieto súbory odstrániť z RiSearch tabuliek.
[kontrolaPeriodik.txt](https://github.com/moravianlibrary/kramerius/files/637036/kontrolaPeriodik.txt)
Ináč by malo byť všetko v poriadku.

[2016-12-08 13:35] jkremlacek opened #152 "Fedora vrací 403 na dotazy krameria"
Záznamy v repozitáři, které mají záznam v databázi ObjectPath a ne v DoRegistry a DoFields v hodně případech vyhazují chybu.

Částečný seznam poškozených souborů je dostupný na: [googleDocs](https://docs.google.com/spreadsheets/d/1gek-eWMmLp8NlqNUEzrknpqw7Qd6VD3sKTeX5FA4Wa8/edit?usp=sharing)

Kompletní seznam je potřeba získat z DB (dlouhé vyhodnocení dotazu), bude spuštěn, v případě problémů se b

[2016-12-08 14:35] jkremlacek commented on #152
Dotaz se podařilo vyhodnotit rychleji díky optimalizaci dotazu. Bylo nalezeno 945 takto poškozených záznamů - viz googledoc, druhá záložka.

[2016-12-08 15:14] xburda4 commented on #152
Chybová hláška při pokusu o (re)import vadného foxml do krameria:
[sterr.txt](https://github.com/moravianlibrary/kramerius/files/639791/sterr.txt)

Projevuje se i při importu do čisté fedory.

[2016-12-11 08:28] leiblix commented on #146
@Jenyk díky za úpravu konfiguračního souboru, nasadil jsem to

[2016-12-11 09:44] Jenyk opened #153 "Read timeout při indexaci"
Solr poslední dobou zase často vrací

`java.net.SocketTimeoutException: Read timed out
	at java.net.SocketInputStream.socketRead0(Native Method)
	at java.net.SocketInputStream.read(SocketInputStream.java:152)
	at java.net.SocketInputStream.read(SocketInputStream.java:122)
	at java.io.BufferedInputStream.fill(BufferedInputStream.java:235)
	at java.io.BufferedInputStream.read1(BufferedInputStream.ja

[2016-12-11 10:48] leiblix opened #154 "SMTP server, nefunkční registrace"
Pro registrační proces i pro generování hesel se ve staré instalaci používá:
kramerius.fsv.cuni@gmail.com

Bylo by vhodné použít nějakou nativní FSV adresu.

Teď nejede registrace ve staré instalaci (bug Krameria 5.2.0) ani v nové (chybějící SMTP server).

[2016-12-11 10:50] leiblix commented on #154
Spletl jsem si repozitář.

Ale mail od gmailu tam máme nastavený taky, mohli bychom to změnit.

[2016-12-11 10:50] #154 closed, assigned to nobody

[2016-12-11 11:55] Jenyk commented on #146
Vypadá to dobře, počet spojení se drží kolem 10 :)

[2016-12-11 21:40] leiblix commented on #153
Solr? Celý stacktrace je o Fedoře, ne? :)

Toto je vidět přímo v procesech?

[2016-12-12 11:48] Jenyk commented on #153
Asi máš pravdu. Je to vidět přímo v procesech v k5, příklad celého chybového logu:
https://gist.github.com/Jenyk/9c99f7949a2532f2175336d675b2e9e2

[2016-12-12 12:37] #146 closed, assigned to xburda4

[2016-12-12 13:46] leiblix opened #155 "Pomalé přihlašování"
V poslední době Kramerius trpěl na velmi pomalé pŕihlašování, přišel jsem na důvod a to je, že se hromadí záznamy v tabulce:

`session_keys`

Bylo jich tam až 17 mil, myslím, že by je něco mělo odmazávat, ale zřejmě se tak neděje. Po promazání této tabulky `TRUNCATE session_keys CASCADE` (sessions nejsou důležité, pouze udržují  relaci), se přihlašování rapidně zrychlilo.

Bylo by vhodné to teď sl

[2016-12-12 14:00] leiblix opened #156 "Chybné zobrazování některých PDF v Krameriu"
Tato PDF po zpracování v Editoru nějak blbnou, ale myslím si, že je to chyba Krameria.

[code]

Minimálně první uuid:ffafcb50-6aaa-4919-a0a8-a88e54350f46 se zdá být podle Fedory v pořádku, ale Kramerius vyhodí stacktrace:
[code]

pozn. chyba se dá zreplikovat i na čisté instalaci

[2016-12-12 17:25] #150 closed, assigned to nobody

[2016-12-13 16:22] LenkaKravecova commented on #152
Hmm, teď se na to víc dívám a asi bych to ještě potřebovala dovysvětlit. 403 to vrací, protože záznam není v DoRegistry a DoFields? Nebo to s tím nesouvisí? A víme, proč to tam není?
Dívám se do Krameria na jeden z těch dokumentů s internal part a jako takto tam nevidím nějaký problém. Chová se to stejně jako články u periodik.

[2016-12-14 00:07] jkremlacek commented on #152
Primární podmínkou téhle chyby je, že pro dané uuid není záznam v doFields (df) a doRegistry (dr). Spolu s tímhle je ale zatím neznámý problém i ve foxml souboru - u funkčního objektu zkusil @Jenyk smazat df a dr a i tak fungoval a stejně tak vytažené foxml by mělo jít importovat čistého Krameria a to taky nejde viz. komentář  @xburda4

[2016-12-14 11:53] leiblix commented on #120
V nové verzi je to už součástí distribuce, je možné tu knihovnu z našeho s2i odstranit.

[2016-12-14 12:00] leiblix opened #157 "Test migrace na SOLR6"
V nové verzi Krameria přibyla podpora pro SOLR verze 6.

SOLR nebudeme instalovat klasickou cestou, ale opět bychom ho nechali běžet v kontejneru.

např.
https://hub.docker.com/_/solr/

Zkusíme to rozběhat a odhadnout čas nutný k migraci.

[2016-12-14 12:39] jkremlacek commented on #152
Foxml (nezávisle na funkčnosti jejich záznamu) vytažené z fedory krameria nejdou použít na importování do krameria. Kramerius resp. jeho fedora v takovém případě vyhodí [chybu](https://gist.github.com/jkremlacek/eadd8903fc0a851fa5b7fb6729de1db3#file-stderr) .

Znovuzavedení problémových souboru tedy tímhle způsobem nepůjde a je potřeba najít jinou cestu.

[2016-12-14 12:56] jkremlacek opened #158 "Nefunkční export z krameria"
Export uuid 15fb89bc-13d4-4e2a-be44-06ee30c50e0d selže a vyhodí chybu:

[stderr](https://gist.github.com/jkremlacek/11c78a11f929da36bf5b849cbdbf86fd#file-stderr-kramerius-export)

[stdout](https://gist.github.com/jkremlacek/aae36b33973026f1f90f65b6ecf21bd3#file-stdout-kramerius-export)

Čas podle process manageru:  2016/14/12 - 13:45:28

[2016-12-14 12:59] leiblix commented on #152
V tom stacktrace je tento zajímavý řádek

`org.fcrepo.server.errors.ObjectIntegrityException: FOXML IO stream was bad : Malformed URL: uuid:9dde3310-3c3f-11e6-8746-005056825209+TEXT_OCR+TEXT_OCR.0`

Zdvojený suffix TEXT_OCR jsem ještě nikdy neviděl.

[2016-12-14 13:28] leiblix commented on #158
špatná práva
`drwxrwx--x  5 kremlacek damborskal   4096 Dec  8 13:31 export`

Hodil jsem ownera tomcat a exportovalo se to.

[2016-12-14 13:28] #158 closed, assigned to leiblix

[2016-12-14 14:47] Jenyk commented on #152
To url je v pořádku, ale odkazuje na datastream, který zřejmě v té fedoře není. O tom jsem psal na gitteru - datastreamy jsou ve fedoře jinde než foxml a k5 to při exportu spojuje. Zkus ten odkaz na OCR smazat a importovat to znova.

[2016-12-15 08:24] jkremlacek commented on #152
Po smazaní datastreamu OCR a ALTO (oba s odkazem do fedory, typu "+x+x.0") import proběhl.

Zkusím debugovat import foxml co použil @xburda4 na čem to vázne.

[2016-12-15 08:30] Jenyk commented on #152
Tam to byla kombinace 1x monograph, 1x internalpart a 1x page. Takže to bude asi ten samý problém u té stránky :)

[2016-12-15 08:43] jkremlacek commented on #152
U stránky má OCR a ALTO u sebe element binaryContent, takže tam by měl být problém jinde. Projistotu jsem je u stránky zkusil smazat a chyba se nezměnila.

[2016-12-15 09:07] jkremlacek commented on #152
Fedora vyhazuje RDFParseException s chybou "unqualified property element <pageFrom> not allowed", chyba je potom odchycena TrippiException a následně zabalena do RuntimeException.

Jedná se o elementy:
`<pageFrom>id_0011r</pageFrom>`
`<pageTo>id_0045v</pageTo>`

Podobný údaj se vyskytuje i v mods:
`<mods:extent unit="pages">`
` <mods:start>11r</mods:start>`
                `<mods:end>45v</mods:end

[2016-12-15 13:47] jkremlacek commented on #152
Reimport do hlavního krameria prošel, chyba je vyřešena.

Nastal ovšem další problém, že odkazy na obrázky vedou na doménu klokan.mzk.cz/... , která je dávno nefunkční a tím pádem není ani jisté jestli bude mít smysl reimportovat tyto záznamy do krameria, pokud by měly obsahovat pouze thumbnail.

Pokusíme se skeny najít a v případě úspěchu proběhne reimport poškozených monografií.

Edit: Podle čár

[2016-12-16 12:38] leiblix commented on #157
Mám rozběhané testovací prostředí a za minutu se zmigruje cca 2000 zánamů

Takže nám migrace potrvá zhruba 14 dní, během kterých by měl být Kramerius pouze pro čtení.

[2016-12-16 14:05] zabak commented on #157
To by bylo ideální, aby proběhlo přes vánoce, aby to neblokovalo linku NDK. Budete to někdo ale schopni hlídat, aby to v průběhu náhodou nespadlo?

[2016-12-19 11:16] jkremlacek commented on #156
Chyba je v načítání thumbnail-u, kdy `javax.imageio.ImageIO` při zavolání `read` vyhodí zmíněnou chybu: `at javax.imageio.ImageIO.read(ImageIO.java:1448)`.

Segment kódu pro testování: https://codeshare.io/5Xgj82

Chyba je v kódování barev v CMYK viz: http://stackoverflow.com/questions/7177655/java-imageio-iioexception-unsupported-image-type

[2016-12-19 12:57] leiblix opened #159 "Mostdesirable velmi vytěžuje postgres"
REST dotaz http://kramerius.mzk.cz/search/api/v5.0/feed/mostdesirable

velmi vytíží postgres. Je potřeba pročistit tabulku s nejžádanějšími dokumenty a zavést následující konfiguraci (třebas to omezit na 14 dní):

https://github.com/ceskaexpedice/kramerius/issues/318

[2016-12-19 16:23] leiblix commented on #156
Závěr: náhledy Krameria musí být vždy RGB, bude nutné upravit editor

[2016-12-19 16:23] #156 closed, assigned to jkremlacek

[2016-12-20 12:00] Jenyk commented on #78
@LenkaDamborska co s tímhle? Může se to zavřít?

[2016-12-20 12:02] Jenyk commented on #20
@LenkaDamborska tohle můžeme zavřít, když už je pro veřejnost klient?

[2016-12-20 12:07] #94 closed, assigned to Jenyk, MarosGrm

[2016-12-20 12:26] Jenyk commented on #78
Pahýl je odstraněný, byl zadán požadavek na reimport z LTP

[2016-12-20 12:26] #78 closed, assigned to Jenyk

[2016-12-20 12:27] #20 closed, assigned to Jenyk

[2016-12-20 13:29] Jenyk commented on #153
(Dočasně) pomáhá otočení fedory

[2016-12-20 13:49] Jenyk commented on #88
Vracím se k tomu po době a je to v úplně jiném stavu.
Obrázky jsou odkazované takhle: `4ba3a670-cc12-11e2-a712-005056827e51_0001.jp2/big.jpg`, tzn. je potřeba odstranit koncovky .jp2 a přidat prefix `http://imageserver.mzk.cz/NDK/2013/4ba3a670-cc12-11e2-a712-005056827e51/UC_`.

To by nebyl problém, ale dotazy do fedory na jednotlivé stránky vrací 401, i když záznamy ve fedora3 i ritriples vypadají

[2016-12-20 14:42] Jenyk commented on #55
Tohle by bylo dobré prohledat a opravit i pro jiné modely (periodicalitem, page,..).
V K4-tools je skript AttachPeriodicalsNDK, co vyhledat sirotky libovolného modelu a případně je opravovat (když je to z NDK - rodiče hledá v K4 NKČR). Akorát hledá v solr a ne ve fedoře + nedá se použít na stránky (uuid stran v Brně a v Praze se liší).

Link na seznam špatných issues už nefunguje.

[2016-12-22 09:42] LenkaKravecova opened #160 "Studium"
Obnovit ze zálohy ročníky:
uuid:237b6e47-ed9f-11e1-b9b5-0050569d679d (3)
uuid:6d84a2e4-ed9e-11e1-b9b5-0050569d679d (5)

[2016-12-22 12:58] MarosGrm commented on #159
Tabulka je vyčistená. Momentálne je to obmedzené myslím na 100 dní, zatiaľ to tak nechám a uvidíme ako sa to bude správať. Tie dotazy pravdepodobne pochádzajú z kramerius.infra.mzk.cz keďže možnosť zobrazenia najžiadanejších dokumentov tu nieje skrytá.

[2016-12-22 15:22] xburda4 commented on #149
Momentálne je potrebný už len reimport ročníku 1963 periodika uuid:ebd9e3a0-b4c1-11e3-bb86-005056825209 a obnovenie ročníkov 3 a 5 periodika uuid:e58d8492-ef1a-11e0-8914-0050569d679d zo zálohy, na ktoré je otvorené issue #160

[2017-01-04 10:12] jkremlacek commented on #155
Záznamů je opět 14 241 501, přičemž začínají datem 12.12. 2016 (tedy téměř ihned po posledním truncate-u).

Záznam vznikne každou (jednotlivou) indexací v rámci dávky, změnou příznaku... při vytvoření má přidělenou proměnnou ACTIVE na 1 (viz. [registerSessionKey()](https://github.com/ceskaexpedice/kramerius/blob/1c91829bc1f9c109964d7a6d6b57ef10fdfbb7ef/common/src/main/java/cz/incad/kramerius/users

[2017-01-06 14:42] jkremlacek commented on #155
Opraveno v rámci ceskaexpedice#475.

[2017-01-09 09:29] xburda4 commented on #153
Mala by stačiť zmena hodnoty http.connection v configuration.properties. Funkcia, ktorá otvára URL spojenie používa metódu, ktorá v dokumentácii hovorí "If the timeout expires before the connection can be established, a java.net.SocketTimeoutException is raised". Konkrétne to sú https://github.com/ceskaexpedice/kramerius/blob/1c91829bc1f9c109964d7a6d6b57ef10fdfbb7ef/common/src/main/java/cz/incad/k

[2017-01-10 20:58] #56 closed, assigned to LenkaKravecova

[2017-01-10 21:03] LenkaKravecova commented on #93
Prosba o dosken, následně stranu do dokumentu připojím.

[2017-01-10 21:14] LenkaKravecova commented on #5
Toto byl asi nějaký nepovedený pokus. Kompletní dokument je zde: http://kramerius.mzk.cz/search/handle/uuid:96e01098-d9dd-4e33-b72c-4190068b383d. Takže zavírám.

[2017-01-10 21:14] #5 closed, assigned to LenkaKravecova

[2017-01-11 16:02] #93 closed, assigned to LenkaKravecova

[2017-01-18 13:45] xburda4 commented on #153
K výskytu tejto chyby prispieva OCR na serveroch MZK. Pri vkladaní datastreamov sa fedora asi tak vyťaží, že na ostatné príkazy neodpovedá včas a vyskočí výnimka. Pri spustenom OCR na pražských serveroch som si túto chybu nevšimol.

Tiež treba kontrolovať logy vo fedore. Ideálne každých pár dní mazať logy localhost_access_log.*, aby na servery nedošlo miesto, čo môže tiež robiť problémy.

[2017-01-26 06:30] xburda4 commented on #155
Tabulky opäť premazané (počet sessions 21 262 274) a nasadený nový kramerius s poriešeným mazaním. Počas dňa to ešte budem sledovať.

[2017-01-31 12:53] filipsir opened #161 "zalozka POPIS"
Je nekde mozne zmenit/pridat/upravovat zalozku POPIS v dokumentu? Diky

[2017-01-31 13:05] leiblix commented on #161
Záložku popis si vymysleli v Olomouci, tak by ti možná mohl odpovědět @FoxKyong jak to řeší.

V MZK na to žádný nástroj nemáme (samotný Kramerius to neumí a Editor taky ne, protože to zatím nikdo nechtěl).

[2017-01-31 15:27] leiblix opened #162 "Neprochází indexace velkých PDF"
V Krameriu neprošla indexace dokument uuid:0d884afb-c5f3-469d-9d7d-5932715e4f86 , jedná se o PDF které má 650 MB.

Takových velkých PDF má Zdeněk více ("Prošel jsem jich pár desítek a je tam jedno 460 MB, dvě kolem 100 MB, pár kolem 30 MB a zbytek je pod 10 MB")

Dále bude pravděpodobně se zobrazováním tak velkých PDF, v novém klientu se používá prohlížečka PDF.js od Mozilly, je to potřeba to odzk

[2017-01-31 16:13] filipsir commented on #161
Dobre, diky!  jakym zpusobem tady lze poslat tento dotaz na @FoxKyong ?

[2017-02-01 11:12] LenkaKravecova commented on #162
Vyřešíme indexaci, potom ozkoušet na studovně, jestli se PDF načte.

[2017-02-01 11:56] zdenekhruska commented on #162
PDF kolem 100 MB prošla bez problémů. Praktickými pokusy můžeme ověřit, kde je ta hranice velikosti PDF,  za kterou už to bude padat.

[2017-02-06 11:54] xburda4 commented on #153
Na fedore je nastavenie, aby sa nezapisovali localhost_access_log-y. Miesto na fedore teda bude a chyba by mala byť odstránená. Pár dní to ešte budem sledovať a ak bude všetko v poriadku, issue uzavrem.

[2017-02-06 13:23] xburda4 commented on #162
Nasadil som novú verziu, v ktorej by to malo ísť. Na kramerius.infra indexácia prebehla, ale mám tam navyše nejaké nastavenia. @zdenekhruska skús niektoré pdf vložiť, ak to neprejde, tak na ostrý kramerius pridám tie nastavenia, čo sú na infre.

Reindexoval som uuid:0d884afb-c5f3-469d-9d7d-5932715e4f86 a uuid:8e6cd211-e855-4b37-9e26-46eb927dfe7e.

[2017-02-06 22:59] leiblix commented on #162
Moc díky, bylo by dobré udělat pull-request do Incadu, ale před tím pozor na:

- `java.nio.file` je novinka Javy 7 a před dvěmi lety se ještě v Incadu snažili držet kompatibilitu s JRE 6 (https://github.com/ceskaexpedice/kramerius/issues/306), nevím jak to mají teď (snad už nikdo nemá JRE 6, nevychází na to ani security updaty...)

- na dočasné soubory existuje pěkná metoda https://docs.oracle.com

[2017-02-07 14:15] zdenekhruska commented on #162
Dnes prošlo bez problémů PDF o velikosti 535 MB, takže to funguje!

[2017-02-07 14:20] xburda4 commented on #162
Martinove poznámky sú v kóde, takže by to malo byť dobre aj po tejto stránke.

[2017-02-08 09:50] #162 closed, assigned to xburda4

[2017-02-09 12:32] LenkaKravecova opened #163 "Založit sbírku Oči Brna"
Přidat do ní tato uuid: https://docs.google.com/spreadsheets/d/1wGuHxDtelv7F0qkNkAivmsyvKIgZIy4W1ijhemaikWg/edit#gid=887873672

[2017-02-22 09:19] LenkaKravecova opened #164 "Importovat Národní listy z ČB"
Národní listy uuid:ae876087-435d-11dd-b505-00145e5790ea jsou ještě v djvu: získat foxml i data z Budějovic a naimportovat do Krameria, vyexportovat stávající periodikum v djvu a smazat ho.
S Honzou H. jsme se dohodli, že nebudeme jen vyměňovat obrázky, ale naimportuje se to jako celek kvůli vazbám.

[2017-02-23 12:22] MarosGrm commented on #159
Možnosť zobrazenia najžiadanejších dokumentov bola vypnutá, dotazy už nechodia. Konfiguráciu teda netreba meniť. Tiež som zmazal indexy tabuľky desirable, sú tam momentálne zbytočné.

[2017-02-23 12:55] MarosGrm commented on #120
Knihovna je odstranena  moravianlibrary/s2i-kramerius@41cc533f53ac61994501fb508ebf53939c228063

[2017-02-23 15:34] leiblix commented on #120
Díky.

[2017-02-23 15:34] #120 closed, assigned to MarosGrm

[2017-02-23 15:40] #159 closed, assigned to MarosGrm

[2017-02-23 15:50] LenkaKravecova opened #165 "Generování dvouvrstvého PDF"
Nakonfigurovat dle https://github.com/ceskaexpedice/kramerius/issues/25 a zjistit, jak se to bude dál chovat (tzn. bude se to generovat všude i v klientech?). Moc díky!

[2017-02-28 13:45] LenkaKravecova opened #166 "Zprovoznit OAI pro Krameria"

[2017-02-28 13:47] LenkaKravecova opened #167 "Moving Wall Process"
Asi nám nefunguje. Prosím, prošetřit dle https://github.com/ceskaexpedice/kramerius/wiki/MovingWallProcess. Zkoušela jsem to na jednom periodiku s různými časovými parametry a žádná změna nenastala (proces se úspěšně dokončil).

[2017-02-28 13:49] LenkaKravecova opened #168 "HTTPS pro Krameria"
Konkrétně pro krameriusadmin.mzk.cz, protože to se nepřesměrovává.

[2017-03-01 10:40] MarosGrm commented on #163
Hotovo.

[2017-03-01 12:05] xburda4 commented on #167
Vyzerá to tak, že príznak sa nastaví, ale ne-reindexuje sa to, takže sa neprejavia zmeny.

[2017-03-01 12:28] MarosGrm commented on #124
Nahradené procesom Aplly moving wall.

[2017-03-01 12:28] #124 closed, assigned to MarosGrm

[2017-03-02 09:51] xburda4 commented on #167
Oprava by mala byť nasadená na krameriu, teraz to testujem na periodiku Nové listy. Dodatočne sa pozriem, či by sme to nevedeli spustiť naraz nad viacerými objektami.

Edit: Vyzerá to tak, že sa neindexuje koreňové xml, takže v klientovi sa celé periodikum tvári ako private, ale po rozkliknutí koreňa sú ročníky a všetko pod nimi public. Nie je problém dodatočne reindexovať (len) koreň ale moving w

[2017-03-07 09:13] xburda4 commented on #166
Momentálne je OAI riešené len na SOLR 4. Písal som Šťastnému, a pozrie sa na to aj pre SOLR 6.

[2017-03-07 12:56] #161 closed, assigned to nobody

[2017-03-08 13:31] LenkaKravecova commented on #168
Pro kramerius.mzk.cz taky, jak jsem pochopila z mailů, @honza-rychtar ?

[2017-03-08 14:38] zabak commented on #168
Ano, pro Kramerius.mzk.cz taky. Cílem je, aby nakonec vše běželo na http 2.

[2017-03-10 08:58] xburda4 opened #169 "Pád Krameria kvôli Solru"
V posledných týždňoch sa stáva, že padne Kramerius kvôli problémom so Solrom a skript na reštart kontajneru nepomôže. Myslím, že sa to deje odkedy sme presmerovali virtuálne zbierky z fedory na solr. Bolo by fajn, keby sa na to niekto pozrie a porieši to.

[2017-03-10 10:13] xburda4 commented on #169
Padlo to najprv na "java.lang.OutOfMemoryError: Java heap space" a neskôr v logoch vyskočilo "GC overhead limit exceeded". Skúsim sa teda pohrať s konfiguráciou a ak to nepomôže, tak poprosím Davida o dodatočné zdroje.

[2017-03-10 11:20] zabak commented on #169
Mimo to prosím tam dejte monitorovací a samonahazovací skript speciálně pro solr.

[2017-03-11 09:20] xburda4 commented on #169
Ešte včera som skopíroval a prepísal Danov skript na reštart krameria a rovnako by to malo fungovať aj na Solr. Uvidíme ako sa to bude správať, keď Solr naozaj spadne.

[2017-03-13 13:46] xburda4 commented on #157
Ešte treba doriešiť do-reindexovanie súborov, ktoré sú vo fedore a nie sú v Solr 6 (mám zoznam objektov, takže to tam pomaly dávam) a následne to nasadiť.

[2017-03-15 14:50] leiblix opened #170 "Pomalé načítání dlaždic"
V našem Krameriu se hrozně pomalu načítají dlaždice (týká se to IIIF i Zoomify):

**Kramerius.mzk.cz ~700 ms**
http://kramerius.mzk.cz/search/zoomify/uuid:0789cc9d-6fbd-4126-8aa5-46f6ed8205f8/TileGroup0/2-1-0.jpg

**Kramerius4.nkp.cz ~37 ms**
http://kramerius4.nkp.cz/search/zoomify/uuid:84459130-e47f-11e6-9e7e-001018b5eb5c/TileGroup0/2-1-0.jpg

**Kramerius.oc.infra.mzk.cz ~ 55 ms**
http://krameriu

[2017-03-17 09:40] leiblix commented on #16
Základní IIIF už v Krameriu je. Issue už nemá dále smysl, je moc obecné.

[2017-03-17 09:40] #16 closed, assigned to leiblix

[2017-03-17 13:56] LenkaKravecova commented on #78
Dokument už je v pořádku v K5.

[2017-03-20 13:15] leiblix commented on #170
@xburda4 Autentizace dlaždic (která je pomalá), probíhá např. v této části kódu https://github.com/moravianlibrary/kramerius/blob/master/search/src/java/cz/incad/Kramerius/imaging/IiifServlet.java#L74-L77

[2017-03-21 11:06] leiblix commented on #170
Už vím čím to je:

Pravděpodobně při řešení issue https://github.com/ceskaexpedice/kramerius/issues/234 a následném commitu cf13c9e2d34ff884c1f2cf8f1d1947e970220260, došlo k významnému zpomalení načítání dlaždic.

Tento snippet kódu při každém requestu na dlaždici přistupuje do SOLRu a způsobuje zpoždění:
https://github.com/ceskaexpedice/kramerius/blob/cf13c9e2d34ff884c1f2cf8f1d1947e970220260/comm

[2017-03-22 08:01] jkremlacek commented on #152
U stránek odkazujících na .jpg na doméně klokan.mzk.cz bylo zapotřebí doplnit elementy `kramerius:file` a `kramerius4:tiles-url`, aby fungovala prohlížečka v UI krameria.

Rozbité dokumenty jsou funkční.

[2017-03-22 08:01] #152 closed, assigned to jkremlacek

[2017-03-28 08:29] leiblix commented on #151
Další monografie bez obrázků, je z NDK, rok 2014:

http://kramerius.mzk.cz/search/i.jsp?pid=uuid:6848bdc0-7cfb-11e3-9be6-005056827e52

[2017-03-28 11:03] leiblix opened #172 "Nelze vygenerovat IIIF manifest pro monografii"
Pro některé monografie selhává vytvoření manifestu

např.
http://kramerius.mzk.cz/search/api/v5.0/iiif/uuid:28d8b950-fe8a-11e2-9923-005056827e52/manifest

[2017-03-28 11:11] #172 closed, assigned to leiblix

[2017-03-28 12:42] xburda4 commented on #167
Pre periodiká je reindexovanie koreňa vyriešené pre sprístupňovanie, teda pri zmene z private na public.  Moving wall cez typ (monograph, manuscript, atd.) by mal byť implementovaný, no nevyzerá to tak, že to funguje. Po nasadení na ostrého krameria issue zavriem.

[2017-03-29 07:50] leiblix commented on #145
Bylo vyřešeno https://github.com/ceskaexpedice/kramerius/issues/461

[2017-03-29 07:50] #145 closed, assigned to nobody

[2017-03-29 07:53] leiblix opened #173 "Kramerius přistupuje na neexistující uuid:1"
Kramerius pravidelně přistupuje na adresu:
"http://fedora.dk-back.infra.mzk.cz/fedora/get/uuid:1/RELS-EXT"

Přičemž tato adresa nefunguje a do logu pak padají SEVERE záznamy.

viz:
http://dk-kibana.infra.mzk.cz/app/kibana#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now%2Fw,mode:quick,to:now%2Fw))&_a=(columns:!(_source),index:%27logstash-*%27,interval:auto,query:(query_s

[2017-03-29 14:05] xburda4 commented on #173
Bude to pravdepodobne spôsobené týmto riadkom https://github.com/ceskaexpedice/kramerius/blob/1c91829bc1f9c109964d7a6d6b57ef10fdfbb7ef/common/src/main/java/cz/incad/kramerius/security/impl/http/AbstractLoggedUserProvider.java#L123,

kde SpecialObject.REPOSITORY odkazuje na https://github.com/ceskaexpedice/kramerius/blob/6d255fe3112f93104863695d46c21751f67a05b5/common/src/main/java/cz/incad/krameri

[2017-03-30 06:50] leiblix commented on #168
@dsecik https na Kramerius nasadil.

Zbývá implementovat malou úpravu do IIIF proxy, ale čekáme teď na malou opravu v imageserveru.

[2017-03-30 06:53] leiblix commented on #165
Oni to implementovali zřejmě pouze pro dokumenty, které obsahují obrázky přímo ve Fedoře. Vyvíjeli to v rámci KNAV, ta imageserver myslím vůbec nemá, tak je to asi nenapadlo otestovat.

[2017-03-30 07:09] #135 closed, assigned to xburda4

[2017-03-30 07:10] xburda4 commented on #173
Issue na Incade, https://github.com/ceskaexpedice/kramerius/issues/498.

[2017-03-30 07:14] leiblix commented on #105
@zabak Nevíš, jestli budou něco potřebovat?

[2017-03-30 08:27] xburda4 commented on #170
Na kramerius.mzk.cz to je nasadené, na infra to hodím, keď mi tam dobehnú reindexácie. Ak k tomu nechceš ešte niečo dorobiť, tak to môžeš zavrieť.

[2017-03-30 13:45] leiblix commented on #170
@xburda4 Na infra to není nutné nasazovat, dík.

[2017-03-30 13:45] #170 closed, assigned to leiblix

[2017-03-31 08:21] MarosGrm commented on #165
Počkáme na vyjadrenie Incadu https://github.com/ceskaexpedice/kramerius/issues/497

[2017-04-04 08:18] xburda4 commented on #167
Oprava je nasadená a pre periodiká to zdá sa funguje (skúšal som to na jednom čísle Nových Listov a príznak public bol nastavený aj na celej ceste k tomuto číslu).

[2017-04-04 08:31] xburda4 commented on #83
Zoznam všetkých periodík, ktoré v Krameriu momentálne sú: https://docs.google.com/a/mzk.cz/spreadsheets/d/1qLug9jIJqc0SekyZS05araDGz_Gl9C6bhcsteGEye9w/edit?usp=sharing

Budem to reindexovať na Solr6 a postupne tabulku aktualizovať.

[2017-04-05 11:36] leiblix commented on #39
Celkem máme takovýchto dokumentů ve Fedoře 2241445.

Týka se to bohužel i jiných let, např. 2015:

[code]

Většinou Kramerius pracuje s PIDy jako Stringy a je mu jedno, jestli dostane validní UUID. Výjimkou je IIIF image api, které validní UUID očekává, to opravím. Ale otázkou zůstává jestli to takto necháme v repozitáři.

[2017-04-05 13:22] MarosGrm commented on #151
Chyba je v tom, že _Datastream Location_ má v ceste zlé názvy obrázkov. Napríklad, URL smeruje na obrázok s názvom: ***UC_6848bdc0-7cfb-11e3-9be6-005056827e52_0002***. V skutočnosti je názov: ***1_a_0001_2R.tif***.

[2017-04-05 15:20] leiblix commented on #173
oprava je zamergována v hotfix (:-D) branchi, prosím o otestování

[2017-04-05 15:23] xburda4 commented on #173
Obraz už je na docker.hub-e, v priebehu dneška alebo zajtrajška to odskúšam.

[2017-04-05 15:33] xburda4 commented on #173
Hotfix to opravilo, pri prihlásení už výnimka nevyskakuje.

[2017-04-05 15:33] #173 closed, assigned to xburda4

[2017-04-07 06:26] leiblix opened #174 "SOLR dotazy končící v timeoutu"
V logu je řada SOLR dotazů, které skončili v timeoutu.

`krameriusmzkcz_kramerius_1 17683 - - 07-Apr-2017 08:10:55.393 SEVERE [http-nio-8080-exec-289] cz.incad.kramerius.rest.api.k5.client.search.SearchResource.selectJSON Read timed out`

[Kibana](http://dk-kibana.infra.mzk.cz/app/kibana#/discover/Kramerius-errors-(bez-proflaknutych-chyb)?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(fr

[2017-04-07 07:00] leiblix commented on #169
Padá to teď často?

Má to nějakou souvislost s https://github.com/moravianlibrary/kramerius/issues/174?

[2017-04-07 08:01] leiblix commented on #39
Kromě UUID bez pomlčky je chyb podstatně míň:

[code]

[2017-04-07 08:21] xburda4 commented on #174
Toto bude súvisieť s https://github.com/moravianlibrary/kramerius/issues/153. Skúsim tam vypnúť logovanie požiadavkov a ak to nepomôže, tak sa konečne pohrám s tou ramkou, ako hovoril Petr.

[2017-04-07 11:31] #49 closed, assigned to nobody

[2017-04-10 05:58] leiblix opened #175 "Dokument je v indexu, ale ve Fedoře chybí"
http://kramerius.mzk.cz/search/i.jsp?pid=uuid:7895b070-2e55-11e2-a1eb-5ef3fc9bb22f

dotaz do SOLru http://solr.dk-back.infra.mzk.cz/solr/kramerius/select/?q=PID%3Auuid%5C%3A7895b070-2e55-11e2-a1eb-5ef3fc9bb22f&version=2.2&start=0&rows=10&indent=on

[2017-04-10 10:03] xburda4 commented on #175
Súvisí s https://github.com/moravianlibrary/kramerius/issues/73, čakáme na reimport z LTP.

[2017-04-10 11:01] leiblix commented on #175
Než se to provede, tak bychom takové dokumenty měly smazat z indexu. Každý reqeust do logu vloží takovýto balast:

[code]

[2017-04-10 11:30] xburda4 commented on #175
To by sa mohlo vyriešiť v priebehu #83, teraz to reindexujem bez mazania, takže to nezmizne, ale tie menšie periodiká by som kludne mohol aj s mazaním, tie väčšie by som teda reindexoval po ročníkoch(?) alebo by som teda tie väčšie reindexoval ako dozeraz bez mazania.

[2017-04-10 12:00] xburda4 commented on #157
Solr6 je nasadený všade. Zostáva teda už len doindexovať chýbajúce veci a issue zavriem, ak bude Solr bežať bez komplikácií.

[2017-04-10 15:05] leiblix commented on #157
@xburda4 Pls, ještě tam potom nastav
[code]

jak to bylo u starého, ať je to dostupné i přes proxy (pro naše pc a OpenShift).

[2017-04-10 17:38] xburda4 commented on #157
V docker-compose by to tak malo byť. Cez ten odkaz by si sa tam mal vedieť dostať. Zajtra sa na to pozriem, ak s tým sú nejaké problémy.

[2017-04-11 05:35] leiblix commented on #157
Dnes je to už ok, ale včera to vážně nejelo :-) Nginx mi vracel 502.

[2017-04-11 14:18] leiblix commented on #138
Rád bych zrušil branch hotfixapi, zbytečně to komplikuje vývoj.

Je potřeba opravit originální issue, https://github.com/ceskaexpedice/kramerius/issues/433

[2017-04-11 15:01] leiblix commented on #138
Aha, stačí ty konfiguraćní direktivy

[code]

do search.properties (nikoli do configuration.properties), možná to předtím nešlo, ale teď to funguje.

Issue zavřeme, až nasadíme verzi z upstreamu.

[2017-04-11 15:18] Jenyk commented on #138
:open_mouth: Tak to se kaji, defaultně je to v https://github.com/ceskaexpedice/kramerius/blob/fecc7c45124cb8b7fc7776a45d4f1d9c5835c085/search/src/java/res/configuration.properties (i když, pravda, nahoře s odkazem na search.properties..)

[2017-04-12 12:53] xburda4 commented on #175
Musel som z foxml vymyzať záznam o uuid:7895b070-2e55-11e2-a1eb-5ef3fc9bb22f, ktorý teda nemáme nikde a čakáme na jeho import z LTP. Momentálne sa to reindexuje a táto chyba by už vyskakovať nemala.

[2017-04-12 12:55] xburda4 commented on #138
Preklik je nastavený v search.properties, je nasadená vetva enhanced a vyzerá to tak, že to ide.

[2017-04-12 12:55] #138 closed, assigned to leiblix

[2017-04-13 08:05] #175 closed, assigned to nobody

[2017-04-18 09:15] xburda4 commented on #157
Sme na solr 6 a všetko by malo byť zaindexované.

[2017-04-18 09:15] #157 closed, assigned to xburda4

[2017-04-19 10:56] xburda4 opened #176 "Reindexácie z meditoru padajú"
Niektoré reindexácie z meditoru spadli na nejakej chybe so Solrom. Bude to asi len nejaká chyba pri adrese alebo niečo podobné.

SEVERE: Cant index. Action:fromKrameriusModel Value: uuid:b390ae9f-79f9-4761-9bf1-091c375d7d20
java.lang.Exception: java.lang.Exception: Solr has throw an error. Check tomcat log. java.io.IOException: Server returned HTTP response code: 400 for URL: http://solr.dk-back.i

[2017-04-19 15:29] xburda4 commented on #176
Vyzerá to tak, že Jetty(9.3.8) na ktorom beží Solr má nejaké problémy s requestom z krameria, na ktorom to následne padne. Na solri vyskočilo "bad HTTP parsed: 400 Unknown Version for HttpChannelOverHttp@79d95bfa{r=5,&#8203;c=false,&#8203;a=IDLE,&#8203;uri=null}", tak predpokladám, že to s tým súvisí.

[2017-04-21 12:15] leiblix opened #177 "Rozbité náhledy u PDF dokumentů s JPEG2000"
Viz bílá stránka u
http://kramerius.mzk.cz/search/i.jsp?pid=uuid:5336c387-c7e5-46d7-952c-c25ccd9bbd25

[2017-04-21 13:15] honza-rychtar commented on #177
@MartinRumanek Co je to PDF dokument s JPEG2000?
Kazdopadne klienti (K5, DK, Android, iOS) nezobrazuji nahledy stranek u PDF dokumentu.

[2017-04-21 16:30] leiblix commented on #177
To je PDF dokument, který má embeded obrázek ve formátu JPEG2000 - což není nic divného, většina PDF prohlížeček si s tím poradí.

Do Meditoru už mám nachystaný fix a v Krameriu to zpětně opravíme.

[2017-04-22 08:12] leiblix commented on #177
@honza-rychtar Jinak tím náhledem myslím vlastně jen něco jako reprezentativní stránku, viz bílá stránka: http://www.digitalniknihovna.cz/mzk/search/?q=agresivni%20tendence

[2017-04-25 05:53] #177 closed, assigned to leiblix

[2017-04-26 14:47] xburda4 commented on #86
Práve som nasadil verziu krameria, kde http://kramerius.mzk.cz/search/api/v5.0/feed/custom datum_str aj issn obsahuje rovnako ako v newest, ale stále tam píše "autor neuveden". @honza-rychtar Treba ešte dačo poriešiť na strane krameria alebo v klientovi ?

[2017-04-27 09:03] xburda4 commented on #169
Prechod na Solr6, zdá sa, pomohol. Dva týždne Solr nepadol, kým sa to nebude objavovať znovu, tak to zavriem.

[2017-04-27 09:03] #169 closed, assigned to xburda4

[2017-04-27 12:36] xburda4 commented on #174
Prechod na nový Solr to pravdepodobne vyriešil.

[2017-04-27 12:36] #174 closed, assigned to xburda4

[2017-05-09 07:35] leiblix opened #178 "Robots.txt"
V docker-obrazu Krameria umožnit definovat vlastní `robots.txt`

Asi přes env proměnnou?

krameriusdemo.mzk.cz, krameriusdevel.mzk.cz i krameriusadmin.mzk.cz (tady to bude těžší, protože je to momentálně jenom alias) by měly mít zakázané sklízení.

[2017-05-10 12:31] LenkaKravecova opened #179 "Replikace Svět a divadlo"
Periodikum - uuid:94352fd0-fe06-11e4-88cd-005056827e52 - stáhnout FOXML a obrázky a poslat mi to :)

[2017-05-17 08:13] #179 closed, assigned to MarosGrm

[2017-05-18 08:17] LenkaKravecova opened #180 "Zjistit, které dokumenty nemají alto.xml"
Vytvořit seznam, kde bude: uuid, název, autor, rok vydání, signatura, sysno, čk, sigla. Budou to periodika i monografie, možná i další typy dokumentů.

[2017-05-19 08:49] LenkaKravecova opened #181 "Zjistit, kolik neveřejných monografií má ISBN"
Opět seznam, kde budou základní údaje (klidně použít stávající skript) a hlavně ISBN (mods:identifier type="isbn").

[2017-05-19 11:21] LenkaKravecova commented on #181
A ještě k tomu ten seznam odkazů 200 náhodných neveřejných dokumentů ;) Moc díky.
Do roku vydání 1966 + ještě spočítat, kolik je celkem dokumentů do roku 1966 a kolik z nich je neveřejných.

[2017-05-20 10:01] xburda4 commented on #153
Po prechode na nový Solr sa Read Timeout takmer nevyskytol. Zatváram issue.

[2017-05-20 10:01] #153 closed, assigned to xburda4

[2017-05-22 06:40] leiblix commented on #155
Možná za to může něco jiného, ale opět je přihlašování pomalé.

[2017-05-22 07:53] leiblix opened #182 "Rozbitý obrázek tracku"
viz horní lišta:

http://kramerius.mzk.cz/search/i.jsp?pid=uuid:57fffa5f-67fb-4d31-ac28-72504334a837

[2017-05-23 12:05] LenkaKravecova opened #183 "Počty typu dokumentů v jednotlivých rocích"
Potřebuju pro ty Petrovy statistiky ještě zjistit, kolik je jednotlivých typů dokumentů v jednotlivých rocích. Takže vlastně potřebuju údaje, které jsou v časové ose:
např. http://kramerius.mzk.cz/search/r.jsp?offset=0&forProfile=facet&fq=document_type:%22periodicalvolume%22

Ideální by byl seznam, kde bude rok a počet dokumentů určitého typu, tak jak je to v té časové ose. Nic víc. Přirozeně to n

[2017-05-23 12:13] LenkaKravecova opened #184 "Počty stran v rámci typů dokumentů"
Další věc - je potřeba zjistit, kolik stran celkem je v jednotlivých typech dokumentů a kolik z nich je veřejných a kolik neveřejných. Takže výstup bude vždy:

- typ dokumentu
- počet stran celkem
- počet stran public
- počet stran private

Typy dokumentů: monograph, periodical, periodicalvolume, sheetmusic, manuscript, archive, soundrecording, graphic, map

Moc díky.

[2017-05-24 06:36] xburda4 commented on #184
Zoznam je tu: https://docs.google.com/a/mzk.cz/spreadsheets/d/18EvjNUikykCotVKuvAsnSdKd0_cXnUmmjGzgZwAXXtA/edit?usp=sharing . Postupne to budem updatovať, ešte tam mám stále ten zoznam toho, čo treba zviditelniť

[2017-05-24 09:14] leiblix commented on #155
A pravděpodobně kvůli tomu je i děsně pomalé replikační API.

[2017-05-24 11:24] LenkaKravecova commented on #184
periodicalVolume	107239 - toto se mi nějak nezdá, mělo by to být víc, ještě přemýšlím, jestli v některých periodicích nejsou označeny ročníky jako "volume"

[2017-05-24 20:50] zabak opened #185 "client a http/2"
Porovnával jsem rychlost http vs. http/2 - spustil jsem si paralelně https://kramerius.mzk.cz/client a http://krameriusadmin.mzk.cz/client. Otevřel jsem v obou Národní listy, ročník 1934, 1935 apod. Náhledy čísel se přes http/2 stahují řádově rychleji.

Když ale ročník rozkliknu, tak se skoro vždy stane že se stahování thumbnailů zastaví cca kolem čísla 100-140. Když dám reload, stáhne se vše. Tes

[2017-05-24 20:52] zabak commented on #164
Jsou Národní listy už hotové? Ročník 1928 má jen několik málo čísel ze začátku roku.

[2017-05-25 07:26] MarosGrm commented on #164
Okrem ročníkov 1920, 1928, 1932 je všetko v poriadku. Tieto tri ročníky majú chybné FOXML.

[2017-05-25 07:36] #181 closed, assigned to MarosGrm

[2017-05-25 10:27] MarosGrm commented on #183
Zoznam je tu:
https://docs.google.com/a/mzk.cz/spreadsheets/d/1yKJGT5jG1eFsyIfGFfeL4bTvEfuR33UCF6s8XP3ZZHM/edit?usp=sharing

[2017-05-25 10:27] #183 closed, assigned to nobody

[2017-05-25 11:47] zabak opened #186 "chybná indexace roků vydání"
Pokud z MARC záznamu přišel údaj o roku vydání v jiné podobě než čistě číselné, tj. ne RRRR ale např. [RRRR] u starých hudebnin nebo pRRRR u gramodesek tak se to v Solru zaindexovalo asi i s těmito řetězci a pak na to nefunguje filtrace podle časové osy, zdá se. Ve VUFindu se pro účely indexace používá primárně příslušný údaj z pole 008, ale nevím jak se transformuje do MODSu nebo DC a co z toho p

[2017-06-01 08:38] #176 closed, assigned to nobody

[2017-06-01 10:29] xburda4 commented on #182
Obrázok tam už je.

[2017-06-01 10:29] #182 closed, assigned to nobody

[2017-06-01 11:28] MarosGrm commented on #155
Vyriešené v https://github.com/ceskaexpedice/kramerius/issues/521

[2017-06-01 11:28] #155 closed, assigned to nobody

[2017-06-01 14:08] LenkaKravecova commented on #186
Petře, nechceš to zadat i na hlavní github Krameria?

[2017-06-01 14:30] #184 closed, assigned to nobody

[2017-06-01 14:35] LenkaKravecova opened #187 "Jednoduché vyhledávání v Krameriu - nefunguje, jak má"
Přes jednoduché hledání nejdou najít některé tituly - např. Komentář k hospodářskému zákoníku a k zákonu o hospodářské arbitráži se vzory smluv a podání. Přes rozšířené vyhledávání (Název) se to najde.
V Krameriu NK to jde bez problému vyhledat i přes jednoduché hledání - kramerius4.nkp.cz
Co s tím může být?

[2017-06-01 23:40] zabak commented on #186
Jo, prověř ale prosím, že to co píšu není jen specifikum našeho Krameria.

[2017-06-06 11:15] xburda4 commented on #167
Prepísať moving wall aby neprechádzalo strany a bolo možné spustiť ju len nad istým typom dokumentu (monograph, periodical, graphic, ...).

[2017-06-07 15:07] LenkaKravecova opened #188 "Nevygeneruje se PDF"
U tohoto dokumentu uuid:4edefe10-36ef-11e7-ad2f-005056827e51 nejde vygenerovat PDF ani v Krameriu, ani v klientovi.. Co s tím je?

[2017-06-08 07:28] xburda4 commented on #188
Je tam nejaký problém, pri nastavení premennej pdfQueue.useAlto na true. To sa nastavovalo kvôli https://github.com/ceskaexpedice/kramerius/issues/25 ,kde to aj tak nepomohlo, takže som to nastavil false a PDF vygenerovať ide.
Edit: Vraj to alto funguje, takže budeme mať chvílu vypnuté dvojvrstvové PDF.

[2017-06-08 07:43] xburda4 commented on #188
Otestuje sa s ďalším releasom, kde bude alto funkčné.

[2017-06-08 07:54] xburda4 commented on #188
Takže to vyzerá tak, že chyba je nakoniec s malým názvom ALTO. Ak kramerius nenájde datastream, tak spadne na chybe a kvôli tomu to potom nevygeneruje PDF.

[2017-06-08 10:01] #188 closed, assigned to nobody

[2017-06-12 10:52] LenkaKravecova commented on #180
Monografie už jsou, ještě periodika. Další typy už ne.

[2017-06-12 11:00] LenkaKravecova commented on #165
Ještě ověřím klienty, jinak ok.

[2017-06-12 12:27] honza-rychtar opened #189 "Zapomenuty testovaci dokument"
http://www.digitalniknihovna.cz/mzk/search/?sort=newest&accessibility=public&doctypes=manuscript&q=test

[2017-06-12 12:57] LenkaKravecova commented on #189
Byl ještě zaindexovaný v solru. Už je pryč.

[2017-06-12 17:06] honza-rychtar commented on #189
Jeste teda tento
http://www.digitalniknihovna.cz/mzk/search/?sort=newest&accessibility=public&q=test%2520-%2520Olomouc%25202

[2017-06-13 05:49] leiblix opened #190 "Lemmatizovaný text SOLR 6"
Bude nutné provést reindex celého úložiště. Ne všechny texty jsou lemmatizované.

viz https://github.com/ceskaexpedice/kramerius/issues/526/

[2017-06-13 06:03] LenkaDamborska commented on #180
Je pryč. Díky.

[2017-06-13 06:04] LenkaKravecova commented on #189
Je pryč :) Díky.

[2017-06-22 09:57] #180 closed, assigned to MarosGrm

[2017-06-23 08:05] xburda4 commented on #178
Pri buildení by sa mal pridať na server skript, ktorý tam robots.txt pridá, ak neexistuje.

[2017-06-26 13:59] LenkaKravecova opened #191 "HTTP Status 408 při přihlašování"
Objevují se problémy při přihlašování. Já se nemůžu přihlásit ve Firefoxu, někdo jiný zase v Chromu. Cookies jsem mazala, vracela se zpátky přes šipku v prohlížeči, zkoušela se přihlásit víckrát, nic nepomáhá :)

Hláška: HTTP Status 408 - The time allowed for the login process has been exceeded. If you wish to continue you must either click back twice and re-click the link you requested or close a

[2017-06-26 14:00] LenkaKravecova commented on #191
Jinak ta hláška naskočí hned, není to tak, že by přihlašování trvalo dlouho a pak nastala chyba.

[2017-06-27 06:35] leiblix opened #192 "Rozbitý dokument"
Náhodou jsem narazil na tento rozbitý dokument:

http://kramerius.mzk.cz/search/handle/uuid:550455a5-da7d-11e1-b232-0050569d679d

[2017-06-27 07:20] leiblix opened #193 "Kramerius chyby 500"
Hodně requestů padá do 500, viz [Kibana](http://bit.ly/2tQsVuq). Nutné průběžně řešit.

https://blog.codinghorror.com/exception-driven-development/

[2017-06-27 10:18] leiblix commented on #186
Do SOLRu by se mělo to mělo ideálně propisovat takto:

MODS:dateIssued point="start" --> SOLR:datum_begin
MODS:dateIssued point="end" --> SOLR:datum_end

čátečně je to issue nahlášené tady https://github.com/ceskaexpedice/kramerius/issues/424

Měli bychom to spravit a následně reindexovat dotčené dokumenty (stejně budeme muset reindexovat skoro vše, viz https://github.com/moravianlibrary/kramerius

[2017-06-27 10:46] leiblix commented on #193
Selhávalo generování PDF s textovou vrstvou, zatím jsem to vypnul a připsal komentář sem:
https://github.com/ceskaexpedice/kramerius/issues/497

[2017-06-29 05:26] leiblix commented on #193
Další časta chyba je skrz https://github.com/honza-rychtar/kramerius-web-client/issues/293

[2017-06-29 05:55] leiblix commented on #178
robots.txt by měl být konfigurovatelný

[2017-06-30 13:40] LenkaKravecova commented on #192
Může se to smazat. Pravděpodobně šlo o chybně nahraný dokument nebo chybně smazaný.

[2017-06-30 13:40] #192 closed, assigned to LenkaKravecova

[2017-06-30 14:43] LenkaKravecova commented on #191
Pomohlo vymazat mezipaměť a cookies. Zatím zavírám.

[2017-06-30 14:43] #191 closed, assigned to nobody

[2017-06-30 14:44] #189 closed, assigned to nobody

[2017-06-30 15:52] leiblix opened #194 "Nepřipojené periodicalvolumes"
Ve Fedoře je 304 volumů, které nejsou připojeny k periodiku. Velká část z toho půjde zpravovat automaticky, protože čísla mají zase společná (proto je nutné při mazání takových volumů postupovat obezřetně a předem odpojit čísla).

Např.:
http://kramerius.mzk.cz/search/handle/uuid:82d27c57-f1e6-11e1-a3c6-0050569d679d (správný volume)
http://kramerius.mzk.cz/search/handle/uuid:1fdb0da2-d92d-11e0-b33

[2017-07-03 13:38] LenkaKravecova opened #195 "Rozpadlá monografie z NDK linky"
Tato monografie se "rozpadla" při importu do K5 (z NDK linky): uuid:187b1c10-30b3-11e7-a38c-005056827e51
Tady je např. poslední strana: uuid:c3fb8e30-4094-11e7-a7ae-001018b5eb5c

Bude nutný reimport z LTP nebo jak se to dá řešit? Je víc případů. Bude potřeba to začít systematicky řešit v K5 a ideálně taky v NDK lince.

[2017-07-03 14:52] LenkaKravecova opened #196 "Nedostupná administrace virtuálních sbírek"
Nelze se dostat do administrace virtuálních sbírek ani přes konkrétní dokument, ani přes hlavní menu.

[2017-07-05 13:20] leiblix commented on #196
Mně se to načetlo, akorát to bohužel trvá 3 minuty.

Administrace sbírek volá velmi pomalý dotaz do ritriples vazeb Fedory. Protože se triplety budou přemisťovat do SOLRu, tak bych to neřešil.

[2017-07-06 04:54] leiblix commented on #191
Další řešení je přistupovat do Krameria striktně přes https://, udělá se přesměrování (viz https://github.com/moravianlibrary/kramerius/issues/168).

[2017-07-10 07:49] MarosGrm commented on #195
V admin. rozhraní fedory som zmazal a znovu obnovil v datastreame RELS-EXT pole rdf:Description a potom reindexoval a pomohlo to. Issue nechávam otvorené na ohlasovanie ďaľších takýchto monografií.

[2017-07-10 08:18] kazooo commented on #194
Podle skriptu, nepřipojené volumy mají čísla a stránky, které nejsou připojené k žadným jíným ročníkam a číslam. Možná jde o kopii dat, které můžeme klidně smazat.

[skript.zip](https://github.com/moravianlibrary/kramerius/files/1134835/skript.zip)

[2017-07-10 08:23] LenkaKravecova commented on #196
Už mi to taky najelo po nějaké době. Kdy by k tomu přemístění mělo dojít?

[2017-07-10 10:09] LenkaKravecova commented on #163
Ve sbírce je aktuálně jen jeden dokument :( Je potřeba tam dát ten zbytek.

[2017-07-12 05:19] kazooo commented on #163
Done, zbytek už je tam.

[2017-07-12 06:05] LenkaKravecova commented on #163
Díky!

[2017-07-12 06:05] #163 closed, assigned to MarosGrm, kazooo

[2017-07-12 06:45] kazooo commented on #187
Jednoduché vyhledávání funguje, je-li název titulu označen uvozovkami.

[2017-07-12 07:40] LenkaKravecova commented on #187
Ok, zatím to tak necháme. Používá se to jen v rámci administrace v MZK...

[2017-07-12 08:43] xburda4 commented on #166
K OAI sa možno dostať cez adresu https://kramerius.mzk.cz/oai/?verb=Identify . Plugin má problém s niektorými objektami, ktoré napríklad sú v Solri a nie sú vo Fedore, okrem toho by to však malo ísť v poriadku. V priebehu dneška ešte pripojím súbor, kde je krátky popis pluginu s nejakými príkladmi.

[popis.txt](https://github.com/moravianlibrary/kramerius/files/1141568/popis.txt)

[2017-07-12 09:14] leiblix commented on #187
Ale co ostatní knihovny, které přejdou na SOLR6.... Budou mít pravděpodobně stejný problém, bylo by dobré přijít na příčinu.

[2017-07-13 13:48] kazooo commented on #187
Pri zakomentovanem defaultOperator (managed-schema, radek 494) vsechno se da vyhledat a to i bez uvozovek v krameriu i primo v solru.

[2017-07-14 11:37] xburda4 commented on #178
Ideálnejšie teda v budúcnosti prepísať skript tak, aby sa celý súbor (robots.txt) zobral z env premennej.

[2017-07-14 11:43] kazooo commented on #187
https://github.com/moravianlibrary/osdd-docker-images/blob/master/solr6/kramerius/conf/managed-schema#L435
je nutné změnit typ pole "root_title" na "text_general_not_lemmatized" nebo jiný podobný namísto "string", protože "string" v Solr 6 už je zastaralý a je příčinou špatného vyhledávání. Operator "defaultOperator" nechť funguje i dale.

EDIT: typ "string" je od třídy solr.StrField, a pole takov

[2017-07-17 08:12] kazooo commented on #187
Smazat [line 1](https://github.com/moravianlibrary/osdd-docker-images/blob/master/solr6/kramerius/conf/managed-schema#L492) a [line 2](https://github.com/moravianlibrary/osdd-docker-images/blob/master/solr6/kramerius/conf/managed-schema#L495).
Pridat
[code]
do bloku [line 3](https://github.com/moravianlibrary/osdd-docker-images/blob/master/solr6/kramerius/conf/solrconfig.xml#L840)
Zmenit [line 4](

[2017-07-18 08:37] LenkaKravecova opened #197 "Počty stran periodik"
Můžete někdo zjistit celkové počty stran u těchto periodik? Díky.

uuid:dcc8142a-f3cd-11e0-b9a8-0050569d679d
uuid:87f6e957-90de-11e0-a36c-0050569d679d
uuid:45c17697-3622-11e1-99b6-0050569d679d

[2017-07-18 09:04] leiblix commented on #197
Dá se zjištovat dotazem přes solr
`http://solr.dk-back.infra.mzk.cz/solr/kramerius/select?q=root_pid:uuid\:dcc8142a-f3cd-11e0-b9a8-0050569d679d&fedora.model=page` Stačí  vždy zaměnit PID (pozor akorát na prefix před dvojtečkou v uuid). Výsledek je v numfounds.

|  uuid | počet stran  |
|---|---|
|uuid:dcc8142a-f3cd-11e0-b9a8-0050569d679d | 634|
|uuid:87f6e957-90de-11e0-a36c-0050569d679d21 | 21197|

[2017-07-18 09:04] #197 closed, assigned to leiblix

[2017-07-18 10:45] LenkaKravecova commented on #197
Ok, díky!

[2017-07-19 15:56] honza-rychtar commented on #86
V soucasne verzi uz zase datum_str neni.

[2017-07-23 19:47] leiblix commented on #86
Opravené a v MZK nasazené. Bude to součástí nové verze, která vyjde někdy příští týden - budou si to moc nasadit i jiné knihovny.

[2017-07-23 19:47] #86 closed, assigned to leiblix

[2017-07-27 10:28] #196 closed, assigned to nobody

[2017-07-27 10:55] LenkaKravecova opened #198 "Změnit buildery pro metadata v generovaném PDF"
Týká se to builderů:
PublisherBuilder.java
PeriodicalVolumeNumberBuilder.java
PeriodicalIssueNumberBuilder.java
AuthorBuilder.java

Změnit, prosím, podle zadání v https://docs.google.com/document/d/1r2BVqX7oHBs1QnUrNiJGlqUkTE3MNyQwWpEF7OTaOTM/edit. Potřebuju zjistit, jestli se to dá takto nastavit, pak to nahlásím do hlavní vývojové větve.

[2017-07-27 13:19] xburda4 commented on #130
Shibboleth musí bežať na proxy serveri, my používame Nginx. Pre ten je vyvinutý plugin https://github.com/nginx-shib/nginx-http-shibboleth, https://davidjb.com/blog/2013/04/integrating-nginx-and-a-shibboleth-sp-with-fastcgi/.

Pre testovanie konfigurácie som používal tento kontajner https://bitbucket.org/hellomatter/shibboleth-nginx, na ktorom je Shibboleth 2.5.3 a starší Nginx 1.7.2. Použil som t

[2017-07-28 08:21] leiblix commented on #187
Schéma je dobře, vypadá to spíše na bug verze SOLR 6.3.

Je tam nějaký problém s oboostovaným polem. Měli bychom náš SOLR aktualizovat. Nebo by se dal přepsat dotaz z `qf` do `df`. To druhé funguje.

[2017-07-28 08:33] kazooo opened #199 "Objekty s chybějícími a zbytečnými vazbami"
Seznam ročníků a čísel, kterým chybí rodiče a potomky. Periodika už jsou opravená.
[objects.txt](https://github.com/moravianlibrary/kramerius/files/1182457/objects.txt)

[2017-07-31 11:35] jkremlacek opened #200 "Export Foxml upraví obsah datastreamu s obrázky"
Při použití Export FOXML dojde k úpravě datastreamů, které odkazují na externí obrázky (v imageserver-u) do podoby s <foxml:binaryContent>.

Testováno na ab39ad75-2134-40b8-9afc-0355c6fa5164

[2017-08-03 11:21] LenkaKravecova opened #201 "Dějiny věd a techniky - články"
Čísla periodika uuid:1e50f842-5fa6-4c6f-97d2-cb2dfa32fb6a obsahují model článek, ale ty asi neodkazují na příslušné strany, protože data nelze zobrazit. Stránky tam jinak jsou a jsou v pořádku.

[2017-08-07 10:30] LenkaKravecova commented on #201
Třeba hned první článek https://krameriusadmin.mzk.cz/search/handle/uuid:a35ed369-6bbc-4f65-93af-adc6534a761a

[2017-08-11 06:35] leiblix opened #202 "Generování PDF vyhazuje stacktrace"
Např.: http://kramerius.mzk.cz/search/handle/uuid:90a15480-f782-11e6-8830-005056827e51

[code]

[2017-08-16 20:01] zabak opened #203 "Chybné kódování diakritiky v OCR"
Konkrétně http://krameriusadmin.mzk.cz/search/i.jsp?pid=uuid:73f3e41a-65c9-11e0-b4ae-0050569d679d

Viz též https://github.com/honza-rychtar/kramerius-web-client/issues/18

Předpokládám, že toho bude víc, nevím ale, nakolik spolehlivě se to podaří rozpoznat. Mám ale dojem že to bylo replikované z VKOL, a možná je to ještě txt, nebo ne?

[2017-08-16 22:51] zabak commented on #83
Jak to dopadlo? Potřeboval bych aby se mohlo pohnout s https://github.com/honza-rychtar/kramerius-web-client/issues/167
Předpokládám ale, že bude potřeba aby reindexovaly všechny knihovny kterých se to týká, že?

[2017-08-17 08:34] MarosGrm commented on #151
Rovnaký problém, monografia bez obrázkov. Spôsobené zlým odkazom na obrázok.

http://kramerius.mzk.cz/search/handle/uuid:6db39fa0-4435-11e2-b246-005056827e52

[2017-08-17 11:22] zabak opened #204 "Indexace lokalizovaných názvů"
viz. https://github.com/honza-rychtar/kramerius-web-client/issues/295
Dalo by se toto upravit už v distribuci?

[2017-08-17 11:35] leiblix commented on #204
Dalo :-)

[2017-08-17 11:49] zabak commented on #204
A uděláš to?

[2017-08-18 05:55] leiblix commented on #204
Jo, stejně budeme asi do indexeru zavádět více změn. Ale nevím kdy se k tomu dostanu. Probereme na schůzce...

[2017-08-18 09:11] honza-rychtar commented on #204
Pri zmenach prosim o zaindexovani MODS:subject->geographic (podobne jako subject->topic, ktere jde do SOLR:keywords), tohle by mohlo jit do SOLR:geonames
A taky pridani souradnic do Solrem podporovaneho "geo" typu.
Mate k tomu nejakou schuzku? Mate nekde seznam navrzenych zmen v indexeru?

[2017-08-18 10:33] leiblix commented on #204
Nemáme k tomu specifickou schůzku, myslel jsem normální poradu.

Seznam není, jsou jenom jednotlivá issue:
https://github.com/moravianlibrary/kramerius/issues/186
https://github.com/moravianlibrary/kramerius/issues/190
https://github.com/moravianlibrary/kramerius/issues/187

Pokud jich bude víc, vytvořím label.

[2017-08-18 10:42] leiblix commented on #83
No podle tabulky ještě nemáme reindexované všechno.

Jinak ano, knihovny si musí nasadit novější verzi Krameria a reindexovat.

[2017-08-18 10:56] leiblix commented on #105
Bylo vyřešeno. Je to v distribuci a u nás zapnuto.

[2017-08-18 10:56] #105 closed, assigned to zabak

[2017-08-18 10:58] leiblix commented on #165
Bylo opraveno.

[2017-08-18 10:58] #165 closed, assigned to MarosGrm

[2017-08-21 12:13] #164 closed, assigned to MarosGrm

[2017-08-23 13:02] LenkaKravecova commented on #203
Ano, bylo to replikované z VKOL a chybí tam ALTO, je to v seznamu na dodělání OCR.
Bavili jsme se na poradě, že novým uděláním OCR by se kódování opravilo, že ano?

[2017-08-23 13:48] LenkaKravecova opened #205 "Text o obsahu DK"
"Ale bylo by dobre, kdyby pribyl dalsi text (napr. CONTENT), kde by se knihovny soustredily na obsah. Popis Krameria, vysvetleni autorskych prav, existenci mobilnich aplikaci atd. pak muze kazdy klient popsat sam a u kazde knihovny stejne - ne ze bude mit uzitatel podle prepnute knihovny 26 ruznych vysvetleni tehoz.
CONTENT text by mel byt napsany bez zavislositi na nejakem klientovi."
Viz https:/

[2017-08-25 05:52] kazooo commented on #187
Kramerius divně reagije na spojku "a".
Příklad:
Se spojkou "a", tedy Investiční rozhodování a dlouhodobé financování není nic nalezeno.
Bez spojky, tedy Investiční rozhodování  dlouhodobé financování, je nalezeno několik publikací které mají název: Investiční rozhodování a dlouhodobé financování.
Pokud je celý název v uvozovkách, tedy  "Investiční rozhodování a dlouhodobé financování", tak se publ

[2017-08-25 06:11] leiblix commented on #187
To je na produkci nebo s novou verzí SOLRu?

[2017-08-25 07:10] kazooo commented on #187
Na produkci i s novou také.

[2017-09-03 17:10] leiblix opened #206 "Kontrola Docker kontejnerů"
Za použití nástroje:

https://github.com/replicatedhq/dockerfilelint

[2017-09-04 03:10] rzeh4n opened #207 "chyba v datech rozbíjí oai provider (oai4solr)"
Pro objekt uuid:10cfb93a-4ee0-49da-9122-c549bd4f85ba není odpověď oai-pmh provideru well-build xml kvůli vnitřní chybě, která probublá, kam by neměla:
http://kramerius.mzk.cz/oai/?verb=GetRecord&metadataPrefix=drkramerius4&identifier=uuid:10cfb93a-4ee0-49da-9122-c549bd4f85ba
Taky to rozbije ListRecords:
http://kramerius.mzk.cz/oai/?verb=ListRecords&metadataPrefix=drkramerius4&set=monograph